
.breadcrumb,
.nav-list > li > a,
body{
    font-size: 14px;
}
.nav-tabs.tab-color-blue > li > a,
.nav-tabs.tab-color-blue > li > a:focus {
    background-color: #337ab7;
}
.nav-tabs>li>a{
    padding: 7px 5px 8px;
}
.tags .tag{
    background-color: #1482C5;
}
.footer{
    padding-top: 50px;
}
.blue-login{
    background: #033975;
}

@media only screen and (max-width: 540px) {
    .login-layout .widget-box {
        padding: 6px !important;
    }
}
.login-layout .widget-box{
    background-color: #337ab7;
    box-shadow: inset 1px 1px 2px 0 rgba(0, 0, 0, 0.25);
}

#login-box form [type=checkbox]{
    width: 18px;
    height: 18px;
}

#login-box form .txt{
    font-size: 16px;
    vertical-align: 3px;
    margin-left: 5px;
}

/**************/
.navbar{
    width: 100%;
    background: #033975;
}
.no-skin .navbar .navbar-toggle {
    background-color: #337ab7;
}
.no-skin .navbar .navbar-toggle.display, .no-skin .navbar .navbar-toggle[data-toggle=collapse]:not(.collapsed) {
    background-color: #337ab7;
    box-shadow: inset 1px 1px 2px 0 rgba(0, 0, 0, 0.25);
    border-color: rgba(255, 255, 255, 0.35);
}
.ace-nav > li.light-blue > a {
    background-color: #337ab7;
}
/**modal**/
.modal .modal-footer{
    text-align: center!important;
}
.modal h3{
    margin: 0px!important;
}

.btn{
    border-radius: 8px;
}

.btn-xs, .btn-group-xs > .btn {
    padding-top: 0px;
    padding-bottom: 0px;
}

/*********/
@media only screen and (max-width: 479px) {
    .navbar:not(.navbar-collapse) .navbar-header {
        float:left!important;
    }
}
@media only screen and (max-width: 479px) {
    .navbar:not(.navbar-collapse) .navbar-header.navbar-buttons {
        float:right!important;
    }
}
.message-item .time{
    width: 65px;
}

@media only screen and (max-width: 550px){
    .message-item .sender {
        width: auto;
        max-width: 200px;
        /*font-size: 10px;*/
    }
}
@media only screen and (max-width: 320px){
    .message-item .sender {
        width: auto;
        max-width: 170px;
        font-size: 10px;
    }
}

.message-item  .sender {
    color: #6A9CBA;
    font-weight: bold;
    margin: 0px!important;
}

@media only screen and (max-width: 550px) {
    .message-item .summary .text {
        /*max-width: 230px;*/
        max-width: 230px;
    }
}
@media only screen and (max-width: 320px) {
    .message-item .summary .text {
        max-width: 180px;
    }
    .nav-tabs > li > a {
        padding: 7px 5px 8px!important;
    }
}

.message-item .summary .text{
    text-overflow: ellipsis;
    overflow: hidden;
    /*font-size: 12px;*/
}
.message-item .time{
    font-size: 10px;
}
/*.message-item {
    border: 1px solid #EAEDF1;
    border-top-width: 0;
    padding: 12px 12px 8px;
    line-height: 18px;
    position: relative;
    background-color: #FFF;
}*/
/*.message-item:last-child{
    border-bottom-width: 0;
}
.message-item:first-child{
    border-bottom-width: 1px;
}*/
.message-list{
    min-height: 365px
}
.message-list .none{
    line-height: 366px;
    text-align: center
}
.message-item{
    border-top-width: 0px;
    border-bottom-width: 1px;
    padding: 12px 5px 14px;
}
.message-item:nth-child(5){
    border-bottom-width: 0px;
}

.message-footer .pagination > li > span {
      padding: 0px;
  }

/** table **/
.table-center > thead > tr > th, .table-center > tbody > tr > td {
    text-align: center;
    vertical-align: middle;
}

.table.avatar td{
    height: 35px;
}
.table.avatar td.avatar{
    padding: 0;
    width:128px;
    height: 179px;
}
.table.avatar td.avatar img{
    width:128px;
    height: 179px;
}

/*======select2=*/
.select2-container .select2-selection--single {
    height: 32px;
}

.select2-container--classic .select2-selection--single .select2-selection__rendered {
    line-height: 32px;
}

.select2-container--classic .select2-selection--single .select2-selection__arrow {
    height: 30px;
}

.select2-search:after {
    position: absolute;
    top: 8px;
    left: auto;
    right: 12px;
}

.has-error .select2-selection {
    border-color: #a94442;
}

.has-success .select2-selection {
    border-color: #3c763d;
}

.ace-settings-box{
    border-color: #68adde!important;
}
.ace-settings-box.open{
    border-color: #68adde!important;
}

/***detail **/
.profile-info-name{
    width: 130px;
}
@media only screen and (max-width: 480px){
    .profile-user-info-striped .profile-info-name.td{
        float: left;
        width: 130px;
        text-align: left;
    }
}
@media only screen and (max-width: 480px){
    .profile-user-info-striped .profile-info-name{
        text-align: center!important;
    }
}
@media only screen and (max-width: 480px) {
    .profile-user-info-striped .profile-info-value.td {
        padding-left: 130px;
    }
}
#detail .tab-content{
    padding: 16px 0px!important;
}
#detail .profile-user-info{
    width: 98%;
}