<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="persistence.sc.ScMatterAccessMapper">
  <resultMap id="BaseResultMap" type="domain.sc.ScMatterAccess">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="access_file" jdbcType="VARCHAR" property="accessFile" />
    <result column="access_date" jdbcType="DATE" property="accessDate" />
    <result column="unit_id" jdbcType="INTEGER" property="unitId" />
    <result column="is_copy" jdbcType="BIT" property="isCopy" />
    <result column="purpose" jdbcType="VARCHAR" property="purpose" />
    <result column="handle_date" jdbcType="DATE" property="handleDate" />
    <result column="handle_user_id" jdbcType="INTEGER" property="handleUserId" />
    <result column="receiver" jdbcType="VARCHAR" property="receiver" />
    <result column="receive_pdf" jdbcType="VARCHAR" property="receivePdf" />
    <result column="return_date" jdbcType="DATE" property="returnDate" />
    <result column="return_user_id" jdbcType="INTEGER" property="returnUserId" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, access_file, access_date, unit_id, is_copy, purpose, handle_date, handle_user_id, 
    receiver, receive_pdf, return_date, return_user_id, remark
  </sql>
  <select id="selectByExample" parameterType="domain.sc.ScMatterAccessExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sc_matter_access
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sc_matter_access
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sc_matter_access
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="domain.sc.ScMatterAccessExample">
    delete from sc_matter_access
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="domain.sc.ScMatterAccess">
    insert into sc_matter_access (id, access_file, access_date, 
      unit_id, is_copy, purpose, 
      handle_date, handle_user_id, receiver, 
      receive_pdf, return_date, return_user_id, 
      remark)
    values (#{id,jdbcType=INTEGER}, #{accessFile,jdbcType=VARCHAR}, #{accessDate,jdbcType=DATE}, 
      #{unitId,jdbcType=INTEGER}, #{isCopy,jdbcType=BIT}, #{purpose,jdbcType=VARCHAR}, 
      #{handleDate,jdbcType=DATE}, #{handleUserId,jdbcType=INTEGER}, #{receiver,jdbcType=VARCHAR}, 
      #{receivePdf,jdbcType=VARCHAR}, #{returnDate,jdbcType=DATE}, #{returnUserId,jdbcType=INTEGER}, 
      #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="domain.sc.ScMatterAccess">
    insert into sc_matter_access
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="accessFile != null">
        access_file,
      </if>
      <if test="accessDate != null">
        access_date,
      </if>
      <if test="unitId != null">
        unit_id,
      </if>
      <if test="isCopy != null">
        is_copy,
      </if>
      <if test="purpose != null">
        purpose,
      </if>
      <if test="handleDate != null">
        handle_date,
      </if>
      <if test="handleUserId != null">
        handle_user_id,
      </if>
      <if test="receiver != null">
        receiver,
      </if>
      <if test="receivePdf != null">
        receive_pdf,
      </if>
      <if test="returnDate != null">
        return_date,
      </if>
      <if test="returnUserId != null">
        return_user_id,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="accessFile != null">
        #{accessFile,jdbcType=VARCHAR},
      </if>
      <if test="accessDate != null">
        #{accessDate,jdbcType=DATE},
      </if>
      <if test="unitId != null">
        #{unitId,jdbcType=INTEGER},
      </if>
      <if test="isCopy != null">
        #{isCopy,jdbcType=BIT},
      </if>
      <if test="purpose != null">
        #{purpose,jdbcType=VARCHAR},
      </if>
      <if test="handleDate != null">
        #{handleDate,jdbcType=DATE},
      </if>
      <if test="handleUserId != null">
        #{handleUserId,jdbcType=INTEGER},
      </if>
      <if test="receiver != null">
        #{receiver,jdbcType=VARCHAR},
      </if>
      <if test="receivePdf != null">
        #{receivePdf,jdbcType=VARCHAR},
      </if>
      <if test="returnDate != null">
        #{returnDate,jdbcType=DATE},
      </if>
      <if test="returnUserId != null">
        #{returnUserId,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="domain.sc.ScMatterAccessExample" resultType="java.lang.Long">
    select count(*) from sc_matter_access
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update sc_matter_access
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.accessFile != null">
        access_file = #{record.accessFile,jdbcType=VARCHAR},
      </if>
      <if test="record.accessDate != null">
        access_date = #{record.accessDate,jdbcType=DATE},
      </if>
      <if test="record.unitId != null">
        unit_id = #{record.unitId,jdbcType=INTEGER},
      </if>
      <if test="record.isCopy != null">
        is_copy = #{record.isCopy,jdbcType=BIT},
      </if>
      <if test="record.purpose != null">
        purpose = #{record.purpose,jdbcType=VARCHAR},
      </if>
      <if test="record.handleDate != null">
        handle_date = #{record.handleDate,jdbcType=DATE},
      </if>
      <if test="record.handleUserId != null">
        handle_user_id = #{record.handleUserId,jdbcType=INTEGER},
      </if>
      <if test="record.receiver != null">
        receiver = #{record.receiver,jdbcType=VARCHAR},
      </if>
      <if test="record.receivePdf != null">
        receive_pdf = #{record.receivePdf,jdbcType=VARCHAR},
      </if>
      <if test="record.returnDate != null">
        return_date = #{record.returnDate,jdbcType=DATE},
      </if>
      <if test="record.returnUserId != null">
        return_user_id = #{record.returnUserId,jdbcType=INTEGER},
      </if>
      <if test="record.remark != null">
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update sc_matter_access
    set id = #{record.id,jdbcType=INTEGER},
      access_file = #{record.accessFile,jdbcType=VARCHAR},
      access_date = #{record.accessDate,jdbcType=DATE},
      unit_id = #{record.unitId,jdbcType=INTEGER},
      is_copy = #{record.isCopy,jdbcType=BIT},
      purpose = #{record.purpose,jdbcType=VARCHAR},
      handle_date = #{record.handleDate,jdbcType=DATE},
      handle_user_id = #{record.handleUserId,jdbcType=INTEGER},
      receiver = #{record.receiver,jdbcType=VARCHAR},
      receive_pdf = #{record.receivePdf,jdbcType=VARCHAR},
      return_date = #{record.returnDate,jdbcType=DATE},
      return_user_id = #{record.returnUserId,jdbcType=INTEGER},
      remark = #{record.remark,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="domain.sc.ScMatterAccess">
    update sc_matter_access
    <set>
      <if test="accessFile != null">
        access_file = #{accessFile,jdbcType=VARCHAR},
      </if>
      <if test="accessDate != null">
        access_date = #{accessDate,jdbcType=DATE},
      </if>
      <if test="unitId != null">
        unit_id = #{unitId,jdbcType=INTEGER},
      </if>
      <if test="isCopy != null">
        is_copy = #{isCopy,jdbcType=BIT},
      </if>
      <if test="purpose != null">
        purpose = #{purpose,jdbcType=VARCHAR},
      </if>
      <if test="handleDate != null">
        handle_date = #{handleDate,jdbcType=DATE},
      </if>
      <if test="handleUserId != null">
        handle_user_id = #{handleUserId,jdbcType=INTEGER},
      </if>
      <if test="receiver != null">
        receiver = #{receiver,jdbcType=VARCHAR},
      </if>
      <if test="receivePdf != null">
        receive_pdf = #{receivePdf,jdbcType=VARCHAR},
      </if>
      <if test="returnDate != null">
        return_date = #{returnDate,jdbcType=DATE},
      </if>
      <if test="returnUserId != null">
        return_user_id = #{returnUserId,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="domain.sc.ScMatterAccess">
    update sc_matter_access
    set access_file = #{accessFile,jdbcType=VARCHAR},
      access_date = #{accessDate,jdbcType=DATE},
      unit_id = #{unitId,jdbcType=INTEGER},
      is_copy = #{isCopy,jdbcType=BIT},
      purpose = #{purpose,jdbcType=VARCHAR},
      handle_date = #{handleDate,jdbcType=DATE},
      handle_user_id = #{handleUserId,jdbcType=INTEGER},
      receiver = #{receiver,jdbcType=VARCHAR},
      receive_pdf = #{receivePdf,jdbcType=VARCHAR},
      return_date = #{returnDate,jdbcType=DATE},
      return_user_id = #{returnUserId,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByExampleWithRowbounds" parameterType="domain.sc.ScMatterAccessExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sc_matter_access
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
</mapper>