<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="persistence.sc.ScMatterItemMapper">
  <resultMap id="BaseResultMap" type="domain.sc.ScMatterItem">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="matter_id" jdbcType="INTEGER" property="matterId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="real_hand_time" jdbcType="DATE" property="realHandTime" />
    <result column="fill_time" jdbcType="DATE" property="fillTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, matter_id, user_id, real_hand_time, fill_time
  </sql>
  <select id="selectByExample" parameterType="domain.sc.ScMatterItemExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sc_matter_item
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sc_matter_item
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sc_matter_item
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="domain.sc.ScMatterItemExample">
    delete from sc_matter_item
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="domain.sc.ScMatterItem">
    insert into sc_matter_item (id, matter_id, user_id, 
      real_hand_time, fill_time)
    values (#{id,jdbcType=INTEGER}, #{matterId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, 
      #{realHandTime,jdbcType=DATE}, #{fillTime,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="domain.sc.ScMatterItem">
    insert into sc_matter_item
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="matterId != null">
        matter_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="realHandTime != null">
        real_hand_time,
      </if>
      <if test="fillTime != null">
        fill_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="matterId != null">
        #{matterId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="realHandTime != null">
        #{realHandTime,jdbcType=DATE},
      </if>
      <if test="fillTime != null">
        #{fillTime,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="domain.sc.ScMatterItemExample" resultType="java.lang.Long">
    select count(*) from sc_matter_item
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update sc_matter_item
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.matterId != null">
        matter_id = #{record.matterId,jdbcType=INTEGER},
      </if>
      <if test="record.userId != null">
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.realHandTime != null">
        real_hand_time = #{record.realHandTime,jdbcType=DATE},
      </if>
      <if test="record.fillTime != null">
        fill_time = #{record.fillTime,jdbcType=DATE},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update sc_matter_item
    set id = #{record.id,jdbcType=INTEGER},
      matter_id = #{record.matterId,jdbcType=INTEGER},
      user_id = #{record.userId,jdbcType=INTEGER},
      real_hand_time = #{record.realHandTime,jdbcType=DATE},
      fill_time = #{record.fillTime,jdbcType=DATE}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="domain.sc.ScMatterItem">
    update sc_matter_item
    <set>
      <if test="matterId != null">
        matter_id = #{matterId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="realHandTime != null">
        real_hand_time = #{realHandTime,jdbcType=DATE},
      </if>
      <if test="fillTime != null">
        fill_time = #{fillTime,jdbcType=DATE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="domain.sc.ScMatterItem">
    update sc_matter_item
    set matter_id = #{matterId,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      real_hand_time = #{realHandTime,jdbcType=DATE},
      fill_time = #{fillTime,jdbcType=DATE}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByExampleWithRowbounds" parameterType="domain.sc.ScMatterItemExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sc_matter_item
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
</mapper>