<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="persistence.cet.CetProjectObjMapper">
  <resultMap id="BaseResultMap" type="domain.cet.CetProjectObj">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="project_id" jdbcType="INTEGER" property="projectId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="trainee_type_id" jdbcType="INTEGER" property="traineeTypeId" />
    <result column="is_quit" jdbcType="BIT" property="isQuit" />
    <result column="should_finish_period" jdbcType="DECIMAL" property="shouldFinishPeriod" />
    <result column="finish_period" jdbcType="DECIMAL" property="finishPeriod" />
    <result column="is_graduate" jdbcType="BIT" property="isGraduate" />
    <result column="word_write" jdbcType="VARCHAR" property="wordWrite" />
    <result column="write_file_path" jdbcType="VARCHAR" property="writeFilePath" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="cadre_id" jdbcType="INTEGER" property="cadreId" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="admin_level" jdbcType="INTEGER" property="adminLevel" />
    <result column="post_type" jdbcType="INTEGER" property="postType" />
    <result column="is_ow" jdbcType="BIT" property="isOw" />
    <result column="ow_grow_time" jdbcType="DATE" property="owGrowTime" />
    <result column="dp_grow_time" jdbcType="DATE" property="dpGrowTime" />
    <result column="dp_type_id" jdbcType="INTEGER" property="dpTypeId" />
    <result column="pro_post" jdbcType="VARCHAR" property="proPost" />
    <result column="lp_work_time" jdbcType="DATE" property="lpWorkTime" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="cadre_status" jdbcType="TINYINT" property="cadreStatus" />
    <result column="cadre_sort_order" jdbcType="INTEGER" property="cadreSortOrder" />
    <result column="party_id" jdbcType="INTEGER" property="partyId" />
    <result column="branch_id" jdbcType="INTEGER" property="branchId" />
    <result column="party_type_ids" jdbcType="VARCHAR" property="partyTypeIds" />
    <result column="post_id" jdbcType="INTEGER" property="postId" />
    <result column="branch_type_id" jdbcType="INTEGER" property="branchTypeId" />
    <result column="organizer_type" jdbcType="TINYINT" property="organizerType" />
    <result column="organizer_units" jdbcType="VARCHAR" property="organizerUnits" />
    <result column="organizer_party_id" jdbcType="INTEGER" property="organizerPartyId" />
    <result column="assign_date" jdbcType="DATE" property="assignDate" />
    <result column="active_time" jdbcType="DATE" property="activeTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, project_id, user_id, trainee_type_id, is_quit, should_finish_period, finish_period, 
    is_graduate, word_write, write_file_path, remark, cadre_id, title, admin_level, post_type, 
    is_ow, ow_grow_time, dp_grow_time, dp_type_id, pro_post, lp_work_time, mobile, email, 
    cadre_status, cadre_sort_order, party_id, branch_id, party_type_ids, post_id, branch_type_id, 
    organizer_type, organizer_units, organizer_party_id, assign_date, active_time
  </sql>
  <select id="selectByExample" parameterType="domain.cet.CetProjectObjExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from cet_project_obj
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cet_project_obj
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from cet_project_obj
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="domain.cet.CetProjectObjExample">
    delete from cet_project_obj
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="domain.cet.CetProjectObj">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into cet_project_obj (project_id, user_id, trainee_type_id, 
      is_quit, should_finish_period, finish_period, 
      is_graduate, word_write, write_file_path, 
      remark, cadre_id, title, 
      admin_level, post_type, is_ow, 
      ow_grow_time, dp_grow_time, dp_type_id, 
      pro_post, lp_work_time, mobile, 
      email, cadre_status, cadre_sort_order, 
      party_id, branch_id, party_type_ids, 
      post_id, branch_type_id, organizer_type, 
      organizer_units, organizer_party_id, assign_date, 
      active_time)
    values (#{projectId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{traineeTypeId,jdbcType=INTEGER}, 
      #{isQuit,jdbcType=BIT}, #{shouldFinishPeriod,jdbcType=DECIMAL}, #{finishPeriod,jdbcType=DECIMAL}, 
      #{isGraduate,jdbcType=BIT}, #{wordWrite,jdbcType=VARCHAR}, #{writeFilePath,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, #{cadreId,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, 
      #{adminLevel,jdbcType=INTEGER}, #{postType,jdbcType=INTEGER}, #{isOw,jdbcType=BIT}, 
      #{owGrowTime,jdbcType=DATE}, #{dpGrowTime,jdbcType=DATE}, #{dpTypeId,jdbcType=INTEGER}, 
      #{proPost,jdbcType=VARCHAR}, #{lpWorkTime,jdbcType=DATE}, #{mobile,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{cadreStatus,jdbcType=TINYINT}, #{cadreSortOrder,jdbcType=INTEGER}, 
      #{partyId,jdbcType=INTEGER}, #{branchId,jdbcType=INTEGER}, #{partyTypeIds,jdbcType=VARCHAR}, 
      #{postId,jdbcType=INTEGER}, #{branchTypeId,jdbcType=INTEGER}, #{organizerType,jdbcType=TINYINT}, 
      #{organizerUnits,jdbcType=VARCHAR}, #{organizerPartyId,jdbcType=INTEGER}, #{assignDate,jdbcType=DATE}, 
      #{activeTime,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="domain.cet.CetProjectObj">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into cet_project_obj
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="projectId != null">
        project_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="traineeTypeId != null">
        trainee_type_id,
      </if>
      <if test="isQuit != null">
        is_quit,
      </if>
      <if test="shouldFinishPeriod != null">
        should_finish_period,
      </if>
      <if test="finishPeriod != null">
        finish_period,
      </if>
      <if test="isGraduate != null">
        is_graduate,
      </if>
      <if test="wordWrite != null">
        word_write,
      </if>
      <if test="writeFilePath != null">
        write_file_path,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="cadreId != null">
        cadre_id,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="adminLevel != null">
        admin_level,
      </if>
      <if test="postType != null">
        post_type,
      </if>
      <if test="isOw != null">
        is_ow,
      </if>
      <if test="owGrowTime != null">
        ow_grow_time,
      </if>
      <if test="dpGrowTime != null">
        dp_grow_time,
      </if>
      <if test="dpTypeId != null">
        dp_type_id,
      </if>
      <if test="proPost != null">
        pro_post,
      </if>
      <if test="lpWorkTime != null">
        lp_work_time,
      </if>
      <if test="mobile != null">
        mobile,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="cadreStatus != null">
        cadre_status,
      </if>
      <if test="cadreSortOrder != null">
        cadre_sort_order,
      </if>
      <if test="partyId != null">
        party_id,
      </if>
      <if test="branchId != null">
        branch_id,
      </if>
      <if test="partyTypeIds != null">
        party_type_ids,
      </if>
      <if test="postId != null">
        post_id,
      </if>
      <if test="branchTypeId != null">
        branch_type_id,
      </if>
      <if test="organizerType != null">
        organizer_type,
      </if>
      <if test="organizerUnits != null">
        organizer_units,
      </if>
      <if test="organizerPartyId != null">
        organizer_party_id,
      </if>
      <if test="assignDate != null">
        assign_date,
      </if>
      <if test="activeTime != null">
        active_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="projectId != null">
        #{projectId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="traineeTypeId != null">
        #{traineeTypeId,jdbcType=INTEGER},
      </if>
      <if test="isQuit != null">
        #{isQuit,jdbcType=BIT},
      </if>
      <if test="shouldFinishPeriod != null">
        #{shouldFinishPeriod,jdbcType=DECIMAL},
      </if>
      <if test="finishPeriod != null">
        #{finishPeriod,jdbcType=DECIMAL},
      </if>
      <if test="isGraduate != null">
        #{isGraduate,jdbcType=BIT},
      </if>
      <if test="wordWrite != null">
        #{wordWrite,jdbcType=VARCHAR},
      </if>
      <if test="writeFilePath != null">
        #{writeFilePath,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="cadreId != null">
        #{cadreId,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="adminLevel != null">
        #{adminLevel,jdbcType=INTEGER},
      </if>
      <if test="postType != null">
        #{postType,jdbcType=INTEGER},
      </if>
      <if test="isOw != null">
        #{isOw,jdbcType=BIT},
      </if>
      <if test="owGrowTime != null">
        #{owGrowTime,jdbcType=DATE},
      </if>
      <if test="dpGrowTime != null">
        #{dpGrowTime,jdbcType=DATE},
      </if>
      <if test="dpTypeId != null">
        #{dpTypeId,jdbcType=INTEGER},
      </if>
      <if test="proPost != null">
        #{proPost,jdbcType=VARCHAR},
      </if>
      <if test="lpWorkTime != null">
        #{lpWorkTime,jdbcType=DATE},
      </if>
      <if test="mobile != null">
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="cadreStatus != null">
        #{cadreStatus,jdbcType=TINYINT},
      </if>
      <if test="cadreSortOrder != null">
        #{cadreSortOrder,jdbcType=INTEGER},
      </if>
      <if test="partyId != null">
        #{partyId,jdbcType=INTEGER},
      </if>
      <if test="branchId != null">
        #{branchId,jdbcType=INTEGER},
      </if>
      <if test="partyTypeIds != null">
        #{partyTypeIds,jdbcType=VARCHAR},
      </if>
      <if test="postId != null">
        #{postId,jdbcType=INTEGER},
      </if>
      <if test="branchTypeId != null">
        #{branchTypeId,jdbcType=INTEGER},
      </if>
      <if test="organizerType != null">
        #{organizerType,jdbcType=TINYINT},
      </if>
      <if test="organizerUnits != null">
        #{organizerUnits,jdbcType=VARCHAR},
      </if>
      <if test="organizerPartyId != null">
        #{organizerPartyId,jdbcType=INTEGER},
      </if>
      <if test="assignDate != null">
        #{assignDate,jdbcType=DATE},
      </if>
      <if test="activeTime != null">
        #{activeTime,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="domain.cet.CetProjectObjExample" resultType="java.lang.Long">
    select count(*) from cet_project_obj
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update cet_project_obj
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.projectId != null">
        project_id = #{record.projectId,jdbcType=INTEGER},
      </if>
      <if test="record.userId != null">
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.traineeTypeId != null">
        trainee_type_id = #{record.traineeTypeId,jdbcType=INTEGER},
      </if>
      <if test="record.isQuit != null">
        is_quit = #{record.isQuit,jdbcType=BIT},
      </if>
      <if test="record.shouldFinishPeriod != null">
        should_finish_period = #{record.shouldFinishPeriod,jdbcType=DECIMAL},
      </if>
      <if test="record.finishPeriod != null">
        finish_period = #{record.finishPeriod,jdbcType=DECIMAL},
      </if>
      <if test="record.isGraduate != null">
        is_graduate = #{record.isGraduate,jdbcType=BIT},
      </if>
      <if test="record.wordWrite != null">
        word_write = #{record.wordWrite,jdbcType=VARCHAR},
      </if>
      <if test="record.writeFilePath != null">
        write_file_path = #{record.writeFilePath,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null">
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.cadreId != null">
        cadre_id = #{record.cadreId,jdbcType=INTEGER},
      </if>
      <if test="record.title != null">
        title = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.adminLevel != null">
        admin_level = #{record.adminLevel,jdbcType=INTEGER},
      </if>
      <if test="record.postType != null">
        post_type = #{record.postType,jdbcType=INTEGER},
      </if>
      <if test="record.isOw != null">
        is_ow = #{record.isOw,jdbcType=BIT},
      </if>
      <if test="record.owGrowTime != null">
        ow_grow_time = #{record.owGrowTime,jdbcType=DATE},
      </if>
      <if test="record.dpGrowTime != null">
        dp_grow_time = #{record.dpGrowTime,jdbcType=DATE},
      </if>
      <if test="record.dpTypeId != null">
        dp_type_id = #{record.dpTypeId,jdbcType=INTEGER},
      </if>
      <if test="record.proPost != null">
        pro_post = #{record.proPost,jdbcType=VARCHAR},
      </if>
      <if test="record.lpWorkTime != null">
        lp_work_time = #{record.lpWorkTime,jdbcType=DATE},
      </if>
      <if test="record.mobile != null">
        mobile = #{record.mobile,jdbcType=VARCHAR},
      </if>
      <if test="record.email != null">
        email = #{record.email,jdbcType=VARCHAR},
      </if>
      <if test="record.cadreStatus != null">
        cadre_status = #{record.cadreStatus,jdbcType=TINYINT},
      </if>
      <if test="record.cadreSortOrder != null">
        cadre_sort_order = #{record.cadreSortOrder,jdbcType=INTEGER},
      </if>
      <if test="record.partyId != null">
        party_id = #{record.partyId,jdbcType=INTEGER},
      </if>
      <if test="record.branchId != null">
        branch_id = #{record.branchId,jdbcType=INTEGER},
      </if>
      <if test="record.partyTypeIds != null">
        party_type_ids = #{record.partyTypeIds,jdbcType=VARCHAR},
      </if>
      <if test="record.postId != null">
        post_id = #{record.postId,jdbcType=INTEGER},
      </if>
      <if test="record.branchTypeId != null">
        branch_type_id = #{record.branchTypeId,jdbcType=INTEGER},
      </if>
      <if test="record.organizerType != null">
        organizer_type = #{record.organizerType,jdbcType=TINYINT},
      </if>
      <if test="record.organizerUnits != null">
        organizer_units = #{record.organizerUnits,jdbcType=VARCHAR},
      </if>
      <if test="record.organizerPartyId != null">
        organizer_party_id = #{record.organizerPartyId,jdbcType=INTEGER},
      </if>
      <if test="record.assignDate != null">
        assign_date = #{record.assignDate,jdbcType=DATE},
      </if>
      <if test="record.activeTime != null">
        active_time = #{record.activeTime,jdbcType=DATE},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update cet_project_obj
    set id = #{record.id,jdbcType=INTEGER},
      project_id = #{record.projectId,jdbcType=INTEGER},
      user_id = #{record.userId,jdbcType=INTEGER},
      trainee_type_id = #{record.traineeTypeId,jdbcType=INTEGER},
      is_quit = #{record.isQuit,jdbcType=BIT},
      should_finish_period = #{record.shouldFinishPeriod,jdbcType=DECIMAL},
      finish_period = #{record.finishPeriod,jdbcType=DECIMAL},
      is_graduate = #{record.isGraduate,jdbcType=BIT},
      word_write = #{record.wordWrite,jdbcType=VARCHAR},
      write_file_path = #{record.writeFilePath,jdbcType=VARCHAR},
      remark = #{record.remark,jdbcType=VARCHAR},
      cadre_id = #{record.cadreId,jdbcType=INTEGER},
      title = #{record.title,jdbcType=VARCHAR},
      admin_level = #{record.adminLevel,jdbcType=INTEGER},
      post_type = #{record.postType,jdbcType=INTEGER},
      is_ow = #{record.isOw,jdbcType=BIT},
      ow_grow_time = #{record.owGrowTime,jdbcType=DATE},
      dp_grow_time = #{record.dpGrowTime,jdbcType=DATE},
      dp_type_id = #{record.dpTypeId,jdbcType=INTEGER},
      pro_post = #{record.proPost,jdbcType=VARCHAR},
      lp_work_time = #{record.lpWorkTime,jdbcType=DATE},
      mobile = #{record.mobile,jdbcType=VARCHAR},
      email = #{record.email,jdbcType=VARCHAR},
      cadre_status = #{record.cadreStatus,jdbcType=TINYINT},
      cadre_sort_order = #{record.cadreSortOrder,jdbcType=INTEGER},
      party_id = #{record.partyId,jdbcType=INTEGER},
      branch_id = #{record.branchId,jdbcType=INTEGER},
      party_type_ids = #{record.partyTypeIds,jdbcType=VARCHAR},
      post_id = #{record.postId,jdbcType=INTEGER},
      branch_type_id = #{record.branchTypeId,jdbcType=INTEGER},
      organizer_type = #{record.organizerType,jdbcType=TINYINT},
      organizer_units = #{record.organizerUnits,jdbcType=VARCHAR},
      organizer_party_id = #{record.organizerPartyId,jdbcType=INTEGER},
      assign_date = #{record.assignDate,jdbcType=DATE},
      active_time = #{record.activeTime,jdbcType=DATE}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="domain.cet.CetProjectObj">
    update cet_project_obj
    <set>
      <if test="projectId != null">
        project_id = #{projectId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="traineeTypeId != null">
        trainee_type_id = #{traineeTypeId,jdbcType=INTEGER},
      </if>
      <if test="isQuit != null">
        is_quit = #{isQuit,jdbcType=BIT},
      </if>
      <if test="shouldFinishPeriod != null">
        should_finish_period = #{shouldFinishPeriod,jdbcType=DECIMAL},
      </if>
      <if test="finishPeriod != null">
        finish_period = #{finishPeriod,jdbcType=DECIMAL},
      </if>
      <if test="isGraduate != null">
        is_graduate = #{isGraduate,jdbcType=BIT},
      </if>
      <if test="wordWrite != null">
        word_write = #{wordWrite,jdbcType=VARCHAR},
      </if>
      <if test="writeFilePath != null">
        write_file_path = #{writeFilePath,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="cadreId != null">
        cadre_id = #{cadreId,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="adminLevel != null">
        admin_level = #{adminLevel,jdbcType=INTEGER},
      </if>
      <if test="postType != null">
        post_type = #{postType,jdbcType=INTEGER},
      </if>
      <if test="isOw != null">
        is_ow = #{isOw,jdbcType=BIT},
      </if>
      <if test="owGrowTime != null">
        ow_grow_time = #{owGrowTime,jdbcType=DATE},
      </if>
      <if test="dpGrowTime != null">
        dp_grow_time = #{dpGrowTime,jdbcType=DATE},
      </if>
      <if test="dpTypeId != null">
        dp_type_id = #{dpTypeId,jdbcType=INTEGER},
      </if>
      <if test="proPost != null">
        pro_post = #{proPost,jdbcType=VARCHAR},
      </if>
      <if test="lpWorkTime != null">
        lp_work_time = #{lpWorkTime,jdbcType=DATE},
      </if>
      <if test="mobile != null">
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="cadreStatus != null">
        cadre_status = #{cadreStatus,jdbcType=TINYINT},
      </if>
      <if test="cadreSortOrder != null">
        cadre_sort_order = #{cadreSortOrder,jdbcType=INTEGER},
      </if>
      <if test="partyId != null">
        party_id = #{partyId,jdbcType=INTEGER},
      </if>
      <if test="branchId != null">
        branch_id = #{branchId,jdbcType=INTEGER},
      </if>
      <if test="partyTypeIds != null">
        party_type_ids = #{partyTypeIds,jdbcType=VARCHAR},
      </if>
      <if test="postId != null">
        post_id = #{postId,jdbcType=INTEGER},
      </if>
      <if test="branchTypeId != null">
        branch_type_id = #{branchTypeId,jdbcType=INTEGER},
      </if>
      <if test="organizerType != null">
        organizer_type = #{organizerType,jdbcType=TINYINT},
      </if>
      <if test="organizerUnits != null">
        organizer_units = #{organizerUnits,jdbcType=VARCHAR},
      </if>
      <if test="organizerPartyId != null">
        organizer_party_id = #{organizerPartyId,jdbcType=INTEGER},
      </if>
      <if test="assignDate != null">
        assign_date = #{assignDate,jdbcType=DATE},
      </if>
      <if test="activeTime != null">
        active_time = #{activeTime,jdbcType=DATE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="domain.cet.CetProjectObj">
    update cet_project_obj
    set project_id = #{projectId,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      trainee_type_id = #{traineeTypeId,jdbcType=INTEGER},
      is_quit = #{isQuit,jdbcType=BIT},
      should_finish_period = #{shouldFinishPeriod,jdbcType=DECIMAL},
      finish_period = #{finishPeriod,jdbcType=DECIMAL},
      is_graduate = #{isGraduate,jdbcType=BIT},
      word_write = #{wordWrite,jdbcType=VARCHAR},
      write_file_path = #{writeFilePath,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      cadre_id = #{cadreId,jdbcType=INTEGER},
      title = #{title,jdbcType=VARCHAR},
      admin_level = #{adminLevel,jdbcType=INTEGER},
      post_type = #{postType,jdbcType=INTEGER},
      is_ow = #{isOw,jdbcType=BIT},
      ow_grow_time = #{owGrowTime,jdbcType=DATE},
      dp_grow_time = #{dpGrowTime,jdbcType=DATE},
      dp_type_id = #{dpTypeId,jdbcType=INTEGER},
      pro_post = #{proPost,jdbcType=VARCHAR},
      lp_work_time = #{lpWorkTime,jdbcType=DATE},
      mobile = #{mobile,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      cadre_status = #{cadreStatus,jdbcType=TINYINT},
      cadre_sort_order = #{cadreSortOrder,jdbcType=INTEGER},
      party_id = #{partyId,jdbcType=INTEGER},
      branch_id = #{branchId,jdbcType=INTEGER},
      party_type_ids = #{partyTypeIds,jdbcType=VARCHAR},
      post_id = #{postId,jdbcType=INTEGER},
      branch_type_id = #{branchTypeId,jdbcType=INTEGER},
      organizer_type = #{organizerType,jdbcType=TINYINT},
      organizer_units = #{organizerUnits,jdbcType=VARCHAR},
      organizer_party_id = #{organizerPartyId,jdbcType=INTEGER},
      assign_date = #{assignDate,jdbcType=DATE},
      active_time = #{activeTime,jdbcType=DATE}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByExampleWithRowbounds" parameterType="domain.cet.CetProjectObjExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from cet_project_obj
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
</mapper>