<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="persistence.cet.CetTrainObjMapper">
  <resultMap id="BaseResultMap" type="domain.cet.CetTrainObj">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="obj_id" jdbcType="INTEGER" property="objId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="train_course_id" jdbcType="INTEGER" property="trainCourseId" />
    <result column="can_quit" jdbcType="BIT" property="canQuit" />
    <result column="is_finished" jdbcType="TINYINT" property="isFinished" />
    <result column="sign_time" jdbcType="TIMESTAMP" property="signTime" />
    <result column="sign_out_time" jdbcType="TIMESTAMP" property="signOutTime" />
    <result column="sign_type" jdbcType="TINYINT" property="signType" />
    <result column="choose_time" jdbcType="TIMESTAMP" property="chooseTime" />
    <result column="choose_user_id" jdbcType="INTEGER" property="chooseUserId" />
    <result column="ip" jdbcType="VARCHAR" property="ip" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, obj_id, user_id, train_course_id, can_quit, is_finished, sign_time, sign_out_time, 
    sign_type, choose_time, choose_user_id, ip, remark
  </sql>
  <select id="selectByExample" parameterType="domain.cet.CetTrainObjExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from cet_train_obj
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cet_train_obj
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from cet_train_obj
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="domain.cet.CetTrainObjExample">
    delete from cet_train_obj
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="domain.cet.CetTrainObj">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into cet_train_obj (obj_id, user_id, train_course_id, 
      can_quit, is_finished, sign_time, 
      sign_out_time, sign_type, choose_time, 
      choose_user_id, ip, remark
      )
    values (#{objId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{trainCourseId,jdbcType=INTEGER}, 
      #{canQuit,jdbcType=BIT}, #{isFinished,jdbcType=TINYINT}, #{signTime,jdbcType=TIMESTAMP}, 
      #{signOutTime,jdbcType=TIMESTAMP}, #{signType,jdbcType=TINYINT}, #{chooseTime,jdbcType=TIMESTAMP}, 
      #{chooseUserId,jdbcType=INTEGER}, #{ip,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="domain.cet.CetTrainObj">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into cet_train_obj
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="objId != null">
        obj_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="trainCourseId != null">
        train_course_id,
      </if>
      <if test="canQuit != null">
        can_quit,
      </if>
      <if test="isFinished != null">
        is_finished,
      </if>
      <if test="signTime != null">
        sign_time,
      </if>
      <if test="signOutTime != null">
        sign_out_time,
      </if>
      <if test="signType != null">
        sign_type,
      </if>
      <if test="chooseTime != null">
        choose_time,
      </if>
      <if test="chooseUserId != null">
        choose_user_id,
      </if>
      <if test="ip != null">
        ip,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="objId != null">
        #{objId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="trainCourseId != null">
        #{trainCourseId,jdbcType=INTEGER},
      </if>
      <if test="canQuit != null">
        #{canQuit,jdbcType=BIT},
      </if>
      <if test="isFinished != null">
        #{isFinished,jdbcType=TINYINT},
      </if>
      <if test="signTime != null">
        #{signTime,jdbcType=TIMESTAMP},
      </if>
      <if test="signOutTime != null">
        #{signOutTime,jdbcType=TIMESTAMP},
      </if>
      <if test="signType != null">
        #{signType,jdbcType=TINYINT},
      </if>
      <if test="chooseTime != null">
        #{chooseTime,jdbcType=TIMESTAMP},
      </if>
      <if test="chooseUserId != null">
        #{chooseUserId,jdbcType=INTEGER},
      </if>
      <if test="ip != null">
        #{ip,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="domain.cet.CetTrainObjExample" resultType="java.lang.Long">
    select count(*) from cet_train_obj
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update cet_train_obj
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.objId != null">
        obj_id = #{record.objId,jdbcType=INTEGER},
      </if>
      <if test="record.userId != null">
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.trainCourseId != null">
        train_course_id = #{record.trainCourseId,jdbcType=INTEGER},
      </if>
      <if test="record.canQuit != null">
        can_quit = #{record.canQuit,jdbcType=BIT},
      </if>
      <if test="record.isFinished != null">
        is_finished = #{record.isFinished,jdbcType=TINYINT},
      </if>
      <if test="record.signTime != null">
        sign_time = #{record.signTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.signOutTime != null">
        sign_out_time = #{record.signOutTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.signType != null">
        sign_type = #{record.signType,jdbcType=TINYINT},
      </if>
      <if test="record.chooseTime != null">
        choose_time = #{record.chooseTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.chooseUserId != null">
        choose_user_id = #{record.chooseUserId,jdbcType=INTEGER},
      </if>
      <if test="record.ip != null">
        ip = #{record.ip,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null">
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update cet_train_obj
    set id = #{record.id,jdbcType=INTEGER},
      obj_id = #{record.objId,jdbcType=INTEGER},
      user_id = #{record.userId,jdbcType=INTEGER},
      train_course_id = #{record.trainCourseId,jdbcType=INTEGER},
      can_quit = #{record.canQuit,jdbcType=BIT},
      is_finished = #{record.isFinished,jdbcType=TINYINT},
      sign_time = #{record.signTime,jdbcType=TIMESTAMP},
      sign_out_time = #{record.signOutTime,jdbcType=TIMESTAMP},
      sign_type = #{record.signType,jdbcType=TINYINT},
      choose_time = #{record.chooseTime,jdbcType=TIMESTAMP},
      choose_user_id = #{record.chooseUserId,jdbcType=INTEGER},
      ip = #{record.ip,jdbcType=VARCHAR},
      remark = #{record.remark,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="domain.cet.CetTrainObj">
    update cet_train_obj
    <set>
      <if test="objId != null">
        obj_id = #{objId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="trainCourseId != null">
        train_course_id = #{trainCourseId,jdbcType=INTEGER},
      </if>
      <if test="canQuit != null">
        can_quit = #{canQuit,jdbcType=BIT},
      </if>
      <if test="isFinished != null">
        is_finished = #{isFinished,jdbcType=TINYINT},
      </if>
      <if test="signTime != null">
        sign_time = #{signTime,jdbcType=TIMESTAMP},
      </if>
      <if test="signOutTime != null">
        sign_out_time = #{signOutTime,jdbcType=TIMESTAMP},
      </if>
      <if test="signType != null">
        sign_type = #{signType,jdbcType=TINYINT},
      </if>
      <if test="chooseTime != null">
        choose_time = #{chooseTime,jdbcType=TIMESTAMP},
      </if>
      <if test="chooseUserId != null">
        choose_user_id = #{chooseUserId,jdbcType=INTEGER},
      </if>
      <if test="ip != null">
        ip = #{ip,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="domain.cet.CetTrainObj">
    update cet_train_obj
    set obj_id = #{objId,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      train_course_id = #{trainCourseId,jdbcType=INTEGER},
      can_quit = #{canQuit,jdbcType=BIT},
      is_finished = #{isFinished,jdbcType=TINYINT},
      sign_time = #{signTime,jdbcType=TIMESTAMP},
      sign_out_time = #{signOutTime,jdbcType=TIMESTAMP},
      sign_type = #{signType,jdbcType=TINYINT},
      choose_time = #{chooseTime,jdbcType=TIMESTAMP},
      choose_user_id = #{chooseUserId,jdbcType=INTEGER},
      ip = #{ip,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByExampleWithRowbounds" parameterType="domain.cet.CetTrainObjExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from cet_train_obj
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
</mapper>