<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="persistence.cet.CetTrainMapper">
  <resultMap id="BaseResultMap" type="domain.cet.CetTrain">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="plan_id" jdbcType="INTEGER" property="planId" />
    <result column="is_on_campus" jdbcType="BIT" property="isOnCampus" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="has_summary" jdbcType="BIT" property="hasSummary" />
    <result column="summary" jdbcType="VARCHAR" property="summary" />
    <result column="start_date" jdbcType="DATE" property="startDate" />
    <result column="end_date" jdbcType="DATE" property="endDate" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="course_num" jdbcType="INTEGER" property="courseNum" />
    <result column="eva_count" jdbcType="INTEGER" property="evaCount" />
    <result column="eva_anonymous" jdbcType="BIT" property="evaAnonymous" />
    <result column="eva_note" jdbcType="VARCHAR" property="evaNote" />
    <result column="eva_closed" jdbcType="BIT" property="evaClosed" />
    <result column="eva_close_time" jdbcType="TIMESTAMP" property="evaCloseTime" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="is_deleted" jdbcType="BIT" property="isDeleted" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, plan_id, is_on_campus, name, has_summary, summary, start_date, end_date, start_time, 
    end_time, course_num, eva_count, eva_anonymous, eva_note, eva_closed, eva_close_time, 
    remark, is_deleted, create_time
  </sql>
  <select id="selectByExample" parameterType="domain.cet.CetTrainExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from cet_train
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cet_train
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from cet_train
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="domain.cet.CetTrainExample">
    delete from cet_train
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="domain.cet.CetTrain">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into cet_train (plan_id, is_on_campus, name, 
      has_summary, summary, start_date, 
      end_date, start_time, end_time, 
      course_num, eva_count, eva_anonymous, 
      eva_note, eva_closed, eva_close_time, 
      remark, is_deleted, create_time
      )
    values (#{planId,jdbcType=INTEGER}, #{isOnCampus,jdbcType=BIT}, #{name,jdbcType=VARCHAR}, 
      #{hasSummary,jdbcType=BIT}, #{summary,jdbcType=VARCHAR}, #{startDate,jdbcType=DATE}, 
      #{endDate,jdbcType=DATE}, #{startTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP}, 
      #{courseNum,jdbcType=INTEGER}, #{evaCount,jdbcType=INTEGER}, #{evaAnonymous,jdbcType=BIT}, 
      #{evaNote,jdbcType=VARCHAR}, #{evaClosed,jdbcType=BIT}, #{evaCloseTime,jdbcType=TIMESTAMP}, 
      #{remark,jdbcType=VARCHAR}, #{isDeleted,jdbcType=BIT}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="domain.cet.CetTrain">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into cet_train
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="planId != null">
        plan_id,
      </if>
      <if test="isOnCampus != null">
        is_on_campus,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="hasSummary != null">
        has_summary,
      </if>
      <if test="summary != null">
        summary,
      </if>
      <if test="startDate != null">
        start_date,
      </if>
      <if test="endDate != null">
        end_date,
      </if>
      <if test="startTime != null">
        start_time,
      </if>
      <if test="endTime != null">
        end_time,
      </if>
      <if test="courseNum != null">
        course_num,
      </if>
      <if test="evaCount != null">
        eva_count,
      </if>
      <if test="evaAnonymous != null">
        eva_anonymous,
      </if>
      <if test="evaNote != null">
        eva_note,
      </if>
      <if test="evaClosed != null">
        eva_closed,
      </if>
      <if test="evaCloseTime != null">
        eva_close_time,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="planId != null">
        #{planId,jdbcType=INTEGER},
      </if>
      <if test="isOnCampus != null">
        #{isOnCampus,jdbcType=BIT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="hasSummary != null">
        #{hasSummary,jdbcType=BIT},
      </if>
      <if test="summary != null">
        #{summary,jdbcType=VARCHAR},
      </if>
      <if test="startDate != null">
        #{startDate,jdbcType=DATE},
      </if>
      <if test="endDate != null">
        #{endDate,jdbcType=DATE},
      </if>
      <if test="startTime != null">
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="courseNum != null">
        #{courseNum,jdbcType=INTEGER},
      </if>
      <if test="evaCount != null">
        #{evaCount,jdbcType=INTEGER},
      </if>
      <if test="evaAnonymous != null">
        #{evaAnonymous,jdbcType=BIT},
      </if>
      <if test="evaNote != null">
        #{evaNote,jdbcType=VARCHAR},
      </if>
      <if test="evaClosed != null">
        #{evaClosed,jdbcType=BIT},
      </if>
      <if test="evaCloseTime != null">
        #{evaCloseTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=BIT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="domain.cet.CetTrainExample" resultType="java.lang.Long">
    select count(*) from cet_train
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update cet_train
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.planId != null">
        plan_id = #{record.planId,jdbcType=INTEGER},
      </if>
      <if test="record.isOnCampus != null">
        is_on_campus = #{record.isOnCampus,jdbcType=BIT},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.hasSummary != null">
        has_summary = #{record.hasSummary,jdbcType=BIT},
      </if>
      <if test="record.summary != null">
        summary = #{record.summary,jdbcType=VARCHAR},
      </if>
      <if test="record.startDate != null">
        start_date = #{record.startDate,jdbcType=DATE},
      </if>
      <if test="record.endDate != null">
        end_date = #{record.endDate,jdbcType=DATE},
      </if>
      <if test="record.startTime != null">
        start_time = #{record.startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.endTime != null">
        end_time = #{record.endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.courseNum != null">
        course_num = #{record.courseNum,jdbcType=INTEGER},
      </if>
      <if test="record.evaCount != null">
        eva_count = #{record.evaCount,jdbcType=INTEGER},
      </if>
      <if test="record.evaAnonymous != null">
        eva_anonymous = #{record.evaAnonymous,jdbcType=BIT},
      </if>
      <if test="record.evaNote != null">
        eva_note = #{record.evaNote,jdbcType=VARCHAR},
      </if>
      <if test="record.evaClosed != null">
        eva_closed = #{record.evaClosed,jdbcType=BIT},
      </if>
      <if test="record.evaCloseTime != null">
        eva_close_time = #{record.evaCloseTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.remark != null">
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.isDeleted != null">
        is_deleted = #{record.isDeleted,jdbcType=BIT},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update cet_train
    set id = #{record.id,jdbcType=INTEGER},
      plan_id = #{record.planId,jdbcType=INTEGER},
      is_on_campus = #{record.isOnCampus,jdbcType=BIT},
      name = #{record.name,jdbcType=VARCHAR},
      has_summary = #{record.hasSummary,jdbcType=BIT},
      summary = #{record.summary,jdbcType=VARCHAR},
      start_date = #{record.startDate,jdbcType=DATE},
      end_date = #{record.endDate,jdbcType=DATE},
      start_time = #{record.startTime,jdbcType=TIMESTAMP},
      end_time = #{record.endTime,jdbcType=TIMESTAMP},
      course_num = #{record.courseNum,jdbcType=INTEGER},
      eva_count = #{record.evaCount,jdbcType=INTEGER},
      eva_anonymous = #{record.evaAnonymous,jdbcType=BIT},
      eva_note = #{record.evaNote,jdbcType=VARCHAR},
      eva_closed = #{record.evaClosed,jdbcType=BIT},
      eva_close_time = #{record.evaCloseTime,jdbcType=TIMESTAMP},
      remark = #{record.remark,jdbcType=VARCHAR},
      is_deleted = #{record.isDeleted,jdbcType=BIT},
      create_time = #{record.createTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="domain.cet.CetTrain">
    update cet_train
    <set>
      <if test="planId != null">
        plan_id = #{planId,jdbcType=INTEGER},
      </if>
      <if test="isOnCampus != null">
        is_on_campus = #{isOnCampus,jdbcType=BIT},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="hasSummary != null">
        has_summary = #{hasSummary,jdbcType=BIT},
      </if>
      <if test="summary != null">
        summary = #{summary,jdbcType=VARCHAR},
      </if>
      <if test="startDate != null">
        start_date = #{startDate,jdbcType=DATE},
      </if>
      <if test="endDate != null">
        end_date = #{endDate,jdbcType=DATE},
      </if>
      <if test="startTime != null">
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="courseNum != null">
        course_num = #{courseNum,jdbcType=INTEGER},
      </if>
      <if test="evaCount != null">
        eva_count = #{evaCount,jdbcType=INTEGER},
      </if>
      <if test="evaAnonymous != null">
        eva_anonymous = #{evaAnonymous,jdbcType=BIT},
      </if>
      <if test="evaNote != null">
        eva_note = #{evaNote,jdbcType=VARCHAR},
      </if>
      <if test="evaClosed != null">
        eva_closed = #{evaClosed,jdbcType=BIT},
      </if>
      <if test="evaCloseTime != null">
        eva_close_time = #{evaCloseTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null">
        is_deleted = #{isDeleted,jdbcType=BIT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="domain.cet.CetTrain">
    update cet_train
    set plan_id = #{planId,jdbcType=INTEGER},
      is_on_campus = #{isOnCampus,jdbcType=BIT},
      name = #{name,jdbcType=VARCHAR},
      has_summary = #{hasSummary,jdbcType=BIT},
      summary = #{summary,jdbcType=VARCHAR},
      start_date = #{startDate,jdbcType=DATE},
      end_date = #{endDate,jdbcType=DATE},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      course_num = #{courseNum,jdbcType=INTEGER},
      eva_count = #{evaCount,jdbcType=INTEGER},
      eva_anonymous = #{evaAnonymous,jdbcType=BIT},
      eva_note = #{evaNote,jdbcType=VARCHAR},
      eva_closed = #{evaClosed,jdbcType=BIT},
      eva_close_time = #{evaCloseTime,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR},
      is_deleted = #{isDeleted,jdbcType=BIT},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByExampleWithRowbounds" parameterType="domain.cet.CetTrainExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from cet_train
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
</mapper>