<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="persistence.cet.CetTrainCourseObjResultMapper">
  <resultMap id="BaseResultMap" type="domain.cet.CetTrainCourseObjResult">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="train_course_obj_id" jdbcType="INTEGER" property="trainCourseObjId" />
    <result column="course_item_id" jdbcType="INTEGER" property="courseItemId" />
    <result column="course_num" jdbcType="INTEGER" property="courseNum" />
    <result column="period" jdbcType="DECIMAL" property="period" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, train_course_obj_id, course_item_id, course_num, period
  </sql>
  <select id="selectByExample" parameterType="domain.cet.CetTrainCourseObjResultExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from cet_train_course_obj_result
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cet_train_course_obj_result
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from cet_train_course_obj_result
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="domain.cet.CetTrainCourseObjResultExample">
    delete from cet_train_course_obj_result
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="domain.cet.CetTrainCourseObjResult">
    insert into cet_train_course_obj_result (id, train_course_obj_id, course_item_id, 
      course_num, period)
    values (#{id,jdbcType=INTEGER}, #{trainCourseObjId,jdbcType=INTEGER}, #{courseItemId,jdbcType=INTEGER}, 
      #{courseNum,jdbcType=INTEGER}, #{period,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="domain.cet.CetTrainCourseObjResult">
    insert into cet_train_course_obj_result
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="trainCourseObjId != null">
        train_course_obj_id,
      </if>
      <if test="courseItemId != null">
        course_item_id,
      </if>
      <if test="courseNum != null">
        course_num,
      </if>
      <if test="period != null">
        period,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="trainCourseObjId != null">
        #{trainCourseObjId,jdbcType=INTEGER},
      </if>
      <if test="courseItemId != null">
        #{courseItemId,jdbcType=INTEGER},
      </if>
      <if test="courseNum != null">
        #{courseNum,jdbcType=INTEGER},
      </if>
      <if test="period != null">
        #{period,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="domain.cet.CetTrainCourseObjResultExample" resultType="java.lang.Long">
    select count(*) from cet_train_course_obj_result
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update cet_train_course_obj_result
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.trainCourseObjId != null">
        train_course_obj_id = #{record.trainCourseObjId,jdbcType=INTEGER},
      </if>
      <if test="record.courseItemId != null">
        course_item_id = #{record.courseItemId,jdbcType=INTEGER},
      </if>
      <if test="record.courseNum != null">
        course_num = #{record.courseNum,jdbcType=INTEGER},
      </if>
      <if test="record.period != null">
        period = #{record.period,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update cet_train_course_obj_result
    set id = #{record.id,jdbcType=INTEGER},
      train_course_obj_id = #{record.trainCourseObjId,jdbcType=INTEGER},
      course_item_id = #{record.courseItemId,jdbcType=INTEGER},
      course_num = #{record.courseNum,jdbcType=INTEGER},
      period = #{record.period,jdbcType=DECIMAL}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="domain.cet.CetTrainCourseObjResult">
    update cet_train_course_obj_result
    <set>
      <if test="trainCourseObjId != null">
        train_course_obj_id = #{trainCourseObjId,jdbcType=INTEGER},
      </if>
      <if test="courseItemId != null">
        course_item_id = #{courseItemId,jdbcType=INTEGER},
      </if>
      <if test="courseNum != null">
        course_num = #{courseNum,jdbcType=INTEGER},
      </if>
      <if test="period != null">
        period = #{period,jdbcType=DECIMAL},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="domain.cet.CetTrainCourseObjResult">
    update cet_train_course_obj_result
    set train_course_obj_id = #{trainCourseObjId,jdbcType=INTEGER},
      course_item_id = #{courseItemId,jdbcType=INTEGER},
      course_num = #{courseNum,jdbcType=INTEGER},
      period = #{period,jdbcType=DECIMAL}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByExampleWithRowbounds" parameterType="domain.cet.CetTrainCourseObjResultExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from cet_train_course_obj_result
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
</mapper>