<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="persistence.cadre.CadrePostMapper">
  <resultMap id="BaseResultMap" type="domain.cadre.CadrePost">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="cadre_id" jdbcType="INTEGER" property="cadreId" />
    <result column="unit_post_id" jdbcType="INTEGER" property="unitPostId" />
    <result column="post_name" jdbcType="VARCHAR" property="postName" />
    <result column="post" jdbcType="VARCHAR" property="post" />
    <result column="lp_dispatch_id" jdbcType="INTEGER" property="lpDispatchId" />
    <result column="lp_work_time" jdbcType="DATE" property="lpWorkTime" />
    <result column="np_dispatch_id" jdbcType="INTEGER" property="npDispatchId" />
    <result column="np_work_time" jdbcType="DATE" property="npWorkTime" />
    <result column="post_type" jdbcType="INTEGER" property="postType" />
    <result column="admin_level" jdbcType="INTEGER" property="adminLevel" />
    <result column="is_principal" jdbcType="BIT" property="isPrincipal" />
    <result column="is_cpc" jdbcType="BIT" property="isCpc" />
    <result column="post_class_id" jdbcType="INTEGER" property="postClassId" />
    <result column="unit_id" jdbcType="INTEGER" property="unitId" />
    <result column="is_main_post" jdbcType="BIT" property="isMainPost" />
    <result column="is_first_main_post" jdbcType="BIT" property="isFirstMainPost" />
    <result column="sort_order" jdbcType="INTEGER" property="sortOrder" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, cadre_id, unit_post_id, post_name, post, lp_dispatch_id, lp_work_time, np_dispatch_id, 
    np_work_time, post_type, admin_level, is_principal, is_cpc, post_class_id, unit_id, 
    is_main_post, is_first_main_post, sort_order
  </sql>
  <select id="selectByExample" parameterType="domain.cadre.CadrePostExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from cadre_post
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cadre_post
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from cadre_post
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="domain.cadre.CadrePostExample">
    delete from cadre_post
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="domain.cadre.CadrePost">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into cadre_post (cadre_id, unit_post_id, post_name, 
      post, lp_dispatch_id, lp_work_time, 
      np_dispatch_id, np_work_time, post_type, 
      admin_level, is_principal, is_cpc, 
      post_class_id, unit_id, is_main_post, 
      is_first_main_post, sort_order)
    values (#{cadreId,jdbcType=INTEGER}, #{unitPostId,jdbcType=INTEGER}, #{postName,jdbcType=VARCHAR}, 
      #{post,jdbcType=VARCHAR}, #{lpDispatchId,jdbcType=INTEGER}, #{lpWorkTime,jdbcType=DATE}, 
      #{npDispatchId,jdbcType=INTEGER}, #{npWorkTime,jdbcType=DATE}, #{postType,jdbcType=INTEGER}, 
      #{adminLevel,jdbcType=INTEGER}, #{isPrincipal,jdbcType=BIT}, #{isCpc,jdbcType=BIT}, 
      #{postClassId,jdbcType=INTEGER}, #{unitId,jdbcType=INTEGER}, #{isMainPost,jdbcType=BIT}, 
      #{isFirstMainPost,jdbcType=BIT}, #{sortOrder,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="domain.cadre.CadrePost">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into cadre_post
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="cadreId != null">
        cadre_id,
      </if>
      <if test="unitPostId != null">
        unit_post_id,
      </if>
      <if test="postName != null">
        post_name,
      </if>
      <if test="post != null">
        post,
      </if>
      <if test="lpDispatchId != null">
        lp_dispatch_id,
      </if>
      <if test="lpWorkTime != null">
        lp_work_time,
      </if>
      <if test="npDispatchId != null">
        np_dispatch_id,
      </if>
      <if test="npWorkTime != null">
        np_work_time,
      </if>
      <if test="postType != null">
        post_type,
      </if>
      <if test="adminLevel != null">
        admin_level,
      </if>
      <if test="isPrincipal != null">
        is_principal,
      </if>
      <if test="isCpc != null">
        is_cpc,
      </if>
      <if test="postClassId != null">
        post_class_id,
      </if>
      <if test="unitId != null">
        unit_id,
      </if>
      <if test="isMainPost != null">
        is_main_post,
      </if>
      <if test="isFirstMainPost != null">
        is_first_main_post,
      </if>
      <if test="sortOrder != null">
        sort_order,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="cadreId != null">
        #{cadreId,jdbcType=INTEGER},
      </if>
      <if test="unitPostId != null">
        #{unitPostId,jdbcType=INTEGER},
      </if>
      <if test="postName != null">
        #{postName,jdbcType=VARCHAR},
      </if>
      <if test="post != null">
        #{post,jdbcType=VARCHAR},
      </if>
      <if test="lpDispatchId != null">
        #{lpDispatchId,jdbcType=INTEGER},
      </if>
      <if test="lpWorkTime != null">
        #{lpWorkTime,jdbcType=DATE},
      </if>
      <if test="npDispatchId != null">
        #{npDispatchId,jdbcType=INTEGER},
      </if>
      <if test="npWorkTime != null">
        #{npWorkTime,jdbcType=DATE},
      </if>
      <if test="postType != null">
        #{postType,jdbcType=INTEGER},
      </if>
      <if test="adminLevel != null">
        #{adminLevel,jdbcType=INTEGER},
      </if>
      <if test="isPrincipal != null">
        #{isPrincipal,jdbcType=BIT},
      </if>
      <if test="isCpc != null">
        #{isCpc,jdbcType=BIT},
      </if>
      <if test="postClassId != null">
        #{postClassId,jdbcType=INTEGER},
      </if>
      <if test="unitId != null">
        #{unitId,jdbcType=INTEGER},
      </if>
      <if test="isMainPost != null">
        #{isMainPost,jdbcType=BIT},
      </if>
      <if test="isFirstMainPost != null">
        #{isFirstMainPost,jdbcType=BIT},
      </if>
      <if test="sortOrder != null">
        #{sortOrder,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="domain.cadre.CadrePostExample" resultType="java.lang.Long">
    select count(*) from cadre_post
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update cadre_post
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.cadreId != null">
        cadre_id = #{record.cadreId,jdbcType=INTEGER},
      </if>
      <if test="record.unitPostId != null">
        unit_post_id = #{record.unitPostId,jdbcType=INTEGER},
      </if>
      <if test="record.postName != null">
        post_name = #{record.postName,jdbcType=VARCHAR},
      </if>
      <if test="record.post != null">
        post = #{record.post,jdbcType=VARCHAR},
      </if>
      <if test="record.lpDispatchId != null">
        lp_dispatch_id = #{record.lpDispatchId,jdbcType=INTEGER},
      </if>
      <if test="record.lpWorkTime != null">
        lp_work_time = #{record.lpWorkTime,jdbcType=DATE},
      </if>
      <if test="record.npDispatchId != null">
        np_dispatch_id = #{record.npDispatchId,jdbcType=INTEGER},
      </if>
      <if test="record.npWorkTime != null">
        np_work_time = #{record.npWorkTime,jdbcType=DATE},
      </if>
      <if test="record.postType != null">
        post_type = #{record.postType,jdbcType=INTEGER},
      </if>
      <if test="record.adminLevel != null">
        admin_level = #{record.adminLevel,jdbcType=INTEGER},
      </if>
      <if test="record.isPrincipal != null">
        is_principal = #{record.isPrincipal,jdbcType=BIT},
      </if>
      <if test="record.isCpc != null">
        is_cpc = #{record.isCpc,jdbcType=BIT},
      </if>
      <if test="record.postClassId != null">
        post_class_id = #{record.postClassId,jdbcType=INTEGER},
      </if>
      <if test="record.unitId != null">
        unit_id = #{record.unitId,jdbcType=INTEGER},
      </if>
      <if test="record.isMainPost != null">
        is_main_post = #{record.isMainPost,jdbcType=BIT},
      </if>
      <if test="record.isFirstMainPost != null">
        is_first_main_post = #{record.isFirstMainPost,jdbcType=BIT},
      </if>
      <if test="record.sortOrder != null">
        sort_order = #{record.sortOrder,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update cadre_post
    set id = #{record.id,jdbcType=INTEGER},
      cadre_id = #{record.cadreId,jdbcType=INTEGER},
      unit_post_id = #{record.unitPostId,jdbcType=INTEGER},
      post_name = #{record.postName,jdbcType=VARCHAR},
      post = #{record.post,jdbcType=VARCHAR},
      lp_dispatch_id = #{record.lpDispatchId,jdbcType=INTEGER},
      lp_work_time = #{record.lpWorkTime,jdbcType=DATE},
      np_dispatch_id = #{record.npDispatchId,jdbcType=INTEGER},
      np_work_time = #{record.npWorkTime,jdbcType=DATE},
      post_type = #{record.postType,jdbcType=INTEGER},
      admin_level = #{record.adminLevel,jdbcType=INTEGER},
      is_principal = #{record.isPrincipal,jdbcType=BIT},
      is_cpc = #{record.isCpc,jdbcType=BIT},
      post_class_id = #{record.postClassId,jdbcType=INTEGER},
      unit_id = #{record.unitId,jdbcType=INTEGER},
      is_main_post = #{record.isMainPost,jdbcType=BIT},
      is_first_main_post = #{record.isFirstMainPost,jdbcType=BIT},
      sort_order = #{record.sortOrder,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="domain.cadre.CadrePost">
    update cadre_post
    <set>
      <if test="cadreId != null">
        cadre_id = #{cadreId,jdbcType=INTEGER},
      </if>
      <if test="unitPostId != null">
        unit_post_id = #{unitPostId,jdbcType=INTEGER},
      </if>
      <if test="postName != null">
        post_name = #{postName,jdbcType=VARCHAR},
      </if>
      <if test="post != null">
        post = #{post,jdbcType=VARCHAR},
      </if>
      <if test="lpDispatchId != null">
        lp_dispatch_id = #{lpDispatchId,jdbcType=INTEGER},
      </if>
      <if test="lpWorkTime != null">
        lp_work_time = #{lpWorkTime,jdbcType=DATE},
      </if>
      <if test="npDispatchId != null">
        np_dispatch_id = #{npDispatchId,jdbcType=INTEGER},
      </if>
      <if test="npWorkTime != null">
        np_work_time = #{npWorkTime,jdbcType=DATE},
      </if>
      <if test="postType != null">
        post_type = #{postType,jdbcType=INTEGER},
      </if>
      <if test="adminLevel != null">
        admin_level = #{adminLevel,jdbcType=INTEGER},
      </if>
      <if test="isPrincipal != null">
        is_principal = #{isPrincipal,jdbcType=BIT},
      </if>
      <if test="isCpc != null">
        is_cpc = #{isCpc,jdbcType=BIT},
      </if>
      <if test="postClassId != null">
        post_class_id = #{postClassId,jdbcType=INTEGER},
      </if>
      <if test="unitId != null">
        unit_id = #{unitId,jdbcType=INTEGER},
      </if>
      <if test="isMainPost != null">
        is_main_post = #{isMainPost,jdbcType=BIT},
      </if>
      <if test="isFirstMainPost != null">
        is_first_main_post = #{isFirstMainPost,jdbcType=BIT},
      </if>
      <if test="sortOrder != null">
        sort_order = #{sortOrder,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="domain.cadre.CadrePost">
    update cadre_post
    set cadre_id = #{cadreId,jdbcType=INTEGER},
      unit_post_id = #{unitPostId,jdbcType=INTEGER},
      post_name = #{postName,jdbcType=VARCHAR},
      post = #{post,jdbcType=VARCHAR},
      lp_dispatch_id = #{lpDispatchId,jdbcType=INTEGER},
      lp_work_time = #{lpWorkTime,jdbcType=DATE},
      np_dispatch_id = #{npDispatchId,jdbcType=INTEGER},
      np_work_time = #{npWorkTime,jdbcType=DATE},
      post_type = #{postType,jdbcType=INTEGER},
      admin_level = #{adminLevel,jdbcType=INTEGER},
      is_principal = #{isPrincipal,jdbcType=BIT},
      is_cpc = #{isCpc,jdbcType=BIT},
      post_class_id = #{postClassId,jdbcType=INTEGER},
      unit_id = #{unitId,jdbcType=INTEGER},
      is_main_post = #{isMainPost,jdbcType=BIT},
      is_first_main_post = #{isFirstMainPost,jdbcType=BIT},
      sort_order = #{sortOrder,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByExampleWithRowbounds" parameterType="domain.cadre.CadrePostExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from cadre_post
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
</mapper>