<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="persistence.sc.scGroup.ScGroupMapper">
  <resultMap id="BaseResultMap" type="domain.sc.scGroup.ScGroup">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="file_path" jdbcType="VARCHAR" property="filePath" />
    <result column="year" jdbcType="INTEGER" property="year" />
    <result column="hold_date" jdbcType="DATE" property="holdDate" />
    <result column="topic_num" jdbcType="INTEGER" property="topicNum" />
    <result column="word_file_path" jdbcType="VARCHAR" property="wordFilePath" />
    <result column="log_file" jdbcType="VARCHAR" property="logFile" />
    <result column="attend_users" jdbcType="VARCHAR" property="attendUsers" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="is_deleted" jdbcType="BIT" property="isDeleted" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, file_path, year, hold_date, topic_num, word_file_path, log_file, attend_users, 
    remark, is_deleted
  </sql>
  <select id="selectByExample" parameterType="domain.sc.scGroup.ScGroupExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sc_group
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sc_group
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sc_group
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="domain.sc.scGroup.ScGroupExample">
    delete from sc_group
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert keyProperty="id" id="insert" parameterType="domain.sc.scGroup.ScGroup">
    insert into sc_group (id, file_path, year, 
      hold_date, topic_num, word_file_path, 
      log_file, attend_users, remark, 
      is_deleted)
    values (#{id,jdbcType=INTEGER}, #{filePath,jdbcType=VARCHAR}, #{year,jdbcType=INTEGER}, 
      #{holdDate,jdbcType=DATE}, #{topicNum,jdbcType=INTEGER}, #{wordFilePath,jdbcType=VARCHAR}, 
      #{logFile,jdbcType=VARCHAR}, #{attendUsers,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{isDeleted,jdbcType=BIT})
  </insert>
  <insert keyProperty="id" id="insertSelective" parameterType="domain.sc.scGroup.ScGroup">
    insert into sc_group
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="filePath != null">
        file_path,
      </if>
      <if test="year != null">
        year,
      </if>
      <if test="holdDate != null">
        hold_date,
      </if>
      <if test="topicNum != null">
        topic_num,
      </if>
      <if test="wordFilePath != null">
        word_file_path,
      </if>
      <if test="logFile != null">
        log_file,
      </if>
      <if test="attendUsers != null">
        attend_users,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="filePath != null">
        #{filePath,jdbcType=VARCHAR},
      </if>
      <if test="year != null">
        #{year,jdbcType=INTEGER},
      </if>
      <if test="holdDate != null">
        #{holdDate,jdbcType=DATE},
      </if>
      <if test="topicNum != null">
        #{topicNum,jdbcType=INTEGER},
      </if>
      <if test="wordFilePath != null">
        #{wordFilePath,jdbcType=VARCHAR},
      </if>
      <if test="logFile != null">
        #{logFile,jdbcType=VARCHAR},
      </if>
      <if test="attendUsers != null">
        #{attendUsers,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="domain.sc.scGroup.ScGroupExample" resultType="java.lang.Long">
    select count(*) from sc_group
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update sc_group
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.filePath != null">
        file_path = #{record.filePath,jdbcType=VARCHAR},
      </if>
      <if test="record.year != null">
        year = #{record.year,jdbcType=INTEGER},
      </if>
      <if test="record.holdDate != null">
        hold_date = #{record.holdDate,jdbcType=DATE},
      </if>
      <if test="record.topicNum != null">
        topic_num = #{record.topicNum,jdbcType=INTEGER},
      </if>
      <if test="record.wordFilePath != null">
        word_file_path = #{record.wordFilePath,jdbcType=VARCHAR},
      </if>
      <if test="record.logFile != null">
        log_file = #{record.logFile,jdbcType=VARCHAR},
      </if>
      <if test="record.attendUsers != null">
        attend_users = #{record.attendUsers,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null">
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.isDeleted != null">
        is_deleted = #{record.isDeleted,jdbcType=BIT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update sc_group
    set id = #{record.id,jdbcType=INTEGER},
      file_path = #{record.filePath,jdbcType=VARCHAR},
      year = #{record.year,jdbcType=INTEGER},
      hold_date = #{record.holdDate,jdbcType=DATE},
      topic_num = #{record.topicNum,jdbcType=INTEGER},
      word_file_path = #{record.wordFilePath,jdbcType=VARCHAR},
      log_file = #{record.logFile,jdbcType=VARCHAR},
      attend_users = #{record.attendUsers,jdbcType=VARCHAR},
      remark = #{record.remark,jdbcType=VARCHAR},
      is_deleted = #{record.isDeleted,jdbcType=BIT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="domain.sc.scGroup.ScGroup">
    update sc_group
    <set>
      <if test="filePath != null">
        file_path = #{filePath,jdbcType=VARCHAR},
      </if>
      <if test="year != null">
        year = #{year,jdbcType=INTEGER},
      </if>
      <if test="holdDate != null">
        hold_date = #{holdDate,jdbcType=DATE},
      </if>
      <if test="topicNum != null">
        topic_num = #{topicNum,jdbcType=INTEGER},
      </if>
      <if test="wordFilePath != null">
        word_file_path = #{wordFilePath,jdbcType=VARCHAR},
      </if>
      <if test="logFile != null">
        log_file = #{logFile,jdbcType=VARCHAR},
      </if>
      <if test="attendUsers != null">
        attend_users = #{attendUsers,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null">
        is_deleted = #{isDeleted,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="domain.sc.scGroup.ScGroup">
    update sc_group
    set file_path = #{filePath,jdbcType=VARCHAR},
      year = #{year,jdbcType=INTEGER},
      hold_date = #{holdDate,jdbcType=DATE},
      topic_num = #{topicNum,jdbcType=INTEGER},
      word_file_path = #{wordFilePath,jdbcType=VARCHAR},
      log_file = #{logFile,jdbcType=VARCHAR},
      attend_users = #{attendUsers,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      is_deleted = #{isDeleted,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByExampleWithRowbounds" parameterType="domain.sc.scGroup.ScGroupExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sc_group
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
</mapper>