<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="persistence.sc.scGroup.ScGroupTopicViewMapper">
  <resultMap id="BaseResultMap" type="domain.sc.scGroup.ScGroupTopicView">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="file_path" jdbcType="VARCHAR" property="filePath" />
    <result column="group_id" jdbcType="INTEGER" property="groupId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="unit_post_id" jdbcType="INTEGER" property="unitPostId" />
    <result column="sc_type" jdbcType="INTEGER" property="scType" />
    <result column="record_id" jdbcType="INTEGER" property="recordId" />
    <result column="candidate_user_id" jdbcType="INTEGER" property="candidateUserId" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="memo" jdbcType="VARCHAR" property="memo" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="is_deleted" jdbcType="BIT" property="isDeleted" />
    <result column="year" jdbcType="INTEGER" property="year" />
    <result column="hold_date" jdbcType="DATE" property="holdDate" />
    <result column="group_file_path" jdbcType="VARCHAR" property="groupFilePath" />
    <result column="log_file" jdbcType="VARCHAR" property="logFile" />
    <result column="attend_users" jdbcType="VARCHAR" property="attendUsers" />
    <result column="unit_ids" jdbcType="VARCHAR" property="unitIds" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, file_path, group_id, name, type, unit_post_id, sc_type, record_id, candidate_user_id, 
    content, memo, remark, is_deleted, year, hold_date, group_file_path, log_file, attend_users, 
    unit_ids
  </sql>
  <select id="selectByExample" parameterType="domain.sc.scGroup.ScGroupTopicViewExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sc_group_topic_view
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="countByExample" parameterType="domain.sc.scGroup.ScGroupTopicViewExample" resultType="java.lang.Long">
    select count(*) from sc_group_topic_view
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <select id="selectByExampleWithRowbounds" parameterType="domain.sc.scGroup.ScGroupTopicViewExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sc_group_topic_view
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
</mapper>