<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="persistence.common.CommonMapper" >

  <update id="downOrder" parameterType="map" >
    update ${table} set sort_order = sort_order - 1 where <if test="whereSql!=null"> ${whereSql} and </if>
    sort_order >#{baseSortOrder} and sort_order<![CDATA[<=]]> #{targetSortOrder}
  </update>
  <update id="upOrder" parameterType="map" >
    update ${table} set sort_order = sort_order + 1 where <if test="whereSql!=null"> ${whereSql} and </if>
    sort_order <![CDATA[<]]> #{baseSortOrder} and sort_order>=#{targetSortOrder}
  </update>
</mapper>