<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="persistence.common.CommonMapper" >

  <select id="getMaxSortOrder" parameterType="map" resultType="java.lang.Integer">
    select max(${sortOrder}) from ${table}
    <where>
      <if test="whereSql!=null">${whereSql}</if>
    </where>
  </select>

  <!-- 查找sort_order为空或重复的记录-->
  <select id="getWrongSortOrderRecordIds" parameterType="map" resultType="java.lang.Integer">
    select ${idName} from ${table}
    <where>
      <if test="whereSql!=null">${whereSql}</if>
      and (sort_order is null or
      sort_order in(select sort_order from ${table}
      <where>
      <if test="whereSql!=null">${whereSql}</if>
      </where>
      group by sort_order having count(*)>1)
      )
    </where>
  </select>

  <update id="downOrder" parameterType="map" >
    update ${table} set sort_order = sort_order - 1
    <where>
      <if test="whereSql!=null">${whereSql}</if>
      and sort_order >#{baseSortOrder} and sort_order<![CDATA[<=]]> #{targetSortOrder}
    </where>
  </update>
  <update id="upOrder" parameterType="map" >
    update ${table} set sort_order = sort_order + 1
    <where>
      <if test="whereSql!=null">${whereSql}</if>
      and sort_order <![CDATA[<]]> #{baseSortOrder} and sort_order>=#{targetSortOrder}
    </where>
  </update>

  <update id="downOrder2" parameterType="map" >
    update ${table} set ${sortOrder} = ${sortOrder} - 1
    <where>
      <if test="whereSql!=null">${whereSql}</if>
      and ${sortOrder} >#{baseSortOrder} and ${sortOrder}<![CDATA[<=]]> #{targetSortOrder}
    </where>
  </update>
  <update id="upOrder2" parameterType="map" >
    update ${table} set ${sortOrder} = ${sortOrder} + 1
    <where>
      <if test="whereSql!=null">${whereSql}</if>
      and ${sortOrder} <![CDATA[<]]> #{baseSortOrder} and ${sortOrder}>=#{targetSortOrder}
    </where>
  </update>
</mapper>