<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="persistence.common.IPcsMapper">

   <!--全校 应选代表情况-->
    <select id="schoolPcsPrAllocate" parameterType="map" resultMap="persistence.pcs.PcsPrAllocateMapper.BaseResultMap">
        select sum(pro_count) as pro_count,
            sum(stu_count) as stu_count,
            sum(retire_count) as retire_count,
            sum(female_count) as female_count, sum(minority_count) as minority_count,
            sum(under_fifty_count) as under_fifty_count
        from pcs_pr_allocate
        where config_id=#{configId}
    </select>

    <!-- 党代表候选人初步人选数据统计 partyId=null时是全校统计-->
    <select id="statRealPcsPrAllocate" parameterType="map" resultMap="persistence.pcs.PcsPrAllocateMapper.BaseResultMap">
        select sum(if(type=1, 1, 0)) pro_count, sum(if(type=2, 1, 0)) stu_count,
        sum(if(type=3, 1, 0)) retire_count, sum(if(gender=2, 1, 0)) female_count,
        sum(if(nation not like '%汉%', 1,0)) minority_count,
        sum(if( (year(now())-year(birth)-1) + ( DATE_FORMAT(birth, '%m%d')
        <![CDATA[<=]]> DATE_FORMAT(NOW(), '%m%d')) <![CDATA[<]]> 50, 1, 0)) under_fifty_count
        from pcs_pr_candidate_view where config_id=#{configId} and stage=#{stage}
        <if test="partyId!=null">
            and party_id=#{partyId}
        </if>
    </select>

    <!--（党代表）分党委推荐汇总情况（统计已上报数据）-->
    <resultMap id="PrPartyBaseResultMap" type="persistence.common.bean.PcsPrPartyBean"
               extends="persistence.party.PartyViewMapper.BaseResultMap">
        <result column="stage" jdbcType="TINYINT" property="stage"/>
        <result column="config_id" jdbcType="INTEGER" property="configId"/>
        <result column="expect_member_count" jdbcType="INTEGER" property="expectMemberCount"/>
        <result column="expect_positive_member_count" jdbcType="INTEGER" property="expectPositiveMemberCount"/>
        <result column="actual_member_count" jdbcType="INTEGER" property="actualMemberCount"/>
        <result column="actual_positive_member_count" jdbcType="INTEGER" property="actualPositiveMemberCount"/>
        <result column="has_report" jdbcType="BIT" property="hasReport"/>
        <result column="recommend_status" jdbcType="TINYINT" property="recommendStatus"/>
        <result column="check_remark" jdbcType="VARCHAR" property="checkRemark"/>
    </resultMap>
    <sql id="searchPcsPrPartyBeans">
        where op.is_deleted=0
        <if test="partyId!=null">
            and op.id=#{partyId}
        </if>
        <if test="hasReport">
            and ppr.has_report=1
        </if>
        <if test="hasReport!=null and !hasReport">
            and (ppr.id is null or ppr.has_report=0)
        </if>
        <if test="recommendStatus!=null">
            and ppr.status=#{recommendStatus}
        </if>
    </sql>
    <select id="selectPcsPrPartyBeans" resultMap="PrPartyBaseResultMap" parameterType="map">
        select op.*, ${stage} as stage, ${configId} as config_id,
        ppr.expect_member_count,ppr.expect_positive_member_count,
        ppr.actual_member_count, ppr.actual_positive_member_count, ppr.has_report,
        ppr.status as recommend_status, ppr.check_remark from ow_party_view op
        left join (select * from pcs_pr_recommend where config_id=#{configId} and stage=#{stage}) ppr on op.id = ppr.party_id
        <include refid="searchPcsPrPartyBeans"/>
        order by op.sort_order desc
    </select>
    <select id="countPcsPrPartyBeans" parameterType="map" resultType="java.lang.Integer">
        select count(*) from ow_party_view op
        left join (select * from pcs_pr_recommend where config_id=#{configId} and stage=#{stage}) ppr on op.id = ppr.party_id
        <include refid="searchPcsPrPartyBeans"/>
    </select>

    <!--党代表分配方案-->
    <resultMap id="PcsPrAllocateBaseResultMap" type="persistence.common.bean.PcsPrAllocateBean"
               extends="persistence.pcs.PcsPrAllocateMapper.BaseResultMap">
        <result column="party_id" jdbcType="INTEGER" property="partyId"/>
        <result column="party_name" jdbcType="VARCHAR" property="partyName"/>
        <result column="positive_count" jdbcType="INTEGER" property="positiveCount"/>
        <result column="member_count" jdbcType="INTEGER" property="memberCount"/>
    </resultMap>
    <sql id="searchPcsPrAllocateBeans">
        where op.is_deleted=0
        <if test="partyId!=null">
            and op.id=${partyId}
        </if>
    </sql>
    <select id="selectPcsPrAllocateBeans" resultMap="PcsPrAllocateBaseResultMap" parameterType="map">
        select ppa.id, op.id as party_id, op.name as party_name, op.member_count, op.positive_count,
        ${configId} as config_id, ppa.pro_count,
        ppa.stu_count, ppa.retire_count, ppa.female_count, ppa.minority_count, ppa.under_fifty_count
        from ow_party_view op
        left join (select * from pcs_pr_allocate where config_id=#{configId}) ppa on op.id=ppa.party_id
        <include refid="searchPcsPrAllocateBeans"/>
        order by op.sort_order desc
    </select>
    <select id="countPcsPrAllocateBeans" parameterType="map" resultType="java.lang.Integer">
        select count(*) from ow_party_view op
        <include refid="searchPcsPrAllocateBeans"/>
    </select>

    <!--分党委推荐汇总情况（统计已上报数据）-->
    <resultMap id="PartyBaseResultMap" type="persistence.common.bean.PcsPartyBean"
               extends="persistence.party.PartyViewMapper.BaseResultMap">
        <result column="stage" jdbcType="TINYINT" property="stage"/>
        <result column="config_id" jdbcType="INTEGER" property="configId"/>
        <result column="expect_member_count" jdbcType="INTEGER" property="expectMemberCount"/>
        <result column="actual_member_count" jdbcType="INTEGER" property="actualMemberCount"/>
        <result column="report_id" jdbcType="INTEGER" property="reportId"/>
    </resultMap>
    <sql id="searchPcsPartyBeans">
        where op.is_deleted=0
        <if test="partyId!=null">
            and op.id=#{partyId}
        </if>
        <if test="hasReport!=null">
            <if test="hasReport">
                and par.id is not null
            </if>
            <if test="!hasReport">
                and par.id is null
            </if>
        </if>
    </sql>
    <select id="selectPcsPartyBeans" resultMap="PartyBaseResultMap" parameterType="map">
        select op.*, ${stage} as stage, ${configId} as config_id, pr.expect_member_count,
        pr.actual_member_count, par.id as report_id from ow_party_view op
        left join
        (select pr.party_id,
        sum(pr.expect_member_count) as expect_member_count,
        sum(pr.actual_member_count) as actual_member_count from pcs_recommend pr
        where pr.stage=#{stage} and pr.config_id=#{configId} and pr.party_id
        in (select party_id from pcs_admin_report where config_id=#{configId} and stage=#{stage})
        group by pr.party_id) pr on
        op.id = pr.party_id
        left join pcs_admin_report par on par.config_id=#{configId}
        and par.stage=#{stage} and par.party_id = pr.party_id
        <include refid="searchPcsPartyBeans"/>
        order by op.sort_order desc
    </select>
    <select id="countPcsPartyBeans" parameterType="map" resultType="java.lang.Integer">
        select count(*) from ow_party_view op
        left join pcs_admin_report par on par.config_id=#{configId}
        and par.stage=#{stage} and par.party_id = op.id
        <include refid="searchPcsPartyBeans"/>
    </select>

    <!--党支部推荐汇总情况-->
    <resultMap id="BranchBaseResultMap" type="persistence.common.bean.PcsBranchBean">
        <result column="id" jdbcType="INTEGER" property="id"/>
        <result column="party_id" jdbcType="INTEGER" property="partyId"/>
        <result column="branch_id" jdbcType="INTEGER" property="branchId"/>
        <result column="expect_member_count" jdbcType="INTEGER" property="expectMemberCount"/>
        <result column="actual_member_count" jdbcType="INTEGER" property="actualMemberCount"/>
        <result column="config_id" jdbcType="INTEGER" property="configId"/>
        <result column="is_finished" jdbcType="BIT" property="isFinished"/>
        <result column="stage" jdbcType="TINYINT" property="stage"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="member_count" jdbcType="INTEGER" property="memberCount"/>
    </resultMap>
    <sql id="searchPcsBranchBeans">
        where pbv.party_id = #{partyId}
        <if test="branchId!=null">
            and pbv.branch_id=#{branchId}
        </if>
    </sql>
    <select id="selectPcsBranchBeans" resultMap="BranchBaseResultMap" parameterType="map">
        select pr.id, pbv.*, ${stage} as stage, ${configId} as config_id,
        pr.expect_member_count, pr.actual_member_count, pr.is_finished from pcs_branch_view pbv
        left join (select * from pcs_recommend where stage=#{stage} and config_id=#{configId}) pr
        on pr.party_id=pbv.party_id and ((pbv.branch_id is null and pr.branch_id is null) or pbv.branch_id=pr.branch_id)
        <include refid="searchPcsBranchBeans"/>
        order by pbv.member_count desc, pbv.party_id asc, pbv.branch_id asc
    </select>
    <select id="countPcsBranchBeans" parameterType="map" resultType="java.lang.Integer">
        select count(*) from pcs_branch_view pbv
        <include refid="searchPcsBranchBeans"/>
    </select>

    <resultMap id="CandidateBaseResultMap" type="persistence.common.bean.IPcsCandidateView"
               extends="persistence.pcs.PcsCandidateViewMapper.BaseResultMap">
        <result column="party_ids" jdbcType="VARCHAR" property="partyIds"/>
        <result column="branch_ids" jdbcType="VARCHAR" property="branchIds"/>
        <result column="branch_count" jdbcType="INTEGER" property="branchCount"/>
        <result column="member_count" jdbcType="INTEGER" property="memberCount"/>
        <result column="expect_member_count" jdbcType="INTEGER" property="expectMemberCount"/>
        <result column="actual_member_count" jdbcType="INTEGER" property="actualMemberCount"/>

        <result column="chosen_id" jdbcType="INTEGER" property="chosenId"/>
    </resultMap>

    <!--分党委每个被推荐人的情况（只统计已上报）-->
    <select id="selectPartyCandidates" resultMap="CandidateBaseResultMap" parameterType="map">
        select a.user_id, a.is_from_stage, pcc.id as chosen_id, a.code, a.realname, a.title, a.ext_unit,
        a.gender,a.nation,
        a.birth,a.grow_time, a.work_time, a.pro_post, a.type, group_concat(distinct a.party_id) as party_ids,
        group_concat(a.branch_ids) as branch_ids, sum(a.branch_count) as branch_count,
        a.member_count, sum(b.expect_member_count) as expect_member_count,
        sum(b.actual_member_count) as actual_member_count from
        (
        select pcv.*, sum(pbv.member_count) member_count,
        group_concat(distinct pcv.party_id) as party_ids,
        group_concat(pcv.branch_id) as branch_ids,
        count(pcv.id) as branch_count
        from pcs_candidate_view pcv
        left join pcs_branch_view pbv on pcv.party_id= pbv.party_id and ((pbv.branch_id is null and pcv.branch_id is null) or pbv.branch_id=pcv.branch_id)
        where pcv.config_id=#{configId} and pcv.stage=#{stage} and pcv.party_id
        in (select party_id from pcs_admin_report where config_id=#{configId} and stage=#{stage})
        group by pcv.party_id, pcv.user_id, pcv.type
        ) a left join(
        select opv.id,opv.member_count, pr.expect_member_count, pr.actual_member_count from ow_party_view opv
        , (select tmp.party_id, sum(tmp.expect_member_count) as expect_member_count,
        sum(tmp.actual_member_count) as actual_member_count from pcs_recommend tmp
        where tmp.config_id=#{configId} and tmp.stage=#{stage} and tmp.party_id
        in (select party_id from pcs_admin_report where config_id=#{configId} and stage=#{stage})
        group by party_id ) pr
        where pr.party_id=opv.id and opv.is_deleted=0 ) b
        on b.id=a.party_id

        left join pcs_candidate_chosen pcc on a.config_id=pcc.config_id
        and a.stage=pcc.stage and a.type=pcc.type and a.user_id=pcc.user_id

        where a.type=#{candidateType}
        <if test="userId!=null">
            and a.user_id=#{userId}
        </if>
        <if test="isChosen">
            and pcc.id is not null
        </if>
        group by a.user_id, a.type
        order by
        <if test="isChosen">
            pcc.sort_order asc
        </if>
        <if test="isChosen==null or !isChosen">
            branch_count desc
        </if>
    </select>
    <select id="countPartyCandidates" parameterType="map" resultType="java.lang.Integer">
        select count(distinct pcv.user_id) from pcs_candidate_view pcv
        left join pcs_candidate_chosen pcc on pcv.config_id=pcc.config_id
        and pcv.stage=pcc.stage and pcv.type=pcc.type and pcv.user_id=pcc.user_id
        <where>
            <if test="userId!=null">
                and pcv.user_id=#{userId}
            </if>
            <if test="isChosen">
                and pcc.id is not null
            </if>
            and pcv.config_id=#{configId} and pcv.stage=#{stage}
            and pcv.type=#{candidateType} and pcv.party_id
            in (select party_id from pcs_admin_report where config_id=#{configId} and stage=#{stage})
        </where>
    </select>

    <!--党支部每个被推荐人的情况-->
    <sql id="searchBranchCandidates">
        <where>
            <if test="userId!=null">
                and pcv.user_id=#{userId}
            </if>
            and pcv.config_id=#{configId} and pcv.stage=#{stage} and pcv.type=#{candidateType} and
            pcv.party_id=#{partyId}
        </where>
    </sql>
    <select id="selectBranchCandidates" resultMap="CandidateBaseResultMap" parameterType="map">
        select pcv.*,
        group_concat(distinct pcv.party_id) as party_ids,
        group_concat(pcv.branch_id) as branch_ids,
        count(pcv.id) as branch_count,
        sum(ifnull(prv.member_count,0)) as member_count,
        sum(ifnull(prv.expect_member_count, 0)) as expect_member_count,
        sum(ifnull(prv.actual_member_count, 0)) as actual_member_count
        from pcs_candidate_view pcv
        left join (select pbv.*, pr.expect_member_count, pr.actual_member_count, pr.is_finished from pcs_branch_view pbv
        left join pcs_recommend pr on pr.config_id=#{configId} and pr.stage=#{stage} and pr.party_id=pbv.party_id and
        ((pbv.branch_id is null and pr.branch_id is null) or pbv.branch_id=pr.branch_id)) prv on
        prv.party_id=pcv.party_id and
        ((prv.branch_id is null and pcv.branch_id is null) or prv.branch_id=pcv.branch_id)
        <include refid="searchBranchCandidates"/>
        group by pcv.user_id
        order by branch_count desc
    </select>
    <select id="countBranchCandidates" parameterType="map" resultType="java.lang.Integer">
        select count(distinct pcv.user_id) from pcs_candidate_view pcv
        <include refid="searchBranchCandidates"/>
    </select>
</mapper>