<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="persistence.common.UpdateMapper" >
    <update id="changeMemberParty" parameterType="map" >
        update ow_member
        set
            party_id = #{partyId,jdbcType=INTEGER},
            branch_id = #{branchId,jdbcType=INTEGER}
        <if test="_parameter != null" >
            <include refid="persistence.MemberMapper.Update_By_Example_Where_Clause" />
        </if>
    </update>

    <update id="increaseMemberOutPrintCount" parameterType="map" >
        update ow_member_out
        set
        print_count = print_count + 1,
        last_print_time = #{lastPrintTime},
        last_print_user_id = #{lastPrintUserId}
        where id in
        <foreach collection="idList" item="_id"
                 index="index" open="(" close=")" separator=",">
            #{_id}
        </foreach>
    </update>
</mapper>