<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE configuration PUBLIC 
    "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<properties>
    	      <property name="pageSqlId" value=".*(select.*ByExample|select.*List|select.*Page).*$"/>
    	      <property name="dialect" value="mysql"/>
	</properties>
	 <settings>
		<setting name="useGeneratedKeys" value="true"/>
		 <!--开启延时加载  -->
		 <setting name="lazyLoadingEnabled" value="true"/>
		 <!--关闭立即加载  -->
		 <setting name="aggressiveLazyLoading" value="false"/>
	</settings>
 	<plugins>
	        <plugin interceptor="org.mybatis.extend.interceptor.PaginationInterceptor"/>
	</plugins>
	
</configuration>