<!-- Bean头部 -->
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:aop="http://www.springframework.org/schema/aop"
	   xmlns:util="http://www.springframework.org/schema/util"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd  
            http://www.springframework.org/schema/context   
            http://www.springframework.org/schema/context/spring-context.xsd  
            http://www.springframework.org/schema/aop   
            http://www.springframework.org/schema/aop/spring-aop.xsd
            http://www.springframework.org/schema/mvc   
            http://www.springframework.org/schema/mvc/spring-mvc.xsd  
            http://www.springframework.org/schema/context   
            http://www.springframework.org/schema/context/spring-context.xsd
            http://www.springframework.org/schema/util
            http://www.springframework.org/schema/util/spring-util.xsd" default-lazy-init="true">

	<context:property-placeholder location="classpath:spring.properties,classpath:spring-m.properties" ignore-unresolvable="true" order="-2"/>
	<context:component-scan base-package="controller">
		<context:include-filter type="annotation"
			expression="org.springframework.stereotype.Controller" />
		<context:exclude-filter type="annotation"
			expression="org.springframework.stereotype.Service" />

		<!--<context:exclude-filter type="regex" expression="controller.*\.crs\..*"/>-->
		<context:exclude-filter type="regex" expression="controller.*\.train\..*"/>
		<context:exclude-filter type="regex" expression="controller.*\.abroad\..*"/>
		<context:exclude-filter type="regex" expression="controller.*\.pcs\..*"/>
		<context:exclude-filter type="regex" expression="controller.*\.oa\..*"/>
		<context:exclude-filter type="regex" expression="controller.*\.pmd\..*"/>
	</context:component-scan>

	<mvc:interceptors>
		<bean class="interceptor.SessionInterceptor" />
		<!--<mvc:interceptor>
			<mvc:mapping path="/**/abroad/**"/>
			<bean class="interceptor.AbroadSessionInterceptor"/>
		</mvc:interceptor>
		<mvc:interceptor>
			<mvc:mapping path="/**/pmd/**"/>
			<bean class="interceptor.PmdSessionInterceptor"/>
		</mvc:interceptor>-->
	</mvc:interceptors>

	<!-- 激活@Controller模式-->
	<mvc:annotation-driven>
		<mvc:argument-resolvers>
			<bean class="sys.shiro.CurrentUserMethodArgumentResolver"/>
			<bean class="interceptor.CustomWebArgumentResolver"/>
			<!--<bean class="sys.spring.Base64ToFileConverter"/>-->
			<bean class="sys.spring.DateRangeConverter"/>
		</mvc:argument-resolvers>
		<mvc:message-converters>
			<ref bean="stringHttpMessageConverter" />
			<ref bean="mappingJacksonHttpMessageConverter" />
		</mvc:message-converters>
	</mvc:annotation-driven>
	<bean id="stringHttpMessageConverter"
		  class="org.springframework.http.converter.StringHttpMessageConverter">
		<constructor-arg value="UTF-8" index="0"></constructor-arg><!--避免出现乱码 -->
		<property name="supportedMediaTypes">
			<list>
				<value>text/plain;charset=UTF-8</value>
			</list>
		</property>
	</bean>
	<bean id="mappingJacksonHttpMessageConverter"
		  class="sys.jackson.CallbackMappingJackson2HttpMessageConverter">
		<property name="callbackName" value="callback" />
		<property name="prefixJson" value="false" />
		<property name="objectMapper">
			<bean class="org.springframework.http.converter.json.Jackson2ObjectMapperFactoryBean">
				<property name="serializationInclusion">
					<value type="com.fasterxml.jackson.annotation.JsonInclude.Include">NON_NULL</value>
				</property>
				<property name="featuresToEnable">
					<array>
						<!--<util:constant static-field="com.fasterxml.jackson.annotation.JsonInclude.Include$NON_NULL"/>-->
						<util:constant static-field="com.fasterxml.jackson.core.JsonGenerator.Feature.ESCAPE_NON_ASCII"/>
					</array>
				</property>
				<property name="featuresToDisable">
					<array>
						<util:constant static-field="com.fasterxml.jackson.databind.SerializationFeature.WRITE_NULL_MAP_VALUES"/>
					</array>
				</property>
			</bean>
		</property>
		<property name="supportedMediaTypes">
			<list>
				<value>application/json;charset=UTF-8</value>
				<value>text/html;charset=UTF-8</value><!-- 避免IE出现下载JSON文件的情况 -->
			</list>
		</property>
	</bean>
	
	<!--<mvc:resources mapping="/css/**" location="/css/" />
	<mvc:resources mapping="/img/**" location="/img/" />
	<mvc:resources mapping="/js/**" location="/js/" />
	<mvc:resources mapping="/static/**" location="/static/" />-->

	<!--<mvc:view-controller path="/login" view-name="login"/>-->

	<!-- 
	<bean class="org.springframework.web.servlet.mvc.annotation.DefaultAnnotationHandlerMapping">
        <property name="interceptors">
            <list>
                <bean class="interceptor.SessionInterceptor"/>
            </list>
        </property>
	</bean>
	<bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter" />
 	-->
	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix">
			<value>/WEB-INF/jsp/</value>
		</property>
		<property name="suffix">
			<value>.jsp</value>
		</property>
	</bean>

	<!-- 注册XmlViewResolver，用于iReport & JasperReports报表生成 -->
	<bean id="jasperReportResolver" class="org.springframework.web.servlet.view.XmlViewResolver">
		<property name="order">
			<value>0</value>
		</property>
		<property name="location">
			<value>WEB-INF/jasper/jasper-defs.xml</value>
		</property>
	</bean>

	<bean id="multipartResolver"
		class="sys.spring.CustomCommonsMultipartResolver">
		 <property name="resolveLazily" value="true"/>
		<!-- 设置上传文件的最大尺寸-->
		<property name="maxUploadSize" value="${upload.maxSize}"/>
	</bean>

	<aop:config proxy-target-class="true"></aop:config>
	<bean class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor">
		<property name="securityManager" ref="securityManager"/>
	</bean>
</beans>