<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="persistence.pm.IPmMapper">
    <sql id="member_selects_permits">
        <if test="addPermits">
            <if test="adminPartyIdList.size>0 and adminBranchIdList.size>0">
                and (
                party_id in
                <foreach collection="adminPartyIdList" item="partyId"
                         index="index" open="(" close=")" separator=",">
                    #{partyId}
                </foreach>
                or
                branch_id in
                <foreach collection="adminBranchIdList" item="branchId"
                         index="index" open="(" close=")" separator=",">
                    #{branchId}
                </foreach>
                )
            </if>
            <if test="adminPartyIdList.size>0 and adminBranchIdList.size==0">
                and party_id in
                <foreach collection="adminPartyIdList" item="partyId"
                         index="index" open="(" close=")" separator=",">
                    #{partyId}
                </foreach>
            </if>
            <if test="adminPartyIdList.size==0 and adminBranchIdList.size>0">
                and  branch_id in
                <foreach collection="adminBranchIdList" item="branchId"
                         index="index" open="(" close=")" separator=",">
                    #{branchId}
                </foreach>
            </if>
        </if>
    </sql>
    <select id="selectPmInitCount" parameterType="map" resultType="map">
        select sum(if(status=0 and is_back=0,1,0)) as pm_initCount,
        sum(if(is_back=1 and status=0,1,0)) as pm_backCount,
        sum(if(status=1,1,0)) as pm_passCount ,
        sum(if(status=2,1,0)) as pm_denyCount from pm_meeting m
        where m.type=#{type} and m.is_delete=0
        <include refid="member_selects_permits"/>
    </select>

    <select id="selectPmInitCount2" parameterType="map" resultType="map">
        select sum(if(status=0,1,0)) as pm_initCount,
        sum(if(status=1,1,0)) as pm_passCount ,
        sum(if(status=2,1,0)) as pm_denyCount from pm_meeting2 m
        where m.is_delete=0
        <include refid="member_selects_permits"/>
    </select>

    <select id="selectPmInitCount3" parameterType="map" resultType="map">
        select sum(if(status=0,1,0)) as pm_initCount,
        sum(if(status=1,1,0)) as pm_partyCount ,
         sum(if(status=2,1,0)) as pm_owCount,
        sum(if(status=3,1,0)) as pm_passCount from pm3_meeting m
        where m.is_delete=0
        <include refid="member_selects_permits"/>
    </select>

    <select id="selectPmMeetingStat" parameterType="map" resultType="persistence.pm.common.PmMeetingStat">
        select pm.id,pm.year,pm.quarter,pm.month,pm.party_id partyId,pm.branch_id branchId,
        count(case when pm.type='1' then 1 end) count1,count(case when pm.type='2' then 1 end) count2,count(case when pm.type='3' then 1 end) count3,
        count(case when pm.type='4' then 1 end) count4,count(case when pm.type='5' then 1 end) count5,count(case when pm.type='6' then 1 end) count6,count(case when pm.type='7' then 1 end) count7 from pm_meeting pm
        where status = #{status}
        <if test="year!=null">
            and year =#{year}
        </if>
        <if test="quarter!=null">
            and quarter =#{quarter}
        </if>
        <if test="month!=null">
            and month =#{month}
        </if>
        <if test="partyId!=null">
            and party_id =#{partyId}
        </if>
        <if test="branchId!=null">
            and branch_id =#{branchId}
        </if>
        <include refid="member_selects_permits"/>

        group by year,<if test="display!=1">quarter,<if test="display==3">month,</if></if>party_id,branch_id;

    </select>

    <select id="countPmMeetingStat" parameterType="map" resultType="java.lang.Integer" >
        select count(*) from(
        select count(*) from pm_meeting pm
        where status = #{status}
        <if test="year!=null">
            and year =#{year}
        </if>
        <if test="quarter!=null">
            and quarter =#{quarter}
        </if>
        <if test="month!=null">
            and month =#{month}
        </if>
        <if test="partyId!=null">
            and party_id =#{partyId}
        </if>
        <if test="branchId!=null">
            and branch_id =#{branchId}
        </if>
        <include refid="member_selects_permits"/>

        group by year,<if test="display!=1">quarter,<if test="display==3">month,</if></if>party_id,branch_id
        ) pm1;
    </select>

    <select id="selectPmMeeting2Stat" parameterType="map" resultType="persistence.pm.common.PmMeeting2Stat">
        select pm2.id,pm2.year,pm2.quarter,pm2.month,pm2.party_id partyId,pm2.branch_id branchId,
        count(case when pm2.type1='1' then 1 end) count1,count(case when pm2.type1='2' then 1 end) count2,count(case when pm2.type1='3' then 1 end) count3,
        count(case when pm2.type1='4' then 1 end) count4,count(case when pm2.type1='5' or pm2.type2='5' then 1 end) count5 from pm_meeting2 pm2
        where status = #{status}
            <if test="year!=null">
                and year =#{year}
            </if>
            <if test="quarter!=null">
                and quarter =#{quarter}
            </if>
            <if test="month!=null">
                and month =#{month}
            </if>
            <if test="partyId!=null">
                and party_id =#{partyId}
            </if>
            <if test="branchId!=null">
                and branch_id =#{branchId}
            </if>
            <include refid="member_selects_permits"/>

         group by year,quarter,<if test="display==2">month,</if>party_id,branch_id;

    </select>

    <select id="countPmMeeting2Stat" parameterType="map" resultType="java.lang.Integer" >
        select count(*) from(
        select count(*) from pm_meeting2 pm2
        where status = #{status}
            <if test="year!=null">
                and year =#{year}
            </if>
            <if test="quarter!=null">
                and quarter =#{quarter}
            </if>
            <if test="month!=null">
                and month =#{month}
            </if>
            <if test="partyId!=null">
                and party_id =#{partyId}
            </if>
            <if test="branchId!=null">
                and branch_id =#{branchId}
            </if>
            <include refid="member_selects_permits"/>

        group by year,quarter,<if test="display==2">month,</if>party_id,branch_id
        ) pm;
    </select>

    <select id="selectPm3MeetingStat" parameterType="map" resultType="persistence.pm.common.PmMeetingStat">
        select pm.id,pm.year,pm.quarter,pm.month,pm.party_id partyId,pm.branch_id branchId,
        count(case when pm.type='1' then 1 end) count1,count(case when pm.type='2' then 1 end) count2,count(case when pm.type='3' then 1 end) count3,
        count(case when pm.type='4' then 1 end) count4,count(case when pm.type='5' then 1 end) count5,count(case when pm.type='6' then 1 end) count6 from pm3_meeting pm
        where status = #{status} and is_delete=0
        <if test="year!=null">
            and year =#{year}
        </if>
        <if test="quarter!=null">
            and quarter =#{quarter}
        </if>
        <if test="month!=null">
            and month =#{month}
        </if>
        <if test="partyId!=null">
            and party_id =#{partyId}
        </if>
        <if test="branchId!=null">
            and branch_id =#{branchId}
        </if>
        <include refid="member_selects_permits"/>

        group by year,<if test="display==1">month,</if> party_id,branch_id;

    </select>

    <select id="countPm3MeetingStat" parameterType="map" resultType="java.lang.Integer" >
        select count(*) from(
        select count(*) from pm3_meeting pm
        where status = #{status} and is_delete=0
        <if test="year!=null">
            and year =#{year}
        </if>
        <if test="quarter!=null">
            and quarter =#{quarter}
        </if>
        <if test="month!=null">
            and month =#{month}
        </if>
        <if test="partyId!=null">
            and party_id =#{partyId}
        </if>
        <if test="branchId!=null">
            and branch_id =#{branchId}
        </if>
        <include refid="member_selects_permits"/>

        group by year,<if test="display==1">month,</if> party_id,branch_id
        ) pm1;
    </select>
</mapper>