<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="persistence.pm.PmMeetingMapper">
  <resultMap id="BaseResultMap" type="domain.pm.PmMeeting">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="party_id" jdbcType="INTEGER" property="partyId" />
    <result column="branch_id" jdbcType="INTEGER" property="branchId" />
    <result column="type" jdbcType="TINYINT" property="type" />
    <result column="plan_date" jdbcType="TIMESTAMP" property="planDate" />
    <result column="date" jdbcType="TIMESTAMP" property="date" />
    <result column="year" jdbcType="INTEGER" property="year" />
    <result column="quarter" jdbcType="TINYINT" property="quarter" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="issue" jdbcType="VARCHAR" property="issue" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="presenter" jdbcType="INTEGER" property="presenter" />
    <result column="recorder" jdbcType="INTEGER" property="recorder" />
    <result column="attends" jdbcType="VARCHAR" property="attends" />
    <result column="absents" jdbcType="VARCHAR" property="absents" />
    <result column="Invitee" jdbcType="VARCHAR" property="invitee" />
    <result column="due_num" jdbcType="INTEGER" property="dueNum" />
    <result column="attend_num" jdbcType="INTEGER" property="attendNum" />
    <result column="absent_num" jdbcType="INTEGER" property="absentNum" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="is_public" jdbcType="BIT" property="isPublic" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="is_back" jdbcType="BIT" property="isBack" />
    <result column="reason" jdbcType="VARCHAR" property="reason" />
    <result column="is_delete" jdbcType="BIT" property="isDelete" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="domain.pm.PmMeeting">
    <result column="decision" jdbcType="LONGVARCHAR" property="decision" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, party_id, branch_id, type, plan_date, date, year, quarter, name, issue, address, 
    presenter, recorder, attends, absents, Invitee, due_num, attend_num, absent_num, 
    content, is_public, status, is_back, reason, is_delete
  </sql>
  <sql id="Blob_Column_List">
    decision
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="domain.pm.PmMeetingExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from pm_meeting
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="domain.pm.PmMeetingExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from pm_meeting
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from pm_meeting
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from pm_meeting
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="domain.pm.PmMeetingExample">
    delete from pm_meeting
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="domain.pm.PmMeeting">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into pm_meeting (party_id, branch_id, type, 
      plan_date, date, year, 
      quarter, name, issue, 
      address, presenter, recorder, 
      attends, absents, Invitee, 
      due_num, attend_num, absent_num, 
      content, is_public, status, 
      is_back, reason, is_delete, decision
      )
    values (#{partyId,jdbcType=INTEGER}, #{branchId,jdbcType=INTEGER}, #{type,jdbcType=TINYINT}, 
      #{planDate,jdbcType=TIMESTAMP}, #{date,jdbcType=TIMESTAMP}, #{year,jdbcType=INTEGER}, 
      #{quarter,jdbcType=TINYINT}, #{name,jdbcType=VARCHAR}, #{issue,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR}, #{presenter,jdbcType=INTEGER}, #{recorder,jdbcType=INTEGER}, 
      #{attends,jdbcType=VARCHAR}, #{absents,jdbcType=VARCHAR}, #{invitee,jdbcType=VARCHAR}, 
      #{dueNum,jdbcType=INTEGER}, #{attendNum,jdbcType=INTEGER}, #{absentNum,jdbcType=INTEGER}, 
      #{content,jdbcType=VARCHAR}, #{isPublic,jdbcType=BIT}, #{status,jdbcType=TINYINT}, 
      #{isBack,jdbcType=BIT}, #{reason,jdbcType=VARCHAR}, #{isDelete,jdbcType=BIT}, #{decision,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="domain.pm.PmMeeting">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into pm_meeting
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="partyId != null">
        party_id,
      </if>
      <if test="branchId != null">
        branch_id,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="planDate != null">
        plan_date,
      </if>
      <if test="date != null">
        date,
      </if>
      <if test="year != null">
        year,
      </if>
      <if test="quarter != null">
        quarter,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="issue != null">
        issue,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="presenter != null">
        presenter,
      </if>
      <if test="recorder != null">
        recorder,
      </if>
      <if test="attends != null">
        attends,
      </if>
      <if test="absents != null">
        absents,
      </if>
      <if test="invitee != null">
        Invitee,
      </if>
      <if test="dueNum != null">
        due_num,
      </if>
      <if test="attendNum != null">
        attend_num,
      </if>
      <if test="absentNum != null">
        absent_num,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="isPublic != null">
        is_public,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="isBack != null">
        is_back,
      </if>
      <if test="reason != null">
        reason,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
      <if test="decision != null">
        decision,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="partyId != null">
        #{partyId,jdbcType=INTEGER},
      </if>
      <if test="branchId != null">
        #{branchId,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=TINYINT},
      </if>
      <if test="planDate != null">
        #{planDate,jdbcType=TIMESTAMP},
      </if>
      <if test="date != null">
        #{date,jdbcType=TIMESTAMP},
      </if>
      <if test="year != null">
        #{year,jdbcType=INTEGER},
      </if>
      <if test="quarter != null">
        #{quarter,jdbcType=TINYINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="issue != null">
        #{issue,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="presenter != null">
        #{presenter,jdbcType=INTEGER},
      </if>
      <if test="recorder != null">
        #{recorder,jdbcType=INTEGER},
      </if>
      <if test="attends != null">
        #{attends,jdbcType=VARCHAR},
      </if>
      <if test="absents != null">
        #{absents,jdbcType=VARCHAR},
      </if>
      <if test="invitee != null">
        #{invitee,jdbcType=VARCHAR},
      </if>
      <if test="dueNum != null">
        #{dueNum,jdbcType=INTEGER},
      </if>
      <if test="attendNum != null">
        #{attendNum,jdbcType=INTEGER},
      </if>
      <if test="absentNum != null">
        #{absentNum,jdbcType=INTEGER},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="isPublic != null">
        #{isPublic,jdbcType=BIT},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="isBack != null">
        #{isBack,jdbcType=BIT},
      </if>
      <if test="reason != null">
        #{reason,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=BIT},
      </if>
      <if test="decision != null">
        #{decision,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="domain.pm.PmMeetingExample" resultType="java.lang.Long">
    select count(*) from pm_meeting
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update pm_meeting
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.partyId != null">
        party_id = #{record.partyId,jdbcType=INTEGER},
      </if>
      <if test="record.branchId != null">
        branch_id = #{record.branchId,jdbcType=INTEGER},
      </if>
      <if test="record.type != null">
        type = #{record.type,jdbcType=TINYINT},
      </if>
      <if test="record.planDate != null">
        plan_date = #{record.planDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.date != null">
        date = #{record.date,jdbcType=TIMESTAMP},
      </if>
      <if test="record.year != null">
        year = #{record.year,jdbcType=INTEGER},
      </if>
      <if test="record.quarter != null">
        quarter = #{record.quarter,jdbcType=TINYINT},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.issue != null">
        issue = #{record.issue,jdbcType=VARCHAR},
      </if>
      <if test="record.address != null">
        address = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.presenter != null">
        presenter = #{record.presenter,jdbcType=INTEGER},
      </if>
      <if test="record.recorder != null">
        recorder = #{record.recorder,jdbcType=INTEGER},
      </if>
      <if test="record.attends != null">
        attends = #{record.attends,jdbcType=VARCHAR},
      </if>
      <if test="record.absents != null">
        absents = #{record.absents,jdbcType=VARCHAR},
      </if>
      <if test="record.invitee != null">
        Invitee = #{record.invitee,jdbcType=VARCHAR},
      </if>
      <if test="record.dueNum != null">
        due_num = #{record.dueNum,jdbcType=INTEGER},
      </if>
      <if test="record.attendNum != null">
        attend_num = #{record.attendNum,jdbcType=INTEGER},
      </if>
      <if test="record.absentNum != null">
        absent_num = #{record.absentNum,jdbcType=INTEGER},
      </if>
      <if test="record.content != null">
        content = #{record.content,jdbcType=VARCHAR},
      </if>
      <if test="record.isPublic != null">
        is_public = #{record.isPublic,jdbcType=BIT},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=TINYINT},
      </if>
      <if test="record.isBack != null">
        is_back = #{record.isBack,jdbcType=BIT},
      </if>
      <if test="record.reason != null">
        reason = #{record.reason,jdbcType=VARCHAR},
      </if>
      <if test="record.isDelete != null">
        is_delete = #{record.isDelete,jdbcType=BIT},
      </if>
      <if test="record.decision != null">
        decision = #{record.decision,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update pm_meeting
    set id = #{record.id,jdbcType=INTEGER},
      party_id = #{record.partyId,jdbcType=INTEGER},
      branch_id = #{record.branchId,jdbcType=INTEGER},
      type = #{record.type,jdbcType=TINYINT},
      plan_date = #{record.planDate,jdbcType=TIMESTAMP},
      date = #{record.date,jdbcType=TIMESTAMP},
      year = #{record.year,jdbcType=INTEGER},
      quarter = #{record.quarter,jdbcType=TINYINT},
      name = #{record.name,jdbcType=VARCHAR},
      issue = #{record.issue,jdbcType=VARCHAR},
      address = #{record.address,jdbcType=VARCHAR},
      presenter = #{record.presenter,jdbcType=INTEGER},
      recorder = #{record.recorder,jdbcType=INTEGER},
      attends = #{record.attends,jdbcType=VARCHAR},
      absents = #{record.absents,jdbcType=VARCHAR},
      Invitee = #{record.invitee,jdbcType=VARCHAR},
      due_num = #{record.dueNum,jdbcType=INTEGER},
      attend_num = #{record.attendNum,jdbcType=INTEGER},
      absent_num = #{record.absentNum,jdbcType=INTEGER},
      content = #{record.content,jdbcType=VARCHAR},
      is_public = #{record.isPublic,jdbcType=BIT},
      status = #{record.status,jdbcType=TINYINT},
      is_back = #{record.isBack,jdbcType=BIT},
      reason = #{record.reason,jdbcType=VARCHAR},
      is_delete = #{record.isDelete,jdbcType=BIT},
      decision = #{record.decision,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update pm_meeting
    set id = #{record.id,jdbcType=INTEGER},
      party_id = #{record.partyId,jdbcType=INTEGER},
      branch_id = #{record.branchId,jdbcType=INTEGER},
      type = #{record.type,jdbcType=TINYINT},
      plan_date = #{record.planDate,jdbcType=TIMESTAMP},
      date = #{record.date,jdbcType=TIMESTAMP},
      year = #{record.year,jdbcType=INTEGER},
      quarter = #{record.quarter,jdbcType=TINYINT},
      name = #{record.name,jdbcType=VARCHAR},
      issue = #{record.issue,jdbcType=VARCHAR},
      address = #{record.address,jdbcType=VARCHAR},
      presenter = #{record.presenter,jdbcType=INTEGER},
      recorder = #{record.recorder,jdbcType=INTEGER},
      attends = #{record.attends,jdbcType=VARCHAR},
      absents = #{record.absents,jdbcType=VARCHAR},
      Invitee = #{record.invitee,jdbcType=VARCHAR},
      due_num = #{record.dueNum,jdbcType=INTEGER},
      attend_num = #{record.attendNum,jdbcType=INTEGER},
      absent_num = #{record.absentNum,jdbcType=INTEGER},
      content = #{record.content,jdbcType=VARCHAR},
      is_public = #{record.isPublic,jdbcType=BIT},
      status = #{record.status,jdbcType=TINYINT},
      is_back = #{record.isBack,jdbcType=BIT},
      reason = #{record.reason,jdbcType=VARCHAR},
      is_delete = #{record.isDelete,jdbcType=BIT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="domain.pm.PmMeeting">
    update pm_meeting
    <set>
      <if test="partyId != null">
        party_id = #{partyId,jdbcType=INTEGER},
      </if>
      <if test="branchId != null">
        branch_id = #{branchId,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=TINYINT},
      </if>
      <if test="planDate != null">
        plan_date = #{planDate,jdbcType=TIMESTAMP},
      </if>
      <if test="date != null">
        date = #{date,jdbcType=TIMESTAMP},
      </if>
      <if test="year != null">
        year = #{year,jdbcType=INTEGER},
      </if>
      <if test="quarter != null">
        quarter = #{quarter,jdbcType=TINYINT},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="issue != null">
        issue = #{issue,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="presenter != null">
        presenter = #{presenter,jdbcType=INTEGER},
      </if>
      <if test="recorder != null">
        recorder = #{recorder,jdbcType=INTEGER},
      </if>
      <if test="attends != null">
        attends = #{attends,jdbcType=VARCHAR},
      </if>
      <if test="absents != null">
        absents = #{absents,jdbcType=VARCHAR},
      </if>
      <if test="invitee != null">
        Invitee = #{invitee,jdbcType=VARCHAR},
      </if>
      <if test="dueNum != null">
        due_num = #{dueNum,jdbcType=INTEGER},
      </if>
      <if test="attendNum != null">
        attend_num = #{attendNum,jdbcType=INTEGER},
      </if>
      <if test="absentNum != null">
        absent_num = #{absentNum,jdbcType=INTEGER},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="isPublic != null">
        is_public = #{isPublic,jdbcType=BIT},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="isBack != null">
        is_back = #{isBack,jdbcType=BIT},
      </if>
      <if test="reason != null">
        reason = #{reason,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=BIT},
      </if>
      <if test="decision != null">
        decision = #{decision,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="domain.pm.PmMeeting">
    update pm_meeting
    set party_id = #{partyId,jdbcType=INTEGER},
      branch_id = #{branchId,jdbcType=INTEGER},
      type = #{type,jdbcType=TINYINT},
      plan_date = #{planDate,jdbcType=TIMESTAMP},
      date = #{date,jdbcType=TIMESTAMP},
      year = #{year,jdbcType=INTEGER},
      quarter = #{quarter,jdbcType=TINYINT},
      name = #{name,jdbcType=VARCHAR},
      issue = #{issue,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      presenter = #{presenter,jdbcType=INTEGER},
      recorder = #{recorder,jdbcType=INTEGER},
      attends = #{attends,jdbcType=VARCHAR},
      absents = #{absents,jdbcType=VARCHAR},
      Invitee = #{invitee,jdbcType=VARCHAR},
      due_num = #{dueNum,jdbcType=INTEGER},
      attend_num = #{attendNum,jdbcType=INTEGER},
      absent_num = #{absentNum,jdbcType=INTEGER},
      content = #{content,jdbcType=VARCHAR},
      is_public = #{isPublic,jdbcType=BIT},
      status = #{status,jdbcType=TINYINT},
      is_back = #{isBack,jdbcType=BIT},
      reason = #{reason,jdbcType=VARCHAR},
      is_delete = #{isDelete,jdbcType=BIT},
      decision = #{decision,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="domain.pm.PmMeeting">
    update pm_meeting
    set party_id = #{partyId,jdbcType=INTEGER},
      branch_id = #{branchId,jdbcType=INTEGER},
      type = #{type,jdbcType=TINYINT},
      plan_date = #{planDate,jdbcType=TIMESTAMP},
      date = #{date,jdbcType=TIMESTAMP},
      year = #{year,jdbcType=INTEGER},
      quarter = #{quarter,jdbcType=TINYINT},
      name = #{name,jdbcType=VARCHAR},
      issue = #{issue,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      presenter = #{presenter,jdbcType=INTEGER},
      recorder = #{recorder,jdbcType=INTEGER},
      attends = #{attends,jdbcType=VARCHAR},
      absents = #{absents,jdbcType=VARCHAR},
      Invitee = #{invitee,jdbcType=VARCHAR},
      due_num = #{dueNum,jdbcType=INTEGER},
      attend_num = #{attendNum,jdbcType=INTEGER},
      absent_num = #{absentNum,jdbcType=INTEGER},
      content = #{content,jdbcType=VARCHAR},
      is_public = #{isPublic,jdbcType=BIT},
      status = #{status,jdbcType=TINYINT},
      is_back = #{isBack,jdbcType=BIT},
      reason = #{reason,jdbcType=VARCHAR},
      is_delete = #{isDelete,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByExampleWithBLOBsWithRowbounds" parameterType="domain.pm.PmMeetingExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from pm_meeting
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExampleWithRowbounds" parameterType="domain.pm.PmMeetingExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from pm_meeting
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
</mapper>