<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="persistence.crs.CrsCandidateViewMapper">
  <resultMap id="BaseResultMap" type="domain.crs.CrsCandidateView">
    <result column="candidate_id" jdbcType="INTEGER" property="candidateId" />
    <result column="is_first" jdbcType="BIT" property="isFirst" />
    <result column="expert_count" jdbcType="BIGINT" property="expertCount" />
    <result column="crs_post_id" jdbcType="INTEGER" property="crsPostId" />
    <result column="crs_post_type" jdbcType="TINYINT" property="crsPostType" />
    <result column="crs_post_year" jdbcType="INTEGER" property="crsPostYear" />
    <result column="crs_post_seq" jdbcType="INTEGER" property="crsPostSeq" />
    <result column="crs_post_name" jdbcType="VARCHAR" property="crsPostName" />
    <result column="crs_post_job" jdbcType="VARCHAR" property="crsPostJob" />
    <result column="crs_post_status" jdbcType="TINYINT" property="crsPostStatus" />
    <result column="applicant_id" jdbcType="INTEGER" property="applicantId" />
    <result column="recommend_ow" jdbcType="VARCHAR" property="recommendOw" />
    <result column="recommend_cadre" jdbcType="VARCHAR" property="recommendCadre" />
    <result column="recommend_crowd" jdbcType="VARCHAR" property="recommendCrowd" />
    <result column="recommend_pdf" jdbcType="VARCHAR" property="recommendPdf" />
    <result column="recommend_first_count" jdbcType="INTEGER" property="recommendFirstCount" />
    <result column="recommend_second_count" jdbcType="INTEGER" property="recommendSecondCount" />
    <result column="is_recommend" jdbcType="BIT" property="isRecommend" />
    <result column="ppt_name" jdbcType="VARCHAR" property="pptName" />
    <result column="ppt" jdbcType="VARCHAR" property="ppt" />
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="type" jdbcType="TINYINT" property="type" />
    <result column="is_dep" jdbcType="BIT" property="isDep" />
    <result column="has_crp" jdbcType="BIT" property="hasCrp" />
    <result column="is_double" jdbcType="BIT" property="isDouble" />
    <result column="double_unit_ids" jdbcType="VARCHAR" property="doubleUnitIds" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="dispatch_cadre_id" jdbcType="INTEGER" property="dispatchCadreId" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="sort_order" jdbcType="INTEGER" property="sortOrder" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="unit_id" jdbcType="INTEGER" property="unitId" />
    <result column="admin_level" jdbcType="INTEGER" property="adminLevel" />
    <result column="post_type" jdbcType="INTEGER" property="postType" />
    <result column="post" jdbcType="VARCHAR" property="post" />
    <result column="is_committee_member" jdbcType="BOOLEAN" property="isCommitteeMember" />
    <result column="msg_title" jdbcType="VARCHAR" property="msgTitle" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="home_phone" jdbcType="VARCHAR" property="homePhone" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="realname" jdbcType="VARCHAR" property="realname" />
    <result column="gender" jdbcType="TINYINT" property="gender" />
    <result column="nation" jdbcType="VARCHAR" property="nation" />
    <result column="native_place" jdbcType="VARCHAR" property="nativePlace" />
    <result column="idcard" jdbcType="VARCHAR" property="idcard" />
    <result column="birth" jdbcType="DATE" property="birth" />
    <result column="party_id" jdbcType="INTEGER" property="partyId" />
    <result column="branch_id" jdbcType="INTEGER" property="branchId" />
    <result column="member_status" jdbcType="TINYINT" property="memberStatus" />
    <result column="dp_id" jdbcType="INTEGER" property="dpId" />
    <result column="dp_type_id" jdbcType="INTEGER" property="dpTypeId" />
    <result column="dp_post" jdbcType="VARCHAR" property="dpPost" />
    <result column="dp_grow_time" jdbcType="DATE" property="dpGrowTime" />
    <result column="dp_remark" jdbcType="VARCHAR" property="dpRemark" />
    <result column="ow_id" jdbcType="INTEGER" property="owId" />
    <result column="is_ow" jdbcType="BOOLEAN" property="isOw" />
    <result column="ow_grow_time" jdbcType="DATE" property="owGrowTime" />
    <result column="ow_remark" jdbcType="VARCHAR" property="owRemark" />
    <result column="edu_id" jdbcType="INTEGER" property="eduId" />
    <result column="finish_time" jdbcType="DATE" property="finishTime" />
    <result column="learn_style" jdbcType="INTEGER" property="learnStyle" />
    <result column="school" jdbcType="VARCHAR" property="school" />
    <result column="dep" jdbcType="VARCHAR" property="dep" />
    <result column="school_type" jdbcType="TINYINT" property="schoolType" />
    <result column="major" jdbcType="VARCHAR" property="major" />
    <result column="degree" jdbcType="VARCHAR" property="degree" />
    <result column="post_class" jdbcType="VARCHAR" property="postClass" />
    <result column="sub_post_class" jdbcType="VARCHAR" property="subPostClass" />
    <result column="main_post_level" jdbcType="VARCHAR" property="mainPostLevel" />
    <result column="pro_post_time" jdbcType="DATE" property="proPostTime" />
    <result column="pro_post_level" jdbcType="VARCHAR" property="proPostLevel" />
    <result column="pro_post_level_time" jdbcType="DATE" property="proPostLevelTime" />
    <result column="pro_post" jdbcType="VARCHAR" property="proPost" />
    <result column="manage_level" jdbcType="VARCHAR" property="manageLevel" />
    <result column="manage_level_time" jdbcType="DATE" property="manageLevelTime" />
    <result column="arrive_time" jdbcType="DATE" property="arriveTime" />
    <result column="work_time" jdbcType="DATE" property="workTime" />
    <result column="work_start_time" jdbcType="DATE" property="workStartTime" />
    <result column="talent_title" jdbcType="VARCHAR" property="talentTitle" />
    <result column="main_cadre_post_id" jdbcType="INTEGER" property="mainCadrePostId" />
    <result column="is_principal" jdbcType="BIT" property="isPrincipal" />
    <result column="lp_dispatch_id" jdbcType="INTEGER" property="lpDispatchId" />
    <result column="lp_work_time" jdbcType="DATE" property="lpWorkTime" />
    <result column="np_dispatch_id" jdbcType="INTEGER" property="npDispatchId" />
    <result column="np_work_time" jdbcType="DATE" property="npWorkTime" />
    <result column="leader_type" jdbcType="TINYINT" property="leaderType" />
    <result column="cadre_post_year" jdbcType="BIGINT" property="cadrePostYear" />
    <result column="admin_level_year" jdbcType="BIGINT" property="adminLevelYear" />
    <result column="s_dispatch_id" jdbcType="INTEGER" property="sDispatchId" />
    <result column="s_work_time" jdbcType="DATE" property="sWorkTime" />
    <result column="e_dispatch_id" jdbcType="INTEGER" property="eDispatchId" />
    <result column="e_work_time" jdbcType="DATE" property="eWorkTime" />
    <result column="admin_level_code" jdbcType="VARCHAR" property="adminLevelCode" />
    <result column="admin_level_name" jdbcType="VARCHAR" property="adminLevelName" />
    <result column="max_ce_edu_attr" jdbcType="VARCHAR" property="maxCeEduAttr" />
    <result column="max_ce_edu_code" jdbcType="VARCHAR" property="maxCeEduCode" />
    <result column="max_ce_edu_name" jdbcType="VARCHAR" property="maxCeEduName" />
    <result column="unit_name" jdbcType="VARCHAR" property="unitName" />
    <result column="unit_type_id" jdbcType="INTEGER" property="unitTypeId" />
    <result column="unit_type_code" jdbcType="VARCHAR" property="unitTypeCode" />
    <result column="unit_type_name" jdbcType="VARCHAR" property="unitTypeName" />
    <result column="unit_type_group" jdbcType="VARCHAR" property="unitTypeGroup" />
    <result column="verify_birth" jdbcType="DATE" property="verifyBirth" />
    <result column="verify_work_time" jdbcType="DATE" property="verifyWorkTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    candidate_id, is_first, expert_count, crs_post_id, crs_post_type, crs_post_year, 
    crs_post_seq, crs_post_name, crs_post_job, crs_post_status, applicant_id, recommend_ow, 
    recommend_cadre, recommend_crowd, recommend_pdf, recommend_first_count, recommend_second_count, 
    is_recommend, ppt_name, ppt, id, user_id, type, is_dep, has_crp, is_double, double_unit_ids, 
    state, title, dispatch_cadre_id, remark, sort_order, status, unit_id, admin_level, 
    post_type, post, is_committee_member, msg_title, mobile, phone, home_phone, email, 
    code, realname, gender, nation, native_place, idcard, birth, party_id, branch_id, 
    member_status, dp_id, dp_type_id, dp_post, dp_grow_time, dp_remark, ow_id, is_ow, 
    ow_grow_time, ow_remark, edu_id, finish_time, learn_style, school, dep, school_type, 
    major, degree, post_class, sub_post_class, main_post_level, pro_post_time, pro_post_level, 
    pro_post_level_time, pro_post, manage_level, manage_level_time, arrive_time, work_time, 
    work_start_time, talent_title, main_cadre_post_id, is_principal, lp_dispatch_id, 
    lp_work_time, np_dispatch_id, np_work_time, leader_type, cadre_post_year, admin_level_year, 
    s_dispatch_id, s_work_time, e_dispatch_id, e_work_time, admin_level_code, admin_level_name, 
    max_ce_edu_attr, max_ce_edu_code, max_ce_edu_name, unit_name, unit_type_id, unit_type_code, 
    unit_type_name, unit_type_group, verify_birth, verify_work_time
  </sql>
  <select id="selectByExample" parameterType="domain.crs.CrsCandidateViewExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from crs_candidate_view
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="countByExample" parameterType="domain.crs.CrsCandidateViewExample" resultType="java.lang.Long">
    select count(*) from crs_candidate_view
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <select id="selectByExampleWithRowbounds" parameterType="domain.crs.CrsCandidateViewExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from crs_candidate_view
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
</mapper>