<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="persistence.dr.common.IDrMapper">
    <sql id="selectUserList_where">
        <where>
            u.id=i.user_id
            <if test="status != null">
                and i.status = #{status}
            </if>
            <if test="search != null">
                and (u.username like #{search} or u.realname like #{search} or u.code like #{search})
            </if>
        </where>
    </sql>
    <select id="selectMemberList" resultMap="persistence.dr.DrMemberMapper.BaseResultMap" parameterType="map">
        select i.* from dr_member i, sys_user_view u
        <include refid="selectUserList_where"/>
        order by i.status asc, i.sort_order desc
    </select>
    <select id="countMemberList" parameterType="map" resultType="java.lang.Integer">
        select count(i.id) from dr_member i, sys_user_view u
        <include refid="selectUserList_where"/>
    </select>

    <insert id="batchInsert_result" parameterType="map">
        insert into dr_online_result (id, online_id, post_id,
        candidate_id, inspector_id, inspector_type_id,
        ins_option, remark)
        VALUES
        <foreach collection="records" item="item" index="index" separator=",">
            (#{item.id,jdbcType=INTEGER}, #{item.onlineId,jdbcType=INTEGER}, #{item.postId,jdbcType=INTEGER},
            #{item.candidateId,jdbcType=INTEGER}, #{item.inspectorId,jdbcType=INTEGER},
            #{item.inspectorTypeId,jdbcType=INTEGER},
            #{item.insOption,jdbcType=BIT}, #{item.remark,jdbcType=VARCHAR})
        </foreach>
    </insert>
    <!--参评人过滤-->
    <select id="selectInspectorFilter" parameterType="map" resultMap="persistence.dr.DrOnlineResultViewMapper.BaseResultMap">
        SELECT dor1.*,doc.user_id,doil1.pub_counts,doil1.finish_counts
        FROM (SELECT dor.online_id,dor.post_id,dor.candidate_id,sum(if(dor.ins_option=1, 1, 0)) AS option_sum
        FROM dr_online_result dor
        <where>
            <if test="onlineId != null">
                and dor.online_id = #{onlineId}
            </if>
            <if test="typeIds != null and typeIds.size > 0">
                and dor.inspector_type_id in
                <foreach collection="typeIds" open="(" close = ")" item = "typeId" separator=",">
                    #{typeId}
                </foreach>
            </if>
        </where>
        GROUP BY dor.post_id,dor.candidate_id) dor1
        LEFT JOIN (SELECT doil.online_id,SUM(doil.pub_count) AS pub_counts,SUM(doil.finish_count)AS finish_counts
        FROM dr_online_inspector_log doil
        GROUP BY doil.online_id) doil1 ON doil1.online_id=dor1.online_id
        LEFT JOIN dr_online_candidate doc ON doc.id=dor1.candidate_id
        ORDER BY dor1.post_id desc
    </select>

</mapper>