<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="persistence.member.common.StatMemberMapper">
    <sql id="Where_ow">
        <if test="partyId!=null">
            and party_id =#{partyId}
        </if>
        <if test="branchId!=null">
            and branch_id =#{branchId}
        </if>
    </sql>
    <!-- 统计党员分布情况（预备、正式） -->
    <select id="member_groupByPoliticalStatus" resultType="bean.StatByteBean" parameterType="map">
        select count(*) as num, political_status as groupBy from ow_member where status=1
        <include refid="Where_ow"/> group by groupBy
    </select>

    <!-- 统计党员分布情况（预备、正式） -->
    <select id="member_groupByType" resultType="bean.StatByteBean" parameterType="map">
        select count(*) as num, type as groupBy from ow_member where status=1
        <if test="politicalStatus!=null">
            and political_status =#{politicalStatus}
        </if>
        <include refid="Where_ow"/> group by groupBy
    </select>

    <!-- 统计教职工党员年龄分布情况 -->
    <select id="member_teatcherGroupByBirth" resultType="bean.StatIntBean" parameterType="map">
        select count(*) as num, TIMESTAMPDIFF(YEAR, birth,now()) as groupBy from ow_member_view where type=1 and status=1
        <include refid="Where_ow"/> group by groupBy
    </select>
    <!-- 统计学生党员年龄分布情况 -->
    <select id="member_studentGroupByBirth" resultType="bean.StatIntBean" parameterType="map">
        select count(*) as num, TIMESTAMPDIFF(YEAR, birth,now()) as groupBy from ow_member_view where type=2 and status=1
        <include refid="Where_ow"/> group by groupBy
    </select>
    <!-- 统计党员发展各阶段情况-->
    <select id="memberApply_groupByStage" resultType="bean.StatByteBean" parameterType="map">
        select count(*) as num, stage as groupBy from ow_member_apply_view where member_status=0 and stage>-1
        <if test="stage!=null">
            and stage =#{stage}
        </if>
        <include refid="Where_ow"/> group by groupBy
    </select>
    <!-- 统计排在前十的分党委党员人数-->
    <select id="memberApply_groupByPartyId" resultType="persistence.member.common.MemberStatByPartyBean" parameterType="map">
      select count(*) as num, party_id as partyId, sum(if(type=1, 1,0)) as teacher, sum(if(type=2, 1,0)) as student
      from ow_member where status=1 group by party_id order by num desc limit #{top}
    </select>

    <!-- 统计分党委下各党支部党员人数-->
    <select id="memberApply_groupByBranchId" resultType="persistence.member.common.MemberStatByBranchBean" parameterType="map">
        select count(*) as num, branch_id as branchId, sum(if(type=1, 1,0)) as teacher, sum(if(type=2, 1,0))as student
        from ow_member where status=1 and party_id=#{partyId} group by branch_id;
    </select>

    <!-- 统计党员性别分布情况 -->
    <select id="member_countGroupByGender" resultType="bean.StatIntBean" parameterType="map">
        select gender as groupBy,count(*) as num from ow_member_view where status=1
        <include refid="Where_ow"/> group by gender order by num desc;
    </select>

    <!-- 统计支部类型 -->
    <select id="getBranchTypes" resultType="java.lang.String" parameterType="map">
        select types from ow_branch where is_deleted = 0
        <if test="partyId!=null">
            and party_id =#{partyId}
        </if>
         and types is not null
         union all
         select branch_type from ow_party where is_deleted = 0 and branch_type is not null
        <if test="partyId!=null">
            and id =#{partyId}
        </if>
    </select>

    <!-- 统计党员中汉族的人数 -->
    <select id="countHan" resultType="java.lang.Integer" parameterType="map">
        select count(*) from ow_member_view where status=1 and nation like '汉%'
        <include refid="Where_ow"/>
    </select>

    <!-- 统计党员中少数民族的人数 -->
    <select id="countMinority" resultType="java.lang.Integer" parameterType="map">
        select count(*) from ow_member_view where status=1 and nation not like '汉%' and nation is not null
        <include refid="Where_ow"/>
    </select>

    <!-- 统计党员中民族为空的人数 -->
    <select id="countNull" resultType="java.lang.Integer" parameterType="map">
        select count(*) from ow_member_view where status=1 and nation is null
        <include refid="Where_ow"/>
    </select>

    <sql id="where_stat_ow_sum">
        <if test="branchIdList!=null and branchIdList.size>0">
            and branch_id in
            <foreach collection="branchIdList" item="branchId"
                     index="index" open="(" close=")" separator=",">
                #{branchId}
            </foreach>
        </if>
        <if test="partyId!=null">
            and party_id =#{partyId}
        </if>
        <if test="isRetire!=null">
            and is_retire =#{isRetire}
        </if>
        <if test="type!=null">
            and type =#{type}
        </if>
        <if test="userType!=null">
            and user_type =#{userType}
        </if>
        <if test="proPostLevel!=null">
            and pro_post_level =#{proPostLevel}
        </if>
        <if test="proPostLevel1!=null and proPostLevel2!=null">
            and pro_post_level !=#{proPostLevel1} and pro_post_level!=#{proPostLevel2}
        </if>
    </sql>
    <select id="getMemberCount" resultType="java.lang.Integer" parameterType="map">
        select count(*) from ow_member_view where status=1
        <include refid="where_stat_ow_sum"/>
    </select>

</mapper>