<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="persistence.member.common.StatMemberMapper">
    <sql id="Where_ow">
        <if test="partyId!=null">
            and party_id =#{partyId}
        </if>
        <if test="branchId!=null">
            and branch_id =#{branchId}
        </if>
    </sql>
    <!--统计党员分布情况（按预备、正式分类）-->
    <select id="member_groupByPoliticalStatus" resultType="bean.StatByteBean" parameterType="map">
        select count(*) as num, political_status as groupBy from ow_member where status=1
        <include refid="Where_ow"/> group by groupBy
    </select>

    <!-- // 统计正式或预备党员分布情况 -->
    <select id="member_groupByType" resultType="bean.StatByteBean" parameterType="map">
        select count(*) as num, user_type as groupBy from ow_member_view where status=1

        <if test="politicalStatus!=null">
            and political_status =#{politicalStatus}
        </if>
        <include refid="Where_ow"/> group by groupBy
    </select>

    <!-- 统计某阶段各类型发展党员的数量 groupBy为空的为本科生 -->
    <select id="memberApply_groupByLevel" resultType="bean.StatByteBean" parameterType="map">
        select count(*) as num, u.type as groupBy
        from ow_member_apply ow
        LEFT join sys_user u on u.id=ow.user_id
        where ow.stage=#{stage}
        <if test="enrolYear!=null">
            and s.enrol_year = #{enrolYear}
        </if>
        <if test="partyId!=null">
            and ow.party_id =#{partyId}
        </if>
        <if test="branchId!=null">
            and ow.branch_id =#{branchId}
        </if>
        and ow.is_remove=0 group by groupBy
    </select>

    <!-- 统计教职工党员年龄分布情况 -->
    <select id="member_teatcherGroupByBirth" resultType="bean.StatIntBean" parameterType="map">
        select count(*) as num, TIMESTAMPDIFF(YEAR, birth,now()) as groupBy from ow_member_view where user_type in(1,5) and status=1
        <include refid="Where_ow"/> group by groupBy
    </select>
    <!-- 统计学生党员年龄分布情况 -->
    <select id="member_studentGroupByBirth" resultType="bean.StatIntBean" parameterType="map">
        select count(*) as num, TIMESTAMPDIFF(YEAR, birth,now()) as groupBy from ow_member_view where user_type in(2,3,4) and status=1
        <include refid="Where_ow"/> group by groupBy
    </select>
    <!-- 统计党员发展各阶段情况-->
    <select id="memberApply_groupByStage" resultType="bean.StatByteBean" parameterType="map">
        select count(*) as num, stage as groupBy from ow_member_apply_view where member_status=0 and stage>-1 and is_remove=0
        <if test="stage!=null">
            and stage =#{stage}
        </if>
        <include refid="Where_ow"/> group by groupBy
    </select>
    <!-- 统计排在前十的分党委党员人数-->
    <select id="memberApply_groupByPartyId" resultType="persistence.member.common.MemberStatByPartyBean" parameterType="map">
      select count(*) as num, party_id as partyId, sum(if(user_type in(1,5), 1,0)) as teacher, sum(if(user_type in(2,3,4), 1,0)) as student
      from ow_member_view where status=1 group by party_id order by num desc limit #{top}
    </select>

    <!-- 统计分党委下各党支部党员人数-->
    <select id="memberApply_groupByBranchId" resultType="persistence.member.common.MemberStatByBranchBean" parameterType="map">
        select count(*) as num, branch_id as branchId, sum(if(user_type in(1,5), 1,0)) as teacher, sum(if(user_type in(2,3,4), 1,0)) as student
        from ow_member_view where status=1 and party_id=#{partyId} group by branch_id;
    </select>

    <!-- 统计党员性别分布情况 -->
    <select id="member_countGroupByGender" resultType="bean.StatIntBean" parameterType="map">
        select gender as groupBy,count(*) as num from ow_member_view where status=1
        <include refid="Where_ow"/> group by gender order by num desc;
    </select>

    <!-- 统计支部类型 -->
    <select id="getBranchTypes" resultType="java.lang.String" parameterType="map">
        select types from ow_branch where is_deleted = 0
        <if test="partyId!=null">
            and party_id =#{partyId}
        </if>
         and types is not null
         union all
         select branch_type from ow_party where is_deleted = 0 and branch_type is not null
        <if test="partyId!=null">
            and id =#{partyId}
        </if>
    </select>
    <!-- 统计支部类型 -->
    <select id="getNullBranchTypes" resultType="java.lang.Integer" parameterType="map">
        select count(*) from ow_branch where is_deleted = 0
        <if test="partyId!=null">
            and party_id =#{partyId}
        </if>
        and types is null
    </select>

    <!-- 统计党员中汉族的人数 -->
    <select id="countHan" resultType="java.lang.Integer" parameterType="map">
        select count(*) from ow_member_view where status=1 and nation like '汉%'
        <include refid="Where_ow"/>
    </select>

    <!-- 统计党员中少数民族的人数 -->
    <select id="countMinority" resultType="java.lang.Integer" parameterType="map">
        select count(*) from ow_member_view where status=1 and nation not like '汉%' and nation is not null
        <include refid="Where_ow"/>
    </select>

    <!-- 统计党员中民族为空的人数 -->
    <select id="countNull" resultType="java.lang.Integer" parameterType="map">
        select count(*) from ow_member_view where status=1 and nation is null
        <include refid="Where_ow"/>
    </select>

    <select id="getPgbCount" resultType="java.lang.Integer" parameterType="map">
        select count(*) from ow_party where fid is not null
        <if test="fid!=null">
            and fid =#{fid}
        </if>
    </select>

    <select id="getMemberCount" resultType="java.lang.Integer" parameterType="map">
        select count(*) from ow_member_view where status=1
        <if test="branchIdList!=null and branchIdList.size>0">
            and branch_id in
            <foreach collection="branchIdList" item="branchId"
                     index="index" open="(" close=")" separator=",">
                #{branchId}
            </foreach>
        </if>
        <if test="partyId!=null">
            and party_id =#{partyId}
        </if>
        <if test="userTypeList!=null and userTypeList.size>0">
            and user_type in
            <foreach collection="userTypeList" item="userType"
                     index="index" open="(" close=")" separator=",">
                #{userType}
            </foreach>
        </if>
        <if test="proPostLevel!=null">
            and pro_post_level =#{proPostLevel}
        </if>
        <if test="proPostLevel1!=null and proPostLevel2!=null">
            and pro_post_level !=#{proPostLevel1} and pro_post_level!=#{proPostLevel2}
        </if>
    </select>

</mapper>