<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="persistence.pmd.PmdPayBranchViewMapper">
  <resultMap id="BaseResultMap" type="domain.pmd.PmdPayBranchView">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="branch_id" jdbcType="INTEGER" property="branchId" />
    <result column="party_id" jdbcType="INTEGER" property="partyId" />
    <result column="month_id" jdbcType="INTEGER" property="monthId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="is_deleted" jdbcType="BIT" property="isDeleted" />
    <result column="admin_count" jdbcType="INTEGER" property="adminCount" />
    <result column="party_name" jdbcType="VARCHAR" property="partyName" />
    <result column="party_is_delete" jdbcType="BIT" property="partyIsDelete" />
    <result column="party_sort_order" jdbcType="INTEGER" property="partySortOrder" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, branch_id, party_id, month_id, name, is_deleted, admin_count, party_name, party_is_delete, 
    party_sort_order
  </sql>
  <select id="selectByExample" parameterType="domain.pmd.PmdPayBranchViewExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from pmd_pay_branch_view
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="countByExample" parameterType="domain.pmd.PmdPayBranchViewExample" resultType="java.lang.Long">
    select count(*) from pmd_pay_branch_view
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <select id="selectByExampleWithRowbounds" parameterType="domain.pmd.PmdPayBranchViewExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from pmd_pay_branch_view
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
</mapper>