<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="persistence.DispatchMapper" >
  <resultMap id="BaseResultMap" type="domain.Dispatch" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="year" property="year" jdbcType="INTEGER" />
    <result column="type_id" property="typeId" jdbcType="INTEGER" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="meeting_time" property="meetingTime" jdbcType="DATE" />
    <result column="pub_time" property="pubTime" jdbcType="DATE" />
    <result column="work_time" property="workTime" jdbcType="DATE" />
    <result column="file" property="file" jdbcType="VARCHAR" />
    <result column="file_name" property="fileName" jdbcType="VARCHAR" />
    <result column="ppt" property="ppt" jdbcType="VARCHAR" />
    <result column="ppt_name" property="pptName" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="sort_order" property="sortOrder" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, year, type_id, code, meeting_time, pub_time, work_time, file, file_name, ppt, 
    ppt_name, remark, sort_order
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="domain.DispatchExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from base_dispatch
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from base_dispatch
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from base_dispatch
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="domain.DispatchExample" >
    delete from base_dispatch
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert  keyProperty="id" id="insert" parameterType="domain.Dispatch" >
    insert into base_dispatch (id, year, type_id, 
      code, meeting_time, pub_time, 
      work_time, file, file_name, 
      ppt, ppt_name, remark, 
      sort_order)
    values (#{id,jdbcType=INTEGER}, #{year,jdbcType=INTEGER}, #{typeId,jdbcType=INTEGER}, 
      #{code,jdbcType=VARCHAR}, #{meetingTime,jdbcType=DATE}, #{pubTime,jdbcType=DATE}, 
      #{workTime,jdbcType=DATE}, #{file,jdbcType=VARCHAR}, #{fileName,jdbcType=VARCHAR}, 
      #{ppt,jdbcType=VARCHAR}, #{pptName,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{sortOrder,jdbcType=INTEGER})
  </insert>
  <insert  keyProperty="id" id="insertSelective" parameterType="domain.Dispatch" >
    insert into base_dispatch
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="year != null" >
        year,
      </if>
      <if test="typeId != null" >
        type_id,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="meetingTime != null" >
        meeting_time,
      </if>
      <if test="pubTime != null" >
        pub_time,
      </if>
      <if test="workTime != null" >
        work_time,
      </if>
      <if test="file != null" >
        file,
      </if>
      <if test="fileName != null" >
        file_name,
      </if>
      <if test="ppt != null" >
        ppt,
      </if>
      <if test="pptName != null" >
        ppt_name,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="sortOrder != null" >
        sort_order,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="year != null" >
        #{year,jdbcType=INTEGER},
      </if>
      <if test="typeId != null" >
        #{typeId,jdbcType=INTEGER},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="meetingTime != null" >
        #{meetingTime,jdbcType=DATE},
      </if>
      <if test="pubTime != null" >
        #{pubTime,jdbcType=DATE},
      </if>
      <if test="workTime != null" >
        #{workTime,jdbcType=DATE},
      </if>
      <if test="file != null" >
        #{file,jdbcType=VARCHAR},
      </if>
      <if test="fileName != null" >
        #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="ppt != null" >
        #{ppt,jdbcType=VARCHAR},
      </if>
      <if test="pptName != null" >
        #{pptName,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="sortOrder != null" >
        #{sortOrder,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="domain.DispatchExample" resultType="java.lang.Integer" >
    select count(*) from base_dispatch
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update base_dispatch
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.year != null" >
        year = #{record.year,jdbcType=INTEGER},
      </if>
      <if test="record.typeId != null" >
        type_id = #{record.typeId,jdbcType=INTEGER},
      </if>
      <if test="record.code != null" >
        code = #{record.code,jdbcType=VARCHAR},
      </if>
      <if test="record.meetingTime != null" >
        meeting_time = #{record.meetingTime,jdbcType=DATE},
      </if>
      <if test="record.pubTime != null" >
        pub_time = #{record.pubTime,jdbcType=DATE},
      </if>
      <if test="record.workTime != null" >
        work_time = #{record.workTime,jdbcType=DATE},
      </if>
      <if test="record.file != null" >
        file = #{record.file,jdbcType=VARCHAR},
      </if>
      <if test="record.fileName != null" >
        file_name = #{record.fileName,jdbcType=VARCHAR},
      </if>
      <if test="record.ppt != null" >
        ppt = #{record.ppt,jdbcType=VARCHAR},
      </if>
      <if test="record.pptName != null" >
        ppt_name = #{record.pptName,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.sortOrder != null" >
        sort_order = #{record.sortOrder,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update base_dispatch
    set id = #{record.id,jdbcType=INTEGER},
      year = #{record.year,jdbcType=INTEGER},
      type_id = #{record.typeId,jdbcType=INTEGER},
      code = #{record.code,jdbcType=VARCHAR},
      meeting_time = #{record.meetingTime,jdbcType=DATE},
      pub_time = #{record.pubTime,jdbcType=DATE},
      work_time = #{record.workTime,jdbcType=DATE},
      file = #{record.file,jdbcType=VARCHAR},
      file_name = #{record.fileName,jdbcType=VARCHAR},
      ppt = #{record.ppt,jdbcType=VARCHAR},
      ppt_name = #{record.pptName,jdbcType=VARCHAR},
      remark = #{record.remark,jdbcType=VARCHAR},
      sort_order = #{record.sortOrder,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="domain.Dispatch" >
    update base_dispatch
    <set >
      <if test="year != null" >
        year = #{year,jdbcType=INTEGER},
      </if>
      <if test="typeId != null" >
        type_id = #{typeId,jdbcType=INTEGER},
      </if>
      <if test="code != null" >
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="meetingTime != null" >
        meeting_time = #{meetingTime,jdbcType=DATE},
      </if>
      <if test="pubTime != null" >
        pub_time = #{pubTime,jdbcType=DATE},
      </if>
      <if test="workTime != null" >
        work_time = #{workTime,jdbcType=DATE},
      </if>
      <if test="file != null" >
        file = #{file,jdbcType=VARCHAR},
      </if>
      <if test="fileName != null" >
        file_name = #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="ppt != null" >
        ppt = #{ppt,jdbcType=VARCHAR},
      </if>
      <if test="pptName != null" >
        ppt_name = #{pptName,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="sortOrder != null" >
        sort_order = #{sortOrder,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="domain.Dispatch" >
    update base_dispatch
    set year = #{year,jdbcType=INTEGER},
      type_id = #{typeId,jdbcType=INTEGER},
      code = #{code,jdbcType=VARCHAR},
      meeting_time = #{meetingTime,jdbcType=DATE},
      pub_time = #{pubTime,jdbcType=DATE},
      work_time = #{workTime,jdbcType=DATE},
      file = #{file,jdbcType=VARCHAR},
      file_name = #{fileName,jdbcType=VARCHAR},
      ppt = #{ppt,jdbcType=VARCHAR},
      ppt_name = #{pptName,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      sort_order = #{sortOrder,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select resultMap="BaseResultMap" parameterType="domain.DispatchExample" id="selectByExampleWithRowbounds" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from base_dispatch
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
</mapper>