<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="persistence.MemberOutMapper" >
  <resultMap id="BaseResultMap" type="domain.MemberOut" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="party_id" property="partyId" jdbcType="INTEGER" />
    <result column="branch_id" property="branchId" jdbcType="INTEGER" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="TINYINT" />
    <result column="to_title" property="toTitle" jdbcType="VARCHAR" />
    <result column="to_unit" property="toUnit" jdbcType="VARCHAR" />
    <result column="from_unit" property="fromUnit" jdbcType="VARCHAR" />
    <result column="from_address" property="fromAddress" jdbcType="VARCHAR" />
    <result column="from_phone" property="fromPhone" jdbcType="VARCHAR" />
    <result column="from_fax" property="fromFax" jdbcType="VARCHAR" />
    <result column="from_post_code" property="fromPostCode" jdbcType="VARCHAR" />
    <result column="pay_time" property="payTime" jdbcType="DATE" />
    <result column="valid_days" property="validDays" jdbcType="INTEGER" />
    <result column="handle_time" property="handleTime" jdbcType="DATE" />
    <result column="has_receipt" property="hasReceipt" jdbcType="BIT" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="is_modify" property="isModify" jdbcType="BIT" />
    <result column="is_back" property="isBack" jdbcType="BIT" />
    <result column="reason" property="reason" jdbcType="VARCHAR" />
    <result column="apply_time" property="applyTime" jdbcType="TIMESTAMP" />
    <result column="print_count" property="printCount" jdbcType="INTEGER" />
    <result column="last_print_time" property="lastPrintTime" jdbcType="TIMESTAMP" />
    <result column="last_print_user_id" property="lastPrintUserId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, user_id, party_id, branch_id, phone, type, to_title, to_unit, from_unit, from_address, 
    from_phone, from_fax, from_post_code, pay_time, valid_days, handle_time, has_receipt, 
    status, is_modify, is_back, reason, apply_time, print_count, last_print_time, last_print_user_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="domain.MemberOutExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ow_member_out
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from ow_member_out
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from ow_member_out
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="domain.MemberOutExample" >
    delete from ow_member_out
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert keyProperty="id" id="insert" parameterType="domain.MemberOut" >
    insert into ow_member_out (id, user_id, party_id, 
      branch_id, phone, type, 
      to_title, to_unit, from_unit, 
      from_address, from_phone, from_fax, 
      from_post_code, pay_time, valid_days, 
      handle_time, has_receipt, status, 
      is_modify, is_back, reason, apply_time, 
      print_count, last_print_time, last_print_user_id
      )
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{partyId,jdbcType=INTEGER}, 
      #{branchId,jdbcType=INTEGER}, #{phone,jdbcType=VARCHAR}, #{type,jdbcType=TINYINT}, 
      #{toTitle,jdbcType=VARCHAR}, #{toUnit,jdbcType=VARCHAR}, #{fromUnit,jdbcType=VARCHAR}, 
      #{fromAddress,jdbcType=VARCHAR}, #{fromPhone,jdbcType=VARCHAR}, #{fromFax,jdbcType=VARCHAR}, 
      #{fromPostCode,jdbcType=VARCHAR}, #{payTime,jdbcType=DATE}, #{validDays,jdbcType=INTEGER}, 
      #{handleTime,jdbcType=DATE}, #{hasReceipt,jdbcType=BIT}, #{status,jdbcType=TINYINT}, 
      #{isModify,jdbcType=BIT}, #{isBack,jdbcType=BIT}, #{reason,jdbcType=VARCHAR}, #{applyTime,jdbcType=TIMESTAMP}, 
      #{printCount,jdbcType=INTEGER}, #{lastPrintTime,jdbcType=TIMESTAMP}, #{lastPrintUserId,jdbcType=INTEGER}
      )
  </insert>
  <insert keyProperty="id" id="insertSelective" parameterType="domain.MemberOut" >
    insert into ow_member_out
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="partyId != null" >
        party_id,
      </if>
      <if test="branchId != null" >
        branch_id,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="toTitle != null" >
        to_title,
      </if>
      <if test="toUnit != null" >
        to_unit,
      </if>
      <if test="fromUnit != null" >
        from_unit,
      </if>
      <if test="fromAddress != null" >
        from_address,
      </if>
      <if test="fromPhone != null" >
        from_phone,
      </if>
      <if test="fromFax != null" >
        from_fax,
      </if>
      <if test="fromPostCode != null" >
        from_post_code,
      </if>
      <if test="payTime != null" >
        pay_time,
      </if>
      <if test="validDays != null" >
        valid_days,
      </if>
      <if test="handleTime != null" >
        handle_time,
      </if>
      <if test="hasReceipt != null" >
        has_receipt,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="isModify != null" >
        is_modify,
      </if>
      <if test="isBack != null" >
        is_back,
      </if>
      <if test="reason != null" >
        reason,
      </if>
      <if test="applyTime != null" >
        apply_time,
      </if>
      <if test="printCount != null" >
        print_count,
      </if>
      <if test="lastPrintTime != null" >
        last_print_time,
      </if>
      <if test="lastPrintUserId != null" >
        last_print_user_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="partyId != null" >
        #{partyId,jdbcType=INTEGER},
      </if>
      <if test="branchId != null" >
        #{branchId,jdbcType=INTEGER},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=TINYINT},
      </if>
      <if test="toTitle != null" >
        #{toTitle,jdbcType=VARCHAR},
      </if>
      <if test="toUnit != null" >
        #{toUnit,jdbcType=VARCHAR},
      </if>
      <if test="fromUnit != null" >
        #{fromUnit,jdbcType=VARCHAR},
      </if>
      <if test="fromAddress != null" >
        #{fromAddress,jdbcType=VARCHAR},
      </if>
      <if test="fromPhone != null" >
        #{fromPhone,jdbcType=VARCHAR},
      </if>
      <if test="fromFax != null" >
        #{fromFax,jdbcType=VARCHAR},
      </if>
      <if test="fromPostCode != null" >
        #{fromPostCode,jdbcType=VARCHAR},
      </if>
      <if test="payTime != null" >
        #{payTime,jdbcType=DATE},
      </if>
      <if test="validDays != null" >
        #{validDays,jdbcType=INTEGER},
      </if>
      <if test="handleTime != null" >
        #{handleTime,jdbcType=DATE},
      </if>
      <if test="hasReceipt != null" >
        #{hasReceipt,jdbcType=BIT},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="isModify != null" >
        #{isModify,jdbcType=BIT},
      </if>
      <if test="isBack != null" >
        #{isBack,jdbcType=BIT},
      </if>
      <if test="reason != null" >
        #{reason,jdbcType=VARCHAR},
      </if>
      <if test="applyTime != null" >
        #{applyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="printCount != null" >
        #{printCount,jdbcType=INTEGER},
      </if>
      <if test="lastPrintTime != null" >
        #{lastPrintTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastPrintUserId != null" >
        #{lastPrintUserId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="domain.MemberOutExample" resultType="java.lang.Integer" >
    select count(*) from ow_member_out
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update ow_member_out
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.partyId != null" >
        party_id = #{record.partyId,jdbcType=INTEGER},
      </if>
      <if test="record.branchId != null" >
        branch_id = #{record.branchId,jdbcType=INTEGER},
      </if>
      <if test="record.phone != null" >
        phone = #{record.phone,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null" >
        type = #{record.type,jdbcType=TINYINT},
      </if>
      <if test="record.toTitle != null" >
        to_title = #{record.toTitle,jdbcType=VARCHAR},
      </if>
      <if test="record.toUnit != null" >
        to_unit = #{record.toUnit,jdbcType=VARCHAR},
      </if>
      <if test="record.fromUnit != null" >
        from_unit = #{record.fromUnit,jdbcType=VARCHAR},
      </if>
      <if test="record.fromAddress != null" >
        from_address = #{record.fromAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.fromPhone != null" >
        from_phone = #{record.fromPhone,jdbcType=VARCHAR},
      </if>
      <if test="record.fromFax != null" >
        from_fax = #{record.fromFax,jdbcType=VARCHAR},
      </if>
      <if test="record.fromPostCode != null" >
        from_post_code = #{record.fromPostCode,jdbcType=VARCHAR},
      </if>
      <if test="record.payTime != null" >
        pay_time = #{record.payTime,jdbcType=DATE},
      </if>
      <if test="record.validDays != null" >
        valid_days = #{record.validDays,jdbcType=INTEGER},
      </if>
      <if test="record.handleTime != null" >
        handle_time = #{record.handleTime,jdbcType=DATE},
      </if>
      <if test="record.hasReceipt != null" >
        has_receipt = #{record.hasReceipt,jdbcType=BIT},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=TINYINT},
      </if>
      <if test="record.isModify != null" >
        is_modify = #{record.isModify,jdbcType=BIT},
      </if>
      <if test="record.isBack != null" >
        is_back = #{record.isBack,jdbcType=BIT},
      </if>
      <if test="record.reason != null" >
        reason = #{record.reason,jdbcType=VARCHAR},
      </if>
      <if test="record.applyTime != null" >
        apply_time = #{record.applyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.printCount != null" >
        print_count = #{record.printCount,jdbcType=INTEGER},
      </if>
      <if test="record.lastPrintTime != null" >
        last_print_time = #{record.lastPrintTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.lastPrintUserId != null" >
        last_print_user_id = #{record.lastPrintUserId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update ow_member_out
    set id = #{record.id,jdbcType=INTEGER},
      user_id = #{record.userId,jdbcType=INTEGER},
      party_id = #{record.partyId,jdbcType=INTEGER},
      branch_id = #{record.branchId,jdbcType=INTEGER},
      phone = #{record.phone,jdbcType=VARCHAR},
      type = #{record.type,jdbcType=TINYINT},
      to_title = #{record.toTitle,jdbcType=VARCHAR},
      to_unit = #{record.toUnit,jdbcType=VARCHAR},
      from_unit = #{record.fromUnit,jdbcType=VARCHAR},
      from_address = #{record.fromAddress,jdbcType=VARCHAR},
      from_phone = #{record.fromPhone,jdbcType=VARCHAR},
      from_fax = #{record.fromFax,jdbcType=VARCHAR},
      from_post_code = #{record.fromPostCode,jdbcType=VARCHAR},
      pay_time = #{record.payTime,jdbcType=DATE},
      valid_days = #{record.validDays,jdbcType=INTEGER},
      handle_time = #{record.handleTime,jdbcType=DATE},
      has_receipt = #{record.hasReceipt,jdbcType=BIT},
      status = #{record.status,jdbcType=TINYINT},
      is_modify = #{record.isModify,jdbcType=BIT},
      is_back = #{record.isBack,jdbcType=BIT},
      reason = #{record.reason,jdbcType=VARCHAR},
      apply_time = #{record.applyTime,jdbcType=TIMESTAMP},
      print_count = #{record.printCount,jdbcType=INTEGER},
      last_print_time = #{record.lastPrintTime,jdbcType=TIMESTAMP},
      last_print_user_id = #{record.lastPrintUserId,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="domain.MemberOut" >
    update ow_member_out
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="partyId != null" >
        party_id = #{partyId,jdbcType=INTEGER},
      </if>
      <if test="branchId != null" >
        branch_id = #{branchId,jdbcType=INTEGER},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=TINYINT},
      </if>
      <if test="toTitle != null" >
        to_title = #{toTitle,jdbcType=VARCHAR},
      </if>
      <if test="toUnit != null" >
        to_unit = #{toUnit,jdbcType=VARCHAR},
      </if>
      <if test="fromUnit != null" >
        from_unit = #{fromUnit,jdbcType=VARCHAR},
      </if>
      <if test="fromAddress != null" >
        from_address = #{fromAddress,jdbcType=VARCHAR},
      </if>
      <if test="fromPhone != null" >
        from_phone = #{fromPhone,jdbcType=VARCHAR},
      </if>
      <if test="fromFax != null" >
        from_fax = #{fromFax,jdbcType=VARCHAR},
      </if>
      <if test="fromPostCode != null" >
        from_post_code = #{fromPostCode,jdbcType=VARCHAR},
      </if>
      <if test="payTime != null" >
        pay_time = #{payTime,jdbcType=DATE},
      </if>
      <if test="validDays != null" >
        valid_days = #{validDays,jdbcType=INTEGER},
      </if>
      <if test="handleTime != null" >
        handle_time = #{handleTime,jdbcType=DATE},
      </if>
      <if test="hasReceipt != null" >
        has_receipt = #{hasReceipt,jdbcType=BIT},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="isModify != null" >
        is_modify = #{isModify,jdbcType=BIT},
      </if>
      <if test="isBack != null" >
        is_back = #{isBack,jdbcType=BIT},
      </if>
      <if test="reason != null" >
        reason = #{reason,jdbcType=VARCHAR},
      </if>
      <if test="applyTime != null" >
        apply_time = #{applyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="printCount != null" >
        print_count = #{printCount,jdbcType=INTEGER},
      </if>
      <if test="lastPrintTime != null" >
        last_print_time = #{lastPrintTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastPrintUserId != null" >
        last_print_user_id = #{lastPrintUserId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="domain.MemberOut" >
    update ow_member_out
    set user_id = #{userId,jdbcType=INTEGER},
      party_id = #{partyId,jdbcType=INTEGER},
      branch_id = #{branchId,jdbcType=INTEGER},
      phone = #{phone,jdbcType=VARCHAR},
      type = #{type,jdbcType=TINYINT},
      to_title = #{toTitle,jdbcType=VARCHAR},
      to_unit = #{toUnit,jdbcType=VARCHAR},
      from_unit = #{fromUnit,jdbcType=VARCHAR},
      from_address = #{fromAddress,jdbcType=VARCHAR},
      from_phone = #{fromPhone,jdbcType=VARCHAR},
      from_fax = #{fromFax,jdbcType=VARCHAR},
      from_post_code = #{fromPostCode,jdbcType=VARCHAR},
      pay_time = #{payTime,jdbcType=DATE},
      valid_days = #{validDays,jdbcType=INTEGER},
      handle_time = #{handleTime,jdbcType=DATE},
      has_receipt = #{hasReceipt,jdbcType=BIT},
      status = #{status,jdbcType=TINYINT},
      is_modify = #{isModify,jdbcType=BIT},
      is_back = #{isBack,jdbcType=BIT},
      reason = #{reason,jdbcType=VARCHAR},
      apply_time = #{applyTime,jdbcType=TIMESTAMP},
      print_count = #{printCount,jdbcType=INTEGER},
      last_print_time = #{lastPrintTime,jdbcType=TIMESTAMP},
      last_print_user_id = #{lastPrintUserId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select resultMap="BaseResultMap" parameterType="domain.MemberOutExample" id="selectByExampleWithRowbounds" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ow_member_out
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
</mapper>