<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="persistence.TeacherMapper" >
  <resultMap id="BaseResultMap" type="domain.Teacher" >
    <id column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="realname" property="realname" jdbcType="VARCHAR" />
    <result column="gender" property="gender" jdbcType="TINYINT" />
    <result column="birth" property="birth" jdbcType="DATE" />
    <result column="native_place" property="nativePlace" jdbcType="VARCHAR" />
    <result column="nation" property="nation" jdbcType="VARCHAR" />
    <result column="idcard" property="idcard" jdbcType="VARCHAR" />
    <result column="education" property="education" jdbcType="VARCHAR" />
    <result column="degree" property="degree" jdbcType="VARCHAR" />
    <result column="degree_time" property="degreeTime" jdbcType="VARCHAR" />
    <result column="major" property="major" jdbcType="VARCHAR" />
    <result column="school" property="school" jdbcType="VARCHAR" />
    <result column="school_type" property="schoolType" jdbcType="VARCHAR" />
    <result column="arrive_time" property="arriveTime" jdbcType="VARCHAR" />
    <result column="authorized_type" property="authorizedType" jdbcType="VARCHAR" />
    <result column="staff_type" property="staffType" jdbcType="VARCHAR" />
    <result column="staff_status" property="staffStatus" jdbcType="VARCHAR" />
    <result column="post_class" property="postClass" jdbcType="VARCHAR" />
    <result column="post_type" property="postType" jdbcType="VARCHAR" />
    <result column="on_job" property="onJob" jdbcType="VARCHAR" />
    <result column="pro_post" property="proPost" jdbcType="VARCHAR" />
    <result column="pro_post_level" property="proPostLevel" jdbcType="VARCHAR" />
    <result column="title_level" property="titleLevel" jdbcType="VARCHAR" />
    <result column="manage_level" property="manageLevel" jdbcType="VARCHAR" />
    <result column="office_level" property="officeLevel" jdbcType="VARCHAR" />
    <result column="post" property="post" jdbcType="VARCHAR" />
    <result column="post_level" property="postLevel" jdbcType="VARCHAR" />
    <result column="talent_title" property="talentTitle" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="marital_status" property="maritalStatus" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="retire_time" property="retireTime" jdbcType="DATE" />
    <result column="is_honor_retire" property="isHonorRetire" jdbcType="BIT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    user_id, code, realname, gender, birth, native_place, nation, idcard, education, 
    degree, degree_time, major, school, school_type, arrive_time, authorized_type, staff_type, 
    staff_status, post_class, post_type, on_job, pro_post, pro_post_level, title_level, 
    manage_level, office_level, post, post_level, talent_title, address, marital_status, 
    email, mobile, phone, retire_time, is_honor_retire, create_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="domain.TeacherExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ow_teacher
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from ow_teacher
    where user_id = #{userId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from ow_teacher
    where user_id = #{userId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="domain.TeacherExample" >
    delete from ow_teacher
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="domain.Teacher" >
    insert into ow_teacher (user_id, code, realname, 
      gender, birth, native_place, 
      nation, idcard, education, 
      degree, degree_time, major, 
      school, school_type, arrive_time, 
      authorized_type, staff_type, staff_status, 
      post_class, post_type, on_job, 
      pro_post, pro_post_level, title_level, 
      manage_level, office_level, post, 
      post_level, talent_title, address, 
      marital_status, email, mobile, 
      phone, retire_time, is_honor_retire, 
      create_time)
    values (#{userId,jdbcType=INTEGER}, #{code,jdbcType=VARCHAR}, #{realname,jdbcType=VARCHAR}, 
      #{gender,jdbcType=TINYINT}, #{birth,jdbcType=DATE}, #{nativePlace,jdbcType=VARCHAR}, 
      #{nation,jdbcType=VARCHAR}, #{idcard,jdbcType=VARCHAR}, #{education,jdbcType=VARCHAR}, 
      #{degree,jdbcType=VARCHAR}, #{degreeTime,jdbcType=VARCHAR}, #{major,jdbcType=VARCHAR}, 
      #{school,jdbcType=VARCHAR}, #{schoolType,jdbcType=VARCHAR}, #{arriveTime,jdbcType=VARCHAR}, 
      #{authorizedType,jdbcType=VARCHAR}, #{staffType,jdbcType=VARCHAR}, #{staffStatus,jdbcType=VARCHAR}, 
      #{postClass,jdbcType=VARCHAR}, #{postType,jdbcType=VARCHAR}, #{onJob,jdbcType=VARCHAR}, 
      #{proPost,jdbcType=VARCHAR}, #{proPostLevel,jdbcType=VARCHAR}, #{titleLevel,jdbcType=VARCHAR}, 
      #{manageLevel,jdbcType=VARCHAR}, #{officeLevel,jdbcType=VARCHAR}, #{post,jdbcType=VARCHAR}, 
      #{postLevel,jdbcType=VARCHAR}, #{talentTitle,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{maritalStatus,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{retireTime,jdbcType=DATE}, #{isHonorRetire,jdbcType=BIT}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="domain.Teacher" >
    insert into ow_teacher
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        user_id,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="realname != null" >
        realname,
      </if>
      <if test="gender != null" >
        gender,
      </if>
      <if test="birth != null" >
        birth,
      </if>
      <if test="nativePlace != null" >
        native_place,
      </if>
      <if test="nation != null" >
        nation,
      </if>
      <if test="idcard != null" >
        idcard,
      </if>
      <if test="education != null" >
        education,
      </if>
      <if test="degree != null" >
        degree,
      </if>
      <if test="degreeTime != null" >
        degree_time,
      </if>
      <if test="major != null" >
        major,
      </if>
      <if test="school != null" >
        school,
      </if>
      <if test="schoolType != null" >
        school_type,
      </if>
      <if test="arriveTime != null" >
        arrive_time,
      </if>
      <if test="authorizedType != null" >
        authorized_type,
      </if>
      <if test="staffType != null" >
        staff_type,
      </if>
      <if test="staffStatus != null" >
        staff_status,
      </if>
      <if test="postClass != null" >
        post_class,
      </if>
      <if test="postType != null" >
        post_type,
      </if>
      <if test="onJob != null" >
        on_job,
      </if>
      <if test="proPost != null" >
        pro_post,
      </if>
      <if test="proPostLevel != null" >
        pro_post_level,
      </if>
      <if test="titleLevel != null" >
        title_level,
      </if>
      <if test="manageLevel != null" >
        manage_level,
      </if>
      <if test="officeLevel != null" >
        office_level,
      </if>
      <if test="post != null" >
        post,
      </if>
      <if test="postLevel != null" >
        post_level,
      </if>
      <if test="talentTitle != null" >
        talent_title,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="maritalStatus != null" >
        marital_status,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="mobile != null" >
        mobile,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="retireTime != null" >
        retire_time,
      </if>
      <if test="isHonorRetire != null" >
        is_honor_retire,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="realname != null" >
        #{realname,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        #{gender,jdbcType=TINYINT},
      </if>
      <if test="birth != null" >
        #{birth,jdbcType=DATE},
      </if>
      <if test="nativePlace != null" >
        #{nativePlace,jdbcType=VARCHAR},
      </if>
      <if test="nation != null" >
        #{nation,jdbcType=VARCHAR},
      </if>
      <if test="idcard != null" >
        #{idcard,jdbcType=VARCHAR},
      </if>
      <if test="education != null" >
        #{education,jdbcType=VARCHAR},
      </if>
      <if test="degree != null" >
        #{degree,jdbcType=VARCHAR},
      </if>
      <if test="degreeTime != null" >
        #{degreeTime,jdbcType=VARCHAR},
      </if>
      <if test="major != null" >
        #{major,jdbcType=VARCHAR},
      </if>
      <if test="school != null" >
        #{school,jdbcType=VARCHAR},
      </if>
      <if test="schoolType != null" >
        #{schoolType,jdbcType=VARCHAR},
      </if>
      <if test="arriveTime != null" >
        #{arriveTime,jdbcType=VARCHAR},
      </if>
      <if test="authorizedType != null" >
        #{authorizedType,jdbcType=VARCHAR},
      </if>
      <if test="staffType != null" >
        #{staffType,jdbcType=VARCHAR},
      </if>
      <if test="staffStatus != null" >
        #{staffStatus,jdbcType=VARCHAR},
      </if>
      <if test="postClass != null" >
        #{postClass,jdbcType=VARCHAR},
      </if>
      <if test="postType != null" >
        #{postType,jdbcType=VARCHAR},
      </if>
      <if test="onJob != null" >
        #{onJob,jdbcType=VARCHAR},
      </if>
      <if test="proPost != null" >
        #{proPost,jdbcType=VARCHAR},
      </if>
      <if test="proPostLevel != null" >
        #{proPostLevel,jdbcType=VARCHAR},
      </if>
      <if test="titleLevel != null" >
        #{titleLevel,jdbcType=VARCHAR},
      </if>
      <if test="manageLevel != null" >
        #{manageLevel,jdbcType=VARCHAR},
      </if>
      <if test="officeLevel != null" >
        #{officeLevel,jdbcType=VARCHAR},
      </if>
      <if test="post != null" >
        #{post,jdbcType=VARCHAR},
      </if>
      <if test="postLevel != null" >
        #{postLevel,jdbcType=VARCHAR},
      </if>
      <if test="talentTitle != null" >
        #{talentTitle,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="maritalStatus != null" >
        #{maritalStatus,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="retireTime != null" >
        #{retireTime,jdbcType=DATE},
      </if>
      <if test="isHonorRetire != null" >
        #{isHonorRetire,jdbcType=BIT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="domain.TeacherExample" resultType="java.lang.Integer" >
    select count(*) from ow_teacher
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update ow_teacher
    <set >
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.code != null" >
        code = #{record.code,jdbcType=VARCHAR},
      </if>
      <if test="record.realname != null" >
        realname = #{record.realname,jdbcType=VARCHAR},
      </if>
      <if test="record.gender != null" >
        gender = #{record.gender,jdbcType=TINYINT},
      </if>
      <if test="record.birth != null" >
        birth = #{record.birth,jdbcType=DATE},
      </if>
      <if test="record.nativePlace != null" >
        native_place = #{record.nativePlace,jdbcType=VARCHAR},
      </if>
      <if test="record.nation != null" >
        nation = #{record.nation,jdbcType=VARCHAR},
      </if>
      <if test="record.idcard != null" >
        idcard = #{record.idcard,jdbcType=VARCHAR},
      </if>
      <if test="record.education != null" >
        education = #{record.education,jdbcType=VARCHAR},
      </if>
      <if test="record.degree != null" >
        degree = #{record.degree,jdbcType=VARCHAR},
      </if>
      <if test="record.degreeTime != null" >
        degree_time = #{record.degreeTime,jdbcType=VARCHAR},
      </if>
      <if test="record.major != null" >
        major = #{record.major,jdbcType=VARCHAR},
      </if>
      <if test="record.school != null" >
        school = #{record.school,jdbcType=VARCHAR},
      </if>
      <if test="record.schoolType != null" >
        school_type = #{record.schoolType,jdbcType=VARCHAR},
      </if>
      <if test="record.arriveTime != null" >
        arrive_time = #{record.arriveTime,jdbcType=VARCHAR},
      </if>
      <if test="record.authorizedType != null" >
        authorized_type = #{record.authorizedType,jdbcType=VARCHAR},
      </if>
      <if test="record.staffType != null" >
        staff_type = #{record.staffType,jdbcType=VARCHAR},
      </if>
      <if test="record.staffStatus != null" >
        staff_status = #{record.staffStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.postClass != null" >
        post_class = #{record.postClass,jdbcType=VARCHAR},
      </if>
      <if test="record.postType != null" >
        post_type = #{record.postType,jdbcType=VARCHAR},
      </if>
      <if test="record.onJob != null" >
        on_job = #{record.onJob,jdbcType=VARCHAR},
      </if>
      <if test="record.proPost != null" >
        pro_post = #{record.proPost,jdbcType=VARCHAR},
      </if>
      <if test="record.proPostLevel != null" >
        pro_post_level = #{record.proPostLevel,jdbcType=VARCHAR},
      </if>
      <if test="record.titleLevel != null" >
        title_level = #{record.titleLevel,jdbcType=VARCHAR},
      </if>
      <if test="record.manageLevel != null" >
        manage_level = #{record.manageLevel,jdbcType=VARCHAR},
      </if>
      <if test="record.officeLevel != null" >
        office_level = #{record.officeLevel,jdbcType=VARCHAR},
      </if>
      <if test="record.post != null" >
        post = #{record.post,jdbcType=VARCHAR},
      </if>
      <if test="record.postLevel != null" >
        post_level = #{record.postLevel,jdbcType=VARCHAR},
      </if>
      <if test="record.talentTitle != null" >
        talent_title = #{record.talentTitle,jdbcType=VARCHAR},
      </if>
      <if test="record.address != null" >
        address = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.maritalStatus != null" >
        marital_status = #{record.maritalStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.email != null" >
        email = #{record.email,jdbcType=VARCHAR},
      </if>
      <if test="record.mobile != null" >
        mobile = #{record.mobile,jdbcType=VARCHAR},
      </if>
      <if test="record.phone != null" >
        phone = #{record.phone,jdbcType=VARCHAR},
      </if>
      <if test="record.retireTime != null" >
        retire_time = #{record.retireTime,jdbcType=DATE},
      </if>
      <if test="record.isHonorRetire != null" >
        is_honor_retire = #{record.isHonorRetire,jdbcType=BIT},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update ow_teacher
    set user_id = #{record.userId,jdbcType=INTEGER},
      code = #{record.code,jdbcType=VARCHAR},
      realname = #{record.realname,jdbcType=VARCHAR},
      gender = #{record.gender,jdbcType=TINYINT},
      birth = #{record.birth,jdbcType=DATE},
      native_place = #{record.nativePlace,jdbcType=VARCHAR},
      nation = #{record.nation,jdbcType=VARCHAR},
      idcard = #{record.idcard,jdbcType=VARCHAR},
      education = #{record.education,jdbcType=VARCHAR},
      degree = #{record.degree,jdbcType=VARCHAR},
      degree_time = #{record.degreeTime,jdbcType=VARCHAR},
      major = #{record.major,jdbcType=VARCHAR},
      school = #{record.school,jdbcType=VARCHAR},
      school_type = #{record.schoolType,jdbcType=VARCHAR},
      arrive_time = #{record.arriveTime,jdbcType=VARCHAR},
      authorized_type = #{record.authorizedType,jdbcType=VARCHAR},
      staff_type = #{record.staffType,jdbcType=VARCHAR},
      staff_status = #{record.staffStatus,jdbcType=VARCHAR},
      post_class = #{record.postClass,jdbcType=VARCHAR},
      post_type = #{record.postType,jdbcType=VARCHAR},
      on_job = #{record.onJob,jdbcType=VARCHAR},
      pro_post = #{record.proPost,jdbcType=VARCHAR},
      pro_post_level = #{record.proPostLevel,jdbcType=VARCHAR},
      title_level = #{record.titleLevel,jdbcType=VARCHAR},
      manage_level = #{record.manageLevel,jdbcType=VARCHAR},
      office_level = #{record.officeLevel,jdbcType=VARCHAR},
      post = #{record.post,jdbcType=VARCHAR},
      post_level = #{record.postLevel,jdbcType=VARCHAR},
      talent_title = #{record.talentTitle,jdbcType=VARCHAR},
      address = #{record.address,jdbcType=VARCHAR},
      marital_status = #{record.maritalStatus,jdbcType=VARCHAR},
      email = #{record.email,jdbcType=VARCHAR},
      mobile = #{record.mobile,jdbcType=VARCHAR},
      phone = #{record.phone,jdbcType=VARCHAR},
      retire_time = #{record.retireTime,jdbcType=DATE},
      is_honor_retire = #{record.isHonorRetire,jdbcType=BIT},
      create_time = #{record.createTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="domain.Teacher" >
    update ow_teacher
    <set >
      <if test="code != null" >
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="realname != null" >
        realname = #{realname,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        gender = #{gender,jdbcType=TINYINT},
      </if>
      <if test="birth != null" >
        birth = #{birth,jdbcType=DATE},
      </if>
      <if test="nativePlace != null" >
        native_place = #{nativePlace,jdbcType=VARCHAR},
      </if>
      <if test="nation != null" >
        nation = #{nation,jdbcType=VARCHAR},
      </if>
      <if test="idcard != null" >
        idcard = #{idcard,jdbcType=VARCHAR},
      </if>
      <if test="education != null" >
        education = #{education,jdbcType=VARCHAR},
      </if>
      <if test="degree != null" >
        degree = #{degree,jdbcType=VARCHAR},
      </if>
      <if test="degreeTime != null" >
        degree_time = #{degreeTime,jdbcType=VARCHAR},
      </if>
      <if test="major != null" >
        major = #{major,jdbcType=VARCHAR},
      </if>
      <if test="school != null" >
        school = #{school,jdbcType=VARCHAR},
      </if>
      <if test="schoolType != null" >
        school_type = #{schoolType,jdbcType=VARCHAR},
      </if>
      <if test="arriveTime != null" >
        arrive_time = #{arriveTime,jdbcType=VARCHAR},
      </if>
      <if test="authorizedType != null" >
        authorized_type = #{authorizedType,jdbcType=VARCHAR},
      </if>
      <if test="staffType != null" >
        staff_type = #{staffType,jdbcType=VARCHAR},
      </if>
      <if test="staffStatus != null" >
        staff_status = #{staffStatus,jdbcType=VARCHAR},
      </if>
      <if test="postClass != null" >
        post_class = #{postClass,jdbcType=VARCHAR},
      </if>
      <if test="postType != null" >
        post_type = #{postType,jdbcType=VARCHAR},
      </if>
      <if test="onJob != null" >
        on_job = #{onJob,jdbcType=VARCHAR},
      </if>
      <if test="proPost != null" >
        pro_post = #{proPost,jdbcType=VARCHAR},
      </if>
      <if test="proPostLevel != null" >
        pro_post_level = #{proPostLevel,jdbcType=VARCHAR},
      </if>
      <if test="titleLevel != null" >
        title_level = #{titleLevel,jdbcType=VARCHAR},
      </if>
      <if test="manageLevel != null" >
        manage_level = #{manageLevel,jdbcType=VARCHAR},
      </if>
      <if test="officeLevel != null" >
        office_level = #{officeLevel,jdbcType=VARCHAR},
      </if>
      <if test="post != null" >
        post = #{post,jdbcType=VARCHAR},
      </if>
      <if test="postLevel != null" >
        post_level = #{postLevel,jdbcType=VARCHAR},
      </if>
      <if test="talentTitle != null" >
        talent_title = #{talentTitle,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="maritalStatus != null" >
        marital_status = #{maritalStatus,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="retireTime != null" >
        retire_time = #{retireTime,jdbcType=DATE},
      </if>
      <if test="isHonorRetire != null" >
        is_honor_retire = #{isHonorRetire,jdbcType=BIT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="domain.Teacher" >
    update ow_teacher
    set code = #{code,jdbcType=VARCHAR},
      realname = #{realname,jdbcType=VARCHAR},
      gender = #{gender,jdbcType=TINYINT},
      birth = #{birth,jdbcType=DATE},
      native_place = #{nativePlace,jdbcType=VARCHAR},
      nation = #{nation,jdbcType=VARCHAR},
      idcard = #{idcard,jdbcType=VARCHAR},
      education = #{education,jdbcType=VARCHAR},
      degree = #{degree,jdbcType=VARCHAR},
      degree_time = #{degreeTime,jdbcType=VARCHAR},
      major = #{major,jdbcType=VARCHAR},
      school = #{school,jdbcType=VARCHAR},
      school_type = #{schoolType,jdbcType=VARCHAR},
      arrive_time = #{arriveTime,jdbcType=VARCHAR},
      authorized_type = #{authorizedType,jdbcType=VARCHAR},
      staff_type = #{staffType,jdbcType=VARCHAR},
      staff_status = #{staffStatus,jdbcType=VARCHAR},
      post_class = #{postClass,jdbcType=VARCHAR},
      post_type = #{postType,jdbcType=VARCHAR},
      on_job = #{onJob,jdbcType=VARCHAR},
      pro_post = #{proPost,jdbcType=VARCHAR},
      pro_post_level = #{proPostLevel,jdbcType=VARCHAR},
      title_level = #{titleLevel,jdbcType=VARCHAR},
      manage_level = #{manageLevel,jdbcType=VARCHAR},
      office_level = #{officeLevel,jdbcType=VARCHAR},
      post = #{post,jdbcType=VARCHAR},
      post_level = #{postLevel,jdbcType=VARCHAR},
      talent_title = #{talentTitle,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      marital_status = #{maritalStatus,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      retire_time = #{retireTime,jdbcType=DATE},
      is_honor_retire = #{isHonorRetire,jdbcType=BIT},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
  <select resultMap="BaseResultMap" parameterType="domain.TeacherExample" id="selectByExampleWithRowbounds" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ow_teacher
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
</mapper>