<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="persistence.oa.OaTaskUserViewMapper">
  <resultMap id="BaseResultMap" type="domain.oa.OaTaskUserView">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="task_id" jdbcType="INTEGER" property="taskId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="assign_user_id" jdbcType="INTEGER" property="assignUserId" />
    <result column="assign_user_mobile" jdbcType="VARCHAR" property="assignUserMobile" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="has_report" jdbcType="BOOLEAN" property="hasReport" />
    <result column="report_user_id" jdbcType="INTEGER" property="reportUserId" />
    <result column="report_time" jdbcType="TIMESTAMP" property="reportTime" />
    <result column="is_back" jdbcType="BOOLEAN" property="isBack" />
    <result column="is_delete" jdbcType="BIT" property="isDelete" />
    <result column="check_remark" jdbcType="VARCHAR" property="checkRemark" />
    <result column="sort_order" jdbcType="INTEGER" property="sortOrder" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="realname" jdbcType="VARCHAR" property="realname" />
    <result column="task_name" jdbcType="VARCHAR" property="taskName" />
    <result column="task_user_id" jdbcType="INTEGER" property="taskUserId" />
    <result column="task_user_ids" jdbcType="VARCHAR" property="taskUserIds" />
    <result column="task_deadline" jdbcType="TIMESTAMP" property="taskDeadline" />
    <result column="user_file_count" jdbcType="INTEGER" property="userFileCount" />
    <result column="task_contact" jdbcType="VARCHAR" property="taskContact" />
    <result column="task_is_delete" jdbcType="BIT" property="taskIsDelete" />
    <result column="task_is_publish" jdbcType="BIT" property="taskIsPublish" />
    <result column="task_status" jdbcType="TINYINT" property="taskStatus" />
    <result column="task_pub_date" jdbcType="DATE" property="taskPubDate" />
    <result column="task_type" jdbcType="INTEGER" property="taskType" />
    <result column="assign_code" jdbcType="VARCHAR" property="assignCode" />
    <result column="assign_realname" jdbcType="VARCHAR" property="assignRealname" />
    <result column="report_code" jdbcType="VARCHAR" property="reportCode" />
    <result column="report_realname" jdbcType="VARCHAR" property="reportRealname" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="domain.oa.OaTaskUserView">
    <result column="task_content" jdbcType="LONGVARCHAR" property="taskContent" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, task_id, user_id, mobile, title, assign_user_id, assign_user_mobile, content, 
    remark, has_report, report_user_id, report_time, is_back, is_delete, check_remark, 
    sort_order, status, code, realname, task_name, task_user_id, task_user_ids, task_deadline, 
    user_file_count, task_contact, task_is_delete, task_is_publish, task_status, task_pub_date, 
    task_type, assign_code, assign_realname, report_code, report_realname
  </sql>
  <sql id="Blob_Column_List">
    task_content
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="domain.oa.OaTaskUserViewExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from oa_task_user_view
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="domain.oa.OaTaskUserViewExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from oa_task_user_view
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="domain.oa.OaTaskUserViewExample">
    delete from oa_task_user_view
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="domain.oa.OaTaskUserView">
    insert into oa_task_user_view (id, task_id, user_id, 
      mobile, title, assign_user_id, 
      assign_user_mobile, content, remark, 
      has_report, report_user_id, report_time, 
      is_back, is_delete, check_remark, 
      sort_order, status, code, 
      realname, task_name, task_user_id, 
      task_user_ids, task_deadline, user_file_count, 
      task_contact, task_is_delete, task_is_publish, 
      task_status, task_pub_date, task_type, 
      assign_code, assign_realname, report_code, 
      report_realname, task_content)
    values (#{id,jdbcType=INTEGER}, #{taskId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, 
      #{mobile,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, #{assignUserId,jdbcType=INTEGER}, 
      #{assignUserMobile,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{hasReport,jdbcType=BOOLEAN}, #{reportUserId,jdbcType=INTEGER}, #{reportTime,jdbcType=TIMESTAMP}, 
      #{isBack,jdbcType=BOOLEAN}, #{isDelete,jdbcType=BIT}, #{checkRemark,jdbcType=VARCHAR}, 
      #{sortOrder,jdbcType=INTEGER}, #{status,jdbcType=TINYINT}, #{code,jdbcType=VARCHAR}, 
      #{realname,jdbcType=VARCHAR}, #{taskName,jdbcType=VARCHAR}, #{taskUserId,jdbcType=INTEGER}, 
      #{taskUserIds,jdbcType=VARCHAR}, #{taskDeadline,jdbcType=TIMESTAMP}, #{userFileCount,jdbcType=INTEGER}, 
      #{taskContact,jdbcType=VARCHAR}, #{taskIsDelete,jdbcType=BIT}, #{taskIsPublish,jdbcType=BIT}, 
      #{taskStatus,jdbcType=TINYINT}, #{taskPubDate,jdbcType=DATE}, #{taskType,jdbcType=INTEGER}, 
      #{assignCode,jdbcType=VARCHAR}, #{assignRealname,jdbcType=VARCHAR}, #{reportCode,jdbcType=VARCHAR}, 
      #{reportRealname,jdbcType=VARCHAR}, #{taskContent,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="domain.oa.OaTaskUserView">
    insert into oa_task_user_view
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="taskId != null">
        task_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="mobile != null">
        mobile,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="assignUserId != null">
        assign_user_id,
      </if>
      <if test="assignUserMobile != null">
        assign_user_mobile,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="hasReport != null">
        has_report,
      </if>
      <if test="reportUserId != null">
        report_user_id,
      </if>
      <if test="reportTime != null">
        report_time,
      </if>
      <if test="isBack != null">
        is_back,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
      <if test="checkRemark != null">
        check_remark,
      </if>
      <if test="sortOrder != null">
        sort_order,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="realname != null">
        realname,
      </if>
      <if test="taskName != null">
        task_name,
      </if>
      <if test="taskUserId != null">
        task_user_id,
      </if>
      <if test="taskUserIds != null">
        task_user_ids,
      </if>
      <if test="taskDeadline != null">
        task_deadline,
      </if>
      <if test="userFileCount != null">
        user_file_count,
      </if>
      <if test="taskContact != null">
        task_contact,
      </if>
      <if test="taskIsDelete != null">
        task_is_delete,
      </if>
      <if test="taskIsPublish != null">
        task_is_publish,
      </if>
      <if test="taskStatus != null">
        task_status,
      </if>
      <if test="taskPubDate != null">
        task_pub_date,
      </if>
      <if test="taskType != null">
        task_type,
      </if>
      <if test="assignCode != null">
        assign_code,
      </if>
      <if test="assignRealname != null">
        assign_realname,
      </if>
      <if test="reportCode != null">
        report_code,
      </if>
      <if test="reportRealname != null">
        report_realname,
      </if>
      <if test="taskContent != null">
        task_content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="taskId != null">
        #{taskId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="mobile != null">
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="assignUserId != null">
        #{assignUserId,jdbcType=INTEGER},
      </if>
      <if test="assignUserMobile != null">
        #{assignUserMobile,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="hasReport != null">
        #{hasReport,jdbcType=BOOLEAN},
      </if>
      <if test="reportUserId != null">
        #{reportUserId,jdbcType=INTEGER},
      </if>
      <if test="reportTime != null">
        #{reportTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isBack != null">
        #{isBack,jdbcType=BOOLEAN},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=BIT},
      </if>
      <if test="checkRemark != null">
        #{checkRemark,jdbcType=VARCHAR},
      </if>
      <if test="sortOrder != null">
        #{sortOrder,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="realname != null">
        #{realname,jdbcType=VARCHAR},
      </if>
      <if test="taskName != null">
        #{taskName,jdbcType=VARCHAR},
      </if>
      <if test="taskUserId != null">
        #{taskUserId,jdbcType=INTEGER},
      </if>
      <if test="taskUserIds != null">
        #{taskUserIds,jdbcType=VARCHAR},
      </if>
      <if test="taskDeadline != null">
        #{taskDeadline,jdbcType=TIMESTAMP},
      </if>
      <if test="userFileCount != null">
        #{userFileCount,jdbcType=INTEGER},
      </if>
      <if test="taskContact != null">
        #{taskContact,jdbcType=VARCHAR},
      </if>
      <if test="taskIsDelete != null">
        #{taskIsDelete,jdbcType=BIT},
      </if>
      <if test="taskIsPublish != null">
        #{taskIsPublish,jdbcType=BIT},
      </if>
      <if test="taskStatus != null">
        #{taskStatus,jdbcType=TINYINT},
      </if>
      <if test="taskPubDate != null">
        #{taskPubDate,jdbcType=DATE},
      </if>
      <if test="taskType != null">
        #{taskType,jdbcType=INTEGER},
      </if>
      <if test="assignCode != null">
        #{assignCode,jdbcType=VARCHAR},
      </if>
      <if test="assignRealname != null">
        #{assignRealname,jdbcType=VARCHAR},
      </if>
      <if test="reportCode != null">
        #{reportCode,jdbcType=VARCHAR},
      </if>
      <if test="reportRealname != null">
        #{reportRealname,jdbcType=VARCHAR},
      </if>
      <if test="taskContent != null">
        #{taskContent,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="domain.oa.OaTaskUserViewExample" resultType="java.lang.Long">
    select count(*) from oa_task_user_view
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update oa_task_user_view
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.taskId != null">
        task_id = #{record.taskId,jdbcType=INTEGER},
      </if>
      <if test="record.userId != null">
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.mobile != null">
        mobile = #{record.mobile,jdbcType=VARCHAR},
      </if>
      <if test="record.title != null">
        title = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.assignUserId != null">
        assign_user_id = #{record.assignUserId,jdbcType=INTEGER},
      </if>
      <if test="record.assignUserMobile != null">
        assign_user_mobile = #{record.assignUserMobile,jdbcType=VARCHAR},
      </if>
      <if test="record.content != null">
        content = #{record.content,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null">
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.hasReport != null">
        has_report = #{record.hasReport,jdbcType=BOOLEAN},
      </if>
      <if test="record.reportUserId != null">
        report_user_id = #{record.reportUserId,jdbcType=INTEGER},
      </if>
      <if test="record.reportTime != null">
        report_time = #{record.reportTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.isBack != null">
        is_back = #{record.isBack,jdbcType=BOOLEAN},
      </if>
      <if test="record.isDelete != null">
        is_delete = #{record.isDelete,jdbcType=BIT},
      </if>
      <if test="record.checkRemark != null">
        check_remark = #{record.checkRemark,jdbcType=VARCHAR},
      </if>
      <if test="record.sortOrder != null">
        sort_order = #{record.sortOrder,jdbcType=INTEGER},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=TINYINT},
      </if>
      <if test="record.code != null">
        code = #{record.code,jdbcType=VARCHAR},
      </if>
      <if test="record.realname != null">
        realname = #{record.realname,jdbcType=VARCHAR},
      </if>
      <if test="record.taskName != null">
        task_name = #{record.taskName,jdbcType=VARCHAR},
      </if>
      <if test="record.taskUserId != null">
        task_user_id = #{record.taskUserId,jdbcType=INTEGER},
      </if>
      <if test="record.taskUserIds != null">
        task_user_ids = #{record.taskUserIds,jdbcType=VARCHAR},
      </if>
      <if test="record.taskDeadline != null">
        task_deadline = #{record.taskDeadline,jdbcType=TIMESTAMP},
      </if>
      <if test="record.userFileCount != null">
        user_file_count = #{record.userFileCount,jdbcType=INTEGER},
      </if>
      <if test="record.taskContact != null">
        task_contact = #{record.taskContact,jdbcType=VARCHAR},
      </if>
      <if test="record.taskIsDelete != null">
        task_is_delete = #{record.taskIsDelete,jdbcType=BIT},
      </if>
      <if test="record.taskIsPublish != null">
        task_is_publish = #{record.taskIsPublish,jdbcType=BIT},
      </if>
      <if test="record.taskStatus != null">
        task_status = #{record.taskStatus,jdbcType=TINYINT},
      </if>
      <if test="record.taskPubDate != null">
        task_pub_date = #{record.taskPubDate,jdbcType=DATE},
      </if>
      <if test="record.taskType != null">
        task_type = #{record.taskType,jdbcType=INTEGER},
      </if>
      <if test="record.assignCode != null">
        assign_code = #{record.assignCode,jdbcType=VARCHAR},
      </if>
      <if test="record.assignRealname != null">
        assign_realname = #{record.assignRealname,jdbcType=VARCHAR},
      </if>
      <if test="record.reportCode != null">
        report_code = #{record.reportCode,jdbcType=VARCHAR},
      </if>
      <if test="record.reportRealname != null">
        report_realname = #{record.reportRealname,jdbcType=VARCHAR},
      </if>
      <if test="record.taskContent != null">
        task_content = #{record.taskContent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update oa_task_user_view
    set id = #{record.id,jdbcType=INTEGER},
      task_id = #{record.taskId,jdbcType=INTEGER},
      user_id = #{record.userId,jdbcType=INTEGER},
      mobile = #{record.mobile,jdbcType=VARCHAR},
      title = #{record.title,jdbcType=VARCHAR},
      assign_user_id = #{record.assignUserId,jdbcType=INTEGER},
      assign_user_mobile = #{record.assignUserMobile,jdbcType=VARCHAR},
      content = #{record.content,jdbcType=VARCHAR},
      remark = #{record.remark,jdbcType=VARCHAR},
      has_report = #{record.hasReport,jdbcType=BOOLEAN},
      report_user_id = #{record.reportUserId,jdbcType=INTEGER},
      report_time = #{record.reportTime,jdbcType=TIMESTAMP},
      is_back = #{record.isBack,jdbcType=BOOLEAN},
      is_delete = #{record.isDelete,jdbcType=BIT},
      check_remark = #{record.checkRemark,jdbcType=VARCHAR},
      sort_order = #{record.sortOrder,jdbcType=INTEGER},
      status = #{record.status,jdbcType=TINYINT},
      code = #{record.code,jdbcType=VARCHAR},
      realname = #{record.realname,jdbcType=VARCHAR},
      task_name = #{record.taskName,jdbcType=VARCHAR},
      task_user_id = #{record.taskUserId,jdbcType=INTEGER},
      task_user_ids = #{record.taskUserIds,jdbcType=VARCHAR},
      task_deadline = #{record.taskDeadline,jdbcType=TIMESTAMP},
      user_file_count = #{record.userFileCount,jdbcType=INTEGER},
      task_contact = #{record.taskContact,jdbcType=VARCHAR},
      task_is_delete = #{record.taskIsDelete,jdbcType=BIT},
      task_is_publish = #{record.taskIsPublish,jdbcType=BIT},
      task_status = #{record.taskStatus,jdbcType=TINYINT},
      task_pub_date = #{record.taskPubDate,jdbcType=DATE},
      task_type = #{record.taskType,jdbcType=INTEGER},
      assign_code = #{record.assignCode,jdbcType=VARCHAR},
      assign_realname = #{record.assignRealname,jdbcType=VARCHAR},
      report_code = #{record.reportCode,jdbcType=VARCHAR},
      report_realname = #{record.reportRealname,jdbcType=VARCHAR},
      task_content = #{record.taskContent,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update oa_task_user_view
    set id = #{record.id,jdbcType=INTEGER},
      task_id = #{record.taskId,jdbcType=INTEGER},
      user_id = #{record.userId,jdbcType=INTEGER},
      mobile = #{record.mobile,jdbcType=VARCHAR},
      title = #{record.title,jdbcType=VARCHAR},
      assign_user_id = #{record.assignUserId,jdbcType=INTEGER},
      assign_user_mobile = #{record.assignUserMobile,jdbcType=VARCHAR},
      content = #{record.content,jdbcType=VARCHAR},
      remark = #{record.remark,jdbcType=VARCHAR},
      has_report = #{record.hasReport,jdbcType=BOOLEAN},
      report_user_id = #{record.reportUserId,jdbcType=INTEGER},
      report_time = #{record.reportTime,jdbcType=TIMESTAMP},
      is_back = #{record.isBack,jdbcType=BOOLEAN},
      is_delete = #{record.isDelete,jdbcType=BIT},
      check_remark = #{record.checkRemark,jdbcType=VARCHAR},
      sort_order = #{record.sortOrder,jdbcType=INTEGER},
      status = #{record.status,jdbcType=TINYINT},
      code = #{record.code,jdbcType=VARCHAR},
      realname = #{record.realname,jdbcType=VARCHAR},
      task_name = #{record.taskName,jdbcType=VARCHAR},
      task_user_id = #{record.taskUserId,jdbcType=INTEGER},
      task_user_ids = #{record.taskUserIds,jdbcType=VARCHAR},
      task_deadline = #{record.taskDeadline,jdbcType=TIMESTAMP},
      user_file_count = #{record.userFileCount,jdbcType=INTEGER},
      task_contact = #{record.taskContact,jdbcType=VARCHAR},
      task_is_delete = #{record.taskIsDelete,jdbcType=BIT},
      task_is_publish = #{record.taskIsPublish,jdbcType=BIT},
      task_status = #{record.taskStatus,jdbcType=TINYINT},
      task_pub_date = #{record.taskPubDate,jdbcType=DATE},
      task_type = #{record.taskType,jdbcType=INTEGER},
      assign_code = #{record.assignCode,jdbcType=VARCHAR},
      assign_realname = #{record.assignRealname,jdbcType=VARCHAR},
      report_code = #{record.reportCode,jdbcType=VARCHAR},
      report_realname = #{record.reportRealname,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <select id="selectByExampleWithBLOBsWithRowbounds" parameterType="domain.oa.OaTaskUserViewExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from oa_task_user_view
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExampleWithRowbounds" parameterType="domain.oa.OaTaskUserViewExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from oa_task_user_view
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
</mapper>