<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="persistence.party.GraduateAbroadMapper" >
  <resultMap id="BaseResultMap" type="domain.party.GraduateAbroad" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="party_id" property="partyId" jdbcType="INTEGER" />
    <result column="branch_id" property="branchId" jdbcType="INTEGER" />
    <result column="to_branch_id" property="toBranchId" jdbcType="INTEGER" />
    <result column="org_branch_admin_id" property="orgBranchAdminId" jdbcType="INTEGER" />
    <result column="org_branch_admin_phone" property="orgBranchAdminPhone" jdbcType="VARCHAR" />
    <result column="user_type" property="userType" jdbcType="INTEGER" />
    <result column="abroad_reason" property="abroadReason" jdbcType="VARCHAR" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="weixin" property="weixin" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="qq" property="qq" jdbcType="VARCHAR" />
    <result column="in_address" property="inAddress" jdbcType="VARCHAR" />
    <result column="out_address" property="outAddress" jdbcType="VARCHAR" />
    <result column="name1" property="name1" jdbcType="VARCHAR" />
    <result column="relate1" property="relate1" jdbcType="VARCHAR" />
    <result column="unit1" property="unit1" jdbcType="VARCHAR" />
    <result column="post1" property="post1" jdbcType="VARCHAR" />
    <result column="phone1" property="phone1" jdbcType="VARCHAR" />
    <result column="mobile1" property="mobile1" jdbcType="VARCHAR" />
    <result column="email1" property="email1" jdbcType="VARCHAR" />
    <result column="name2" property="name2" jdbcType="VARCHAR" />
    <result column="relate2" property="relate2" jdbcType="VARCHAR" />
    <result column="unit2" property="unit2" jdbcType="VARCHAR" />
    <result column="post2" property="post2" jdbcType="VARCHAR" />
    <result column="phone2" property="phone2" jdbcType="VARCHAR" />
    <result column="mobile2" property="mobile2" jdbcType="VARCHAR" />
    <result column="email2" property="email2" jdbcType="VARCHAR" />
    <result column="country" property="country" jdbcType="VARCHAR" />
    <result column="school" property="school" jdbcType="VARCHAR" />
    <result column="start_time" property="startTime" jdbcType="DATE" />
    <result column="end_time" property="endTime" jdbcType="DATE" />
    <result column="type" property="type" jdbcType="TINYINT" />
    <result column="save_start_time" property="saveStartTime" jdbcType="DATE" />
    <result column="save_end_time" property="saveEndTime" jdbcType="DATE" />
    <result column="pay_time" property="payTime" jdbcType="DATE" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="is_back" property="isBack" jdbcType="BIT" />
    <result column="reason" property="reason" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, user_id, party_id, branch_id, to_branch_id, org_branch_admin_id, org_branch_admin_phone, 
    user_type, abroad_reason, mobile, phone, weixin, email, qq, in_address, out_address, 
    name1, relate1, unit1, post1, phone1, mobile1, email1, name2, relate2, unit2, post2, 
    phone2, mobile2, email2, country, school, start_time, end_time, type, save_start_time, 
    save_end_time, pay_time, status, is_back, reason, create_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="domain.party.GraduateAbroadExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ow_graduate_abroad
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from ow_graduate_abroad
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from ow_graduate_abroad
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="domain.party.GraduateAbroadExample" >
    delete from ow_graduate_abroad
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert keyProperty="id" id="insert" parameterType="domain.party.GraduateAbroad" >
    insert into ow_graduate_abroad (id, user_id, party_id, 
      branch_id, to_branch_id, org_branch_admin_id, 
      org_branch_admin_phone, user_type, abroad_reason, 
      mobile, phone, weixin, 
      email, qq, in_address, 
      out_address, name1, relate1, 
      unit1, post1, phone1, 
      mobile1, email1, name2, 
      relate2, unit2, post2, 
      phone2, mobile2, email2, 
      country, school, start_time, 
      end_time, type, save_start_time, 
      save_end_time, pay_time, status, 
      is_back, reason, create_time
      )
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{partyId,jdbcType=INTEGER}, 
      #{branchId,jdbcType=INTEGER}, #{toBranchId,jdbcType=INTEGER}, #{orgBranchAdminId,jdbcType=INTEGER}, 
      #{orgBranchAdminPhone,jdbcType=VARCHAR}, #{userType,jdbcType=INTEGER}, #{abroadReason,jdbcType=VARCHAR}, 
      #{mobile,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{weixin,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{qq,jdbcType=VARCHAR}, #{inAddress,jdbcType=VARCHAR}, 
      #{outAddress,jdbcType=VARCHAR}, #{name1,jdbcType=VARCHAR}, #{relate1,jdbcType=VARCHAR}, 
      #{unit1,jdbcType=VARCHAR}, #{post1,jdbcType=VARCHAR}, #{phone1,jdbcType=VARCHAR}, 
      #{mobile1,jdbcType=VARCHAR}, #{email1,jdbcType=VARCHAR}, #{name2,jdbcType=VARCHAR}, 
      #{relate2,jdbcType=VARCHAR}, #{unit2,jdbcType=VARCHAR}, #{post2,jdbcType=VARCHAR}, 
      #{phone2,jdbcType=VARCHAR}, #{mobile2,jdbcType=VARCHAR}, #{email2,jdbcType=VARCHAR}, 
      #{country,jdbcType=VARCHAR}, #{school,jdbcType=VARCHAR}, #{startTime,jdbcType=DATE}, 
      #{endTime,jdbcType=DATE}, #{type,jdbcType=TINYINT}, #{saveStartTime,jdbcType=DATE}, 
      #{saveEndTime,jdbcType=DATE}, #{payTime,jdbcType=DATE}, #{status,jdbcType=TINYINT}, 
      #{isBack,jdbcType=BIT}, #{reason,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert keyProperty="id" id="insertSelective" parameterType="domain.party.GraduateAbroad" >
    insert into ow_graduate_abroad
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="partyId != null" >
        party_id,
      </if>
      <if test="branchId != null" >
        branch_id,
      </if>
      <if test="toBranchId != null" >
        to_branch_id,
      </if>
      <if test="orgBranchAdminId != null" >
        org_branch_admin_id,
      </if>
      <if test="orgBranchAdminPhone != null" >
        org_branch_admin_phone,
      </if>
      <if test="userType != null" >
        user_type,
      </if>
      <if test="abroadReason != null" >
        abroad_reason,
      </if>
      <if test="mobile != null" >
        mobile,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="weixin != null" >
        weixin,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="qq != null" >
        qq,
      </if>
      <if test="inAddress != null" >
        in_address,
      </if>
      <if test="outAddress != null" >
        out_address,
      </if>
      <if test="name1 != null" >
        name1,
      </if>
      <if test="relate1 != null" >
        relate1,
      </if>
      <if test="unit1 != null" >
        unit1,
      </if>
      <if test="post1 != null" >
        post1,
      </if>
      <if test="phone1 != null" >
        phone1,
      </if>
      <if test="mobile1 != null" >
        mobile1,
      </if>
      <if test="email1 != null" >
        email1,
      </if>
      <if test="name2 != null" >
        name2,
      </if>
      <if test="relate2 != null" >
        relate2,
      </if>
      <if test="unit2 != null" >
        unit2,
      </if>
      <if test="post2 != null" >
        post2,
      </if>
      <if test="phone2 != null" >
        phone2,
      </if>
      <if test="mobile2 != null" >
        mobile2,
      </if>
      <if test="email2 != null" >
        email2,
      </if>
      <if test="country != null" >
        country,
      </if>
      <if test="school != null" >
        school,
      </if>
      <if test="startTime != null" >
        start_time,
      </if>
      <if test="endTime != null" >
        end_time,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="saveStartTime != null" >
        save_start_time,
      </if>
      <if test="saveEndTime != null" >
        save_end_time,
      </if>
      <if test="payTime != null" >
        pay_time,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="isBack != null" >
        is_back,
      </if>
      <if test="reason != null" >
        reason,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="partyId != null" >
        #{partyId,jdbcType=INTEGER},
      </if>
      <if test="branchId != null" >
        #{branchId,jdbcType=INTEGER},
      </if>
      <if test="toBranchId != null" >
        #{toBranchId,jdbcType=INTEGER},
      </if>
      <if test="orgBranchAdminId != null" >
        #{orgBranchAdminId,jdbcType=INTEGER},
      </if>
      <if test="orgBranchAdminPhone != null" >
        #{orgBranchAdminPhone,jdbcType=VARCHAR},
      </if>
      <if test="userType != null" >
        #{userType,jdbcType=INTEGER},
      </if>
      <if test="abroadReason != null" >
        #{abroadReason,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="weixin != null" >
        #{weixin,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="qq != null" >
        #{qq,jdbcType=VARCHAR},
      </if>
      <if test="inAddress != null" >
        #{inAddress,jdbcType=VARCHAR},
      </if>
      <if test="outAddress != null" >
        #{outAddress,jdbcType=VARCHAR},
      </if>
      <if test="name1 != null" >
        #{name1,jdbcType=VARCHAR},
      </if>
      <if test="relate1 != null" >
        #{relate1,jdbcType=VARCHAR},
      </if>
      <if test="unit1 != null" >
        #{unit1,jdbcType=VARCHAR},
      </if>
      <if test="post1 != null" >
        #{post1,jdbcType=VARCHAR},
      </if>
      <if test="phone1 != null" >
        #{phone1,jdbcType=VARCHAR},
      </if>
      <if test="mobile1 != null" >
        #{mobile1,jdbcType=VARCHAR},
      </if>
      <if test="email1 != null" >
        #{email1,jdbcType=VARCHAR},
      </if>
      <if test="name2 != null" >
        #{name2,jdbcType=VARCHAR},
      </if>
      <if test="relate2 != null" >
        #{relate2,jdbcType=VARCHAR},
      </if>
      <if test="unit2 != null" >
        #{unit2,jdbcType=VARCHAR},
      </if>
      <if test="post2 != null" >
        #{post2,jdbcType=VARCHAR},
      </if>
      <if test="phone2 != null" >
        #{phone2,jdbcType=VARCHAR},
      </if>
      <if test="mobile2 != null" >
        #{mobile2,jdbcType=VARCHAR},
      </if>
      <if test="email2 != null" >
        #{email2,jdbcType=VARCHAR},
      </if>
      <if test="country != null" >
        #{country,jdbcType=VARCHAR},
      </if>
      <if test="school != null" >
        #{school,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null" >
        #{startTime,jdbcType=DATE},
      </if>
      <if test="endTime != null" >
        #{endTime,jdbcType=DATE},
      </if>
      <if test="type != null" >
        #{type,jdbcType=TINYINT},
      </if>
      <if test="saveStartTime != null" >
        #{saveStartTime,jdbcType=DATE},
      </if>
      <if test="saveEndTime != null" >
        #{saveEndTime,jdbcType=DATE},
      </if>
      <if test="payTime != null" >
        #{payTime,jdbcType=DATE},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="isBack != null" >
        #{isBack,jdbcType=BIT},
      </if>
      <if test="reason != null" >
        #{reason,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="domain.party.GraduateAbroadExample" resultType="java.lang.Integer" >
    select count(*) from ow_graduate_abroad
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update ow_graduate_abroad
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.partyId != null" >
        party_id = #{record.partyId,jdbcType=INTEGER},
      </if>
      <if test="record.branchId != null" >
        branch_id = #{record.branchId,jdbcType=INTEGER},
      </if>
      <if test="record.toBranchId != null" >
        to_branch_id = #{record.toBranchId,jdbcType=INTEGER},
      </if>
      <if test="record.orgBranchAdminId != null" >
        org_branch_admin_id = #{record.orgBranchAdminId,jdbcType=INTEGER},
      </if>
      <if test="record.orgBranchAdminPhone != null" >
        org_branch_admin_phone = #{record.orgBranchAdminPhone,jdbcType=VARCHAR},
      </if>
      <if test="record.userType != null" >
        user_type = #{record.userType,jdbcType=INTEGER},
      </if>
      <if test="record.abroadReason != null" >
        abroad_reason = #{record.abroadReason,jdbcType=VARCHAR},
      </if>
      <if test="record.mobile != null" >
        mobile = #{record.mobile,jdbcType=VARCHAR},
      </if>
      <if test="record.phone != null" >
        phone = #{record.phone,jdbcType=VARCHAR},
      </if>
      <if test="record.weixin != null" >
        weixin = #{record.weixin,jdbcType=VARCHAR},
      </if>
      <if test="record.email != null" >
        email = #{record.email,jdbcType=VARCHAR},
      </if>
      <if test="record.qq != null" >
        qq = #{record.qq,jdbcType=VARCHAR},
      </if>
      <if test="record.inAddress != null" >
        in_address = #{record.inAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.outAddress != null" >
        out_address = #{record.outAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.name1 != null" >
        name1 = #{record.name1,jdbcType=VARCHAR},
      </if>
      <if test="record.relate1 != null" >
        relate1 = #{record.relate1,jdbcType=VARCHAR},
      </if>
      <if test="record.unit1 != null" >
        unit1 = #{record.unit1,jdbcType=VARCHAR},
      </if>
      <if test="record.post1 != null" >
        post1 = #{record.post1,jdbcType=VARCHAR},
      </if>
      <if test="record.phone1 != null" >
        phone1 = #{record.phone1,jdbcType=VARCHAR},
      </if>
      <if test="record.mobile1 != null" >
        mobile1 = #{record.mobile1,jdbcType=VARCHAR},
      </if>
      <if test="record.email1 != null" >
        email1 = #{record.email1,jdbcType=VARCHAR},
      </if>
      <if test="record.name2 != null" >
        name2 = #{record.name2,jdbcType=VARCHAR},
      </if>
      <if test="record.relate2 != null" >
        relate2 = #{record.relate2,jdbcType=VARCHAR},
      </if>
      <if test="record.unit2 != null" >
        unit2 = #{record.unit2,jdbcType=VARCHAR},
      </if>
      <if test="record.post2 != null" >
        post2 = #{record.post2,jdbcType=VARCHAR},
      </if>
      <if test="record.phone2 != null" >
        phone2 = #{record.phone2,jdbcType=VARCHAR},
      </if>
      <if test="record.mobile2 != null" >
        mobile2 = #{record.mobile2,jdbcType=VARCHAR},
      </if>
      <if test="record.email2 != null" >
        email2 = #{record.email2,jdbcType=VARCHAR},
      </if>
      <if test="record.country != null" >
        country = #{record.country,jdbcType=VARCHAR},
      </if>
      <if test="record.school != null" >
        school = #{record.school,jdbcType=VARCHAR},
      </if>
      <if test="record.startTime != null" >
        start_time = #{record.startTime,jdbcType=DATE},
      </if>
      <if test="record.endTime != null" >
        end_time = #{record.endTime,jdbcType=DATE},
      </if>
      <if test="record.type != null" >
        type = #{record.type,jdbcType=TINYINT},
      </if>
      <if test="record.saveStartTime != null" >
        save_start_time = #{record.saveStartTime,jdbcType=DATE},
      </if>
      <if test="record.saveEndTime != null" >
        save_end_time = #{record.saveEndTime,jdbcType=DATE},
      </if>
      <if test="record.payTime != null" >
        pay_time = #{record.payTime,jdbcType=DATE},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=TINYINT},
      </if>
      <if test="record.isBack != null" >
        is_back = #{record.isBack,jdbcType=BIT},
      </if>
      <if test="record.reason != null" >
        reason = #{record.reason,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update ow_graduate_abroad
    set id = #{record.id,jdbcType=INTEGER},
      user_id = #{record.userId,jdbcType=INTEGER},
      party_id = #{record.partyId,jdbcType=INTEGER},
      branch_id = #{record.branchId,jdbcType=INTEGER},
      to_branch_id = #{record.toBranchId,jdbcType=INTEGER},
      org_branch_admin_id = #{record.orgBranchAdminId,jdbcType=INTEGER},
      org_branch_admin_phone = #{record.orgBranchAdminPhone,jdbcType=VARCHAR},
      user_type = #{record.userType,jdbcType=INTEGER},
      abroad_reason = #{record.abroadReason,jdbcType=VARCHAR},
      mobile = #{record.mobile,jdbcType=VARCHAR},
      phone = #{record.phone,jdbcType=VARCHAR},
      weixin = #{record.weixin,jdbcType=VARCHAR},
      email = #{record.email,jdbcType=VARCHAR},
      qq = #{record.qq,jdbcType=VARCHAR},
      in_address = #{record.inAddress,jdbcType=VARCHAR},
      out_address = #{record.outAddress,jdbcType=VARCHAR},
      name1 = #{record.name1,jdbcType=VARCHAR},
      relate1 = #{record.relate1,jdbcType=VARCHAR},
      unit1 = #{record.unit1,jdbcType=VARCHAR},
      post1 = #{record.post1,jdbcType=VARCHAR},
      phone1 = #{record.phone1,jdbcType=VARCHAR},
      mobile1 = #{record.mobile1,jdbcType=VARCHAR},
      email1 = #{record.email1,jdbcType=VARCHAR},
      name2 = #{record.name2,jdbcType=VARCHAR},
      relate2 = #{record.relate2,jdbcType=VARCHAR},
      unit2 = #{record.unit2,jdbcType=VARCHAR},
      post2 = #{record.post2,jdbcType=VARCHAR},
      phone2 = #{record.phone2,jdbcType=VARCHAR},
      mobile2 = #{record.mobile2,jdbcType=VARCHAR},
      email2 = #{record.email2,jdbcType=VARCHAR},
      country = #{record.country,jdbcType=VARCHAR},
      school = #{record.school,jdbcType=VARCHAR},
      start_time = #{record.startTime,jdbcType=DATE},
      end_time = #{record.endTime,jdbcType=DATE},
      type = #{record.type,jdbcType=TINYINT},
      save_start_time = #{record.saveStartTime,jdbcType=DATE},
      save_end_time = #{record.saveEndTime,jdbcType=DATE},
      pay_time = #{record.payTime,jdbcType=DATE},
      status = #{record.status,jdbcType=TINYINT},
      is_back = #{record.isBack,jdbcType=BIT},
      reason = #{record.reason,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="domain.party.GraduateAbroad" >
    update ow_graduate_abroad
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="partyId != null" >
        party_id = #{partyId,jdbcType=INTEGER},
      </if>
      <if test="branchId != null" >
        branch_id = #{branchId,jdbcType=INTEGER},
      </if>
      <if test="toBranchId != null" >
        to_branch_id = #{toBranchId,jdbcType=INTEGER},
      </if>
      <if test="orgBranchAdminId != null" >
        org_branch_admin_id = #{orgBranchAdminId,jdbcType=INTEGER},
      </if>
      <if test="orgBranchAdminPhone != null" >
        org_branch_admin_phone = #{orgBranchAdminPhone,jdbcType=VARCHAR},
      </if>
      <if test="userType != null" >
        user_type = #{userType,jdbcType=INTEGER},
      </if>
      <if test="abroadReason != null" >
        abroad_reason = #{abroadReason,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="weixin != null" >
        weixin = #{weixin,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="qq != null" >
        qq = #{qq,jdbcType=VARCHAR},
      </if>
      <if test="inAddress != null" >
        in_address = #{inAddress,jdbcType=VARCHAR},
      </if>
      <if test="outAddress != null" >
        out_address = #{outAddress,jdbcType=VARCHAR},
      </if>
      <if test="name1 != null" >
        name1 = #{name1,jdbcType=VARCHAR},
      </if>
      <if test="relate1 != null" >
        relate1 = #{relate1,jdbcType=VARCHAR},
      </if>
      <if test="unit1 != null" >
        unit1 = #{unit1,jdbcType=VARCHAR},
      </if>
      <if test="post1 != null" >
        post1 = #{post1,jdbcType=VARCHAR},
      </if>
      <if test="phone1 != null" >
        phone1 = #{phone1,jdbcType=VARCHAR},
      </if>
      <if test="mobile1 != null" >
        mobile1 = #{mobile1,jdbcType=VARCHAR},
      </if>
      <if test="email1 != null" >
        email1 = #{email1,jdbcType=VARCHAR},
      </if>
      <if test="name2 != null" >
        name2 = #{name2,jdbcType=VARCHAR},
      </if>
      <if test="relate2 != null" >
        relate2 = #{relate2,jdbcType=VARCHAR},
      </if>
      <if test="unit2 != null" >
        unit2 = #{unit2,jdbcType=VARCHAR},
      </if>
      <if test="post2 != null" >
        post2 = #{post2,jdbcType=VARCHAR},
      </if>
      <if test="phone2 != null" >
        phone2 = #{phone2,jdbcType=VARCHAR},
      </if>
      <if test="mobile2 != null" >
        mobile2 = #{mobile2,jdbcType=VARCHAR},
      </if>
      <if test="email2 != null" >
        email2 = #{email2,jdbcType=VARCHAR},
      </if>
      <if test="country != null" >
        country = #{country,jdbcType=VARCHAR},
      </if>
      <if test="school != null" >
        school = #{school,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null" >
        start_time = #{startTime,jdbcType=DATE},
      </if>
      <if test="endTime != null" >
        end_time = #{endTime,jdbcType=DATE},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=TINYINT},
      </if>
      <if test="saveStartTime != null" >
        save_start_time = #{saveStartTime,jdbcType=DATE},
      </if>
      <if test="saveEndTime != null" >
        save_end_time = #{saveEndTime,jdbcType=DATE},
      </if>
      <if test="payTime != null" >
        pay_time = #{payTime,jdbcType=DATE},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="isBack != null" >
        is_back = #{isBack,jdbcType=BIT},
      </if>
      <if test="reason != null" >
        reason = #{reason,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="domain.party.GraduateAbroad" >
    update ow_graduate_abroad
    set user_id = #{userId,jdbcType=INTEGER},
      party_id = #{partyId,jdbcType=INTEGER},
      branch_id = #{branchId,jdbcType=INTEGER},
      to_branch_id = #{toBranchId,jdbcType=INTEGER},
      org_branch_admin_id = #{orgBranchAdminId,jdbcType=INTEGER},
      org_branch_admin_phone = #{orgBranchAdminPhone,jdbcType=VARCHAR},
      user_type = #{userType,jdbcType=INTEGER},
      abroad_reason = #{abroadReason,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      weixin = #{weixin,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      qq = #{qq,jdbcType=VARCHAR},
      in_address = #{inAddress,jdbcType=VARCHAR},
      out_address = #{outAddress,jdbcType=VARCHAR},
      name1 = #{name1,jdbcType=VARCHAR},
      relate1 = #{relate1,jdbcType=VARCHAR},
      unit1 = #{unit1,jdbcType=VARCHAR},
      post1 = #{post1,jdbcType=VARCHAR},
      phone1 = #{phone1,jdbcType=VARCHAR},
      mobile1 = #{mobile1,jdbcType=VARCHAR},
      email1 = #{email1,jdbcType=VARCHAR},
      name2 = #{name2,jdbcType=VARCHAR},
      relate2 = #{relate2,jdbcType=VARCHAR},
      unit2 = #{unit2,jdbcType=VARCHAR},
      post2 = #{post2,jdbcType=VARCHAR},
      phone2 = #{phone2,jdbcType=VARCHAR},
      mobile2 = #{mobile2,jdbcType=VARCHAR},
      email2 = #{email2,jdbcType=VARCHAR},
      country = #{country,jdbcType=VARCHAR},
      school = #{school,jdbcType=VARCHAR},
      start_time = #{startTime,jdbcType=DATE},
      end_time = #{endTime,jdbcType=DATE},
      type = #{type,jdbcType=TINYINT},
      save_start_time = #{saveStartTime,jdbcType=DATE},
      save_end_time = #{saveEndTime,jdbcType=DATE},
      pay_time = #{payTime,jdbcType=DATE},
      status = #{status,jdbcType=TINYINT},
      is_back = #{isBack,jdbcType=BIT},
      reason = #{reason,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select resultMap="BaseResultMap" parameterType="domain.party.GraduateAbroadExample" id="selectByExampleWithRowbounds" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ow_graduate_abroad
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
</mapper>