<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="persistence.party.PartyMemberViewMapper" >
  <resultMap id="BaseResultMap" type="domain.party.PartyMemberView" >
    <result column="id" property="id" jdbcType="INTEGER" />
    <result column="group_id" property="groupId" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="type_ids" property="typeIds" jdbcType="VARCHAR" />
    <result column="post_id" property="postId" jdbcType="INTEGER" />
    <result column="assign_date" property="assignDate" jdbcType="DATE" />
    <result column="office_phone" property="officePhone" jdbcType="VARCHAR" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="is_admin" property="isAdmin" jdbcType="BIT" />
    <result column="sort_order" property="sortOrder" jdbcType="INTEGER" />
    <result column="msg_title" property="msgTitle" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="realname" property="realname" jdbcType="VARCHAR" />
    <result column="gender" property="gender" jdbcType="TINYINT" />
    <result column="nation" property="nation" jdbcType="VARCHAR" />
    <result column="native_place" property="nativePlace" jdbcType="VARCHAR" />
    <result column="idcard" property="idcard" jdbcType="VARCHAR" />
    <result column="birth" property="birth" jdbcType="DATE" />
    <result column="party_id" property="partyId" jdbcType="INTEGER" />
    <result column="branch_id" property="branchId" jdbcType="INTEGER" />
    <result column="grow_time" property="growTime" jdbcType="DATE" />
    <result column="member_status" property="memberStatus" jdbcType="TINYINT" />
    <result column="group_party_id" property="groupPartyId" jdbcType="INTEGER" />
    <result column="unit_id" property="unitId" jdbcType="INTEGER" />
    <result column="party_sort_order" property="partySortOrder" jdbcType="INTEGER" />
    <result column="post_class" property="postClass" jdbcType="VARCHAR" />
    <result column="sub_post_class" property="subPostClass" jdbcType="VARCHAR" />
    <result column="main_post_level" property="mainPostLevel" jdbcType="VARCHAR" />
    <result column="pro_post_time" property="proPostTime" jdbcType="DATE" />
    <result column="pro_post_level" property="proPostLevel" jdbcType="VARCHAR" />
    <result column="pro_post_level_time" property="proPostLevelTime" jdbcType="DATE" />
    <result column="pro_post" property="proPost" jdbcType="VARCHAR" />
    <result column="manage_level" property="manageLevel" jdbcType="VARCHAR" />
    <result column="manage_level_time" property="manageLevelTime" jdbcType="DATE" />
    <result column="arrive_time" property="arriveTime" jdbcType="DATE" />
    <result column="is_dp" property="isDp" jdbcType="BIT" />
    <result column="dp_type_id" property="dpTypeId" jdbcType="INTEGER" />
    <result column="dp_add_time" property="dpAddTime" jdbcType="DATE" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, group_id, user_id, type_ids, post_id, assign_date, office_phone, mobile, is_admin, 
    sort_order, msg_title, email, realname, gender, nation, native_place, idcard, birth, 
    party_id, branch_id, grow_time, member_status, group_party_id, unit_id, party_sort_order, 
    post_class, sub_post_class, main_post_level, pro_post_time, pro_post_level, pro_post_level_time, 
    pro_post, manage_level, manage_level_time, arrive_time, is_dp, dp_type_id, dp_add_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="domain.party.PartyMemberViewExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ow_party_member_view
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="countByExample" parameterType="domain.party.PartyMemberViewExample" resultType="java.lang.Integer" >
    select count(*) from ow_party_member_view
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <select resultMap="BaseResultMap" parameterType="domain.party.PartyMemberViewExample" id="selectByExampleWithRowbounds" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ow_party_member_view
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
</mapper>