<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="persistence.party.PartyMemberMapper">
  <resultMap id="BaseResultMap" type="domain.party.PartyMember">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="group_id" jdbcType="INTEGER" property="groupId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="type_ids" jdbcType="VARCHAR" property="typeIds" />
    <result column="post_id" jdbcType="INTEGER" property="postId" />
    <result column="assign_date" jdbcType="DATE" property="assignDate" />
    <result column="dismiss_date" jdbcType="DATE" property="dismissDate" />
    <result column="office_phone" jdbcType="VARCHAR" property="officePhone" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="is_admin" jdbcType="BIT" property="isAdmin" />
    <result column="is_history" jdbcType="BIT" property="isHistory" />
    <result column="sort_order" jdbcType="INTEGER" property="sortOrder" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, group_id, user_id, type_ids, post_id, assign_date, dismiss_date, office_phone, 
    mobile, is_admin, is_history, sort_order
  </sql>
  <select id="selectByExample" parameterType="domain.party.PartyMemberExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ow_party_member
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ow_party_member
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ow_party_member
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="domain.party.PartyMemberExample">
    delete from ow_party_member
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="domain.party.PartyMember">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into ow_party_member (group_id, user_id, type_ids, 
      post_id, assign_date, dismiss_date, 
      office_phone, mobile, is_admin, 
      is_history, sort_order)
    values (#{groupId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{typeIds,jdbcType=VARCHAR}, 
      #{postId,jdbcType=INTEGER}, #{assignDate,jdbcType=DATE}, #{dismissDate,jdbcType=DATE}, 
      #{officePhone,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, #{isAdmin,jdbcType=BIT}, 
      #{isHistory,jdbcType=BIT}, #{sortOrder,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="domain.party.PartyMember">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into ow_party_member
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="groupId != null">
        group_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="typeIds != null">
        type_ids,
      </if>
      <if test="postId != null">
        post_id,
      </if>
      <if test="assignDate != null">
        assign_date,
      </if>
      <if test="dismissDate != null">
        dismiss_date,
      </if>
      <if test="officePhone != null">
        office_phone,
      </if>
      <if test="mobile != null">
        mobile,
      </if>
      <if test="isAdmin != null">
        is_admin,
      </if>
      <if test="isHistory != null">
        is_history,
      </if>
      <if test="sortOrder != null">
        sort_order,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="groupId != null">
        #{groupId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="typeIds != null">
        #{typeIds,jdbcType=VARCHAR},
      </if>
      <if test="postId != null">
        #{postId,jdbcType=INTEGER},
      </if>
      <if test="assignDate != null">
        #{assignDate,jdbcType=DATE},
      </if>
      <if test="dismissDate != null">
        #{dismissDate,jdbcType=DATE},
      </if>
      <if test="officePhone != null">
        #{officePhone,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="isAdmin != null">
        #{isAdmin,jdbcType=BIT},
      </if>
      <if test="isHistory != null">
        #{isHistory,jdbcType=BIT},
      </if>
      <if test="sortOrder != null">
        #{sortOrder,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="domain.party.PartyMemberExample" resultType="java.lang.Long">
    select count(*) from ow_party_member
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update ow_party_member
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.groupId != null">
        group_id = #{record.groupId,jdbcType=INTEGER},
      </if>
      <if test="record.userId != null">
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.typeIds != null">
        type_ids = #{record.typeIds,jdbcType=VARCHAR},
      </if>
      <if test="record.postId != null">
        post_id = #{record.postId,jdbcType=INTEGER},
      </if>
      <if test="record.assignDate != null">
        assign_date = #{record.assignDate,jdbcType=DATE},
      </if>
      <if test="record.dismissDate != null">
        dismiss_date = #{record.dismissDate,jdbcType=DATE},
      </if>
      <if test="record.officePhone != null">
        office_phone = #{record.officePhone,jdbcType=VARCHAR},
      </if>
      <if test="record.mobile != null">
        mobile = #{record.mobile,jdbcType=VARCHAR},
      </if>
      <if test="record.isAdmin != null">
        is_admin = #{record.isAdmin,jdbcType=BIT},
      </if>
      <if test="record.isHistory != null">
        is_history = #{record.isHistory,jdbcType=BIT},
      </if>
      <if test="record.sortOrder != null">
        sort_order = #{record.sortOrder,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update ow_party_member
    set id = #{record.id,jdbcType=INTEGER},
      group_id = #{record.groupId,jdbcType=INTEGER},
      user_id = #{record.userId,jdbcType=INTEGER},
      type_ids = #{record.typeIds,jdbcType=VARCHAR},
      post_id = #{record.postId,jdbcType=INTEGER},
      assign_date = #{record.assignDate,jdbcType=DATE},
      dismiss_date = #{record.dismissDate,jdbcType=DATE},
      office_phone = #{record.officePhone,jdbcType=VARCHAR},
      mobile = #{record.mobile,jdbcType=VARCHAR},
      is_admin = #{record.isAdmin,jdbcType=BIT},
      is_history = #{record.isHistory,jdbcType=BIT},
      sort_order = #{record.sortOrder,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="domain.party.PartyMember">
    update ow_party_member
    <set>
      <if test="groupId != null">
        group_id = #{groupId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="typeIds != null">
        type_ids = #{typeIds,jdbcType=VARCHAR},
      </if>
      <if test="postId != null">
        post_id = #{postId,jdbcType=INTEGER},
      </if>
      <if test="assignDate != null">
        assign_date = #{assignDate,jdbcType=DATE},
      </if>
      <if test="dismissDate != null">
        dismiss_date = #{dismissDate,jdbcType=DATE},
      </if>
      <if test="officePhone != null">
        office_phone = #{officePhone,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="isAdmin != null">
        is_admin = #{isAdmin,jdbcType=BIT},
      </if>
      <if test="isHistory != null">
        is_history = #{isHistory,jdbcType=BIT},
      </if>
      <if test="sortOrder != null">
        sort_order = #{sortOrder,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="domain.party.PartyMember">
    update ow_party_member
    set group_id = #{groupId,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      type_ids = #{typeIds,jdbcType=VARCHAR},
      post_id = #{postId,jdbcType=INTEGER},
      assign_date = #{assignDate,jdbcType=DATE},
      dismiss_date = #{dismissDate,jdbcType=DATE},
      office_phone = #{officePhone,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      is_admin = #{isAdmin,jdbcType=BIT},
      is_history = #{isHistory,jdbcType=BIT},
      sort_order = #{sortOrder,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByExampleWithRowbounds" parameterType="domain.party.PartyMemberExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ow_party_member
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
</mapper>