<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="persistence.sys.common.ISysMapper">
    <!-- 刷新权限的所属角色数量 -->
    <update id="updateResourceRoleCount" parameterType="map">
       update sys_resource re,
        (select re.id as resource_id, count(r.id) as role_count from sys_resource re left join sys_role r
        on (!re.is_mobile and find_in_set(re.id, r.resource_ids))
        or (re.is_mobile and find_in_set(re.id, r.m_resource_ids)) group by re.id) as tmp
        set re.role_count=tmp.role_count where re.id=tmp.resource_id;
    </update>

    <sql id="typesSearchSql">
        <if test="types != null and types.length>0">
            and type IN
            <foreach collection="types" item="type" separator="," open="(" close=")">
                #{type}
            </foreach>
        </if>
    </sql>
    <sql id="userSearchSql">
        select * from sys_user_view
        <if test="query == null">
            <where>
                <include refid="typesSearchSql" />
            </where>
        </if>
        <if test="query != null">
        <where>
            <include refid="typesSearchSql" />
            and username like '${query}%'
        </where>
        union
        select * from sys_user_view
        <where>
            <include refid="typesSearchSql" />
            and realname like '${query}%'
        </where>
        union
        select * from sys_user_view
        <where>
            <include refid="typesSearchSql" />
            and code like '${query}%'
        </where>
        </if>
    </sql>
    <select id="selectUserList" resultMap="persistence.sys.SysUserViewMapper.BaseResultMap" parameterType="map">
        <include refid="userSearchSql" />
        order by id desc
    </select>
    <select id="countUserList" parameterType="map" resultType="java.lang.Integer">
        select count(id) from (
        <include refid="userSearchSql"/>
        )tmp
    </select>

    <!-- 每日最高在线人数流量图 -->
    <select id="online_static_day" resultMap="persistence.sys.SysOnlineStaticMapper.BaseResultMap" parameterType="map">
        select a.* from sys_online_static a, (select max(online_count) as online_count, day, month, year
        from sys_online_static
        <where>
            <if test="start!=null">
                and create_time > #{start}
            </if>
            <if test="end!=null">
                and create_time <![CDATA[<]]> #{end}
            </if>
        </where>
        group by day,month, year) b
        where a.day=b.day and a.month=b.month and a.year=b.year and a.online_count=b.online_count
        group by a.day,a.month, a.year order by a.create_time
    </select>
</mapper>