<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="persistence.dispatch.DispatchUnitViewMapper">
  <resultMap id="BaseResultMap" type="domain.dispatch.DispatchUnitView">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="dispatch_id" jdbcType="INTEGER" property="dispatchId" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="unit_id" jdbcType="INTEGER" property="unitId" />
    <result column="old_unit_id" jdbcType="INTEGER" property="oldUnitId" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="year" jdbcType="INTEGER" property="year" />
    <result column="dispatch_type_id" jdbcType="INTEGER" property="dispatchTypeId" />
    <result column="code" jdbcType="INTEGER" property="code" />
    <result column="has_checked" jdbcType="BIT" property="hasChecked" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, dispatch_id, type, unit_id, old_unit_id, remark, year, dispatch_type_id, code, 
    has_checked
  </sql>
  <select id="selectByExample" parameterType="domain.dispatch.DispatchUnitViewExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from dispatch_unit_view
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="countByExample" parameterType="domain.dispatch.DispatchUnitViewExample" resultType="java.lang.Long">
    select count(*) from dispatch_unit_view
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <select id="selectByExampleWithRowbounds" parameterType="domain.dispatch.DispatchUnitViewExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from dispatch_unit_view
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
</mapper>