<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="persistence.dispatch.DispatchCadreViewMapper">
  <resultMap id="BaseResultMap" type="domain.dispatch.DispatchCadreView">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="dispatch_id" jdbcType="INTEGER" property="dispatchId" />
    <result column="cadre_id" jdbcType="INTEGER" property="cadreId" />
    <result column="type" jdbcType="TINYINT" property="type" />
    <result column="unit_post_id" jdbcType="INTEGER" property="unitPostId" />
    <result column="cadre_type_id" jdbcType="INTEGER" property="cadreTypeId" />
    <result column="way_id" jdbcType="INTEGER" property="wayId" />
    <result column="procedure_id" jdbcType="INTEGER" property="procedureId" />
    <result column="post" jdbcType="VARCHAR" property="post" />
    <result column="post_type" jdbcType="INTEGER" property="postType" />
    <result column="admin_level" jdbcType="INTEGER" property="adminLevel" />
    <result column="unit_id" jdbcType="INTEGER" property="unitId" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="record_id" jdbcType="INTEGER" property="recordId" />
    <result column="sort_order" jdbcType="INTEGER" property="sortOrder" />
    <result column="post_team" jdbcType="VARCHAR" property="postTeam" />
    <result column="category" jdbcType="VARCHAR" property="category" />
    <result column="year" jdbcType="INTEGER" property="year" />
    <result column="pub_time" jdbcType="DATE" property="pubTime" />
    <result column="work_time" jdbcType="DATE" property="workTime" />
    <result column="dispatch_type_id" jdbcType="INTEGER" property="dispatchTypeId" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="has_checked" jdbcType="BIT" property="hasChecked" />
    <result column="record_user_id" jdbcType="INTEGER" property="recordUserId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, dispatch_id, cadre_id, type, unit_post_id, cadre_type_id, way_id, procedure_id, 
    post, post_type, admin_level, unit_id, remark, record_id, sort_order, post_team, 
    category, year, pub_time, work_time, dispatch_type_id, code, has_checked, record_user_id
  </sql>
  <select id="selectByExample" parameterType="domain.dispatch.DispatchCadreViewExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from dispatch_cadre_view
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="countByExample" parameterType="domain.dispatch.DispatchCadreViewExample" resultType="java.lang.Long">
    select count(*) from dispatch_cadre_view
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <select id="selectByExampleWithRowbounds" parameterType="domain.dispatch.DispatchCadreViewExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from dispatch_cadre_view
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
</mapper>