<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="persistence.sys.SysConfigMapper">
  <resultMap id="BaseResultMap" type="domain.sys.SysConfig">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="school_name" jdbcType="VARCHAR" property="schoolName" />
    <result column="school_short_name" jdbcType="VARCHAR" property="schoolShortName" />
    <result column="school_login_url" jdbcType="VARCHAR" property="schoolLoginUrl" />
    <result column="term_start_date" jdbcType="DATE" property="termStartDate" />
    <result column="term_end_date" jdbcType="DATE" property="termEndDate" />
    <result column="site_copyright" jdbcType="VARCHAR" property="siteCopyright" />
    <result column="site_keywords" jdbcType="VARCHAR" property="siteKeywords" />
    <result column="site_description" jdbcType="VARCHAR" property="siteDescription" />
    <result column="site_name" jdbcType="VARCHAR" property="siteName" />
    <result column="site_short_name" jdbcType="VARCHAR" property="siteShortName" />
    <result column="mobile_plantform_name" jdbcType="VARCHAR" property="mobilePlantformName" />
    <result column="mobile_title" jdbcType="VARCHAR" property="mobileTitle" />
    <result column="favicon" jdbcType="VARCHAR" property="favicon" />
    <result column="logo" jdbcType="VARCHAR" property="logo" />
    <result column="logo_white" jdbcType="VARCHAR" property="logoWhite" />
    <result column="login_bg" jdbcType="VARCHAR" property="loginBg" />
    <result column="login_top" jdbcType="VARCHAR" property="loginTop" />
    <result column="login_top_bg_color" jdbcType="VARCHAR" property="loginTopBgColor" />
    <result column="dr_login_bg" jdbcType="VARCHAR" property="drLoginBg" />
    <result column="apple_icon" jdbcType="VARCHAR" property="appleIcon" />
    <result column="screen_icon" jdbcType="VARCHAR" property="screenIcon" />
    <result column="qr_logo" jdbcType="VARCHAR" property="qrLogo" />
    <result column="login_msg" jdbcType="VARCHAR" property="loginMsg" />
    <result column="display_login_msg" jdbcType="BIT" property="displayLoginMsg" />
    <result column="login_timeout" jdbcType="INTEGER" property="loginTimeout" />
    <result column="city" jdbcType="VARCHAR" property="city" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, school_name, school_short_name, school_login_url, term_start_date, term_end_date, 
    site_copyright, site_keywords, site_description, site_name, site_short_name, mobile_plantform_name, 
    mobile_title, favicon, logo, logo_white, login_bg, login_top, login_top_bg_color, 
    dr_login_bg, apple_icon, screen_icon, qr_logo, login_msg, display_login_msg, login_timeout, 
    city
  </sql>
  <select id="selectByExample" parameterType="domain.sys.SysConfigExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sys_config
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_config
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sys_config
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="domain.sys.SysConfigExample">
    delete from sys_config
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="domain.sys.SysConfig">
    insert into sys_config (id, school_name, school_short_name, 
      school_login_url, term_start_date, term_end_date, 
      site_copyright, site_keywords, site_description, 
      site_name, site_short_name, mobile_plantform_name, 
      mobile_title, favicon, logo, 
      logo_white, login_bg, login_top, 
      login_top_bg_color, dr_login_bg, apple_icon, 
      screen_icon, qr_logo, login_msg, 
      display_login_msg, login_timeout, city
      )
    values (#{id,jdbcType=INTEGER}, #{schoolName,jdbcType=VARCHAR}, #{schoolShortName,jdbcType=VARCHAR}, 
      #{schoolLoginUrl,jdbcType=VARCHAR}, #{termStartDate,jdbcType=DATE}, #{termEndDate,jdbcType=DATE}, 
      #{siteCopyright,jdbcType=VARCHAR}, #{siteKeywords,jdbcType=VARCHAR}, #{siteDescription,jdbcType=VARCHAR}, 
      #{siteName,jdbcType=VARCHAR}, #{siteShortName,jdbcType=VARCHAR}, #{mobilePlantformName,jdbcType=VARCHAR}, 
      #{mobileTitle,jdbcType=VARCHAR}, #{favicon,jdbcType=VARCHAR}, #{logo,jdbcType=VARCHAR}, 
      #{logoWhite,jdbcType=VARCHAR}, #{loginBg,jdbcType=VARCHAR}, #{loginTop,jdbcType=VARCHAR}, 
      #{loginTopBgColor,jdbcType=VARCHAR}, #{drLoginBg,jdbcType=VARCHAR}, #{appleIcon,jdbcType=VARCHAR}, 
      #{screenIcon,jdbcType=VARCHAR}, #{qrLogo,jdbcType=VARCHAR}, #{loginMsg,jdbcType=VARCHAR}, 
      #{displayLoginMsg,jdbcType=BIT}, #{loginTimeout,jdbcType=INTEGER}, #{city,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="domain.sys.SysConfig">
    insert into sys_config
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="schoolName != null">
        school_name,
      </if>
      <if test="schoolShortName != null">
        school_short_name,
      </if>
      <if test="schoolLoginUrl != null">
        school_login_url,
      </if>
      <if test="termStartDate != null">
        term_start_date,
      </if>
      <if test="termEndDate != null">
        term_end_date,
      </if>
      <if test="siteCopyright != null">
        site_copyright,
      </if>
      <if test="siteKeywords != null">
        site_keywords,
      </if>
      <if test="siteDescription != null">
        site_description,
      </if>
      <if test="siteName != null">
        site_name,
      </if>
      <if test="siteShortName != null">
        site_short_name,
      </if>
      <if test="mobilePlantformName != null">
        mobile_plantform_name,
      </if>
      <if test="mobileTitle != null">
        mobile_title,
      </if>
      <if test="favicon != null">
        favicon,
      </if>
      <if test="logo != null">
        logo,
      </if>
      <if test="logoWhite != null">
        logo_white,
      </if>
      <if test="loginBg != null">
        login_bg,
      </if>
      <if test="loginTop != null">
        login_top,
      </if>
      <if test="loginTopBgColor != null">
        login_top_bg_color,
      </if>
      <if test="drLoginBg != null">
        dr_login_bg,
      </if>
      <if test="appleIcon != null">
        apple_icon,
      </if>
      <if test="screenIcon != null">
        screen_icon,
      </if>
      <if test="qrLogo != null">
        qr_logo,
      </if>
      <if test="loginMsg != null">
        login_msg,
      </if>
      <if test="displayLoginMsg != null">
        display_login_msg,
      </if>
      <if test="loginTimeout != null">
        login_timeout,
      </if>
      <if test="city != null">
        city,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="schoolName != null">
        #{schoolName,jdbcType=VARCHAR},
      </if>
      <if test="schoolShortName != null">
        #{schoolShortName,jdbcType=VARCHAR},
      </if>
      <if test="schoolLoginUrl != null">
        #{schoolLoginUrl,jdbcType=VARCHAR},
      </if>
      <if test="termStartDate != null">
        #{termStartDate,jdbcType=DATE},
      </if>
      <if test="termEndDate != null">
        #{termEndDate,jdbcType=DATE},
      </if>
      <if test="siteCopyright != null">
        #{siteCopyright,jdbcType=VARCHAR},
      </if>
      <if test="siteKeywords != null">
        #{siteKeywords,jdbcType=VARCHAR},
      </if>
      <if test="siteDescription != null">
        #{siteDescription,jdbcType=VARCHAR},
      </if>
      <if test="siteName != null">
        #{siteName,jdbcType=VARCHAR},
      </if>
      <if test="siteShortName != null">
        #{siteShortName,jdbcType=VARCHAR},
      </if>
      <if test="mobilePlantformName != null">
        #{mobilePlantformName,jdbcType=VARCHAR},
      </if>
      <if test="mobileTitle != null">
        #{mobileTitle,jdbcType=VARCHAR},
      </if>
      <if test="favicon != null">
        #{favicon,jdbcType=VARCHAR},
      </if>
      <if test="logo != null">
        #{logo,jdbcType=VARCHAR},
      </if>
      <if test="logoWhite != null">
        #{logoWhite,jdbcType=VARCHAR},
      </if>
      <if test="loginBg != null">
        #{loginBg,jdbcType=VARCHAR},
      </if>
      <if test="loginTop != null">
        #{loginTop,jdbcType=VARCHAR},
      </if>
      <if test="loginTopBgColor != null">
        #{loginTopBgColor,jdbcType=VARCHAR},
      </if>
      <if test="drLoginBg != null">
        #{drLoginBg,jdbcType=VARCHAR},
      </if>
      <if test="appleIcon != null">
        #{appleIcon,jdbcType=VARCHAR},
      </if>
      <if test="screenIcon != null">
        #{screenIcon,jdbcType=VARCHAR},
      </if>
      <if test="qrLogo != null">
        #{qrLogo,jdbcType=VARCHAR},
      </if>
      <if test="loginMsg != null">
        #{loginMsg,jdbcType=VARCHAR},
      </if>
      <if test="displayLoginMsg != null">
        #{displayLoginMsg,jdbcType=BIT},
      </if>
      <if test="loginTimeout != null">
        #{loginTimeout,jdbcType=INTEGER},
      </if>
      <if test="city != null">
        #{city,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="domain.sys.SysConfigExample" resultType="java.lang.Long">
    select count(*) from sys_config
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update sys_config
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.schoolName != null">
        school_name = #{record.schoolName,jdbcType=VARCHAR},
      </if>
      <if test="record.schoolShortName != null">
        school_short_name = #{record.schoolShortName,jdbcType=VARCHAR},
      </if>
      <if test="record.schoolLoginUrl != null">
        school_login_url = #{record.schoolLoginUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.termStartDate != null">
        term_start_date = #{record.termStartDate,jdbcType=DATE},
      </if>
      <if test="record.termEndDate != null">
        term_end_date = #{record.termEndDate,jdbcType=DATE},
      </if>
      <if test="record.siteCopyright != null">
        site_copyright = #{record.siteCopyright,jdbcType=VARCHAR},
      </if>
      <if test="record.siteKeywords != null">
        site_keywords = #{record.siteKeywords,jdbcType=VARCHAR},
      </if>
      <if test="record.siteDescription != null">
        site_description = #{record.siteDescription,jdbcType=VARCHAR},
      </if>
      <if test="record.siteName != null">
        site_name = #{record.siteName,jdbcType=VARCHAR},
      </if>
      <if test="record.siteShortName != null">
        site_short_name = #{record.siteShortName,jdbcType=VARCHAR},
      </if>
      <if test="record.mobilePlantformName != null">
        mobile_plantform_name = #{record.mobilePlantformName,jdbcType=VARCHAR},
      </if>
      <if test="record.mobileTitle != null">
        mobile_title = #{record.mobileTitle,jdbcType=VARCHAR},
      </if>
      <if test="record.favicon != null">
        favicon = #{record.favicon,jdbcType=VARCHAR},
      </if>
      <if test="record.logo != null">
        logo = #{record.logo,jdbcType=VARCHAR},
      </if>
      <if test="record.logoWhite != null">
        logo_white = #{record.logoWhite,jdbcType=VARCHAR},
      </if>
      <if test="record.loginBg != null">
        login_bg = #{record.loginBg,jdbcType=VARCHAR},
      </if>
      <if test="record.loginTop != null">
        login_top = #{record.loginTop,jdbcType=VARCHAR},
      </if>
      <if test="record.loginTopBgColor != null">
        login_top_bg_color = #{record.loginTopBgColor,jdbcType=VARCHAR},
      </if>
      <if test="record.drLoginBg != null">
        dr_login_bg = #{record.drLoginBg,jdbcType=VARCHAR},
      </if>
      <if test="record.appleIcon != null">
        apple_icon = #{record.appleIcon,jdbcType=VARCHAR},
      </if>
      <if test="record.screenIcon != null">
        screen_icon = #{record.screenIcon,jdbcType=VARCHAR},
      </if>
      <if test="record.qrLogo != null">
        qr_logo = #{record.qrLogo,jdbcType=VARCHAR},
      </if>
      <if test="record.loginMsg != null">
        login_msg = #{record.loginMsg,jdbcType=VARCHAR},
      </if>
      <if test="record.displayLoginMsg != null">
        display_login_msg = #{record.displayLoginMsg,jdbcType=BIT},
      </if>
      <if test="record.loginTimeout != null">
        login_timeout = #{record.loginTimeout,jdbcType=INTEGER},
      </if>
      <if test="record.city != null">
        city = #{record.city,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update sys_config
    set id = #{record.id,jdbcType=INTEGER},
      school_name = #{record.schoolName,jdbcType=VARCHAR},
      school_short_name = #{record.schoolShortName,jdbcType=VARCHAR},
      school_login_url = #{record.schoolLoginUrl,jdbcType=VARCHAR},
      term_start_date = #{record.termStartDate,jdbcType=DATE},
      term_end_date = #{record.termEndDate,jdbcType=DATE},
      site_copyright = #{record.siteCopyright,jdbcType=VARCHAR},
      site_keywords = #{record.siteKeywords,jdbcType=VARCHAR},
      site_description = #{record.siteDescription,jdbcType=VARCHAR},
      site_name = #{record.siteName,jdbcType=VARCHAR},
      site_short_name = #{record.siteShortName,jdbcType=VARCHAR},
      mobile_plantform_name = #{record.mobilePlantformName,jdbcType=VARCHAR},
      mobile_title = #{record.mobileTitle,jdbcType=VARCHAR},
      favicon = #{record.favicon,jdbcType=VARCHAR},
      logo = #{record.logo,jdbcType=VARCHAR},
      logo_white = #{record.logoWhite,jdbcType=VARCHAR},
      login_bg = #{record.loginBg,jdbcType=VARCHAR},
      login_top = #{record.loginTop,jdbcType=VARCHAR},
      login_top_bg_color = #{record.loginTopBgColor,jdbcType=VARCHAR},
      dr_login_bg = #{record.drLoginBg,jdbcType=VARCHAR},
      apple_icon = #{record.appleIcon,jdbcType=VARCHAR},
      screen_icon = #{record.screenIcon,jdbcType=VARCHAR},
      qr_logo = #{record.qrLogo,jdbcType=VARCHAR},
      login_msg = #{record.loginMsg,jdbcType=VARCHAR},
      display_login_msg = #{record.displayLoginMsg,jdbcType=BIT},
      login_timeout = #{record.loginTimeout,jdbcType=INTEGER},
      city = #{record.city,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="domain.sys.SysConfig">
    update sys_config
    <set>
      <if test="schoolName != null">
        school_name = #{schoolName,jdbcType=VARCHAR},
      </if>
      <if test="schoolShortName != null">
        school_short_name = #{schoolShortName,jdbcType=VARCHAR},
      </if>
      <if test="schoolLoginUrl != null">
        school_login_url = #{schoolLoginUrl,jdbcType=VARCHAR},
      </if>
      <if test="termStartDate != null">
        term_start_date = #{termStartDate,jdbcType=DATE},
      </if>
      <if test="termEndDate != null">
        term_end_date = #{termEndDate,jdbcType=DATE},
      </if>
      <if test="siteCopyright != null">
        site_copyright = #{siteCopyright,jdbcType=VARCHAR},
      </if>
      <if test="siteKeywords != null">
        site_keywords = #{siteKeywords,jdbcType=VARCHAR},
      </if>
      <if test="siteDescription != null">
        site_description = #{siteDescription,jdbcType=VARCHAR},
      </if>
      <if test="siteName != null">
        site_name = #{siteName,jdbcType=VARCHAR},
      </if>
      <if test="siteShortName != null">
        site_short_name = #{siteShortName,jdbcType=VARCHAR},
      </if>
      <if test="mobilePlantformName != null">
        mobile_plantform_name = #{mobilePlantformName,jdbcType=VARCHAR},
      </if>
      <if test="mobileTitle != null">
        mobile_title = #{mobileTitle,jdbcType=VARCHAR},
      </if>
      <if test="favicon != null">
        favicon = #{favicon,jdbcType=VARCHAR},
      </if>
      <if test="logo != null">
        logo = #{logo,jdbcType=VARCHAR},
      </if>
      <if test="logoWhite != null">
        logo_white = #{logoWhite,jdbcType=VARCHAR},
      </if>
      <if test="loginBg != null">
        login_bg = #{loginBg,jdbcType=VARCHAR},
      </if>
      <if test="loginTop != null">
        login_top = #{loginTop,jdbcType=VARCHAR},
      </if>
      <if test="loginTopBgColor != null">
        login_top_bg_color = #{loginTopBgColor,jdbcType=VARCHAR},
      </if>
      <if test="drLoginBg != null">
        dr_login_bg = #{drLoginBg,jdbcType=VARCHAR},
      </if>
      <if test="appleIcon != null">
        apple_icon = #{appleIcon,jdbcType=VARCHAR},
      </if>
      <if test="screenIcon != null">
        screen_icon = #{screenIcon,jdbcType=VARCHAR},
      </if>
      <if test="qrLogo != null">
        qr_logo = #{qrLogo,jdbcType=VARCHAR},
      </if>
      <if test="loginMsg != null">
        login_msg = #{loginMsg,jdbcType=VARCHAR},
      </if>
      <if test="displayLoginMsg != null">
        display_login_msg = #{displayLoginMsg,jdbcType=BIT},
      </if>
      <if test="loginTimeout != null">
        login_timeout = #{loginTimeout,jdbcType=INTEGER},
      </if>
      <if test="city != null">
        city = #{city,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="domain.sys.SysConfig">
    update sys_config
    set school_name = #{schoolName,jdbcType=VARCHAR},
      school_short_name = #{schoolShortName,jdbcType=VARCHAR},
      school_login_url = #{schoolLoginUrl,jdbcType=VARCHAR},
      term_start_date = #{termStartDate,jdbcType=DATE},
      term_end_date = #{termEndDate,jdbcType=DATE},
      site_copyright = #{siteCopyright,jdbcType=VARCHAR},
      site_keywords = #{siteKeywords,jdbcType=VARCHAR},
      site_description = #{siteDescription,jdbcType=VARCHAR},
      site_name = #{siteName,jdbcType=VARCHAR},
      site_short_name = #{siteShortName,jdbcType=VARCHAR},
      mobile_plantform_name = #{mobilePlantformName,jdbcType=VARCHAR},
      mobile_title = #{mobileTitle,jdbcType=VARCHAR},
      favicon = #{favicon,jdbcType=VARCHAR},
      logo = #{logo,jdbcType=VARCHAR},
      logo_white = #{logoWhite,jdbcType=VARCHAR},
      login_bg = #{loginBg,jdbcType=VARCHAR},
      login_top = #{loginTop,jdbcType=VARCHAR},
      login_top_bg_color = #{loginTopBgColor,jdbcType=VARCHAR},
      dr_login_bg = #{drLoginBg,jdbcType=VARCHAR},
      apple_icon = #{appleIcon,jdbcType=VARCHAR},
      screen_icon = #{screenIcon,jdbcType=VARCHAR},
      qr_logo = #{qrLogo,jdbcType=VARCHAR},
      login_msg = #{loginMsg,jdbcType=VARCHAR},
      display_login_msg = #{displayLoginMsg,jdbcType=BIT},
      login_timeout = #{loginTimeout,jdbcType=INTEGER},
      city = #{city,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByExampleWithRowbounds" parameterType="domain.sys.SysConfigExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sys_config
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
</mapper>