<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="persistence.sys.SysOnlineStaticMapper" >
  <resultMap id="BaseResultMap" type="domain.sys.SysOnlineStatic" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="online_count" property="onlineCount" jdbcType="INTEGER" />
    <result column="bks" property="bks" jdbcType="INTEGER" />
    <result column="yjs" property="yjs" jdbcType="INTEGER" />
    <result column="jzg" property="jzg" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, online_count, bks, yjs, jzg, create_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="domain.sys.SysOnlineStaticExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sys_online_static
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sys_online_static
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sys_online_static
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="domain.sys.SysOnlineStaticExample" >
    delete from sys_online_static
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="domain.sys.SysOnlineStatic" >
    insert into sys_online_static (id, online_count, bks, 
      yjs, jzg, create_time
      )
    values (#{id,jdbcType=INTEGER}, #{onlineCount,jdbcType=INTEGER}, #{bks,jdbcType=INTEGER}, 
      #{yjs,jdbcType=INTEGER}, #{jzg,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="domain.sys.SysOnlineStatic" >
    insert into sys_online_static
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="onlineCount != null" >
        online_count,
      </if>
      <if test="bks != null" >
        bks,
      </if>
      <if test="yjs != null" >
        yjs,
      </if>
      <if test="jzg != null" >
        jzg,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="onlineCount != null" >
        #{onlineCount,jdbcType=INTEGER},
      </if>
      <if test="bks != null" >
        #{bks,jdbcType=INTEGER},
      </if>
      <if test="yjs != null" >
        #{yjs,jdbcType=INTEGER},
      </if>
      <if test="jzg != null" >
        #{jzg,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="domain.sys.SysOnlineStaticExample" resultType="java.lang.Integer" >
    select count(*) from sys_online_static
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update sys_online_static
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.onlineCount != null" >
        online_count = #{record.onlineCount,jdbcType=INTEGER},
      </if>
      <if test="record.bks != null" >
        bks = #{record.bks,jdbcType=INTEGER},
      </if>
      <if test="record.yjs != null" >
        yjs = #{record.yjs,jdbcType=INTEGER},
      </if>
      <if test="record.jzg != null" >
        jzg = #{record.jzg,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update sys_online_static
    set id = #{record.id,jdbcType=INTEGER},
      online_count = #{record.onlineCount,jdbcType=INTEGER},
      bks = #{record.bks,jdbcType=INTEGER},
      yjs = #{record.yjs,jdbcType=INTEGER},
      jzg = #{record.jzg,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="domain.sys.SysOnlineStatic" >
    update sys_online_static
    <set >
      <if test="onlineCount != null" >
        online_count = #{onlineCount,jdbcType=INTEGER},
      </if>
      <if test="bks != null" >
        bks = #{bks,jdbcType=INTEGER},
      </if>
      <if test="yjs != null" >
        yjs = #{yjs,jdbcType=INTEGER},
      </if>
      <if test="jzg != null" >
        jzg = #{jzg,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="domain.sys.SysOnlineStatic" >
    update sys_online_static
    set online_count = #{onlineCount,jdbcType=INTEGER},
      bks = #{bks,jdbcType=INTEGER},
      yjs = #{yjs,jdbcType=INTEGER},
      jzg = #{jzg,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select resultMap="BaseResultMap" parameterType="domain.sys.SysOnlineStaticExample" id="selectByExampleWithRowbounds" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sys_online_static
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
</mapper>