<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="persistence.sys.SysUserInfoMapper">
  <resultMap id="BaseResultMap" type="domain.sys.SysUserInfo">
    <id column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="realname" jdbcType="VARCHAR" property="realname" />
    <result column="country" jdbcType="VARCHAR" property="country" />
    <result column="idcard_type" jdbcType="VARCHAR" property="idcardType" />
    <result column="idcard" jdbcType="VARCHAR" property="idcard" />
    <result column="birth" jdbcType="DATE" property="birth" />
    <result column="avatar" jdbcType="VARCHAR" property="avatar" />
    <result column="avatar_upload_time" jdbcType="TIMESTAMP" property="avatarUploadTime" />
    <result column="gender" jdbcType="TINYINT" property="gender" />
    <result column="nation" jdbcType="VARCHAR" property="nation" />
    <result column="native_place" jdbcType="VARCHAR" property="nativePlace" />
    <result column="homeplace" jdbcType="VARCHAR" property="homeplace" />
    <result column="household" jdbcType="VARCHAR" property="household" />
    <result column="specialty" jdbcType="VARCHAR" property="specialty" />
    <result column="health" jdbcType="INTEGER" property="health" />
    <result column="sign" jdbcType="VARCHAR" property="sign" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="msg_mobile" jdbcType="VARCHAR" property="msgMobile" />
    <result column="not_send_msg" jdbcType="BIT" property="notSendMsg" />
    <result column="file_number" jdbcType="VARCHAR" property="fileNumber" />
    <result column="unit" jdbcType="VARCHAR" property="unit" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="home_phone" jdbcType="VARCHAR" property="homePhone" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="mailing_address" jdbcType="VARCHAR" property="mailingAddress" />
    <result column="msg_title" jdbcType="VARCHAR" property="msgTitle" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    user_id, realname, country, idcard_type, idcard, birth, avatar, avatar_upload_time, 
    gender, nation, native_place, homeplace, household, specialty, health, sign, mobile, 
    msg_mobile, not_send_msg, file_number, unit, phone, home_phone, email, mailing_address, 
    msg_title
  </sql>
  <select id="selectByExample" parameterType="domain.sys.SysUserInfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sys_user_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_user_info
    where user_id = #{userId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sys_user_info
    where user_id = #{userId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="domain.sys.SysUserInfoExample">
    delete from sys_user_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="domain.sys.SysUserInfo">
    insert into sys_user_info (user_id, realname, country, 
      idcard_type, idcard, birth, 
      avatar, avatar_upload_time, gender, 
      nation, native_place, homeplace, 
      household, specialty, health, 
      sign, mobile, msg_mobile, 
      not_send_msg, file_number, unit, 
      phone, home_phone, email, 
      mailing_address, msg_title)
    values (#{userId,jdbcType=INTEGER}, #{realname,jdbcType=VARCHAR}, #{country,jdbcType=VARCHAR}, 
      #{idcardType,jdbcType=VARCHAR}, #{idcard,jdbcType=VARCHAR}, #{birth,jdbcType=DATE}, 
      #{avatar,jdbcType=VARCHAR}, #{avatarUploadTime,jdbcType=TIMESTAMP}, #{gender,jdbcType=TINYINT}, 
      #{nation,jdbcType=VARCHAR}, #{nativePlace,jdbcType=VARCHAR}, #{homeplace,jdbcType=VARCHAR}, 
      #{household,jdbcType=VARCHAR}, #{specialty,jdbcType=VARCHAR}, #{health,jdbcType=INTEGER}, 
      #{sign,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, #{msgMobile,jdbcType=VARCHAR}, 
      #{notSendMsg,jdbcType=BIT}, #{fileNumber,jdbcType=VARCHAR}, #{unit,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{homePhone,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{mailingAddress,jdbcType=VARCHAR}, #{msgTitle,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="domain.sys.SysUserInfo">
    insert into sys_user_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="realname != null">
        realname,
      </if>
      <if test="country != null">
        country,
      </if>
      <if test="idcardType != null">
        idcard_type,
      </if>
      <if test="idcard != null">
        idcard,
      </if>
      <if test="birth != null">
        birth,
      </if>
      <if test="avatar != null">
        avatar,
      </if>
      <if test="avatarUploadTime != null">
        avatar_upload_time,
      </if>
      <if test="gender != null">
        gender,
      </if>
      <if test="nation != null">
        nation,
      </if>
      <if test="nativePlace != null">
        native_place,
      </if>
      <if test="homeplace != null">
        homeplace,
      </if>
      <if test="household != null">
        household,
      </if>
      <if test="specialty != null">
        specialty,
      </if>
      <if test="health != null">
        health,
      </if>
      <if test="sign != null">
        sign,
      </if>
      <if test="mobile != null">
        mobile,
      </if>
      <if test="msgMobile != null">
        msg_mobile,
      </if>
      <if test="notSendMsg != null">
        not_send_msg,
      </if>
      <if test="fileNumber != null">
        file_number,
      </if>
      <if test="unit != null">
        unit,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="homePhone != null">
        home_phone,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="mailingAddress != null">
        mailing_address,
      </if>
      <if test="msgTitle != null">
        msg_title,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="realname != null">
        #{realname,jdbcType=VARCHAR},
      </if>
      <if test="country != null">
        #{country,jdbcType=VARCHAR},
      </if>
      <if test="idcardType != null">
        #{idcardType,jdbcType=VARCHAR},
      </if>
      <if test="idcard != null">
        #{idcard,jdbcType=VARCHAR},
      </if>
      <if test="birth != null">
        #{birth,jdbcType=DATE},
      </if>
      <if test="avatar != null">
        #{avatar,jdbcType=VARCHAR},
      </if>
      <if test="avatarUploadTime != null">
        #{avatarUploadTime,jdbcType=TIMESTAMP},
      </if>
      <if test="gender != null">
        #{gender,jdbcType=TINYINT},
      </if>
      <if test="nation != null">
        #{nation,jdbcType=VARCHAR},
      </if>
      <if test="nativePlace != null">
        #{nativePlace,jdbcType=VARCHAR},
      </if>
      <if test="homeplace != null">
        #{homeplace,jdbcType=VARCHAR},
      </if>
      <if test="household != null">
        #{household,jdbcType=VARCHAR},
      </if>
      <if test="specialty != null">
        #{specialty,jdbcType=VARCHAR},
      </if>
      <if test="health != null">
        #{health,jdbcType=INTEGER},
      </if>
      <if test="sign != null">
        #{sign,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="msgMobile != null">
        #{msgMobile,jdbcType=VARCHAR},
      </if>
      <if test="notSendMsg != null">
        #{notSendMsg,jdbcType=BIT},
      </if>
      <if test="fileNumber != null">
        #{fileNumber,jdbcType=VARCHAR},
      </if>
      <if test="unit != null">
        #{unit,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="homePhone != null">
        #{homePhone,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="mailingAddress != null">
        #{mailingAddress,jdbcType=VARCHAR},
      </if>
      <if test="msgTitle != null">
        #{msgTitle,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="domain.sys.SysUserInfoExample" resultType="java.lang.Long">
    select count(*) from sys_user_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update sys_user_info
    <set>
      <if test="record.userId != null">
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.realname != null">
        realname = #{record.realname,jdbcType=VARCHAR},
      </if>
      <if test="record.country != null">
        country = #{record.country,jdbcType=VARCHAR},
      </if>
      <if test="record.idcardType != null">
        idcard_type = #{record.idcardType,jdbcType=VARCHAR},
      </if>
      <if test="record.idcard != null">
        idcard = #{record.idcard,jdbcType=VARCHAR},
      </if>
      <if test="record.birth != null">
        birth = #{record.birth,jdbcType=DATE},
      </if>
      <if test="record.avatar != null">
        avatar = #{record.avatar,jdbcType=VARCHAR},
      </if>
      <if test="record.avatarUploadTime != null">
        avatar_upload_time = #{record.avatarUploadTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.gender != null">
        gender = #{record.gender,jdbcType=TINYINT},
      </if>
      <if test="record.nation != null">
        nation = #{record.nation,jdbcType=VARCHAR},
      </if>
      <if test="record.nativePlace != null">
        native_place = #{record.nativePlace,jdbcType=VARCHAR},
      </if>
      <if test="record.homeplace != null">
        homeplace = #{record.homeplace,jdbcType=VARCHAR},
      </if>
      <if test="record.household != null">
        household = #{record.household,jdbcType=VARCHAR},
      </if>
      <if test="record.specialty != null">
        specialty = #{record.specialty,jdbcType=VARCHAR},
      </if>
      <if test="record.health != null">
        health = #{record.health,jdbcType=INTEGER},
      </if>
      <if test="record.sign != null">
        sign = #{record.sign,jdbcType=VARCHAR},
      </if>
      <if test="record.mobile != null">
        mobile = #{record.mobile,jdbcType=VARCHAR},
      </if>
      <if test="record.msgMobile != null">
        msg_mobile = #{record.msgMobile,jdbcType=VARCHAR},
      </if>
      <if test="record.notSendMsg != null">
        not_send_msg = #{record.notSendMsg,jdbcType=BIT},
      </if>
      <if test="record.fileNumber != null">
        file_number = #{record.fileNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.unit != null">
        unit = #{record.unit,jdbcType=VARCHAR},
      </if>
      <if test="record.phone != null">
        phone = #{record.phone,jdbcType=VARCHAR},
      </if>
      <if test="record.homePhone != null">
        home_phone = #{record.homePhone,jdbcType=VARCHAR},
      </if>
      <if test="record.email != null">
        email = #{record.email,jdbcType=VARCHAR},
      </if>
      <if test="record.mailingAddress != null">
        mailing_address = #{record.mailingAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.msgTitle != null">
        msg_title = #{record.msgTitle,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update sys_user_info
    set user_id = #{record.userId,jdbcType=INTEGER},
      realname = #{record.realname,jdbcType=VARCHAR},
      country = #{record.country,jdbcType=VARCHAR},
      idcard_type = #{record.idcardType,jdbcType=VARCHAR},
      idcard = #{record.idcard,jdbcType=VARCHAR},
      birth = #{record.birth,jdbcType=DATE},
      avatar = #{record.avatar,jdbcType=VARCHAR},
      avatar_upload_time = #{record.avatarUploadTime,jdbcType=TIMESTAMP},
      gender = #{record.gender,jdbcType=TINYINT},
      nation = #{record.nation,jdbcType=VARCHAR},
      native_place = #{record.nativePlace,jdbcType=VARCHAR},
      homeplace = #{record.homeplace,jdbcType=VARCHAR},
      household = #{record.household,jdbcType=VARCHAR},
      specialty = #{record.specialty,jdbcType=VARCHAR},
      health = #{record.health,jdbcType=INTEGER},
      sign = #{record.sign,jdbcType=VARCHAR},
      mobile = #{record.mobile,jdbcType=VARCHAR},
      msg_mobile = #{record.msgMobile,jdbcType=VARCHAR},
      not_send_msg = #{record.notSendMsg,jdbcType=BIT},
      file_number = #{record.fileNumber,jdbcType=VARCHAR},
      unit = #{record.unit,jdbcType=VARCHAR},
      phone = #{record.phone,jdbcType=VARCHAR},
      home_phone = #{record.homePhone,jdbcType=VARCHAR},
      email = #{record.email,jdbcType=VARCHAR},
      mailing_address = #{record.mailingAddress,jdbcType=VARCHAR},
      msg_title = #{record.msgTitle,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="domain.sys.SysUserInfo">
    update sys_user_info
    <set>
      <if test="realname != null">
        realname = #{realname,jdbcType=VARCHAR},
      </if>
      <if test="country != null">
        country = #{country,jdbcType=VARCHAR},
      </if>
      <if test="idcardType != null">
        idcard_type = #{idcardType,jdbcType=VARCHAR},
      </if>
      <if test="idcard != null">
        idcard = #{idcard,jdbcType=VARCHAR},
      </if>
      <if test="birth != null">
        birth = #{birth,jdbcType=DATE},
      </if>
      <if test="avatar != null">
        avatar = #{avatar,jdbcType=VARCHAR},
      </if>
      <if test="avatarUploadTime != null">
        avatar_upload_time = #{avatarUploadTime,jdbcType=TIMESTAMP},
      </if>
      <if test="gender != null">
        gender = #{gender,jdbcType=TINYINT},
      </if>
      <if test="nation != null">
        nation = #{nation,jdbcType=VARCHAR},
      </if>
      <if test="nativePlace != null">
        native_place = #{nativePlace,jdbcType=VARCHAR},
      </if>
      <if test="homeplace != null">
        homeplace = #{homeplace,jdbcType=VARCHAR},
      </if>
      <if test="household != null">
        household = #{household,jdbcType=VARCHAR},
      </if>
      <if test="specialty != null">
        specialty = #{specialty,jdbcType=VARCHAR},
      </if>
      <if test="health != null">
        health = #{health,jdbcType=INTEGER},
      </if>
      <if test="sign != null">
        sign = #{sign,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="msgMobile != null">
        msg_mobile = #{msgMobile,jdbcType=VARCHAR},
      </if>
      <if test="notSendMsg != null">
        not_send_msg = #{notSendMsg,jdbcType=BIT},
      </if>
      <if test="fileNumber != null">
        file_number = #{fileNumber,jdbcType=VARCHAR},
      </if>
      <if test="unit != null">
        unit = #{unit,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="homePhone != null">
        home_phone = #{homePhone,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="mailingAddress != null">
        mailing_address = #{mailingAddress,jdbcType=VARCHAR},
      </if>
      <if test="msgTitle != null">
        msg_title = #{msgTitle,jdbcType=VARCHAR},
      </if>
    </set>
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="domain.sys.SysUserInfo">
    update sys_user_info
    set realname = #{realname,jdbcType=VARCHAR},
      country = #{country,jdbcType=VARCHAR},
      idcard_type = #{idcardType,jdbcType=VARCHAR},
      idcard = #{idcard,jdbcType=VARCHAR},
      birth = #{birth,jdbcType=DATE},
      avatar = #{avatar,jdbcType=VARCHAR},
      avatar_upload_time = #{avatarUploadTime,jdbcType=TIMESTAMP},
      gender = #{gender,jdbcType=TINYINT},
      nation = #{nation,jdbcType=VARCHAR},
      native_place = #{nativePlace,jdbcType=VARCHAR},
      homeplace = #{homeplace,jdbcType=VARCHAR},
      household = #{household,jdbcType=VARCHAR},
      specialty = #{specialty,jdbcType=VARCHAR},
      health = #{health,jdbcType=INTEGER},
      sign = #{sign,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      msg_mobile = #{msgMobile,jdbcType=VARCHAR},
      not_send_msg = #{notSendMsg,jdbcType=BIT},
      file_number = #{fileNumber,jdbcType=VARCHAR},
      unit = #{unit,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      home_phone = #{homePhone,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      mailing_address = #{mailingAddress,jdbcType=VARCHAR},
      msg_title = #{msgTitle,jdbcType=VARCHAR}
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
  <select id="selectByExampleWithRowbounds" parameterType="domain.sys.SysUserInfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sys_user_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
</mapper>