<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="persistence.sys.SysUserViewMapper">
  <resultMap id="BaseResultMap" type="domain.sys.SysUserView">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="passwd" jdbcType="VARCHAR" property="passwd" />
    <result column="salt" jdbcType="VARCHAR" property="salt" />
    <result column="role_ids" jdbcType="VARCHAR" property="roleIds" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="type" jdbcType="TINYINT" property="type" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="source" jdbcType="TINYINT" property="source" />
    <result column="locked" jdbcType="BIT" property="locked" />
    <result column="timeout" jdbcType="INTEGER" property="timeout" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="realname" jdbcType="VARCHAR" property="realname" />
    <result column="country" jdbcType="VARCHAR" property="country" />
    <result column="idcard_type" jdbcType="VARCHAR" property="idcardType" />
    <result column="idcard" jdbcType="VARCHAR" property="idcard" />
    <result column="birth" jdbcType="DATE" property="birth" />
    <result column="avatar" jdbcType="VARCHAR" property="avatar" />
    <result column="avatar_upload_time" jdbcType="TIMESTAMP" property="avatarUploadTime" />
    <result column="gender" jdbcType="TINYINT" property="gender" />
    <result column="nation" jdbcType="VARCHAR" property="nation" />
    <result column="native_place" jdbcType="VARCHAR" property="nativePlace" />
    <result column="homeplace" jdbcType="VARCHAR" property="homeplace" />
    <result column="household" jdbcType="VARCHAR" property="household" />
    <result column="specialty" jdbcType="VARCHAR" property="specialty" />
    <result column="health" jdbcType="INTEGER" property="health" />
    <result column="sign" jdbcType="VARCHAR" property="sign" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="msg_mobile" jdbcType="VARCHAR" property="msgMobile" />
    <result column="not_send_msg" jdbcType="BIT" property="notSendMsg" />
    <result column="file_number" jdbcType="VARCHAR" property="fileNumber" />
    <result column="unit" jdbcType="VARCHAR" property="unit" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="home_phone" jdbcType="VARCHAR" property="homePhone" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="mailing_address" jdbcType="VARCHAR" property="mailingAddress" />
    <result column="msg_title" jdbcType="VARCHAR" property="msgTitle" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, username, passwd, salt, role_ids, code, type, create_time, source, locked, timeout, 
    user_id, realname, country, idcard_type, idcard, birth, avatar, avatar_upload_time, 
    gender, nation, native_place, homeplace, household, specialty, health, sign, mobile, 
    msg_mobile, not_send_msg, file_number, unit, phone, home_phone, email, mailing_address, 
    msg_title
  </sql>
  <select id="selectByExample" parameterType="domain.sys.SysUserViewExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sys_user_view
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="countByExample" parameterType="domain.sys.SysUserViewExample" resultType="java.lang.Long">
    select count(*) from sys_user_view
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <select id="selectByExampleWithRowbounds" parameterType="domain.sys.SysUserViewExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sys_user_view
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
</mapper>