<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="persistence.cet.common.ICetMapper">

    <!--批量删除已删除的培训记录-->
    <delete id="removeDeletedCetRecords" parameterType="Integer">
        update cet_record set is_deleted=1 where source_id not in(select id from cet_upper_train where is_deleted=0) and source_type = 1;
        update cet_record set is_deleted=1 where source_id not in(select id from cet_unit_train where status=0) and source_type = 3;
        update cet_record set is_deleted=1 where source_id
        not in(select po.id from cet_project_obj po
          left join cet_project p on po.project_id=p.id where p.is_deleted=0 and po.is_quit=0) and source_type = 2;
    </delete>

    <resultMap id="ICetTrainCourseBaseResultMap" type="persistence.cet.common.ICetTrainCourse"
               extends="persistence.cet.CetTrainCourseMapper.BaseResultMap">
        <result column="can_quit" jdbcType="BIT" property="canQuit" />
        <result column="is_finished" jdbcType="BIT" property="isFinished" />
    </resultMap>

    <resultMap id="ICetDiscussGroupBaseResultMap" type="persistence.cet.common.ICetDiscussGroup"
               extends="persistence.cet.CetDiscussGroupMapper.BaseResultMap">
        <result column="plan_id" jdbcType="INTEGER" property="planId" />
        <result column="period" jdbcType="DECIMAL" property="period" />
        <result column="user_id" jdbcType="INTEGER" property="userId" />
        <result column="is_finished" jdbcType="BIT" property="isFinished" />
    </resultMap>

    <resultMap id="TrainBaseResultMap" type="persistence.cet.common.ICetTrain"
               extends="persistence.cet.CetTrainViewMapper.BaseResultMap">
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="course_count" jdbcType="INTEGER" property="courseCount"/>
    </resultMap>

    <sql id="selectUserList_where">
        <where>
            u.id=o.user_id and o.project_id=#{projectId}
            <if test="search != null">
                and (u.username like #{search} or u.realname like #{search} or u.code like #{search})
            </if>
        </where>
    </sql>
    <select id="selectObjList" resultMap="persistence.cet.CetProjectObjMapper.BaseResultMap" parameterType="map">
        select o.* from cet_project_obj o, sys_user_view u
        <include refid="selectUserList_where"/>
    </select>
    <select id="countObjList" parameterType="map" resultType="java.lang.Integer">
        select count(o.id) from cet_project_obj o, sys_user_view u
        <include refid="selectUserList_where"/>
    </select>

    <select id="totalFinishPeriod" parameterType="map" resultType="DECIMAL">
        select sum(period) from cet_record
            where year=${year} and user_id=#{userId}
              <if test="type!=null">
              and type=#{type}
              </if>
              <if test="traineeTypeId!=null">
              and trainee_type_id=#{traineeTypeId}
              </if>
              and is_valid=1
    </select>

    <select id="totalOnlinePeriod" parameterType="map" resultType="DECIMAL">
        select sum(online_period) from cet_record
            where year=${year} and user_id=#{userId}
              <if test="type!=null">
              and type=#{type}
              </if>
              <if test="traineeTypeId!=null">
              and trainee_type_id=#{traineeTypeId}
              </if>
              and is_valid=1
    </select>

    <!-- // 获取培训对象在每年或某个培训项目中的培训方案中的已完成学时（针对线下培训、线上培训和实践教学）-->
    <select id="getPlanFinishPeriod" parameterType="map" resultType="DECIMAL">
        select sum(if(ctov.is_finished, ctov.period, 0)) from cet_train_obj_view ctov
            LEFT JOIN cet_project cp ON ctov.project_id=cp.id
            LEFT JOIN cet_project_plan cpp ON ctov.plan_id=cpp.id
            <where>
                <if test="year!=null">
                    and cp.year=#{year}
                </if>
                <if test="projectId!=null">
                    and cp.id=#{projectId}
                </if>
                and cp.is_valid=1 and cpp.type=${type} and ctov.user_id=#{userId}
            </where>
    </select>

    <!-- 获取培训对象在每年或某培训项目中的培训方案中的已完成学时（针对上级网上专题）-->
    <select id="getSpecialFinishPeriod" parameterType="map" resultType="DECIMAL">
        select sum(cci.period) from cet_plan_course_obj_result cpcor
            left join cet_course_item cci on cci.id=cpcor.course_item_id
            left join cet_plan_course_obj cpco on cpco.id = cpcor.plan_course_obj_id
            left join cet_project_obj cpo on cpo.id = cpco.obj_id
            left join cet_plan_course cpc on cpc.id=cpco.plan_course_id
            LEFT JOIN cet_project_plan cpp ON cpc.plan_id=cpp.id
            LEFT JOIN cet_project cp ON cpp.project_id=cp.id
            <where>
                <if test="year!=null">
                    and cp.year=#{year}
                </if>
                <if test="projectId!=null">
                    and cp.id=#{projectId}
                </if>
                and cp.is_valid=1 and cpp.type=#{type} and cpo.user_id=#{userId} and cpco.is_finished=1
            </where>
    </select>

    <sql id="searchTrains">
        where o.is_quit=0 and o.user_id=#{userId} and ct.is_deleted=0
        <if test="isFinished!=null">
            and ct.is_finished = #{isFinished}
        </if>
    </sql>
    <!-- 查询参训人的培训班列表 -->
    <select id="selectUserCetTrainList" resultMap="TrainBaseResultMap" parameterType="map">
        select ct.*, o.user_id, count(o.id) as course_count
        from cet_train_view ct
          left join cet_train_obj o on ct.id=o.train_id
         group by o.user_id
        <include refid="searchTrains"/>
        order by ct.create_time desc
    </select>
    <select id="countUserCetTrainList" parameterType="map" resultType="java.lang.Integer">
        select count(ct.id) from cet_train_view ct left join cet_train_obj o on ct.id=o.train_id
        <include refid="searchTrains"/>
    </select>

    <!--学员的培训列表 -->
    <sql id="searchUserCetProject">
        <where>
            cpo.is_quit=0 and cpo.user_id=#{userId} and cp.id=cpo.project_id and cp.type=#{projectType}
            <if test="year!=null">
                and cp.year = #{year}
            </if>
            <if test="name!=null">
                and cp.name like '%${name}%'
            </if>
        </where>
    </sql>
    <select id="selectUserCetProjectList" resultMap="persistence.cet.CetProjectMapper.BaseResultMap" parameterType="map">
        select cp.* from cet_project cp, cet_project_obj cpo
        <include refid="searchUserCetProject"/>
        order by cp.year desc, cp.id desc
    </select>
    <select id="countUserCetProjectList" parameterType="map" resultType="java.lang.Integer">
        select count(cp.id) from cet_project cp, cet_project_obj cpo
        <include refid="searchUserCetProject"/>
    </select>

    <!--未选课学员-->
    <select id="notApplyUserIds" parameterType="map" resultType="java.lang.Integer">
        select user_id from cet_project_obj cpo
        where cpo.project_id = #{projectId} and not exists(select 1 from cet_train_obj_view where train_course_id in
        <foreach collection="trainCourseIds" item="trainCourseId" separator="," open="(" close=")">
            #{trainCourseId}
        </foreach>
        and project_id=cpo.project_id and user_id=cpo.user_id)
    </select>

    <!--未上传心得体会学员-->
    <select id="notUploadWriteUserIds" parameterType="map" resultType="java.lang.Integer">
        select user_id from cet_project_obj
        <where>
            project_id = #{projectId}
            <if test="objIds != null and objIds.length>0">
                and id IN
                <foreach collection="objIds" item="objId" separator="," open="(" close=")">
                    #{objId}
                </foreach>
            </if>
            and write_file_path is null
        </where>
    </select>


    <sql id="searchTrainCourses">
        <where>
            <!-- 线下培训从线上或线下课程中选择， 实践教学从实践教学课程中选择-->
            <if test="courseTypes != null and courseTypes.length>0">
                cc.type in
                <foreach collection="courseTypes" item="courseType" separator="," open="(" close=")">
                    #{courseType}
                </foreach>
            </if>
            and cc.is_deleted=0
        <if test="name!=null">
            and cc.name like '%${name}%'
        </if>
        <if test="expertId!=null">
          and cc.expert_id=#{expertId}
        </if>
          and not exists(select 1 from cet_train_course where course_id=cc.id and train_id=#{trainId} and course_id is not null)
        </where>
    </sql>
    <!--培训班 选择 课程-->
    <select id="selectCetTrainCourseList" resultMap="persistence.cet.CetCourseMapper.BaseResultMap" parameterType="map">
        select cc.* from cet_course cc
        <include refid="searchTrainCourses"/>
        order by sort_order desc
    </select>
    <select id="countCetTrainCourseList" parameterType="map" resultType="java.lang.Integer">
        select count(cc.id) from cet_course cc
        <include refid="searchTrainCourses"/>
    </select>

    <sql id="searchPlanCourses">
        <where>
            <!-- 自主学习从自主学习课程中选择， 网上专题从网上专题课程中选择-->
            <if test="courseTypes != null and courseTypes.length>0">
                cc.type in
                <foreach collection="courseTypes" item="courseType" separator="," open="(" close=")">
                    #{courseType}
                </foreach>
            </if>
            and cc.is_deleted=0
        <if test="name!=null">
            and cc.name like '%${name}%'
        </if>

          and not exists(select 1 from cet_plan_course where course_id=cc.id and plan_id=#{planId} and course_id is not null)
        </where>
    </sql>
    <!--培训方案 选择 课程-->
    <select id="selectCetPlanCourseList" resultMap="persistence.cet.CetCourseMapper.BaseResultMap" parameterType="map">
        select cc.* from cet_course cc
        <include refid="searchPlanCourses"/>
        order by sort_order desc
    </select>
    <select id="countCetPlanCourseList" parameterType="map" resultType="java.lang.Integer">
        select count(cc.id) from cet_course cc
        <include refid="searchPlanCourses"/>
    </select>

    <!-- 查询分组讨论学员 -->
    <select id="groupUserIds" parameterType="map" resultType="java.lang.Integer">
        select cpo.user_id from cet_discuss_group_obj cdgo, cet_project_obj cpo
            where cdgo.discuss_group_id=#{discussGroupId} and cdgo.obj_id=cpo.id
            <if test="isFinished!=null">
                and cdgo.is_finished = #{isFinished}
            </if>
            order by cpo.id asc
    </select>
    <!-- 查询学员（自主学习、上级网上专题班）-->
    <select id="finishUserIds" parameterType="map" resultType="java.lang.Integer">
        select cpo.user_id from cet_plan_course_obj cpco, cet_project_obj cpo
        where cpco.plan_course_id=#{planCourseId}
        <if test="isFinished!=null">
            and cpco.is_finished = #{isFinished}
        </if>
        and cpco.obj_id=cpo.id order by cpo.id asc
    </select>

    <select id="unitProjectGroupByStatus" parameterType="map" resultType="map">
        SELECT status, COUNT(*) num FROM cet_unit_project
        <if test="addPermits">
            <if test="adminPartyIdList!=null and adminPartyIdList.size>0">
                where cet_party_id in
                <foreach collection="adminPartyIdList" item="st"
                         index="index" open="(" close=")" separator=",">
                    #{st}
                </foreach>
            </if>
          <if test="adminPartyIdList==null or adminPartyIdList.size==0">
                where cet_party_id is null
            </if>
        </if>
        GROUP BY STATUS
    </select>

    <select id="unitTrainGroupByStatus" parameterType="map" resultType="map">
        SELECT cup.status, COUNT(cut.id) num FROM cet_unit_project cup,cet_unit_train cut
        <where>
            cup.id=cut.project_id and cut.status=0
            <if test="addPermits">
                <if test="adminPartyIdList!=null and adminPartyIdList.size>0">
                    and cup.cet_party_id in
                    <foreach collection="adminPartyIdList" item="st"
                             index="index" open="(" close=")" separator=",">
                        #{st}
                    </foreach>
                </if>
                <if test="adminPartyIdList==null or adminPartyIdList.size==0">
                    and cup.cet_party_id is null
                </if>
            </if>
        </where>
        GROUP BY cup.status
    </select>
    <select id="unitTrainReRecord" parameterType="map" resultType="java.lang.Integer">
        SELECT COUNT(cut.id) num FROM cet_unit_project cup,cet_unit_train cut
        <where>
            cup.id=cut.project_id and cut.status!=0
            <if test="addPermits">
                <if test="adminPartyIdList!=null and adminPartyIdList.size>0">
                    and cup.cet_party_id in
                    <foreach collection="adminPartyIdList" item="st"
                             index="index" open="(" close=")" separator=",">
                        #{st}
                    </foreach>
                </if>
                <if test="adminPartyIdList==null or adminPartyIdList.size==0">
                    and cup.cet_party_id is null
                </if>
            </if>
        </where>
    </select>
</mapper>