<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="persistence.cet.common.ICetMapper">

    <resultMap id="ICetTrainCourseBaseResultMap" type="persistence.cet.common.ICetTrainCourse"
               extends="persistence.cet.CetTrainCourseMapper.BaseResultMap">
        <result column="can_quit" jdbcType="BIT" property="canQuit" />
        <result column="is_finished" jdbcType="BIT" property="isFinished" />
    </resultMap>

    <resultMap id="TrainBaseResultMap" type="persistence.cet.common.ICetTrain"
               extends="persistence.cet.CetTrainViewMapper.BaseResultMap">
        <result column="trainee_id" jdbcType="INTEGER" property="traineeId"/>
        <result column="course_count" jdbcType="INTEGER" property="courseCount"/>
        <result column="total_period" jdbcType="DECIMAL" property="totalPeriod"/>
        <result column="finish_period" jdbcType="DECIMAL" property="finishPeriod"/>
    </resultMap>
    <sql id="searchTrains">
        where ct.plan_id=cpp.id and cpp.project_id=cpo.project_id
        and ctee.train_id = ct.id and cpo.is_quit=0
        and cpo.user_id=#{userId} and ct.is_deleted=0 and ct.pub_status=1
        <if test="hasSelected!=null">
            <if test="hasSelected">
                and ctee.course_count > 0
            </if>
            <if test="!hasSelected">
                and (ctee.course_count is null or ctee.course_count <![CDATA[<=]]> 0)
            </if>
        </if>
        <if test="isFinished!=null">
            and ct.is_finished = #{isFinished}
        </if>
    </sql>
    <!-- 查询参训人的培训班列表 -->
    <select id="selectUserCetTrainList" resultMap="TrainBaseResultMap" parameterType="map">
        select ct.*, cpo.id as obj_id, ctee.id as trainee_id, ctee.course_count
        <if test="hasSelected">
        , tmp.total_period, tmp.finish_period
        </if>
        from cet_train_view ct, cet_project_plan cpp, cet_project_obj cpo
        left join cet_trainee_cadre_view ctee on ctee.obj_id=cpo.id
        <if test="hasSelected">
        , (
        select cteec.trainee_id, sum(cc.period) total_period, sum(if(cteec.is_finished, cc.period, 0)) as finish_period
        from cet_trainee_course cteec, cet_train_course ctc, cet_course cc, cet_trainee ctee
        where ctee.id=cteec.trainee_id and cteec.train_course_id=ctc.id and ctc.course_id=cc.id
        group by cteec.trainee_id
        ) tmp
        </if>
        <include refid="searchTrains"/>
        <if test="hasSelected">
        and tmp.trainee_id=ctee.id
        </if>
        order by ct.create_time desc
    </select>
    <select id="countUserCetTrainList" parameterType="map" resultType="java.lang.Integer">
        select count(ct.id) from cet_train_view ct, cet_project_plan cpp, cet_project_obj cpo
        left join cet_trainee_cadre_view ctee on ctee.obj_id=cpo.id
        <include refid="searchTrains"/>
    </select>

    <!--学员的培训列表 -->
    <sql id="searchUserCetProject">
        <where>
            cpo.user_id=#{userId} and cp.id=cpo.project_id and cp.type=#{projectType}
            <if test="year!=null">
                and cp.year = #{year}
            </if>
            <if test="name!=null">
                and cp.name like '%${name}%'
            </if>
        </where>
    </sql>
    <select id="selectUserCetProjectList" resultMap="persistence.cet.CetProjectMapper.BaseResultMap" parameterType="map">
        select cp.* from cet_project cp, cet_project_obj cpo
        <include refid="searchUserCetProject"/>
        order by cp.year desc, cp.id desc
    </select>
    <select id="countUserCetProjectList" parameterType="map" resultType="java.lang.Integer">
        select count(cp.id) from cet_project cp, cet_project_obj cpo
        <include refid="searchUserCetProject"/>
    </select>

    <sql id="searchTrainCourses">
        <where>
            <!-- 线下培训从线上或线下课程中选择， 实践教学从实践教学课程中选择-->
            <if test="courseTypes != null and courseTypes.length>0">
                cc.type in
                <foreach collection="courseTypes" item="courseType" separator="," open="(" close=")">
                    #{courseType}
                </foreach>
            </if>
            and cc.is_deleted=0
        <if test="name!=null">
            and cc.name like '%${name}%'
        </if>
        <if test="expertId!=null">
          and cc.expert_id=#{expertId}
        </if>
          and not exists(select 1 from cet_train_course where course_id=cc.id and train_id=#{trainId} and course_id is not null)
        </where>
    </sql>
    <!--培训班 选择 课程-->
    <select id="selectCetTrainCourseList" resultMap="persistence.cet.CetCourseMapper.BaseResultMap" parameterType="map">
        select cc.* from cet_course cc
        <include refid="searchTrainCourses"/>
        order by sort_order desc
    </select>
    <select id="countCetTrainCourseList" parameterType="map" resultType="java.lang.Integer">
        select count(cc.id) from cet_course cc
        <include refid="searchTrainCourses"/>
    </select>

    <sql id="searchPlanCourses">
        <where>
            <!-- 自主学习从自主学习课程中选择， 网上专题从网上专题课程中选择-->
            <if test="courseTypes != null and courseTypes.length>0">
                cc.type in
                <foreach collection="courseTypes" item="courseType" separator="," open="(" close=")">
                    #{courseType}
                </foreach>
            </if>
            and cc.is_deleted=0
        <if test="name!=null">
            and cc.name like '%${name}%'
        </if>

          and not exists(select 1 from cet_plan_course where course_id=cc.id and plan_id=#{planId} and course_id is not null)
        </where>
    </sql>
    <!--培训方案 选择 课程-->
    <select id="selectCetPlanCourseList" resultMap="persistence.cet.CetCourseMapper.BaseResultMap" parameterType="map">
        select cc.* from cet_course cc
        <include refid="searchPlanCourses"/>
        order by sort_order desc
    </select>
    <select id="countCetPlanCourseList" parameterType="map" resultType="java.lang.Integer">
        select count(cc.id) from cet_course cc
        <include refid="searchPlanCourses"/>
    </select>
</mapper>