<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="persistence.ext.ExtAbroadMapper" >
  <resultMap id="BaseResultMap" type="domain.ext.ExtAbroad" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="lsh" property="lsh" jdbcType="VARCHAR" />
    <result column="gzzh" property="gzzh" jdbcType="VARCHAR" />
    <result column="gj" property="gj" jdbcType="VARCHAR" />
    <result column="jfly" property="jfly" jdbcType="VARCHAR" />
    <result column="cgjlb" property="cgjlb" jdbcType="VARCHAR" />
    <result column="cgjfs" property="cgjfs" jdbcType="VARCHAR" />
    <result column="yqdw" property="yqdw" jdbcType="VARCHAR" />
    <result column="yqdwdz" property="yqdwdz" jdbcType="VARCHAR" />
    <result column="yqr" property="yqr" jdbcType="VARCHAR" />
    <result column="sqrzc" property="sqrzc" jdbcType="VARCHAR" />
    <result column="sqrsjh" property="sqrsjh" jdbcType="VARCHAR" />
    <result column="sqryx" property="sqryx" jdbcType="VARCHAR" />
    <result column="yjcfsj" property="yjcfsj" jdbcType="DATE" />
    <result column="ygsj" property="ygsj" jdbcType="DATE" />
    <result column="yjtlts" property="yjtlts" jdbcType="INTEGER" />
    <result column="sjcfsj" property="sjcfsj" jdbcType="DATE" />
    <result column="sgsj" property="sgsj" jdbcType="DATE" />
    <result column="sjtlts" property="sjtlts" jdbcType="INTEGER" />
    <result column="yq1s" property="yq1s" jdbcType="DATE" />
    <result column="yq1z" property="yq1z" jdbcType="DATE" />
    <result column="yq2s" property="yq2s" jdbcType="DATE" />
    <result column="yq2z" property="yq2z" jdbcType="DATE" />
    <result column="pzwh" property="pzwh" jdbcType="DATE" />
    <result column="cgjzt" property="cgjzt" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, lsh, gzzh, gj, jfly, cgjlb, cgjfs, yqdw, yqdwdz, yqr, sqrzc, sqrsjh, sqryx, yjcfsj, 
    ygsj, yjtlts, sjcfsj, sgsj, sjtlts, yq1s, yq1z, yq2s, yq2z, pzwh, cgjzt
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="domain.ext.ExtAbroadExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ext_abroad
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from ext_abroad
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from ext_abroad
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="domain.ext.ExtAbroadExample" >
    delete from ext_abroad
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="domain.ext.ExtAbroad" >
    insert into ext_abroad (id, lsh, gzzh, 
      gj, jfly, cgjlb, cgjfs, 
      yqdw, yqdwdz, yqr, 
      sqrzc, sqrsjh, sqryx, 
      yjcfsj, ygsj, yjtlts, sjcfsj, 
      sgsj, sjtlts, yq1s, yq1z, 
      yq2s, yq2z, pzwh, cgjzt
      )
    values (#{id,jdbcType=INTEGER}, #{lsh,jdbcType=VARCHAR}, #{gzzh,jdbcType=VARCHAR}, 
      #{gj,jdbcType=VARCHAR}, #{jfly,jdbcType=VARCHAR}, #{cgjlb,jdbcType=VARCHAR}, #{cgjfs,jdbcType=VARCHAR}, 
      #{yqdw,jdbcType=VARCHAR}, #{yqdwdz,jdbcType=VARCHAR}, #{yqr,jdbcType=VARCHAR}, 
      #{sqrzc,jdbcType=VARCHAR}, #{sqrsjh,jdbcType=VARCHAR}, #{sqryx,jdbcType=VARCHAR}, 
      #{yjcfsj,jdbcType=DATE}, #{ygsj,jdbcType=DATE}, #{yjtlts,jdbcType=INTEGER}, #{sjcfsj,jdbcType=DATE}, 
      #{sgsj,jdbcType=DATE}, #{sjtlts,jdbcType=INTEGER}, #{yq1s,jdbcType=DATE}, #{yq1z,jdbcType=DATE}, 
      #{yq2s,jdbcType=DATE}, #{yq2z,jdbcType=DATE}, #{pzwh,jdbcType=DATE}, #{cgjzt,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="domain.ext.ExtAbroad" >
    insert into ext_abroad
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="lsh != null" >
        lsh,
      </if>
      <if test="gzzh != null" >
        gzzh,
      </if>
      <if test="gj != null" >
        gj,
      </if>
      <if test="jfly != null" >
        jfly,
      </if>
      <if test="cgjlb != null" >
        cgjlb,
      </if>
      <if test="cgjfs != null" >
        cgjfs,
      </if>
      <if test="yqdw != null" >
        yqdw,
      </if>
      <if test="yqdwdz != null" >
        yqdwdz,
      </if>
      <if test="yqr != null" >
        yqr,
      </if>
      <if test="sqrzc != null" >
        sqrzc,
      </if>
      <if test="sqrsjh != null" >
        sqrsjh,
      </if>
      <if test="sqryx != null" >
        sqryx,
      </if>
      <if test="yjcfsj != null" >
        yjcfsj,
      </if>
      <if test="ygsj != null" >
        ygsj,
      </if>
      <if test="yjtlts != null" >
        yjtlts,
      </if>
      <if test="sjcfsj != null" >
        sjcfsj,
      </if>
      <if test="sgsj != null" >
        sgsj,
      </if>
      <if test="sjtlts != null" >
        sjtlts,
      </if>
      <if test="yq1s != null" >
        yq1s,
      </if>
      <if test="yq1z != null" >
        yq1z,
      </if>
      <if test="yq2s != null" >
        yq2s,
      </if>
      <if test="yq2z != null" >
        yq2z,
      </if>
      <if test="pzwh != null" >
        pzwh,
      </if>
      <if test="cgjzt != null" >
        cgjzt,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="lsh != null" >
        #{lsh,jdbcType=VARCHAR},
      </if>
      <if test="gzzh != null" >
        #{gzzh,jdbcType=VARCHAR},
      </if>
      <if test="gj != null" >
        #{gj,jdbcType=VARCHAR},
      </if>
      <if test="jfly != null" >
        #{jfly,jdbcType=VARCHAR},
      </if>
      <if test="cgjlb != null" >
        #{cgjlb,jdbcType=VARCHAR},
      </if>
      <if test="cgjfs != null" >
        #{cgjfs,jdbcType=VARCHAR},
      </if>
      <if test="yqdw != null" >
        #{yqdw,jdbcType=VARCHAR},
      </if>
      <if test="yqdwdz != null" >
        #{yqdwdz,jdbcType=VARCHAR},
      </if>
      <if test="yqr != null" >
        #{yqr,jdbcType=VARCHAR},
      </if>
      <if test="sqrzc != null" >
        #{sqrzc,jdbcType=VARCHAR},
      </if>
      <if test="sqrsjh != null" >
        #{sqrsjh,jdbcType=VARCHAR},
      </if>
      <if test="sqryx != null" >
        #{sqryx,jdbcType=VARCHAR},
      </if>
      <if test="yjcfsj != null" >
        #{yjcfsj,jdbcType=DATE},
      </if>
      <if test="ygsj != null" >
        #{ygsj,jdbcType=DATE},
      </if>
      <if test="yjtlts != null" >
        #{yjtlts,jdbcType=INTEGER},
      </if>
      <if test="sjcfsj != null" >
        #{sjcfsj,jdbcType=DATE},
      </if>
      <if test="sgsj != null" >
        #{sgsj,jdbcType=DATE},
      </if>
      <if test="sjtlts != null" >
        #{sjtlts,jdbcType=INTEGER},
      </if>
      <if test="yq1s != null" >
        #{yq1s,jdbcType=DATE},
      </if>
      <if test="yq1z != null" >
        #{yq1z,jdbcType=DATE},
      </if>
      <if test="yq2s != null" >
        #{yq2s,jdbcType=DATE},
      </if>
      <if test="yq2z != null" >
        #{yq2z,jdbcType=DATE},
      </if>
      <if test="pzwh != null" >
        #{pzwh,jdbcType=DATE},
      </if>
      <if test="cgjzt != null" >
        #{cgjzt,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="domain.ext.ExtAbroadExample" resultType="java.lang.Integer" >
    select count(*) from ext_abroad
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update ext_abroad
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.lsh != null" >
        lsh = #{record.lsh,jdbcType=VARCHAR},
      </if>
      <if test="record.gzzh != null" >
        gzzh = #{record.gzzh,jdbcType=VARCHAR},
      </if>
      <if test="record.gj != null" >
        gj = #{record.gj,jdbcType=VARCHAR},
      </if>
      <if test="record.jfly != null" >
        jfly = #{record.jfly,jdbcType=VARCHAR},
      </if>
      <if test="record.cgjlb != null" >
        cgjlb = #{record.cgjlb,jdbcType=VARCHAR},
      </if>
      <if test="record.cgjfs != null" >
        cgjfs = #{record.cgjfs,jdbcType=VARCHAR},
      </if>
      <if test="record.yqdw != null" >
        yqdw = #{record.yqdw,jdbcType=VARCHAR},
      </if>
      <if test="record.yqdwdz != null" >
        yqdwdz = #{record.yqdwdz,jdbcType=VARCHAR},
      </if>
      <if test="record.yqr != null" >
        yqr = #{record.yqr,jdbcType=VARCHAR},
      </if>
      <if test="record.sqrzc != null" >
        sqrzc = #{record.sqrzc,jdbcType=VARCHAR},
      </if>
      <if test="record.sqrsjh != null" >
        sqrsjh = #{record.sqrsjh,jdbcType=VARCHAR},
      </if>
      <if test="record.sqryx != null" >
        sqryx = #{record.sqryx,jdbcType=VARCHAR},
      </if>
      <if test="record.yjcfsj != null" >
        yjcfsj = #{record.yjcfsj,jdbcType=DATE},
      </if>
      <if test="record.ygsj != null" >
        ygsj = #{record.ygsj,jdbcType=DATE},
      </if>
      <if test="record.yjtlts != null" >
        yjtlts = #{record.yjtlts,jdbcType=INTEGER},
      </if>
      <if test="record.sjcfsj != null" >
        sjcfsj = #{record.sjcfsj,jdbcType=DATE},
      </if>
      <if test="record.sgsj != null" >
        sgsj = #{record.sgsj,jdbcType=DATE},
      </if>
      <if test="record.sjtlts != null" >
        sjtlts = #{record.sjtlts,jdbcType=INTEGER},
      </if>
      <if test="record.yq1s != null" >
        yq1s = #{record.yq1s,jdbcType=DATE},
      </if>
      <if test="record.yq1z != null" >
        yq1z = #{record.yq1z,jdbcType=DATE},
      </if>
      <if test="record.yq2s != null" >
        yq2s = #{record.yq2s,jdbcType=DATE},
      </if>
      <if test="record.yq2z != null" >
        yq2z = #{record.yq2z,jdbcType=DATE},
      </if>
      <if test="record.pzwh != null" >
        pzwh = #{record.pzwh,jdbcType=DATE},
      </if>
      <if test="record.cgjzt != null" >
        cgjzt = #{record.cgjzt,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update ext_abroad
    set id = #{record.id,jdbcType=INTEGER},
      lsh = #{record.lsh,jdbcType=VARCHAR},
      gzzh = #{record.gzzh,jdbcType=VARCHAR},
      gj = #{record.gj,jdbcType=VARCHAR},
      jfly = #{record.jfly,jdbcType=VARCHAR},
      cgjlb = #{record.cgjlb,jdbcType=VARCHAR},
      cgjfs = #{record.cgjfs,jdbcType=VARCHAR},
      yqdw = #{record.yqdw,jdbcType=VARCHAR},
      yqdwdz = #{record.yqdwdz,jdbcType=VARCHAR},
      yqr = #{record.yqr,jdbcType=VARCHAR},
      sqrzc = #{record.sqrzc,jdbcType=VARCHAR},
      sqrsjh = #{record.sqrsjh,jdbcType=VARCHAR},
      sqryx = #{record.sqryx,jdbcType=VARCHAR},
      yjcfsj = #{record.yjcfsj,jdbcType=DATE},
      ygsj = #{record.ygsj,jdbcType=DATE},
      yjtlts = #{record.yjtlts,jdbcType=INTEGER},
      sjcfsj = #{record.sjcfsj,jdbcType=DATE},
      sgsj = #{record.sgsj,jdbcType=DATE},
      sjtlts = #{record.sjtlts,jdbcType=INTEGER},
      yq1s = #{record.yq1s,jdbcType=DATE},
      yq1z = #{record.yq1z,jdbcType=DATE},
      yq2s = #{record.yq2s,jdbcType=DATE},
      yq2z = #{record.yq2z,jdbcType=DATE},
      pzwh = #{record.pzwh,jdbcType=DATE},
      cgjzt = #{record.cgjzt,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="domain.ext.ExtAbroad" >
    update ext_abroad
    <set >
      <if test="lsh != null" >
        lsh = #{lsh,jdbcType=VARCHAR},
      </if>
      <if test="gzzh != null" >
        gzzh = #{gzzh,jdbcType=VARCHAR},
      </if>
      <if test="gj != null" >
        gj = #{gj,jdbcType=VARCHAR},
      </if>
      <if test="jfly != null" >
        jfly = #{jfly,jdbcType=VARCHAR},
      </if>
      <if test="cgjlb != null" >
        cgjlb = #{cgjlb,jdbcType=VARCHAR},
      </if>
      <if test="cgjfs != null" >
        cgjfs = #{cgjfs,jdbcType=VARCHAR},
      </if>
      <if test="yqdw != null" >
        yqdw = #{yqdw,jdbcType=VARCHAR},
      </if>
      <if test="yqdwdz != null" >
        yqdwdz = #{yqdwdz,jdbcType=VARCHAR},
      </if>
      <if test="yqr != null" >
        yqr = #{yqr,jdbcType=VARCHAR},
      </if>
      <if test="sqrzc != null" >
        sqrzc = #{sqrzc,jdbcType=VARCHAR},
      </if>
      <if test="sqrsjh != null" >
        sqrsjh = #{sqrsjh,jdbcType=VARCHAR},
      </if>
      <if test="sqryx != null" >
        sqryx = #{sqryx,jdbcType=VARCHAR},
      </if>
      <if test="yjcfsj != null" >
        yjcfsj = #{yjcfsj,jdbcType=DATE},
      </if>
      <if test="ygsj != null" >
        ygsj = #{ygsj,jdbcType=DATE},
      </if>
      <if test="yjtlts != null" >
        yjtlts = #{yjtlts,jdbcType=INTEGER},
      </if>
      <if test="sjcfsj != null" >
        sjcfsj = #{sjcfsj,jdbcType=DATE},
      </if>
      <if test="sgsj != null" >
        sgsj = #{sgsj,jdbcType=DATE},
      </if>
      <if test="sjtlts != null" >
        sjtlts = #{sjtlts,jdbcType=INTEGER},
      </if>
      <if test="yq1s != null" >
        yq1s = #{yq1s,jdbcType=DATE},
      </if>
      <if test="yq1z != null" >
        yq1z = #{yq1z,jdbcType=DATE},
      </if>
      <if test="yq2s != null" >
        yq2s = #{yq2s,jdbcType=DATE},
      </if>
      <if test="yq2z != null" >
        yq2z = #{yq2z,jdbcType=DATE},
      </if>
      <if test="pzwh != null" >
        pzwh = #{pzwh,jdbcType=DATE},
      </if>
      <if test="cgjzt != null" >
        cgjzt = #{cgjzt,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="domain.ext.ExtAbroad" >
    update ext_abroad
    set lsh = #{lsh,jdbcType=VARCHAR},
      gzzh = #{gzzh,jdbcType=VARCHAR},
      gj = #{gj,jdbcType=VARCHAR},
      jfly = #{jfly,jdbcType=VARCHAR},
      cgjlb = #{cgjlb,jdbcType=VARCHAR},
      cgjfs = #{cgjfs,jdbcType=VARCHAR},
      yqdw = #{yqdw,jdbcType=VARCHAR},
      yqdwdz = #{yqdwdz,jdbcType=VARCHAR},
      yqr = #{yqr,jdbcType=VARCHAR},
      sqrzc = #{sqrzc,jdbcType=VARCHAR},
      sqrsjh = #{sqrsjh,jdbcType=VARCHAR},
      sqryx = #{sqryx,jdbcType=VARCHAR},
      yjcfsj = #{yjcfsj,jdbcType=DATE},
      ygsj = #{ygsj,jdbcType=DATE},
      yjtlts = #{yjtlts,jdbcType=INTEGER},
      sjcfsj = #{sjcfsj,jdbcType=DATE},
      sgsj = #{sgsj,jdbcType=DATE},
      sjtlts = #{sjtlts,jdbcType=INTEGER},
      yq1s = #{yq1s,jdbcType=DATE},
      yq1z = #{yq1z,jdbcType=DATE},
      yq2s = #{yq2s,jdbcType=DATE},
      yq2z = #{yq2z,jdbcType=DATE},
      pzwh = #{pzwh,jdbcType=DATE},
      cgjzt = #{cgjzt,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select resultMap="BaseResultMap" parameterType="domain.ext.ExtAbroadExample" id="selectByExampleWithRowbounds" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ext_abroad
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
</mapper>