<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="persistence.ext.ExtBksMapper">
  <resultMap id="BaseResultMap" type="domain.ext.ExtBks">
    <id column="xh" jdbcType="VARCHAR" property="xh" />
    <result column="xm" jdbcType="VARCHAR" property="xm" />
    <result column="xb" jdbcType="VARCHAR" property="xb" />
    <result column="csrq" jdbcType="VARCHAR" property="csrq" />
    <result column="nj" jdbcType="VARCHAR" property="nj" />
    <result column="yxmc" jdbcType="VARCHAR" property="yxmc" />
    <result column="zymc" jdbcType="VARCHAR" property="zymc" />
    <result column="fgyx" jdbcType="VARCHAR" property="fgyx" />
    <result column="pyfs" jdbcType="VARCHAR" property="pyfs" />
    <result column="mz" jdbcType="VARCHAR" property="mz" />
    <result column="zzmm" jdbcType="VARCHAR" property="zzmm" />
    <result column="xjbd" jdbcType="VARCHAR" property="xjbd" />
    <result column="xjrq" jdbcType="VARCHAR" property="xjrq" />
    <result column="xjyy" jdbcType="VARCHAR" property="xjyy" />
    <result column="sf" jdbcType="VARCHAR" property="sf" />
    <result column="dq" jdbcType="VARCHAR" property="dq" />
    <result column="syxx" jdbcType="VARCHAR" property="syxx" />
    <result column="dxhwpdw" jdbcType="VARCHAR" property="dxhwpdw" />
    <result column="dxdwszd" jdbcType="VARCHAR" property="dxdwszd" />
    <result column="ksh" jdbcType="VARCHAR" property="ksh" />
    <result column="xmpy" jdbcType="VARCHAR" property="xmpy" />
    <result column="kslb" jdbcType="VARCHAR" property="kslb" />
    <result column="wyyz" jdbcType="VARCHAR" property="wyyz" />
    <result column="jtdz" jdbcType="VARCHAR" property="jtdz" />
    <result column="yzbm" jdbcType="VARCHAR" property="yzbm" />
    <result column="lxdh" jdbcType="VARCHAR" property="lxdh" />
    <result column="kl" jdbcType="VARCHAR" property="kl" />
    <result column="lqzymc" jdbcType="VARCHAR" property="lqzymc" />
    <result column="lqyxmc" jdbcType="VARCHAR" property="lqyxmc" />
    <result column="mfsfs" jdbcType="VARCHAR" property="mfsfs" />
    <result column="sfzh" jdbcType="VARCHAR" property="sfzh" />
    <result column="kstc" jdbcType="VARCHAR" property="kstc" />
    <result column="grpj" jdbcType="VARCHAR" property="grpj" />
    <result column="ksjl" jdbcType="VARCHAR" property="ksjl" />
    <result column="xkml" jdbcType="VARCHAR" property="xkml" />
    <result column="zkzh" jdbcType="VARCHAR" property="zkzh" />
    <result column="byxx" jdbcType="VARCHAR" property="byxx" />
    <result column="bz" jdbcType="VARCHAR" property="bz" />
    <result column="sfgfs" jdbcType="VARCHAR" property="sfgfs" />
    <result column="import_time_millis" jdbcType="VARCHAR" property="importTimeMillis" />
    <result column="yxsh" jdbcType="VARCHAR" property="yxsh" />
    <result column="xjzt" jdbcType="VARCHAR" property="xjzt" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    xh, xm, xb, csrq, nj, yxmc, zymc, fgyx, pyfs, mz, zzmm, xjbd, xjrq, xjyy, sf, dq, 
    syxx, dxhwpdw, dxdwszd, ksh, xmpy, kslb, wyyz, jtdz, yzbm, lxdh, kl, lqzymc, lqyxmc, 
    mfsfs, sfzh, kstc, grpj, ksjl, xkml, zkzh, byxx, bz, sfgfs, import_time_millis, yxsh, 
    xjzt
  </sql>
  <select id="selectByExample" parameterType="domain.ext.ExtBksExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ext_bks
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ext_bks
    where xh = #{xh,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from ext_bks
    where xh = #{xh,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="domain.ext.ExtBksExample">
    delete from ext_bks
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="domain.ext.ExtBks">
    insert into ext_bks (xh, xm, xb, csrq, 
      nj, yxmc, zymc, fgyx, 
      pyfs, mz, zzmm, xjbd, 
      xjrq, xjyy, sf, dq, 
      syxx, dxhwpdw, dxdwszd, 
      ksh, xmpy, kslb, wyyz, 
      jtdz, yzbm, lxdh, kl, 
      lqzymc, lqyxmc, mfsfs, 
      sfzh, kstc, grpj, ksjl, 
      xkml, zkzh, byxx, bz, 
      sfgfs, import_time_millis, yxsh, 
      xjzt)
    values (#{xh,jdbcType=VARCHAR}, #{xm,jdbcType=VARCHAR}, #{xb,jdbcType=VARCHAR}, #{csrq,jdbcType=VARCHAR}, 
      #{nj,jdbcType=VARCHAR}, #{yxmc,jdbcType=VARCHAR}, #{zymc,jdbcType=VARCHAR}, #{fgyx,jdbcType=VARCHAR}, 
      #{pyfs,jdbcType=VARCHAR}, #{mz,jdbcType=VARCHAR}, #{zzmm,jdbcType=VARCHAR}, #{xjbd,jdbcType=VARCHAR}, 
      #{xjrq,jdbcType=VARCHAR}, #{xjyy,jdbcType=VARCHAR}, #{sf,jdbcType=VARCHAR}, #{dq,jdbcType=VARCHAR}, 
      #{syxx,jdbcType=VARCHAR}, #{dxhwpdw,jdbcType=VARCHAR}, #{dxdwszd,jdbcType=VARCHAR}, 
      #{ksh,jdbcType=VARCHAR}, #{xmpy,jdbcType=VARCHAR}, #{kslb,jdbcType=VARCHAR}, #{wyyz,jdbcType=VARCHAR}, 
      #{jtdz,jdbcType=VARCHAR}, #{yzbm,jdbcType=VARCHAR}, #{lxdh,jdbcType=VARCHAR}, #{kl,jdbcType=VARCHAR}, 
      #{lqzymc,jdbcType=VARCHAR}, #{lqyxmc,jdbcType=VARCHAR}, #{mfsfs,jdbcType=VARCHAR}, 
      #{sfzh,jdbcType=VARCHAR}, #{kstc,jdbcType=VARCHAR}, #{grpj,jdbcType=VARCHAR}, #{ksjl,jdbcType=VARCHAR}, 
      #{xkml,jdbcType=VARCHAR}, #{zkzh,jdbcType=VARCHAR}, #{byxx,jdbcType=VARCHAR}, #{bz,jdbcType=VARCHAR}, 
      #{sfgfs,jdbcType=VARCHAR}, #{importTimeMillis,jdbcType=VARCHAR}, #{yxsh,jdbcType=VARCHAR}, 
      #{xjzt,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="domain.ext.ExtBks">
    insert into ext_bks
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="xh != null">
        xh,
      </if>
      <if test="xm != null">
        xm,
      </if>
      <if test="xb != null">
        xb,
      </if>
      <if test="csrq != null">
        csrq,
      </if>
      <if test="nj != null">
        nj,
      </if>
      <if test="yxmc != null">
        yxmc,
      </if>
      <if test="zymc != null">
        zymc,
      </if>
      <if test="fgyx != null">
        fgyx,
      </if>
      <if test="pyfs != null">
        pyfs,
      </if>
      <if test="mz != null">
        mz,
      </if>
      <if test="zzmm != null">
        zzmm,
      </if>
      <if test="xjbd != null">
        xjbd,
      </if>
      <if test="xjrq != null">
        xjrq,
      </if>
      <if test="xjyy != null">
        xjyy,
      </if>
      <if test="sf != null">
        sf,
      </if>
      <if test="dq != null">
        dq,
      </if>
      <if test="syxx != null">
        syxx,
      </if>
      <if test="dxhwpdw != null">
        dxhwpdw,
      </if>
      <if test="dxdwszd != null">
        dxdwszd,
      </if>
      <if test="ksh != null">
        ksh,
      </if>
      <if test="xmpy != null">
        xmpy,
      </if>
      <if test="kslb != null">
        kslb,
      </if>
      <if test="wyyz != null">
        wyyz,
      </if>
      <if test="jtdz != null">
        jtdz,
      </if>
      <if test="yzbm != null">
        yzbm,
      </if>
      <if test="lxdh != null">
        lxdh,
      </if>
      <if test="kl != null">
        kl,
      </if>
      <if test="lqzymc != null">
        lqzymc,
      </if>
      <if test="lqyxmc != null">
        lqyxmc,
      </if>
      <if test="mfsfs != null">
        mfsfs,
      </if>
      <if test="sfzh != null">
        sfzh,
      </if>
      <if test="kstc != null">
        kstc,
      </if>
      <if test="grpj != null">
        grpj,
      </if>
      <if test="ksjl != null">
        ksjl,
      </if>
      <if test="xkml != null">
        xkml,
      </if>
      <if test="zkzh != null">
        zkzh,
      </if>
      <if test="byxx != null">
        byxx,
      </if>
      <if test="bz != null">
        bz,
      </if>
      <if test="sfgfs != null">
        sfgfs,
      </if>
      <if test="importTimeMillis != null">
        import_time_millis,
      </if>
      <if test="yxsh != null">
        yxsh,
      </if>
      <if test="xjzt != null">
        xjzt,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="xh != null">
        #{xh,jdbcType=VARCHAR},
      </if>
      <if test="xm != null">
        #{xm,jdbcType=VARCHAR},
      </if>
      <if test="xb != null">
        #{xb,jdbcType=VARCHAR},
      </if>
      <if test="csrq != null">
        #{csrq,jdbcType=VARCHAR},
      </if>
      <if test="nj != null">
        #{nj,jdbcType=VARCHAR},
      </if>
      <if test="yxmc != null">
        #{yxmc,jdbcType=VARCHAR},
      </if>
      <if test="zymc != null">
        #{zymc,jdbcType=VARCHAR},
      </if>
      <if test="fgyx != null">
        #{fgyx,jdbcType=VARCHAR},
      </if>
      <if test="pyfs != null">
        #{pyfs,jdbcType=VARCHAR},
      </if>
      <if test="mz != null">
        #{mz,jdbcType=VARCHAR},
      </if>
      <if test="zzmm != null">
        #{zzmm,jdbcType=VARCHAR},
      </if>
      <if test="xjbd != null">
        #{xjbd,jdbcType=VARCHAR},
      </if>
      <if test="xjrq != null">
        #{xjrq,jdbcType=VARCHAR},
      </if>
      <if test="xjyy != null">
        #{xjyy,jdbcType=VARCHAR},
      </if>
      <if test="sf != null">
        #{sf,jdbcType=VARCHAR},
      </if>
      <if test="dq != null">
        #{dq,jdbcType=VARCHAR},
      </if>
      <if test="syxx != null">
        #{syxx,jdbcType=VARCHAR},
      </if>
      <if test="dxhwpdw != null">
        #{dxhwpdw,jdbcType=VARCHAR},
      </if>
      <if test="dxdwszd != null">
        #{dxdwszd,jdbcType=VARCHAR},
      </if>
      <if test="ksh != null">
        #{ksh,jdbcType=VARCHAR},
      </if>
      <if test="xmpy != null">
        #{xmpy,jdbcType=VARCHAR},
      </if>
      <if test="kslb != null">
        #{kslb,jdbcType=VARCHAR},
      </if>
      <if test="wyyz != null">
        #{wyyz,jdbcType=VARCHAR},
      </if>
      <if test="jtdz != null">
        #{jtdz,jdbcType=VARCHAR},
      </if>
      <if test="yzbm != null">
        #{yzbm,jdbcType=VARCHAR},
      </if>
      <if test="lxdh != null">
        #{lxdh,jdbcType=VARCHAR},
      </if>
      <if test="kl != null">
        #{kl,jdbcType=VARCHAR},
      </if>
      <if test="lqzymc != null">
        #{lqzymc,jdbcType=VARCHAR},
      </if>
      <if test="lqyxmc != null">
        #{lqyxmc,jdbcType=VARCHAR},
      </if>
      <if test="mfsfs != null">
        #{mfsfs,jdbcType=VARCHAR},
      </if>
      <if test="sfzh != null">
        #{sfzh,jdbcType=VARCHAR},
      </if>
      <if test="kstc != null">
        #{kstc,jdbcType=VARCHAR},
      </if>
      <if test="grpj != null">
        #{grpj,jdbcType=VARCHAR},
      </if>
      <if test="ksjl != null">
        #{ksjl,jdbcType=VARCHAR},
      </if>
      <if test="xkml != null">
        #{xkml,jdbcType=VARCHAR},
      </if>
      <if test="zkzh != null">
        #{zkzh,jdbcType=VARCHAR},
      </if>
      <if test="byxx != null">
        #{byxx,jdbcType=VARCHAR},
      </if>
      <if test="bz != null">
        #{bz,jdbcType=VARCHAR},
      </if>
      <if test="sfgfs != null">
        #{sfgfs,jdbcType=VARCHAR},
      </if>
      <if test="importTimeMillis != null">
        #{importTimeMillis,jdbcType=VARCHAR},
      </if>
      <if test="yxsh != null">
        #{yxsh,jdbcType=VARCHAR},
      </if>
      <if test="xjzt != null">
        #{xjzt,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="domain.ext.ExtBksExample" resultType="java.lang.Long">
    select count(*) from ext_bks
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update ext_bks
    <set>
      <if test="record.xh != null">
        xh = #{record.xh,jdbcType=VARCHAR},
      </if>
      <if test="record.xm != null">
        xm = #{record.xm,jdbcType=VARCHAR},
      </if>
      <if test="record.xb != null">
        xb = #{record.xb,jdbcType=VARCHAR},
      </if>
      <if test="record.csrq != null">
        csrq = #{record.csrq,jdbcType=VARCHAR},
      </if>
      <if test="record.nj != null">
        nj = #{record.nj,jdbcType=VARCHAR},
      </if>
      <if test="record.yxmc != null">
        yxmc = #{record.yxmc,jdbcType=VARCHAR},
      </if>
      <if test="record.zymc != null">
        zymc = #{record.zymc,jdbcType=VARCHAR},
      </if>
      <if test="record.fgyx != null">
        fgyx = #{record.fgyx,jdbcType=VARCHAR},
      </if>
      <if test="record.pyfs != null">
        pyfs = #{record.pyfs,jdbcType=VARCHAR},
      </if>
      <if test="record.mz != null">
        mz = #{record.mz,jdbcType=VARCHAR},
      </if>
      <if test="record.zzmm != null">
        zzmm = #{record.zzmm,jdbcType=VARCHAR},
      </if>
      <if test="record.xjbd != null">
        xjbd = #{record.xjbd,jdbcType=VARCHAR},
      </if>
      <if test="record.xjrq != null">
        xjrq = #{record.xjrq,jdbcType=VARCHAR},
      </if>
      <if test="record.xjyy != null">
        xjyy = #{record.xjyy,jdbcType=VARCHAR},
      </if>
      <if test="record.sf != null">
        sf = #{record.sf,jdbcType=VARCHAR},
      </if>
      <if test="record.dq != null">
        dq = #{record.dq,jdbcType=VARCHAR},
      </if>
      <if test="record.syxx != null">
        syxx = #{record.syxx,jdbcType=VARCHAR},
      </if>
      <if test="record.dxhwpdw != null">
        dxhwpdw = #{record.dxhwpdw,jdbcType=VARCHAR},
      </if>
      <if test="record.dxdwszd != null">
        dxdwszd = #{record.dxdwszd,jdbcType=VARCHAR},
      </if>
      <if test="record.ksh != null">
        ksh = #{record.ksh,jdbcType=VARCHAR},
      </if>
      <if test="record.xmpy != null">
        xmpy = #{record.xmpy,jdbcType=VARCHAR},
      </if>
      <if test="record.kslb != null">
        kslb = #{record.kslb,jdbcType=VARCHAR},
      </if>
      <if test="record.wyyz != null">
        wyyz = #{record.wyyz,jdbcType=VARCHAR},
      </if>
      <if test="record.jtdz != null">
        jtdz = #{record.jtdz,jdbcType=VARCHAR},
      </if>
      <if test="record.yzbm != null">
        yzbm = #{record.yzbm,jdbcType=VARCHAR},
      </if>
      <if test="record.lxdh != null">
        lxdh = #{record.lxdh,jdbcType=VARCHAR},
      </if>
      <if test="record.kl != null">
        kl = #{record.kl,jdbcType=VARCHAR},
      </if>
      <if test="record.lqzymc != null">
        lqzymc = #{record.lqzymc,jdbcType=VARCHAR},
      </if>
      <if test="record.lqyxmc != null">
        lqyxmc = #{record.lqyxmc,jdbcType=VARCHAR},
      </if>
      <if test="record.mfsfs != null">
        mfsfs = #{record.mfsfs,jdbcType=VARCHAR},
      </if>
      <if test="record.sfzh != null">
        sfzh = #{record.sfzh,jdbcType=VARCHAR},
      </if>
      <if test="record.kstc != null">
        kstc = #{record.kstc,jdbcType=VARCHAR},
      </if>
      <if test="record.grpj != null">
        grpj = #{record.grpj,jdbcType=VARCHAR},
      </if>
      <if test="record.ksjl != null">
        ksjl = #{record.ksjl,jdbcType=VARCHAR},
      </if>
      <if test="record.xkml != null">
        xkml = #{record.xkml,jdbcType=VARCHAR},
      </if>
      <if test="record.zkzh != null">
        zkzh = #{record.zkzh,jdbcType=VARCHAR},
      </if>
      <if test="record.byxx != null">
        byxx = #{record.byxx,jdbcType=VARCHAR},
      </if>
      <if test="record.bz != null">
        bz = #{record.bz,jdbcType=VARCHAR},
      </if>
      <if test="record.sfgfs != null">
        sfgfs = #{record.sfgfs,jdbcType=VARCHAR},
      </if>
      <if test="record.importTimeMillis != null">
        import_time_millis = #{record.importTimeMillis,jdbcType=VARCHAR},
      </if>
      <if test="record.yxsh != null">
        yxsh = #{record.yxsh,jdbcType=VARCHAR},
      </if>
      <if test="record.xjzt != null">
        xjzt = #{record.xjzt,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update ext_bks
    set xh = #{record.xh,jdbcType=VARCHAR},
      xm = #{record.xm,jdbcType=VARCHAR},
      xb = #{record.xb,jdbcType=VARCHAR},
      csrq = #{record.csrq,jdbcType=VARCHAR},
      nj = #{record.nj,jdbcType=VARCHAR},
      yxmc = #{record.yxmc,jdbcType=VARCHAR},
      zymc = #{record.zymc,jdbcType=VARCHAR},
      fgyx = #{record.fgyx,jdbcType=VARCHAR},
      pyfs = #{record.pyfs,jdbcType=VARCHAR},
      mz = #{record.mz,jdbcType=VARCHAR},
      zzmm = #{record.zzmm,jdbcType=VARCHAR},
      xjbd = #{record.xjbd,jdbcType=VARCHAR},
      xjrq = #{record.xjrq,jdbcType=VARCHAR},
      xjyy = #{record.xjyy,jdbcType=VARCHAR},
      sf = #{record.sf,jdbcType=VARCHAR},
      dq = #{record.dq,jdbcType=VARCHAR},
      syxx = #{record.syxx,jdbcType=VARCHAR},
      dxhwpdw = #{record.dxhwpdw,jdbcType=VARCHAR},
      dxdwszd = #{record.dxdwszd,jdbcType=VARCHAR},
      ksh = #{record.ksh,jdbcType=VARCHAR},
      xmpy = #{record.xmpy,jdbcType=VARCHAR},
      kslb = #{record.kslb,jdbcType=VARCHAR},
      wyyz = #{record.wyyz,jdbcType=VARCHAR},
      jtdz = #{record.jtdz,jdbcType=VARCHAR},
      yzbm = #{record.yzbm,jdbcType=VARCHAR},
      lxdh = #{record.lxdh,jdbcType=VARCHAR},
      kl = #{record.kl,jdbcType=VARCHAR},
      lqzymc = #{record.lqzymc,jdbcType=VARCHAR},
      lqyxmc = #{record.lqyxmc,jdbcType=VARCHAR},
      mfsfs = #{record.mfsfs,jdbcType=VARCHAR},
      sfzh = #{record.sfzh,jdbcType=VARCHAR},
      kstc = #{record.kstc,jdbcType=VARCHAR},
      grpj = #{record.grpj,jdbcType=VARCHAR},
      ksjl = #{record.ksjl,jdbcType=VARCHAR},
      xkml = #{record.xkml,jdbcType=VARCHAR},
      zkzh = #{record.zkzh,jdbcType=VARCHAR},
      byxx = #{record.byxx,jdbcType=VARCHAR},
      bz = #{record.bz,jdbcType=VARCHAR},
      sfgfs = #{record.sfgfs,jdbcType=VARCHAR},
      import_time_millis = #{record.importTimeMillis,jdbcType=VARCHAR},
      yxsh = #{record.yxsh,jdbcType=VARCHAR},
      xjzt = #{record.xjzt,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="domain.ext.ExtBks">
    update ext_bks
    <set>
      <if test="xm != null">
        xm = #{xm,jdbcType=VARCHAR},
      </if>
      <if test="xb != null">
        xb = #{xb,jdbcType=VARCHAR},
      </if>
      <if test="csrq != null">
        csrq = #{csrq,jdbcType=VARCHAR},
      </if>
      <if test="nj != null">
        nj = #{nj,jdbcType=VARCHAR},
      </if>
      <if test="yxmc != null">
        yxmc = #{yxmc,jdbcType=VARCHAR},
      </if>
      <if test="zymc != null">
        zymc = #{zymc,jdbcType=VARCHAR},
      </if>
      <if test="fgyx != null">
        fgyx = #{fgyx,jdbcType=VARCHAR},
      </if>
      <if test="pyfs != null">
        pyfs = #{pyfs,jdbcType=VARCHAR},
      </if>
      <if test="mz != null">
        mz = #{mz,jdbcType=VARCHAR},
      </if>
      <if test="zzmm != null">
        zzmm = #{zzmm,jdbcType=VARCHAR},
      </if>
      <if test="xjbd != null">
        xjbd = #{xjbd,jdbcType=VARCHAR},
      </if>
      <if test="xjrq != null">
        xjrq = #{xjrq,jdbcType=VARCHAR},
      </if>
      <if test="xjyy != null">
        xjyy = #{xjyy,jdbcType=VARCHAR},
      </if>
      <if test="sf != null">
        sf = #{sf,jdbcType=VARCHAR},
      </if>
      <if test="dq != null">
        dq = #{dq,jdbcType=VARCHAR},
      </if>
      <if test="syxx != null">
        syxx = #{syxx,jdbcType=VARCHAR},
      </if>
      <if test="dxhwpdw != null">
        dxhwpdw = #{dxhwpdw,jdbcType=VARCHAR},
      </if>
      <if test="dxdwszd != null">
        dxdwszd = #{dxdwszd,jdbcType=VARCHAR},
      </if>
      <if test="ksh != null">
        ksh = #{ksh,jdbcType=VARCHAR},
      </if>
      <if test="xmpy != null">
        xmpy = #{xmpy,jdbcType=VARCHAR},
      </if>
      <if test="kslb != null">
        kslb = #{kslb,jdbcType=VARCHAR},
      </if>
      <if test="wyyz != null">
        wyyz = #{wyyz,jdbcType=VARCHAR},
      </if>
      <if test="jtdz != null">
        jtdz = #{jtdz,jdbcType=VARCHAR},
      </if>
      <if test="yzbm != null">
        yzbm = #{yzbm,jdbcType=VARCHAR},
      </if>
      <if test="lxdh != null">
        lxdh = #{lxdh,jdbcType=VARCHAR},
      </if>
      <if test="kl != null">
        kl = #{kl,jdbcType=VARCHAR},
      </if>
      <if test="lqzymc != null">
        lqzymc = #{lqzymc,jdbcType=VARCHAR},
      </if>
      <if test="lqyxmc != null">
        lqyxmc = #{lqyxmc,jdbcType=VARCHAR},
      </if>
      <if test="mfsfs != null">
        mfsfs = #{mfsfs,jdbcType=VARCHAR},
      </if>
      <if test="sfzh != null">
        sfzh = #{sfzh,jdbcType=VARCHAR},
      </if>
      <if test="kstc != null">
        kstc = #{kstc,jdbcType=VARCHAR},
      </if>
      <if test="grpj != null">
        grpj = #{grpj,jdbcType=VARCHAR},
      </if>
      <if test="ksjl != null">
        ksjl = #{ksjl,jdbcType=VARCHAR},
      </if>
      <if test="xkml != null">
        xkml = #{xkml,jdbcType=VARCHAR},
      </if>
      <if test="zkzh != null">
        zkzh = #{zkzh,jdbcType=VARCHAR},
      </if>
      <if test="byxx != null">
        byxx = #{byxx,jdbcType=VARCHAR},
      </if>
      <if test="bz != null">
        bz = #{bz,jdbcType=VARCHAR},
      </if>
      <if test="sfgfs != null">
        sfgfs = #{sfgfs,jdbcType=VARCHAR},
      </if>
      <if test="importTimeMillis != null">
        import_time_millis = #{importTimeMillis,jdbcType=VARCHAR},
      </if>
      <if test="yxsh != null">
        yxsh = #{yxsh,jdbcType=VARCHAR},
      </if>
      <if test="xjzt != null">
        xjzt = #{xjzt,jdbcType=VARCHAR},
      </if>
    </set>
    where xh = #{xh,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="domain.ext.ExtBks">
    update ext_bks
    set xm = #{xm,jdbcType=VARCHAR},
      xb = #{xb,jdbcType=VARCHAR},
      csrq = #{csrq,jdbcType=VARCHAR},
      nj = #{nj,jdbcType=VARCHAR},
      yxmc = #{yxmc,jdbcType=VARCHAR},
      zymc = #{zymc,jdbcType=VARCHAR},
      fgyx = #{fgyx,jdbcType=VARCHAR},
      pyfs = #{pyfs,jdbcType=VARCHAR},
      mz = #{mz,jdbcType=VARCHAR},
      zzmm = #{zzmm,jdbcType=VARCHAR},
      xjbd = #{xjbd,jdbcType=VARCHAR},
      xjrq = #{xjrq,jdbcType=VARCHAR},
      xjyy = #{xjyy,jdbcType=VARCHAR},
      sf = #{sf,jdbcType=VARCHAR},
      dq = #{dq,jdbcType=VARCHAR},
      syxx = #{syxx,jdbcType=VARCHAR},
      dxhwpdw = #{dxhwpdw,jdbcType=VARCHAR},
      dxdwszd = #{dxdwszd,jdbcType=VARCHAR},
      ksh = #{ksh,jdbcType=VARCHAR},
      xmpy = #{xmpy,jdbcType=VARCHAR},
      kslb = #{kslb,jdbcType=VARCHAR},
      wyyz = #{wyyz,jdbcType=VARCHAR},
      jtdz = #{jtdz,jdbcType=VARCHAR},
      yzbm = #{yzbm,jdbcType=VARCHAR},
      lxdh = #{lxdh,jdbcType=VARCHAR},
      kl = #{kl,jdbcType=VARCHAR},
      lqzymc = #{lqzymc,jdbcType=VARCHAR},
      lqyxmc = #{lqyxmc,jdbcType=VARCHAR},
      mfsfs = #{mfsfs,jdbcType=VARCHAR},
      sfzh = #{sfzh,jdbcType=VARCHAR},
      kstc = #{kstc,jdbcType=VARCHAR},
      grpj = #{grpj,jdbcType=VARCHAR},
      ksjl = #{ksjl,jdbcType=VARCHAR},
      xkml = #{xkml,jdbcType=VARCHAR},
      zkzh = #{zkzh,jdbcType=VARCHAR},
      byxx = #{byxx,jdbcType=VARCHAR},
      bz = #{bz,jdbcType=VARCHAR},
      sfgfs = #{sfgfs,jdbcType=VARCHAR},
      import_time_millis = #{importTimeMillis,jdbcType=VARCHAR},
      yxsh = #{yxsh,jdbcType=VARCHAR},
      xjzt = #{xjzt,jdbcType=VARCHAR}
    where xh = #{xh,jdbcType=VARCHAR}
  </update>
  <select id="selectByExampleWithRowbounds" parameterType="domain.ext.ExtBksExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ext_bks
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
</mapper>