<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="persistence.ext.ExtJzgMapper" >
  <resultMap id="BaseResultMap" type="domain.ext.ExtJzg" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="zgh" property="zgh" jdbcType="VARCHAR" />
    <result column="xm" property="xm" jdbcType="VARCHAR" />
    <result column="xbm" property="xbm" jdbcType="VARCHAR" />
    <result column="xb" property="xb" jdbcType="VARCHAR" />
    <result column="dwdm" property="dwdm" jdbcType="VARCHAR" />
    <result column="dwmc" property="dwmc" jdbcType="VARCHAR" />
    <result column="yjxkm" property="yjxkm" jdbcType="VARCHAR" />
    <result column="yjxk" property="yjxk" jdbcType="VARCHAR" />
    <result column="lxrq" property="lxrq" jdbcType="DATE" />
    <result column="gwlbm" property="gwlbm" jdbcType="VARCHAR" />
    <result column="gwlb" property="gwlb" jdbcType="VARCHAR" />
    <result column="zcm" property="zcm" jdbcType="VARCHAR" />
    <result column="zc" property="zc" jdbcType="VARCHAR" />
    <result column="gwjbm" property="gwjbm" jdbcType="VARCHAR" />
    <result column="gwjb" property="gwjb" jdbcType="VARCHAR" />
    <result column="rclxm" property="rclxm" jdbcType="VARCHAR" />
    <result column="rclx" property="rclx" jdbcType="VARCHAR" />
    <result column="rcchm" property="rcchm" jdbcType="VARCHAR" />
    <result column="rcch" property="rcch" jdbcType="VARCHAR" />
    <result column="xyjgm" property="xyjgm" jdbcType="VARCHAR" />
    <result column="xyjg" property="xyjg" jdbcType="VARCHAR" />
    <result column="gjm" property="gjm" jdbcType="VARCHAR" />
    <result column="gj" property="gj" jdbcType="VARCHAR" />
    <result column="zhxwm" property="zhxwm" jdbcType="VARCHAR" />
    <result column="zhxw" property="zhxw" jdbcType="VARCHAR" />
    <result column="zhxl" property="zhxl" jdbcType="VARCHAR" />
    <result column="zhxlmc" property="zhxlmc" jdbcType="VARCHAR" />
    <result column="xlbyxx" property="xlbyxx" jdbcType="VARCHAR" />
    <result column="xwsyxx" property="xwsyxx" jdbcType="VARCHAR" />
    <result column="xzjbm" property="xzjbm" jdbcType="VARCHAR" />
    <result column="xzjb" property="xzjb" jdbcType="VARCHAR" />
    <result column="sfzgm" property="sfzgm" jdbcType="VARCHAR" />
    <result column="sfzg" property="sfzg" jdbcType="VARCHAR" />
    <result column="ryztm" property="ryztm" jdbcType="VARCHAR" />
    <result column="ryzt" property="ryzt" jdbcType="VARCHAR" />
    <result column="rylxm" property="rylxm" jdbcType="VARCHAR" />
    <result column="rylx" property="rylx" jdbcType="VARCHAR" />
    <result column="bzlxm" property="bzlxm" jdbcType="VARCHAR" />
    <result column="bzlx" property="bzlx" jdbcType="VARCHAR" />
    <result column="csrq" property="csrq" jdbcType="DATE" />
    <result column="rszfm" property="rszfm" jdbcType="VARCHAR" />
    <result column="rszf" property="rszf" jdbcType="VARCHAR" />
    <result column="sfnxz" property="sfnxz" jdbcType="VARCHAR" />
    <result column="sfzjlx" property="sfzjlx" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="sfzh" property="sfzh" jdbcType="VARCHAR" />
    <result column="yddh" property="yddh" jdbcType="VARCHAR" />
    <result column="dzxx" property="dzxx" jdbcType="VARCHAR" />
    <result column="bgdh" property="bgdh" jdbcType="VARCHAR" />
    <result column="jtdh" property="jtdh" jdbcType="VARCHAR" />
    <result column="zjgjm" property="zjgjm" jdbcType="VARCHAR" />
    <result column="zjgwdj" property="zjgwdj" jdbcType="VARCHAR" />
    <result column="glgjm" property="glgjm" jdbcType="VARCHAR" />
    <result column="glgwdj" property="glgwdj" jdbcType="VARCHAR" />
    <result column="empid" property="empid" jdbcType="VARCHAR" />
    <result column="jg" property="jg" jdbcType="VARCHAR" />
    <result column="zzmm" property="zzmm" jdbcType="VARCHAR" />
    <result column="zw" property="zw" jdbcType="VARCHAR" />
    <result column="zwmc" property="zwmc" jdbcType="VARCHAR" />
    <result column="mz" property="mz" jdbcType="VARCHAR" />
    <result column="xkmlm" property="xkmlm" jdbcType="VARCHAR" />
    <result column="xkml" property="xkml" jdbcType="VARCHAR" />
    <result column="ejxkm" property="ejxkm" jdbcType="VARCHAR" />
    <result column="ejxk" property="ejxk" jdbcType="VARCHAR" />
    <result column="xmpy" property="xmpy" jdbcType="VARCHAR" />
    <result column="poxm" property="poxm" jdbcType="VARCHAR" />
    <result column="ryxxshzt" property="ryxxshzt" jdbcType="VARCHAR" />
    <result column="tbrq" property="tbrq" jdbcType="VARCHAR" />
    <result column="jzdw1" property="jzdw1" jdbcType="VARCHAR" />
    <result column="jzdw2" property="jzdw2" jdbcType="VARCHAR" />
    <result column="batch_num" property="batchNum" jdbcType="VARCHAR" />
    <result column="basic_active_id" property="basicActiveId" jdbcType="VARCHAR" />
    <result column="domain_code" property="domainCode" jdbcType="VARCHAR" />
    <result column="basic_active_type" property="basicActiveType" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, zgh, xm, xbm, xb, dwdm, dwmc, yjxkm, yjxk, lxrq, gwlbm, gwlb, zcm, zc, gwjbm, 
    gwjb, rclxm, rclx, rcchm, rcch, xyjgm, xyjg, gjm, gj, zhxwm, zhxw, zhxl, zhxlmc, 
    xlbyxx, xwsyxx, xzjbm, xzjb, sfzgm, sfzg, ryztm, ryzt, rylxm, rylx, bzlxm, bzlx, 
    csrq, rszfm, rszf, sfnxz, sfzjlx, name, sfzh, yddh, dzxx, bgdh, jtdh, zjgjm, zjgwdj, 
    glgjm, glgwdj, empid, jg, zzmm, zw, zwmc, mz, xkmlm, xkml, ejxkm, ejxk, xmpy, poxm, 
    ryxxshzt, tbrq, jzdw1, jzdw2, batch_num, basic_active_id, domain_code, basic_active_type
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="domain.ext.ExtJzgExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ext_jzg
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from ext_jzg
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from ext_jzg
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="domain.ext.ExtJzgExample" >
    delete from ext_jzg
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="domain.ext.ExtJzg" >
    insert into ext_jzg (id, zgh, xm, 
      xbm, xb, dwdm, dwmc, 
      yjxkm, yjxk, lxrq, gwlbm, 
      gwlb, zcm, zc, gwjbm, 
      gwjb, rclxm, rclx, 
      rcchm, rcch, xyjgm, 
      xyjg, gjm, gj, zhxwm, 
      zhxw, zhxl, zhxlmc, 
      xlbyxx, xwsyxx, xzjbm, 
      xzjb, sfzgm, sfzg, 
      ryztm, ryzt, rylxm, 
      rylx, bzlxm, bzlx, 
      csrq, rszfm, rszf, sfnxz, 
      sfzjlx, name, sfzh, 
      yddh, dzxx, bgdh, jtdh, 
      zjgjm, zjgwdj, glgjm, 
      glgwdj, empid, jg, 
      zzmm, zw, zwmc, mz, 
      xkmlm, xkml, ejxkm, 
      ejxk, xmpy, poxm, ryxxshzt, 
      tbrq, jzdw1, jzdw2, 
      batch_num, basic_active_id, domain_code, 
      basic_active_type)
    values (#{id,jdbcType=INTEGER}, #{zgh,jdbcType=VARCHAR}, #{xm,jdbcType=VARCHAR}, 
      #{xbm,jdbcType=VARCHAR}, #{xb,jdbcType=VARCHAR}, #{dwdm,jdbcType=VARCHAR}, #{dwmc,jdbcType=VARCHAR}, 
      #{yjxkm,jdbcType=VARCHAR}, #{yjxk,jdbcType=VARCHAR}, #{lxrq,jdbcType=DATE}, #{gwlbm,jdbcType=VARCHAR}, 
      #{gwlb,jdbcType=VARCHAR}, #{zcm,jdbcType=VARCHAR}, #{zc,jdbcType=VARCHAR}, #{gwjbm,jdbcType=VARCHAR}, 
      #{gwjb,jdbcType=VARCHAR}, #{rclxm,jdbcType=VARCHAR}, #{rclx,jdbcType=VARCHAR}, 
      #{rcchm,jdbcType=VARCHAR}, #{rcch,jdbcType=VARCHAR}, #{xyjgm,jdbcType=VARCHAR}, 
      #{xyjg,jdbcType=VARCHAR}, #{gjm,jdbcType=VARCHAR}, #{gj,jdbcType=VARCHAR}, #{zhxwm,jdbcType=VARCHAR}, 
      #{zhxw,jdbcType=VARCHAR}, #{zhxl,jdbcType=VARCHAR}, #{zhxlmc,jdbcType=VARCHAR}, 
      #{xlbyxx,jdbcType=VARCHAR}, #{xwsyxx,jdbcType=VARCHAR}, #{xzjbm,jdbcType=VARCHAR}, 
      #{xzjb,jdbcType=VARCHAR}, #{sfzgm,jdbcType=VARCHAR}, #{sfzg,jdbcType=VARCHAR}, 
      #{ryztm,jdbcType=VARCHAR}, #{ryzt,jdbcType=VARCHAR}, #{rylxm,jdbcType=VARCHAR}, 
      #{rylx,jdbcType=VARCHAR}, #{bzlxm,jdbcType=VARCHAR}, #{bzlx,jdbcType=VARCHAR}, 
      #{csrq,jdbcType=DATE}, #{rszfm,jdbcType=VARCHAR}, #{rszf,jdbcType=VARCHAR}, #{sfnxz,jdbcType=VARCHAR}, 
      #{sfzjlx,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{sfzh,jdbcType=VARCHAR}, 
      #{yddh,jdbcType=VARCHAR}, #{dzxx,jdbcType=VARCHAR}, #{bgdh,jdbcType=VARCHAR}, #{jtdh,jdbcType=VARCHAR}, 
      #{zjgjm,jdbcType=VARCHAR}, #{zjgwdj,jdbcType=VARCHAR}, #{glgjm,jdbcType=VARCHAR}, 
      #{glgwdj,jdbcType=VARCHAR}, #{empid,jdbcType=VARCHAR}, #{jg,jdbcType=VARCHAR}, 
      #{zzmm,jdbcType=VARCHAR}, #{zw,jdbcType=VARCHAR}, #{zwmc,jdbcType=VARCHAR}, #{mz,jdbcType=VARCHAR}, 
      #{xkmlm,jdbcType=VARCHAR}, #{xkml,jdbcType=VARCHAR}, #{ejxkm,jdbcType=VARCHAR}, 
      #{ejxk,jdbcType=VARCHAR}, #{xmpy,jdbcType=VARCHAR}, #{poxm,jdbcType=VARCHAR}, #{ryxxshzt,jdbcType=VARCHAR}, 
      #{tbrq,jdbcType=VARCHAR}, #{jzdw1,jdbcType=VARCHAR}, #{jzdw2,jdbcType=VARCHAR}, 
      #{batchNum,jdbcType=VARCHAR}, #{basicActiveId,jdbcType=VARCHAR}, #{domainCode,jdbcType=VARCHAR}, 
      #{basicActiveType,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="domain.ext.ExtJzg" >
    insert into ext_jzg
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="zgh != null" >
        zgh,
      </if>
      <if test="xm != null" >
        xm,
      </if>
      <if test="xbm != null" >
        xbm,
      </if>
      <if test="xb != null" >
        xb,
      </if>
      <if test="dwdm != null" >
        dwdm,
      </if>
      <if test="dwmc != null" >
        dwmc,
      </if>
      <if test="yjxkm != null" >
        yjxkm,
      </if>
      <if test="yjxk != null" >
        yjxk,
      </if>
      <if test="lxrq != null" >
        lxrq,
      </if>
      <if test="gwlbm != null" >
        gwlbm,
      </if>
      <if test="gwlb != null" >
        gwlb,
      </if>
      <if test="zcm != null" >
        zcm,
      </if>
      <if test="zc != null" >
        zc,
      </if>
      <if test="gwjbm != null" >
        gwjbm,
      </if>
      <if test="gwjb != null" >
        gwjb,
      </if>
      <if test="rclxm != null" >
        rclxm,
      </if>
      <if test="rclx != null" >
        rclx,
      </if>
      <if test="rcchm != null" >
        rcchm,
      </if>
      <if test="rcch != null" >
        rcch,
      </if>
      <if test="xyjgm != null" >
        xyjgm,
      </if>
      <if test="xyjg != null" >
        xyjg,
      </if>
      <if test="gjm != null" >
        gjm,
      </if>
      <if test="gj != null" >
        gj,
      </if>
      <if test="zhxwm != null" >
        zhxwm,
      </if>
      <if test="zhxw != null" >
        zhxw,
      </if>
      <if test="zhxl != null" >
        zhxl,
      </if>
      <if test="zhxlmc != null" >
        zhxlmc,
      </if>
      <if test="xlbyxx != null" >
        xlbyxx,
      </if>
      <if test="xwsyxx != null" >
        xwsyxx,
      </if>
      <if test="xzjbm != null" >
        xzjbm,
      </if>
      <if test="xzjb != null" >
        xzjb,
      </if>
      <if test="sfzgm != null" >
        sfzgm,
      </if>
      <if test="sfzg != null" >
        sfzg,
      </if>
      <if test="ryztm != null" >
        ryztm,
      </if>
      <if test="ryzt != null" >
        ryzt,
      </if>
      <if test="rylxm != null" >
        rylxm,
      </if>
      <if test="rylx != null" >
        rylx,
      </if>
      <if test="bzlxm != null" >
        bzlxm,
      </if>
      <if test="bzlx != null" >
        bzlx,
      </if>
      <if test="csrq != null" >
        csrq,
      </if>
      <if test="rszfm != null" >
        rszfm,
      </if>
      <if test="rszf != null" >
        rszf,
      </if>
      <if test="sfnxz != null" >
        sfnxz,
      </if>
      <if test="sfzjlx != null" >
        sfzjlx,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="sfzh != null" >
        sfzh,
      </if>
      <if test="yddh != null" >
        yddh,
      </if>
      <if test="dzxx != null" >
        dzxx,
      </if>
      <if test="bgdh != null" >
        bgdh,
      </if>
      <if test="jtdh != null" >
        jtdh,
      </if>
      <if test="zjgjm != null" >
        zjgjm,
      </if>
      <if test="zjgwdj != null" >
        zjgwdj,
      </if>
      <if test="glgjm != null" >
        glgjm,
      </if>
      <if test="glgwdj != null" >
        glgwdj,
      </if>
      <if test="empid != null" >
        empid,
      </if>
      <if test="jg != null" >
        jg,
      </if>
      <if test="zzmm != null" >
        zzmm,
      </if>
      <if test="zw != null" >
        zw,
      </if>
      <if test="zwmc != null" >
        zwmc,
      </if>
      <if test="mz != null" >
        mz,
      </if>
      <if test="xkmlm != null" >
        xkmlm,
      </if>
      <if test="xkml != null" >
        xkml,
      </if>
      <if test="ejxkm != null" >
        ejxkm,
      </if>
      <if test="ejxk != null" >
        ejxk,
      </if>
      <if test="xmpy != null" >
        xmpy,
      </if>
      <if test="poxm != null" >
        poxm,
      </if>
      <if test="ryxxshzt != null" >
        ryxxshzt,
      </if>
      <if test="tbrq != null" >
        tbrq,
      </if>
      <if test="jzdw1 != null" >
        jzdw1,
      </if>
      <if test="jzdw2 != null" >
        jzdw2,
      </if>
      <if test="batchNum != null" >
        batch_num,
      </if>
      <if test="basicActiveId != null" >
        basic_active_id,
      </if>
      <if test="domainCode != null" >
        domain_code,
      </if>
      <if test="basicActiveType != null" >
        basic_active_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="zgh != null" >
        #{zgh,jdbcType=VARCHAR},
      </if>
      <if test="xm != null" >
        #{xm,jdbcType=VARCHAR},
      </if>
      <if test="xbm != null" >
        #{xbm,jdbcType=VARCHAR},
      </if>
      <if test="xb != null" >
        #{xb,jdbcType=VARCHAR},
      </if>
      <if test="dwdm != null" >
        #{dwdm,jdbcType=VARCHAR},
      </if>
      <if test="dwmc != null" >
        #{dwmc,jdbcType=VARCHAR},
      </if>
      <if test="yjxkm != null" >
        #{yjxkm,jdbcType=VARCHAR},
      </if>
      <if test="yjxk != null" >
        #{yjxk,jdbcType=VARCHAR},
      </if>
      <if test="lxrq != null" >
        #{lxrq,jdbcType=DATE},
      </if>
      <if test="gwlbm != null" >
        #{gwlbm,jdbcType=VARCHAR},
      </if>
      <if test="gwlb != null" >
        #{gwlb,jdbcType=VARCHAR},
      </if>
      <if test="zcm != null" >
        #{zcm,jdbcType=VARCHAR},
      </if>
      <if test="zc != null" >
        #{zc,jdbcType=VARCHAR},
      </if>
      <if test="gwjbm != null" >
        #{gwjbm,jdbcType=VARCHAR},
      </if>
      <if test="gwjb != null" >
        #{gwjb,jdbcType=VARCHAR},
      </if>
      <if test="rclxm != null" >
        #{rclxm,jdbcType=VARCHAR},
      </if>
      <if test="rclx != null" >
        #{rclx,jdbcType=VARCHAR},
      </if>
      <if test="rcchm != null" >
        #{rcchm,jdbcType=VARCHAR},
      </if>
      <if test="rcch != null" >
        #{rcch,jdbcType=VARCHAR},
      </if>
      <if test="xyjgm != null" >
        #{xyjgm,jdbcType=VARCHAR},
      </if>
      <if test="xyjg != null" >
        #{xyjg,jdbcType=VARCHAR},
      </if>
      <if test="gjm != null" >
        #{gjm,jdbcType=VARCHAR},
      </if>
      <if test="gj != null" >
        #{gj,jdbcType=VARCHAR},
      </if>
      <if test="zhxwm != null" >
        #{zhxwm,jdbcType=VARCHAR},
      </if>
      <if test="zhxw != null" >
        #{zhxw,jdbcType=VARCHAR},
      </if>
      <if test="zhxl != null" >
        #{zhxl,jdbcType=VARCHAR},
      </if>
      <if test="zhxlmc != null" >
        #{zhxlmc,jdbcType=VARCHAR},
      </if>
      <if test="xlbyxx != null" >
        #{xlbyxx,jdbcType=VARCHAR},
      </if>
      <if test="xwsyxx != null" >
        #{xwsyxx,jdbcType=VARCHAR},
      </if>
      <if test="xzjbm != null" >
        #{xzjbm,jdbcType=VARCHAR},
      </if>
      <if test="xzjb != null" >
        #{xzjb,jdbcType=VARCHAR},
      </if>
      <if test="sfzgm != null" >
        #{sfzgm,jdbcType=VARCHAR},
      </if>
      <if test="sfzg != null" >
        #{sfzg,jdbcType=VARCHAR},
      </if>
      <if test="ryztm != null" >
        #{ryztm,jdbcType=VARCHAR},
      </if>
      <if test="ryzt != null" >
        #{ryzt,jdbcType=VARCHAR},
      </if>
      <if test="rylxm != null" >
        #{rylxm,jdbcType=VARCHAR},
      </if>
      <if test="rylx != null" >
        #{rylx,jdbcType=VARCHAR},
      </if>
      <if test="bzlxm != null" >
        #{bzlxm,jdbcType=VARCHAR},
      </if>
      <if test="bzlx != null" >
        #{bzlx,jdbcType=VARCHAR},
      </if>
      <if test="csrq != null" >
        #{csrq,jdbcType=DATE},
      </if>
      <if test="rszfm != null" >
        #{rszfm,jdbcType=VARCHAR},
      </if>
      <if test="rszf != null" >
        #{rszf,jdbcType=VARCHAR},
      </if>
      <if test="sfnxz != null" >
        #{sfnxz,jdbcType=VARCHAR},
      </if>
      <if test="sfzjlx != null" >
        #{sfzjlx,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="sfzh != null" >
        #{sfzh,jdbcType=VARCHAR},
      </if>
      <if test="yddh != null" >
        #{yddh,jdbcType=VARCHAR},
      </if>
      <if test="dzxx != null" >
        #{dzxx,jdbcType=VARCHAR},
      </if>
      <if test="bgdh != null" >
        #{bgdh,jdbcType=VARCHAR},
      </if>
      <if test="jtdh != null" >
        #{jtdh,jdbcType=VARCHAR},
      </if>
      <if test="zjgjm != null" >
        #{zjgjm,jdbcType=VARCHAR},
      </if>
      <if test="zjgwdj != null" >
        #{zjgwdj,jdbcType=VARCHAR},
      </if>
      <if test="glgjm != null" >
        #{glgjm,jdbcType=VARCHAR},
      </if>
      <if test="glgwdj != null" >
        #{glgwdj,jdbcType=VARCHAR},
      </if>
      <if test="empid != null" >
        #{empid,jdbcType=VARCHAR},
      </if>
      <if test="jg != null" >
        #{jg,jdbcType=VARCHAR},
      </if>
      <if test="zzmm != null" >
        #{zzmm,jdbcType=VARCHAR},
      </if>
      <if test="zw != null" >
        #{zw,jdbcType=VARCHAR},
      </if>
      <if test="zwmc != null" >
        #{zwmc,jdbcType=VARCHAR},
      </if>
      <if test="mz != null" >
        #{mz,jdbcType=VARCHAR},
      </if>
      <if test="xkmlm != null" >
        #{xkmlm,jdbcType=VARCHAR},
      </if>
      <if test="xkml != null" >
        #{xkml,jdbcType=VARCHAR},
      </if>
      <if test="ejxkm != null" >
        #{ejxkm,jdbcType=VARCHAR},
      </if>
      <if test="ejxk != null" >
        #{ejxk,jdbcType=VARCHAR},
      </if>
      <if test="xmpy != null" >
        #{xmpy,jdbcType=VARCHAR},
      </if>
      <if test="poxm != null" >
        #{poxm,jdbcType=VARCHAR},
      </if>
      <if test="ryxxshzt != null" >
        #{ryxxshzt,jdbcType=VARCHAR},
      </if>
      <if test="tbrq != null" >
        #{tbrq,jdbcType=VARCHAR},
      </if>
      <if test="jzdw1 != null" >
        #{jzdw1,jdbcType=VARCHAR},
      </if>
      <if test="jzdw2 != null" >
        #{jzdw2,jdbcType=VARCHAR},
      </if>
      <if test="batchNum != null" >
        #{batchNum,jdbcType=VARCHAR},
      </if>
      <if test="basicActiveId != null" >
        #{basicActiveId,jdbcType=VARCHAR},
      </if>
      <if test="domainCode != null" >
        #{domainCode,jdbcType=VARCHAR},
      </if>
      <if test="basicActiveType != null" >
        #{basicActiveType,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="domain.ext.ExtJzgExample" resultType="java.lang.Integer" >
    select count(*) from ext_jzg
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update ext_jzg
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.zgh != null" >
        zgh = #{record.zgh,jdbcType=VARCHAR},
      </if>
      <if test="record.xm != null" >
        xm = #{record.xm,jdbcType=VARCHAR},
      </if>
      <if test="record.xbm != null" >
        xbm = #{record.xbm,jdbcType=VARCHAR},
      </if>
      <if test="record.xb != null" >
        xb = #{record.xb,jdbcType=VARCHAR},
      </if>
      <if test="record.dwdm != null" >
        dwdm = #{record.dwdm,jdbcType=VARCHAR},
      </if>
      <if test="record.dwmc != null" >
        dwmc = #{record.dwmc,jdbcType=VARCHAR},
      </if>
      <if test="record.yjxkm != null" >
        yjxkm = #{record.yjxkm,jdbcType=VARCHAR},
      </if>
      <if test="record.yjxk != null" >
        yjxk = #{record.yjxk,jdbcType=VARCHAR},
      </if>
      <if test="record.lxrq != null" >
        lxrq = #{record.lxrq,jdbcType=DATE},
      </if>
      <if test="record.gwlbm != null" >
        gwlbm = #{record.gwlbm,jdbcType=VARCHAR},
      </if>
      <if test="record.gwlb != null" >
        gwlb = #{record.gwlb,jdbcType=VARCHAR},
      </if>
      <if test="record.zcm != null" >
        zcm = #{record.zcm,jdbcType=VARCHAR},
      </if>
      <if test="record.zc != null" >
        zc = #{record.zc,jdbcType=VARCHAR},
      </if>
      <if test="record.gwjbm != null" >
        gwjbm = #{record.gwjbm,jdbcType=VARCHAR},
      </if>
      <if test="record.gwjb != null" >
        gwjb = #{record.gwjb,jdbcType=VARCHAR},
      </if>
      <if test="record.rclxm != null" >
        rclxm = #{record.rclxm,jdbcType=VARCHAR},
      </if>
      <if test="record.rclx != null" >
        rclx = #{record.rclx,jdbcType=VARCHAR},
      </if>
      <if test="record.rcchm != null" >
        rcchm = #{record.rcchm,jdbcType=VARCHAR},
      </if>
      <if test="record.rcch != null" >
        rcch = #{record.rcch,jdbcType=VARCHAR},
      </if>
      <if test="record.xyjgm != null" >
        xyjgm = #{record.xyjgm,jdbcType=VARCHAR},
      </if>
      <if test="record.xyjg != null" >
        xyjg = #{record.xyjg,jdbcType=VARCHAR},
      </if>
      <if test="record.gjm != null" >
        gjm = #{record.gjm,jdbcType=VARCHAR},
      </if>
      <if test="record.gj != null" >
        gj = #{record.gj,jdbcType=VARCHAR},
      </if>
      <if test="record.zhxwm != null" >
        zhxwm = #{record.zhxwm,jdbcType=VARCHAR},
      </if>
      <if test="record.zhxw != null" >
        zhxw = #{record.zhxw,jdbcType=VARCHAR},
      </if>
      <if test="record.zhxl != null" >
        zhxl = #{record.zhxl,jdbcType=VARCHAR},
      </if>
      <if test="record.zhxlmc != null" >
        zhxlmc = #{record.zhxlmc,jdbcType=VARCHAR},
      </if>
      <if test="record.xlbyxx != null" >
        xlbyxx = #{record.xlbyxx,jdbcType=VARCHAR},
      </if>
      <if test="record.xwsyxx != null" >
        xwsyxx = #{record.xwsyxx,jdbcType=VARCHAR},
      </if>
      <if test="record.xzjbm != null" >
        xzjbm = #{record.xzjbm,jdbcType=VARCHAR},
      </if>
      <if test="record.xzjb != null" >
        xzjb = #{record.xzjb,jdbcType=VARCHAR},
      </if>
      <if test="record.sfzgm != null" >
        sfzgm = #{record.sfzgm,jdbcType=VARCHAR},
      </if>
      <if test="record.sfzg != null" >
        sfzg = #{record.sfzg,jdbcType=VARCHAR},
      </if>
      <if test="record.ryztm != null" >
        ryztm = #{record.ryztm,jdbcType=VARCHAR},
      </if>
      <if test="record.ryzt != null" >
        ryzt = #{record.ryzt,jdbcType=VARCHAR},
      </if>
      <if test="record.rylxm != null" >
        rylxm = #{record.rylxm,jdbcType=VARCHAR},
      </if>
      <if test="record.rylx != null" >
        rylx = #{record.rylx,jdbcType=VARCHAR},
      </if>
      <if test="record.bzlxm != null" >
        bzlxm = #{record.bzlxm,jdbcType=VARCHAR},
      </if>
      <if test="record.bzlx != null" >
        bzlx = #{record.bzlx,jdbcType=VARCHAR},
      </if>
      <if test="record.csrq != null" >
        csrq = #{record.csrq,jdbcType=DATE},
      </if>
      <if test="record.rszfm != null" >
        rszfm = #{record.rszfm,jdbcType=VARCHAR},
      </if>
      <if test="record.rszf != null" >
        rszf = #{record.rszf,jdbcType=VARCHAR},
      </if>
      <if test="record.sfnxz != null" >
        sfnxz = #{record.sfnxz,jdbcType=VARCHAR},
      </if>
      <if test="record.sfzjlx != null" >
        sfzjlx = #{record.sfzjlx,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.sfzh != null" >
        sfzh = #{record.sfzh,jdbcType=VARCHAR},
      </if>
      <if test="record.yddh != null" >
        yddh = #{record.yddh,jdbcType=VARCHAR},
      </if>
      <if test="record.dzxx != null" >
        dzxx = #{record.dzxx,jdbcType=VARCHAR},
      </if>
      <if test="record.bgdh != null" >
        bgdh = #{record.bgdh,jdbcType=VARCHAR},
      </if>
      <if test="record.jtdh != null" >
        jtdh = #{record.jtdh,jdbcType=VARCHAR},
      </if>
      <if test="record.zjgjm != null" >
        zjgjm = #{record.zjgjm,jdbcType=VARCHAR},
      </if>
      <if test="record.zjgwdj != null" >
        zjgwdj = #{record.zjgwdj,jdbcType=VARCHAR},
      </if>
      <if test="record.glgjm != null" >
        glgjm = #{record.glgjm,jdbcType=VARCHAR},
      </if>
      <if test="record.glgwdj != null" >
        glgwdj = #{record.glgwdj,jdbcType=VARCHAR},
      </if>
      <if test="record.empid != null" >
        empid = #{record.empid,jdbcType=VARCHAR},
      </if>
      <if test="record.jg != null" >
        jg = #{record.jg,jdbcType=VARCHAR},
      </if>
      <if test="record.zzmm != null" >
        zzmm = #{record.zzmm,jdbcType=VARCHAR},
      </if>
      <if test="record.zw != null" >
        zw = #{record.zw,jdbcType=VARCHAR},
      </if>
      <if test="record.zwmc != null" >
        zwmc = #{record.zwmc,jdbcType=VARCHAR},
      </if>
      <if test="record.mz != null" >
        mz = #{record.mz,jdbcType=VARCHAR},
      </if>
      <if test="record.xkmlm != null" >
        xkmlm = #{record.xkmlm,jdbcType=VARCHAR},
      </if>
      <if test="record.xkml != null" >
        xkml = #{record.xkml,jdbcType=VARCHAR},
      </if>
      <if test="record.ejxkm != null" >
        ejxkm = #{record.ejxkm,jdbcType=VARCHAR},
      </if>
      <if test="record.ejxk != null" >
        ejxk = #{record.ejxk,jdbcType=VARCHAR},
      </if>
      <if test="record.xmpy != null" >
        xmpy = #{record.xmpy,jdbcType=VARCHAR},
      </if>
      <if test="record.poxm != null" >
        poxm = #{record.poxm,jdbcType=VARCHAR},
      </if>
      <if test="record.ryxxshzt != null" >
        ryxxshzt = #{record.ryxxshzt,jdbcType=VARCHAR},
      </if>
      <if test="record.tbrq != null" >
        tbrq = #{record.tbrq,jdbcType=VARCHAR},
      </if>
      <if test="record.jzdw1 != null" >
        jzdw1 = #{record.jzdw1,jdbcType=VARCHAR},
      </if>
      <if test="record.jzdw2 != null" >
        jzdw2 = #{record.jzdw2,jdbcType=VARCHAR},
      </if>
      <if test="record.batchNum != null" >
        batch_num = #{record.batchNum,jdbcType=VARCHAR},
      </if>
      <if test="record.basicActiveId != null" >
        basic_active_id = #{record.basicActiveId,jdbcType=VARCHAR},
      </if>
      <if test="record.domainCode != null" >
        domain_code = #{record.domainCode,jdbcType=VARCHAR},
      </if>
      <if test="record.basicActiveType != null" >
        basic_active_type = #{record.basicActiveType,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update ext_jzg
    set id = #{record.id,jdbcType=INTEGER},
      zgh = #{record.zgh,jdbcType=VARCHAR},
      xm = #{record.xm,jdbcType=VARCHAR},
      xbm = #{record.xbm,jdbcType=VARCHAR},
      xb = #{record.xb,jdbcType=VARCHAR},
      dwdm = #{record.dwdm,jdbcType=VARCHAR},
      dwmc = #{record.dwmc,jdbcType=VARCHAR},
      yjxkm = #{record.yjxkm,jdbcType=VARCHAR},
      yjxk = #{record.yjxk,jdbcType=VARCHAR},
      lxrq = #{record.lxrq,jdbcType=DATE},
      gwlbm = #{record.gwlbm,jdbcType=VARCHAR},
      gwlb = #{record.gwlb,jdbcType=VARCHAR},
      zcm = #{record.zcm,jdbcType=VARCHAR},
      zc = #{record.zc,jdbcType=VARCHAR},
      gwjbm = #{record.gwjbm,jdbcType=VARCHAR},
      gwjb = #{record.gwjb,jdbcType=VARCHAR},
      rclxm = #{record.rclxm,jdbcType=VARCHAR},
      rclx = #{record.rclx,jdbcType=VARCHAR},
      rcchm = #{record.rcchm,jdbcType=VARCHAR},
      rcch = #{record.rcch,jdbcType=VARCHAR},
      xyjgm = #{record.xyjgm,jdbcType=VARCHAR},
      xyjg = #{record.xyjg,jdbcType=VARCHAR},
      gjm = #{record.gjm,jdbcType=VARCHAR},
      gj = #{record.gj,jdbcType=VARCHAR},
      zhxwm = #{record.zhxwm,jdbcType=VARCHAR},
      zhxw = #{record.zhxw,jdbcType=VARCHAR},
      zhxl = #{record.zhxl,jdbcType=VARCHAR},
      zhxlmc = #{record.zhxlmc,jdbcType=VARCHAR},
      xlbyxx = #{record.xlbyxx,jdbcType=VARCHAR},
      xwsyxx = #{record.xwsyxx,jdbcType=VARCHAR},
      xzjbm = #{record.xzjbm,jdbcType=VARCHAR},
      xzjb = #{record.xzjb,jdbcType=VARCHAR},
      sfzgm = #{record.sfzgm,jdbcType=VARCHAR},
      sfzg = #{record.sfzg,jdbcType=VARCHAR},
      ryztm = #{record.ryztm,jdbcType=VARCHAR},
      ryzt = #{record.ryzt,jdbcType=VARCHAR},
      rylxm = #{record.rylxm,jdbcType=VARCHAR},
      rylx = #{record.rylx,jdbcType=VARCHAR},
      bzlxm = #{record.bzlxm,jdbcType=VARCHAR},
      bzlx = #{record.bzlx,jdbcType=VARCHAR},
      csrq = #{record.csrq,jdbcType=DATE},
      rszfm = #{record.rszfm,jdbcType=VARCHAR},
      rszf = #{record.rszf,jdbcType=VARCHAR},
      sfnxz = #{record.sfnxz,jdbcType=VARCHAR},
      sfzjlx = #{record.sfzjlx,jdbcType=VARCHAR},
      name = #{record.name,jdbcType=VARCHAR},
      sfzh = #{record.sfzh,jdbcType=VARCHAR},
      yddh = #{record.yddh,jdbcType=VARCHAR},
      dzxx = #{record.dzxx,jdbcType=VARCHAR},
      bgdh = #{record.bgdh,jdbcType=VARCHAR},
      jtdh = #{record.jtdh,jdbcType=VARCHAR},
      zjgjm = #{record.zjgjm,jdbcType=VARCHAR},
      zjgwdj = #{record.zjgwdj,jdbcType=VARCHAR},
      glgjm = #{record.glgjm,jdbcType=VARCHAR},
      glgwdj = #{record.glgwdj,jdbcType=VARCHAR},
      empid = #{record.empid,jdbcType=VARCHAR},
      jg = #{record.jg,jdbcType=VARCHAR},
      zzmm = #{record.zzmm,jdbcType=VARCHAR},
      zw = #{record.zw,jdbcType=VARCHAR},
      zwmc = #{record.zwmc,jdbcType=VARCHAR},
      mz = #{record.mz,jdbcType=VARCHAR},
      xkmlm = #{record.xkmlm,jdbcType=VARCHAR},
      xkml = #{record.xkml,jdbcType=VARCHAR},
      ejxkm = #{record.ejxkm,jdbcType=VARCHAR},
      ejxk = #{record.ejxk,jdbcType=VARCHAR},
      xmpy = #{record.xmpy,jdbcType=VARCHAR},
      poxm = #{record.poxm,jdbcType=VARCHAR},
      ryxxshzt = #{record.ryxxshzt,jdbcType=VARCHAR},
      tbrq = #{record.tbrq,jdbcType=VARCHAR},
      jzdw1 = #{record.jzdw1,jdbcType=VARCHAR},
      jzdw2 = #{record.jzdw2,jdbcType=VARCHAR},
      batch_num = #{record.batchNum,jdbcType=VARCHAR},
      basic_active_id = #{record.basicActiveId,jdbcType=VARCHAR},
      domain_code = #{record.domainCode,jdbcType=VARCHAR},
      basic_active_type = #{record.basicActiveType,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="domain.ext.ExtJzg" >
    update ext_jzg
    <set >
      <if test="zgh != null" >
        zgh = #{zgh,jdbcType=VARCHAR},
      </if>
      <if test="xm != null" >
        xm = #{xm,jdbcType=VARCHAR},
      </if>
      <if test="xbm != null" >
        xbm = #{xbm,jdbcType=VARCHAR},
      </if>
      <if test="xb != null" >
        xb = #{xb,jdbcType=VARCHAR},
      </if>
      <if test="dwdm != null" >
        dwdm = #{dwdm,jdbcType=VARCHAR},
      </if>
      <if test="dwmc != null" >
        dwmc = #{dwmc,jdbcType=VARCHAR},
      </if>
      <if test="yjxkm != null" >
        yjxkm = #{yjxkm,jdbcType=VARCHAR},
      </if>
      <if test="yjxk != null" >
        yjxk = #{yjxk,jdbcType=VARCHAR},
      </if>
      <if test="lxrq != null" >
        lxrq = #{lxrq,jdbcType=DATE},
      </if>
      <if test="gwlbm != null" >
        gwlbm = #{gwlbm,jdbcType=VARCHAR},
      </if>
      <if test="gwlb != null" >
        gwlb = #{gwlb,jdbcType=VARCHAR},
      </if>
      <if test="zcm != null" >
        zcm = #{zcm,jdbcType=VARCHAR},
      </if>
      <if test="zc != null" >
        zc = #{zc,jdbcType=VARCHAR},
      </if>
      <if test="gwjbm != null" >
        gwjbm = #{gwjbm,jdbcType=VARCHAR},
      </if>
      <if test="gwjb != null" >
        gwjb = #{gwjb,jdbcType=VARCHAR},
      </if>
      <if test="rclxm != null" >
        rclxm = #{rclxm,jdbcType=VARCHAR},
      </if>
      <if test="rclx != null" >
        rclx = #{rclx,jdbcType=VARCHAR},
      </if>
      <if test="rcchm != null" >
        rcchm = #{rcchm,jdbcType=VARCHAR},
      </if>
      <if test="rcch != null" >
        rcch = #{rcch,jdbcType=VARCHAR},
      </if>
      <if test="xyjgm != null" >
        xyjgm = #{xyjgm,jdbcType=VARCHAR},
      </if>
      <if test="xyjg != null" >
        xyjg = #{xyjg,jdbcType=VARCHAR},
      </if>
      <if test="gjm != null" >
        gjm = #{gjm,jdbcType=VARCHAR},
      </if>
      <if test="gj != null" >
        gj = #{gj,jdbcType=VARCHAR},
      </if>
      <if test="zhxwm != null" >
        zhxwm = #{zhxwm,jdbcType=VARCHAR},
      </if>
      <if test="zhxw != null" >
        zhxw = #{zhxw,jdbcType=VARCHAR},
      </if>
      <if test="zhxl != null" >
        zhxl = #{zhxl,jdbcType=VARCHAR},
      </if>
      <if test="zhxlmc != null" >
        zhxlmc = #{zhxlmc,jdbcType=VARCHAR},
      </if>
      <if test="xlbyxx != null" >
        xlbyxx = #{xlbyxx,jdbcType=VARCHAR},
      </if>
      <if test="xwsyxx != null" >
        xwsyxx = #{xwsyxx,jdbcType=VARCHAR},
      </if>
      <if test="xzjbm != null" >
        xzjbm = #{xzjbm,jdbcType=VARCHAR},
      </if>
      <if test="xzjb != null" >
        xzjb = #{xzjb,jdbcType=VARCHAR},
      </if>
      <if test="sfzgm != null" >
        sfzgm = #{sfzgm,jdbcType=VARCHAR},
      </if>
      <if test="sfzg != null" >
        sfzg = #{sfzg,jdbcType=VARCHAR},
      </if>
      <if test="ryztm != null" >
        ryztm = #{ryztm,jdbcType=VARCHAR},
      </if>
      <if test="ryzt != null" >
        ryzt = #{ryzt,jdbcType=VARCHAR},
      </if>
      <if test="rylxm != null" >
        rylxm = #{rylxm,jdbcType=VARCHAR},
      </if>
      <if test="rylx != null" >
        rylx = #{rylx,jdbcType=VARCHAR},
      </if>
      <if test="bzlxm != null" >
        bzlxm = #{bzlxm,jdbcType=VARCHAR},
      </if>
      <if test="bzlx != null" >
        bzlx = #{bzlx,jdbcType=VARCHAR},
      </if>
      <if test="csrq != null" >
        csrq = #{csrq,jdbcType=DATE},
      </if>
      <if test="rszfm != null" >
        rszfm = #{rszfm,jdbcType=VARCHAR},
      </if>
      <if test="rszf != null" >
        rszf = #{rszf,jdbcType=VARCHAR},
      </if>
      <if test="sfnxz != null" >
        sfnxz = #{sfnxz,jdbcType=VARCHAR},
      </if>
      <if test="sfzjlx != null" >
        sfzjlx = #{sfzjlx,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="sfzh != null" >
        sfzh = #{sfzh,jdbcType=VARCHAR},
      </if>
      <if test="yddh != null" >
        yddh = #{yddh,jdbcType=VARCHAR},
      </if>
      <if test="dzxx != null" >
        dzxx = #{dzxx,jdbcType=VARCHAR},
      </if>
      <if test="bgdh != null" >
        bgdh = #{bgdh,jdbcType=VARCHAR},
      </if>
      <if test="jtdh != null" >
        jtdh = #{jtdh,jdbcType=VARCHAR},
      </if>
      <if test="zjgjm != null" >
        zjgjm = #{zjgjm,jdbcType=VARCHAR},
      </if>
      <if test="zjgwdj != null" >
        zjgwdj = #{zjgwdj,jdbcType=VARCHAR},
      </if>
      <if test="glgjm != null" >
        glgjm = #{glgjm,jdbcType=VARCHAR},
      </if>
      <if test="glgwdj != null" >
        glgwdj = #{glgwdj,jdbcType=VARCHAR},
      </if>
      <if test="empid != null" >
        empid = #{empid,jdbcType=VARCHAR},
      </if>
      <if test="jg != null" >
        jg = #{jg,jdbcType=VARCHAR},
      </if>
      <if test="zzmm != null" >
        zzmm = #{zzmm,jdbcType=VARCHAR},
      </if>
      <if test="zw != null" >
        zw = #{zw,jdbcType=VARCHAR},
      </if>
      <if test="zwmc != null" >
        zwmc = #{zwmc,jdbcType=VARCHAR},
      </if>
      <if test="mz != null" >
        mz = #{mz,jdbcType=VARCHAR},
      </if>
      <if test="xkmlm != null" >
        xkmlm = #{xkmlm,jdbcType=VARCHAR},
      </if>
      <if test="xkml != null" >
        xkml = #{xkml,jdbcType=VARCHAR},
      </if>
      <if test="ejxkm != null" >
        ejxkm = #{ejxkm,jdbcType=VARCHAR},
      </if>
      <if test="ejxk != null" >
        ejxk = #{ejxk,jdbcType=VARCHAR},
      </if>
      <if test="xmpy != null" >
        xmpy = #{xmpy,jdbcType=VARCHAR},
      </if>
      <if test="poxm != null" >
        poxm = #{poxm,jdbcType=VARCHAR},
      </if>
      <if test="ryxxshzt != null" >
        ryxxshzt = #{ryxxshzt,jdbcType=VARCHAR},
      </if>
      <if test="tbrq != null" >
        tbrq = #{tbrq,jdbcType=VARCHAR},
      </if>
      <if test="jzdw1 != null" >
        jzdw1 = #{jzdw1,jdbcType=VARCHAR},
      </if>
      <if test="jzdw2 != null" >
        jzdw2 = #{jzdw2,jdbcType=VARCHAR},
      </if>
      <if test="batchNum != null" >
        batch_num = #{batchNum,jdbcType=VARCHAR},
      </if>
      <if test="basicActiveId != null" >
        basic_active_id = #{basicActiveId,jdbcType=VARCHAR},
      </if>
      <if test="domainCode != null" >
        domain_code = #{domainCode,jdbcType=VARCHAR},
      </if>
      <if test="basicActiveType != null" >
        basic_active_type = #{basicActiveType,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="domain.ext.ExtJzg" >
    update ext_jzg
    set zgh = #{zgh,jdbcType=VARCHAR},
      xm = #{xm,jdbcType=VARCHAR},
      xbm = #{xbm,jdbcType=VARCHAR},
      xb = #{xb,jdbcType=VARCHAR},
      dwdm = #{dwdm,jdbcType=VARCHAR},
      dwmc = #{dwmc,jdbcType=VARCHAR},
      yjxkm = #{yjxkm,jdbcType=VARCHAR},
      yjxk = #{yjxk,jdbcType=VARCHAR},
      lxrq = #{lxrq,jdbcType=DATE},
      gwlbm = #{gwlbm,jdbcType=VARCHAR},
      gwlb = #{gwlb,jdbcType=VARCHAR},
      zcm = #{zcm,jdbcType=VARCHAR},
      zc = #{zc,jdbcType=VARCHAR},
      gwjbm = #{gwjbm,jdbcType=VARCHAR},
      gwjb = #{gwjb,jdbcType=VARCHAR},
      rclxm = #{rclxm,jdbcType=VARCHAR},
      rclx = #{rclx,jdbcType=VARCHAR},
      rcchm = #{rcchm,jdbcType=VARCHAR},
      rcch = #{rcch,jdbcType=VARCHAR},
      xyjgm = #{xyjgm,jdbcType=VARCHAR},
      xyjg = #{xyjg,jdbcType=VARCHAR},
      gjm = #{gjm,jdbcType=VARCHAR},
      gj = #{gj,jdbcType=VARCHAR},
      zhxwm = #{zhxwm,jdbcType=VARCHAR},
      zhxw = #{zhxw,jdbcType=VARCHAR},
      zhxl = #{zhxl,jdbcType=VARCHAR},
      zhxlmc = #{zhxlmc,jdbcType=VARCHAR},
      xlbyxx = #{xlbyxx,jdbcType=VARCHAR},
      xwsyxx = #{xwsyxx,jdbcType=VARCHAR},
      xzjbm = #{xzjbm,jdbcType=VARCHAR},
      xzjb = #{xzjb,jdbcType=VARCHAR},
      sfzgm = #{sfzgm,jdbcType=VARCHAR},
      sfzg = #{sfzg,jdbcType=VARCHAR},
      ryztm = #{ryztm,jdbcType=VARCHAR},
      ryzt = #{ryzt,jdbcType=VARCHAR},
      rylxm = #{rylxm,jdbcType=VARCHAR},
      rylx = #{rylx,jdbcType=VARCHAR},
      bzlxm = #{bzlxm,jdbcType=VARCHAR},
      bzlx = #{bzlx,jdbcType=VARCHAR},
      csrq = #{csrq,jdbcType=DATE},
      rszfm = #{rszfm,jdbcType=VARCHAR},
      rszf = #{rszf,jdbcType=VARCHAR},
      sfnxz = #{sfnxz,jdbcType=VARCHAR},
      sfzjlx = #{sfzjlx,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      sfzh = #{sfzh,jdbcType=VARCHAR},
      yddh = #{yddh,jdbcType=VARCHAR},
      dzxx = #{dzxx,jdbcType=VARCHAR},
      bgdh = #{bgdh,jdbcType=VARCHAR},
      jtdh = #{jtdh,jdbcType=VARCHAR},
      zjgjm = #{zjgjm,jdbcType=VARCHAR},
      zjgwdj = #{zjgwdj,jdbcType=VARCHAR},
      glgjm = #{glgjm,jdbcType=VARCHAR},
      glgwdj = #{glgwdj,jdbcType=VARCHAR},
      empid = #{empid,jdbcType=VARCHAR},
      jg = #{jg,jdbcType=VARCHAR},
      zzmm = #{zzmm,jdbcType=VARCHAR},
      zw = #{zw,jdbcType=VARCHAR},
      zwmc = #{zwmc,jdbcType=VARCHAR},
      mz = #{mz,jdbcType=VARCHAR},
      xkmlm = #{xkmlm,jdbcType=VARCHAR},
      xkml = #{xkml,jdbcType=VARCHAR},
      ejxkm = #{ejxkm,jdbcType=VARCHAR},
      ejxk = #{ejxk,jdbcType=VARCHAR},
      xmpy = #{xmpy,jdbcType=VARCHAR},
      poxm = #{poxm,jdbcType=VARCHAR},
      ryxxshzt = #{ryxxshzt,jdbcType=VARCHAR},
      tbrq = #{tbrq,jdbcType=VARCHAR},
      jzdw1 = #{jzdw1,jdbcType=VARCHAR},
      jzdw2 = #{jzdw2,jdbcType=VARCHAR},
      batch_num = #{batchNum,jdbcType=VARCHAR},
      basic_active_id = #{basicActiveId,jdbcType=VARCHAR},
      domain_code = #{domainCode,jdbcType=VARCHAR},
      basic_active_type = #{basicActiveType,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select resultMap="BaseResultMap" parameterType="domain.ext.ExtJzgExample" id="selectByExampleWithRowbounds" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ext_jzg
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
</mapper>