/**************/
/*.no-skin .sidebar{
    max-height: 80vh;
    overflow-x: hidden;
    overflow-y: auto;
}*/
/*.main-container {
    min-width: 1000px;
}
.main-content{
    min-width: 1000px;
}
.navbar-default, html{
    min-width: 1290px;
}*/
@media (min-width: 768px) and (max-width: 991px) {
    .hidden-sm {
        display: block !important;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .hidden-md {
        display: block !important;
    }
}
@media (min-width: 1200px) {
    .hidden-lg {
        display: block !important;
    }
}

@media (max-width: 725px) {
    .navbar .nav .dropdown-toggle span{
        display: none !important;
    }
}

@media (min-width: 768px) and (max-width: 1098px) {
    .hidden-sm {
        display: none !important;
    }
}
@media (max-width: 1499px) and (min-width: 1099px) {
    .hidden-md {
        display: none !important;
    }
}
@media (min-width: 1500px) {
    .hidden-lg {
        display: none !important;
    }
}

@media (min-width: 992px) {
    .navbar .navbar-toggle {
        display: block !important;
    }
}
@media (min-width: 1099px) {
    .navbar .navbar-toggle {
        display: none !important;
    }
}

.navbar-fixed-top + .main-container {
    padding-top: 101px;
}
@media (max-width: 479px) {
    .navbar-fixed-top + .main-container {
        padding-top: 90px;
    }
    .navbar-fixed-top.navbar-collapse + .main-container {
        padding-top: 101px;
    }
}
.breadcrumb,
.navbar .nav-list > li > a,
body {
    font-size: 14px;
}

 .nav-tabs.tab-color-blue > li > a,
 .nav-tabs.tab-color-blue > li > a:focus {
    background-color: #337ab7;
}
.navbar .nav{
    padding-bottom: 8px;
}
.navbar-buttons{
    padding-top: 42px !important;
}
.navbar .nav .dropdown-menu{
    left: -80px;
    right: 0px;
}
.navbar .nav .dropdown .dropdown-menu li{
    margin-right: 20px;
}
.navbar .dropdown-menu>li>a {
    font-size: 18px;
}
.navbar .nav-pills .open .dropdown-toggle, .navbar .nav>li.dropdown.open.active>a:hover, .navbar .nav>li.dropdown>a:focus{
    color:#0068bf !important;
}

.tags .tag {
    background-color: #1482C5;
}

.footer {
    padding-top: 0;
    /*padding-top: 50px;*/
    margin-top: 66px;
}

.footer-margin {
    margin-bottom: 70px;
}
.footer-margin:before, .footer-margin:after{
    content: " ";
    display: table;
    clear: both;
}

.footer-margin.lower {
    margin-bottom: 30px;
}

/**************/

.ace-settings-container {
    bottom: 0;
}

#trend-charts {
    /*width: 1000px;*/
    height: 250px;
}

.page-content {
    min-height: 300px!important;
    padding-bottom: 0px !important;
}
#body-content{
    min-height: 300px!important;
}

#body-content .tab-content{
    padding-bottom: 0!important;
}

/*.widget-box{
    border: none;
}*/
.widget-box .widget-header .widget-title .buttons {
    display: inherit;
    position: absolute;
    right: 80px
}

.widget-box .widget-header .widget-title {
    font-weight: bolder;
}

/*搜索框、面板点击收起、排序数字*/
.widget-header, .panel-heading, a.change-order {
    /*background-image: none;
    background: none;*/
    cursor: pointer;
}

.widget-color-blue > .widget-header {
    background: #033975;
    border-color: #033975;
}

/**panel**/
.panel-toolbar {
    padding: 0 10px;
    line-height: 53px;
    float: right;
    position: relative;
    display: inline;
    top: -10px;
}
.panel-toolbar:before {
    display: inline-block;
    content: "";
    position: absolute;
    top: 3px;
    bottom: 3px;
    left: -15px;
    border: 1px solid #d9d9d9;
    border-width: 0 1px 0 0;
}

/**skin**/
.skin-1 .navbar {
    background: #222a2d;
}

.tab-content{
    padding:16px 5px;
}
.tab-content, .nav-tabs.background-blue {
    border: none;
}

/*===infobox */
.infobox[data-url] {
    cursor: pointer;
}

.infobox *[data-url] {
    cursor: pointer;
}

/*============search form=======*/
.search-form {
    padding: 10px;
}

.search-form .form-group {
    padding-bottom: 10px;
}

/*============table================*/
.table-container {
    overflow: auto;
    max-height: 500px;
}

.table-responsive {
    overflow-x: hidden;
}

/*jqgrid start*/
.table > thead > tr > th:last-child {
    border-right-color: inherit !important; /*覆盖ace， jqgrid*/
}

.table > tbody > tr.active > td,
.table tbody tr:hover td, .table tbody tr:hover th {
    background-color: #eadda9;
}

@-moz-document url-prefix() {
    .table > thead:first-child > tr:first-child > th:last-child {
        border-right: 0;
    }
}

.ui-pg-table tbody tr:hover td {
    background-color: inherit;
}

.ui-jqgrid-pager {
    background-color: #EFF3F8
}

/*.ui-th-column:not(:first-child){
    text-align: center!important;
}*/
.ui-th-column {
    text-align: center !important;
}
/*header部分换行*/
/*th.ui-th-column div{
    white-space:normal !important;
    height:auto !important;
    padding:0px;
}*/
.rownumbers #jqGrid_cb {
    text-align: left !important;
}

.rownumbers #jqGrid2_cb {
    text-align: left !important;
}

.jqgrow td:first-child input[type=checkbox] {
    display: inherit !important;
}

/*.ui-jqgrid .ui-jqgrid-btable tbody tr.jqgrow td{
    white-space: inherit;
}*/
.ui-jqgrid .ui-jqgrid-btable tbody tr.jqgrow td a:hover {
    color: inherit;
}

.ui-jqgrid .avatar{
    width: 16px;
    cursor: pointer;
}

.ui-common-table button {
    /*margin: 0!important;*/
    /* padding: 0!important;*/
    border: none !important;
    vertical-align: inherit !important;
}

.ui-common-table .label {
    display: inline !important;
}

/*.table-bordered > thead > tr > th,
 .table-bordered{
    border-right: none!important;
}*/
/* 鼠标悬浮背景色对齐校正*/
.frozen-bdiv.ui-jqgrid-bdiv {
    top: 39px !important;
}

/*jqgrid ====end*/



/* view box table */
.table.table-unhover tbody tr:hover td,
.table.table-unhover thead tr:hover th{
    background-color: transparent;
}

.table.table-unhover > tbody > tr.active > td,
.table.table-unhover tbody tr:hover td, .table.table-unhover tbody tr:hover th {
    background-color: transparent;
}


.table.table-unhover > tbody > tr > td:nth-of-type(odd) {
    background-color: #f9f9f9;
    text-align: right;
}

.table.table-unhover2 tbody tr:hover td {
    background-color: transparent;
}

.table {
    margin-bottom: 0px;
}

.table thead th.both {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAQAAADYWf5HAAAAkElEQVQoz7X QMQ5AQBCF4dWQSJxC5wwax1Cq1e7BAdxD5SL+Tq/QCM1oNiJidwox0355mXnG/DrEtIQ6azioNZQxI0ykPhTQIwhCR+BmBYtlK7kLJYwWCcJA9M4qdrZrd8pPjZWPtOqdRQy320YSV17OatFC4euts6z39GYMKRPCTKY9UnPQ6P+GtMRfGtPnBCiqhAeJPmkqAAAAAElFTkSuQmCC');
}

.table thead th.asc {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAYAAAByUDbMAAAAZ0lEQVQ4y2NgGLKgquEuFxBPAGI2ahhWCsS/gDibUoO0gPgxEP8H4ttArEyuQYxAPBdqEAxPBImTY5gjEL9DM+wTENuQahAvEO9DMwiGdwAxOymGJQLxTyD+jgWDxCMZRsEoGAVoAADeemwtPcZI2wAAAABJRU5ErkJggg==');
}

.table thead th.desc {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAYAAAByUDbMAAAAZUlEQVQ4y2NgGAWjYBSggaqGu5FA/BOIv2PBIPFEUgxjB+IdQPwfC94HxLykus4GiD+hGfQOiB3J8SojEE9EM2wuSJzcsFMG4ttQgx4DsRalkZENxL+AuJQaMcsGxBOAmGvopk8AVz1sLZgg0bsAAAAASUVORK5CYII=');
}

.table thead th.sortable {
    cursor: pointer;
    background-position: right;
    background-repeat: no-repeat;
    /*padding-right: 30px;*/
}

.table thead.multi tr{
    background-image: none!important;
}
.table thead.multi tr th{
    border-bottom: 0;
}

.date-range-picker {
    min-width: 190px;
}

.table-actived tr.active td {
    background-color: #5094ce !important;
}

.table-actived tr.active > td {
    color: #fff;
}

.table-actived tr.active td a, .table tr.active td a:hover {
    color: #fff;
}

.table-center > thead > tr > th, .table-center > tbody > tr > td {

    text-align: center;
}

.bg-right {
    background-color: #f9f9f9 !important;
    text-align: right !important;
    vertical-align: middle !important;
    font-weight: bolder;
}

.bg-left {
    background-color: #fff !important;
    text-align: left !important;
}

.widget-body .table thead:first-child tr {
    background: #F2F2F2;
    background-image: -webkit-linear-gradient(top, #f8f8f8 0%, #ececec 100%);
    background-image: -o-linear-gradient(top, #f8f8f8 0%, #ececec 100%);
    background-image: linear-gradient(to bottom, #f8f8f8 0%, #ececec 100%);
    background-repeat: repeat-x;
}

.widget-body .ui-common-table.table {
    border-top: none !important;
}

/*#item-content .table-striped > tbody > tr:nth-of-type(odd) {
    background-color:inherit;
}
#item-content .table tbody tr:hover td, .table tbody tr:hover th {
    background-color:transparent;
}
#item-content .table-striped > tbody > tr > td:nth-of-type(odd) {
    background-color: #f9f9f9;
    text-align: right;
}*/

#view-box .widget-box .table-striped > tbody > tr:nth-of-type(odd) {
    background-color: inherit;
}

/*#view-box .table tbody tr:hover th {
    background-color:transparent;
}*/
#view-box .widget-main.no-padding .table {
    border: 1px solid #E5E5E5
}

/* 暂留申请表*/
/*.transparent>.widget-body .widget-main .table-bordered>tbody>tr>td:last-child{
    border-right-width: 1px!important;
}*/
/*排序*/
.order-step {
    width: 25px;
    padding: 0px !important;
    margin: 0px;
}

/*分页*/
.my_paginate_row {
    margin: 0 !important;
    border-bottom: 1px solid #e0e0e0;
    padding-top: 6px;
    padding-bottom: 2px;
    background-color: #EFF3F8;
    height: 48px;
}

.my_paginate_row > div:first-child {
    padding-top: 10px;
    float: left;
    margin-left: 10px;
}

.my_paginate_row .my_paginate {
    text-align: right;
}

.my_paginate_row .my_paginate .pagination {
    margin: 0 12px;
}

.tree:before {
    border: none;
}

/*======select2=*/
.select2-container .select2-selection--single {
    height: 32px;
}

.select2-container--classic .select2-selection--single .select2-selection__rendered {
    line-height: 32px;
}

.select2-container--classic .select2-selection--single .select2-selection__arrow {
    height: 30px;
}

.select2-search:after {
    position: absolute;
    top: 8px;
    left: auto;
    right: 12px;
}

.has-error .select2-selection {
    border-color: #a94442;
}

.has-success .select2-selection {
    border-color: #3c763d;
}

/*防止初始化时页面变形*/
select[multiple] {
    display: none;
}

/*login page*/
br.xs-100 {
    height: 100px;
    line-height: 100px;
    display: inline-block;
}

.account-wrapper {
    position: relative;
    width: 90%;
    padding: 0;
    margin: 0 auto;
    text-align: center;
}

.account-wrapper .row > div {
    margin-bottom: 1em;
}

.account-form {
    padding: 0;
    margin-top: 2em;
    margin-bottom: 2em;
    text-align: left;
}

.account-form .placeholder-hidden {
    display: none;
}

.account-form .form-control {
    height: 40px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-bottom: 1.25em;
}

.account-body {
    position: relative;
    padding: 35px 30px 10px;
    margin-bottom: 1em;
    color: #444444;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
}

.account-footer {
    padding: 0 25px;
    margin-top: 1.5em;
}

@media (min-width: 768px) {
    .account-wrapper {
        width: 450px;
        padding: 0;
    }

    .account-wrapper .row > div {
        margin-bottom: 0;
    }

    .account-body .account-form {
        padding: 0 25px;
        text-align: left;
    }

    .account-or-social {
        margin-top: 2em;
    }
}

.captcha {
    cursor: pointer;
    height: 40px;
    padding-left: 20px;
}

/*.jumbotron {
    position: relative;
    padding: 40px 0;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 3px rgba(0,0,0,.4),0 0 30px rgba(0,0,0,.075);
    background: #020031;
    background: -moz-linear-gradient(45deg,#020031 0,#6d3353 100%);
    background: -webkit-gradient(linear,left bottom,right top,color-stop(0%,#020031),color-stop(100%,#6d3353));
    background: -webkit-linear-gradient(45deg,#020031 0,#6d3353 100%);
    background: -o-linear-gradient(45deg,#020031 0,#6d3353 100%);
    background: -ms-linear-gradient(45deg,#020031 0,#6d3353 100%);
    background: linear-gradient(45deg,#020031 0,#6d3353 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#020031', endColorstr='#6d3353', GradientType=1);
    -webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.2),inset 0 -3px 7px rgba(0,0,0,.2);
    -moz-box-shadow: inset 0 3px 7px rgba(0,0,0,.2),inset 0 -3px 7px rgba(0,0,0,.2);
    box-shadow: inset 0 3px 7px rgba(0,0,0,.2),inset 0 -3px 7px rgba(0,0,0,.2);
}*/
.jumbotron {
    position: relative;
    padding: 40px 0;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 3px rgba(0, 0, 0, .4), 0 0 30px rgba(0, 0, 0, .075);
    background: #0b3175;
    background: -moz-linear-gradient(45deg, #0b3175 0, #437ee6 100%);
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #0b3175), color-stop(100%, #437ee6));
    background: -webkit-linear-gradient(45deg, #0b3175 0, #437ee6 100%);
    background: -o-linear-gradient(45deg, #0b3175 0, #437ee6 100%);
    background: -ms-linear-gradient(45deg, #0b3175 0, #437ee6 100%);
    background: linear-gradient(45deg, #0b3175 0, #437ee6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0b3175', endColorstr='#437ee6', GradientType=1);
    -webkit-box-shadow: inset 0 3px 7px rgba(0, 0, 0, .2), inset 0 -3px 7px rgba(0, 0, 0, .2);
    -moz-box-shadow: inset 0 3px 7px rgba(0, 0, 0, .2), inset 0 -3px 7px rgba(0, 0, 0, .2);
    box-shadow: inset 0 3px 7px rgba(0, 0, 0, .2), inset 0 -3px 7px rgba(0, 0, 0, .2);
}

.jumbotron:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url(../img/masthead.png) repeat center center;
    opacity: .8;
}

.jumbotron .container {
    position: relative;
    z-index: 2;
}

.login-body {
    min-height: unset;
    background-color: #fff;
}

/**modal**/
.modal .modal-body {
    max-height: 600px;
    overflow-y: auto;
}

.modal-header, .modal-footer.draggable {
    cursor: move;
}

/**bootbox**/
.bootbox-confirm .modal-footer button:first-child {
    display: none !important;
}

.bootbox-confirm .modal-footer button:first-child.btn-show {
    display: inline !important;
}

.bootbox-confirm .confirmMsg{
    margin: 30px;
    font-size: 18px;
    font-weight: bolder;
}

.modal .modal-footer {
    text-align: center !important;
}

.modal .modal-footer button {
    margin-left: 20px;
    margin-right: 20px;
}

/*width*/
.width300 {
    width: 300px;
}
.width400 {
    width: 400px;
}

.width500 {
    width: 500px;
}

.width600 {
    width: 600px;
}

.width650 {
    width: 650px;
}

.width700 {
    width: 700px;
}
.width720 {
    width: 720px;
}
.width750 {
    width: 750px;
}
.width800 {
    width: 800px;
}

.width850 {
    width: 850px;
}

.width900 {
    width: 900px;
}

.width1000 {
    width: 1000px;
}

.width1200 {
    width: 1200px;
}

.block-loading {
    width: 35px;
    height: 35px;
    position: relative;
    top: 50%;
    left: 50%;
    background: url('../img/loading.gif') center center no-repeat;
}

/*form*/
form .form-actions {
    margin-bottom: 0px;
    margin-top: 0px;
}

/*search form*/
.widget-main.no-padding > form .row {
    padding-top: 16px;
}

.form-group {
    margin-bottom: 8px;
}

.help-block {
    margin-top: 0px;
    margin-bottom: 0px;
}

.form-group .label-text {
    padding-top: 7px
}

/*steps*/
.steps .subtitle {
    color: #336199;
    font-size: 6pt;
}

.profile-info-name {
    width: 200px;
}

.avatar {
    width: 143px;
    /*height: 198px;*/
}

/*flash*/
.dispatch_cadres {
    padding: 20px;
    padding-top: 10px;
    width: 1530px;
}

.dispatch_cadres .dispatch, .dispatch_cadres .cadres {
    float: left;
}

.dispatch_cadres .date-picker {
    width: 100px;
}

.dispatch_cadres .select-form {
    padding-bottom: 20px;
}

.dispatch_cadres .dispatch {
    width: 730px;
    margin-right: 25px;
}

.dispatch_cadres .cadres {
    width: 730px;
}

.dispatch_cadres .swf-file.none {
    height: 710px;
    text-align: center;
    line-height: 710px;
}

.dispatch_cadres .swf-file.flash {
}

/* 干部任免信息添加界面 */
.dispatch_au {
    padding: 20px;
    padding-top: 10px;
    width: 1310px;
}

.dispatch_au .preview, .dispatch_au .au {
    float: left;
}

.dispatch_au .select-form {
    padding-bottom: 20px;
}

.dispatch_au .preview {
    width: 740px;
    margin-right: 25px;
}

.dispatch_au .au {
    width: 500px;
}

#dispatch-file-view {
    height: 750px;
    text-align: center;
    line-height: 750px;
    overflow: hidden;
}

.swf-file-view {
    width: 730px;
    line-height: 750px;
    text-align: center;
    height: 750px;
    overflow: hidden;
}

.dispatch_au .swf-file.none {
    height: 710px;
    text-align: center;
    line-height: 710px;
}

.dispatch_au .swf-file.flash {
}

.passport_apply .preview, .passport_apply .info {
    float: left;
}

.passport_apply {
    width: 1225px;
}

.passport_apply .preview {
    width: 600px;
    height: 860px;
    line-height: 877px;
    text-align: center;
    margin-right: 25px;
}

.passport_apply .preview img {
    max-height: 850px;
}

.passport_apply .info {
    width: 600px;
    padding-left: 25px;
}

.passport_apply .button {
    padding: 30px;
}

.applySelf .preview, .applySelf .info {
    float: left;
}

.applySelf {
    width: 1375px;
}

.applySelf .preview {
    width: 750px;
    margin-right: 25px;
}

.applySelf .info {
    width: 600px;
    padding-left: 25px;
}

.applySelf .button {
    padding: 30px;
}

.chkBox {
    _vertical-align: -3px; /*针对IE6使用hack*/
    vertical-align: -5px;
}

input[type=checkbox].big {
    width: 20px;
    height: 20px;
    /*_vertical-align: -2px;*//*针对IE6使用hack*//*
    vertical-align: -3px;*/
    _vertical-align: -3px; /*针对IE6使用hack*/
    vertical-align: -3px;
}

.cadre-info-check{
    width: 18px;
    height: 18px;
    _vertical-align: -5px;
    vertical-align: -5px;
    margin-left: 20px!important;
}

input[type=radio].big {
    width: 20px;
    height: 20px;
    /*_vertical-align: -2px;*//*针对IE6使用hack*//*
    vertical-align: -3px;*/
    _vertical-align: -5px; /*针对IE6使用hack*/
    vertical-align: -5px;
}

input[type=checkbox].bigger {
    width: 30px;
    height: 30px;
}

input[type=radio].bigger {
    width: 25px;
    height: 25px;
    _vertical-align: -4px; /*针对IE6使用hack*/
    vertical-align: -6px;
}

.not_approval {
    background-color: #f1f1f1;

}

/*spinner*/
.ace-spinner .btn-sm {
    border-width: 4px;
    font-size: 13px;
    padding: 4px 9px;
    line-height: 1.38;
}

.ace-spinner .btn-danger, .ace-spinner .btn-success {
    background-image: none;
    box-shadow: none;
}

.ace-spinner .btn-danger {
    background-color: #d15b47 !important;
    border-color: #d15b47;
}

.ace-spinner .btn-danger:hover {
    background-color: #b74635 !important;
    border-color: #d15b47;
}

.ace-spinner .btn-success {
    background-color: #87b87f !important;
    border-color: #87b87f;
}

.ace-spinner .btn-success:hover {
    background-color: #629b58 !important;
    border-color: #87b87f;
}

/* 统计 */
.stat-row {
    margin-bottom: 5px;
}

.stat-row .count {
    color: #0000A1;
    font-weight: bolder;
}

/*highcharts*/
.highcharts-contextmenu hr {
    margin-top: 5px;
    margin-bottom: 5px;
}

/*fancybox-title*/
.fancybox-title .title {
    font-size: larger;
    font-weight: bolder;
}

.fancybox-title .title .download {
    margin: 0 auto;
    text-align: center;
}

.fancybox-inner {
}

.fancybox-title-float-wrap .child {
    font-weight: inherit;
}

.webcam-container {
    display: none;
    position: fixed;
    padding-right: 0px !important;
    width: 675px;
    height: 660px;
    background-color: #fff;
    z-index: 9999;
    left: 50%;
    top: 50%;
    margin: -328px 0 0 -337px;
}

.webcam-container .modal-body {
    max-height: inherit;
}

.camera {
    color: #000;
    text-decoration: none;
}

.camera img {
    margin-right: 5px;
    margin-top: -4px;
}

/*cadre */
.two-frames {
    padding: 10px 20px;
    max-width: 1530px;
}

.two-frames .left, .two-frames .right {
    float: left;
}

.two-frames .left {
    width: 730px;
    margin-right: 25px;
}

.two-frames .right {
    width: 730px;
}

.two-frames, .preview-text{
    font-size: 14pt;
    font-family: "sans serif", tahoma, verdana, helvetica;
}



span.delete {
    text-decoration: line-through
}

.btn-upload-form {
    position: relative;
    overflow: hidden;
}

.btn-upload-form input[type=file] {
    position: absolute;
    top: 0;
    left: -100px;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer;
}

#sidebar-review {
    height: 614px;
    width: 500px;
    float: left;
    border: 1px dotted;
}
#sidebar-review .sidebar{
    height: 500px;
    width: 200px;
    overflow-y:auto;
}
#sidebar-review .title{
    height: 50px;
    line-height: 50px;
    font-weight: bolder;
}

/*qtip*/
.qtip{
    min-width: 90px;
}


.notCpc, .notCpc a {
    color: red;
}

.isCpc, .isCpc a {
    color: green;
}