<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="persistence.member.MemberOutViewMapper">
  <resultMap id="BaseResultMap" type="domain.member.MemberOutView">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="party_id" jdbcType="INTEGER" property="partyId" />
    <result column="branch_id" jdbcType="INTEGER" property="branchId" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="type" jdbcType="TINYINT" property="type" />
    <result column="to_title" jdbcType="VARCHAR" property="toTitle" />
    <result column="to_unit" jdbcType="VARCHAR" property="toUnit" />
    <result column="from_unit" jdbcType="VARCHAR" property="fromUnit" />
    <result column="from_address" jdbcType="VARCHAR" property="fromAddress" />
    <result column="from_phone" jdbcType="VARCHAR" property="fromPhone" />
    <result column="from_fax" jdbcType="VARCHAR" property="fromFax" />
    <result column="from_post_code" jdbcType="VARCHAR" property="fromPostCode" />
    <result column="pay_time" jdbcType="DATE" property="payTime" />
    <result column="valid_days" jdbcType="INTEGER" property="validDays" />
    <result column="handle_time" jdbcType="DATE" property="handleTime" />
    <result column="has_receipt" jdbcType="BIT" property="hasReceipt" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="is_modify" jdbcType="BIT" property="isModify" />
    <result column="is_back" jdbcType="BIT" property="isBack" />
    <result column="reason" jdbcType="VARCHAR" property="reason" />
    <result column="apply_time" jdbcType="TIMESTAMP" property="applyTime" />
    <result column="print_count" jdbcType="INTEGER" property="printCount" />
    <result column="last_print_time" jdbcType="TIMESTAMP" property="lastPrintTime" />
    <result column="last_print_user_id" jdbcType="INTEGER" property="lastPrintUserId" />
    <result column="member_type" jdbcType="TINYINT" property="memberType" />
    <result column="is_retire" jdbcType="BIT" property="isRetire" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, user_id, party_id, branch_id, phone, type, to_title, to_unit, from_unit, from_address, 
    from_phone, from_fax, from_post_code, pay_time, valid_days, handle_time, has_receipt, 
    status, is_modify, is_back, reason, apply_time, print_count, last_print_time, last_print_user_id, 
    member_type, is_retire
  </sql>
  <select id="selectByExample" parameterType="domain.member.MemberOutViewExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ow_member_out_view
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="countByExample" parameterType="domain.member.MemberOutViewExample" resultType="java.lang.Long">
    select count(*) from ow_member_out_view
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <select id="selectByExampleWithRowbounds" parameterType="domain.member.MemberOutViewExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ow_member_out_view
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
</mapper>