<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="persistence.member.MemberOutModifyMapper">
  <resultMap id="BaseResultMap" type="domain.member.MemberOutModify">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="out_id" jdbcType="INTEGER" property="outId" />
    <result column="apply_user_id" jdbcType="INTEGER" property="applyUserId" />
    <result column="idcard" jdbcType="VARCHAR" property="idcard" />
    <result column="gender" jdbcType="TINYINT" property="gender" />
    <result column="user_code" jdbcType="VARCHAR" property="userCode" />
    <result column="realname" jdbcType="VARCHAR" property="realname" />
    <result column="age" jdbcType="INTEGER" property="age" />
    <result column="nation" jdbcType="VARCHAR" property="nation" />
    <result column="political_status" jdbcType="TINYINT" property="politicalStatus" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="to_title" jdbcType="VARCHAR" property="toTitle" />
    <result column="to_unit" jdbcType="VARCHAR" property="toUnit" />
    <result column="from_unit" jdbcType="VARCHAR" property="fromUnit" />
    <result column="from_address" jdbcType="VARCHAR" property="fromAddress" />
    <result column="from_phone" jdbcType="VARCHAR" property="fromPhone" />
    <result column="from_fax" jdbcType="VARCHAR" property="fromFax" />
    <result column="from_post_code" jdbcType="VARCHAR" property="fromPostCode" />
    <result column="pay_time" jdbcType="DATE" property="payTime" />
    <result column="valid_days" jdbcType="INTEGER" property="validDays" />
    <result column="handle_time" jdbcType="DATE" property="handleTime" />
    <result column="has_receipt" jdbcType="BIT" property="hasReceipt" />
    <result column="apply_time" jdbcType="TIMESTAMP" property="applyTime" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="ip" jdbcType="VARCHAR" property="ip" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, out_id, apply_user_id, idcard, gender, user_code, realname, age, nation, political_status, 
    phone, type, to_title, to_unit, from_unit, from_address, from_phone, from_fax, from_post_code, 
    pay_time, valid_days, handle_time, has_receipt, apply_time, user_id, create_time, 
    ip
  </sql>
  <select id="selectByExample" parameterType="domain.member.MemberOutModifyExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ow_member_out_modify
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ow_member_out_modify
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ow_member_out_modify
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="domain.member.MemberOutModifyExample">
    delete from ow_member_out_modify
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="domain.member.MemberOutModify">
    insert into ow_member_out_modify (id, out_id, apply_user_id, 
      idcard, gender, user_code, 
      realname, age, nation, 
      political_status, phone, type, 
      to_title, to_unit, from_unit, 
      from_address, from_phone, from_fax, 
      from_post_code, pay_time, valid_days, 
      handle_time, has_receipt, apply_time, 
      user_id, create_time, ip
      )
    values (#{id,jdbcType=INTEGER}, #{outId,jdbcType=INTEGER}, #{applyUserId,jdbcType=INTEGER}, 
      #{idcard,jdbcType=VARCHAR}, #{gender,jdbcType=TINYINT}, #{userCode,jdbcType=VARCHAR}, 
      #{realname,jdbcType=VARCHAR}, #{age,jdbcType=INTEGER}, #{nation,jdbcType=VARCHAR}, 
      #{politicalStatus,jdbcType=TINYINT}, #{phone,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER}, 
      #{toTitle,jdbcType=VARCHAR}, #{toUnit,jdbcType=VARCHAR}, #{fromUnit,jdbcType=VARCHAR}, 
      #{fromAddress,jdbcType=VARCHAR}, #{fromPhone,jdbcType=VARCHAR}, #{fromFax,jdbcType=VARCHAR}, 
      #{fromPostCode,jdbcType=VARCHAR}, #{payTime,jdbcType=DATE}, #{validDays,jdbcType=INTEGER}, 
      #{handleTime,jdbcType=DATE}, #{hasReceipt,jdbcType=BIT}, #{applyTime,jdbcType=TIMESTAMP}, 
      #{userId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{ip,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="domain.member.MemberOutModify">
    insert into ow_member_out_modify
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="outId != null">
        out_id,
      </if>
      <if test="applyUserId != null">
        apply_user_id,
      </if>
      <if test="idcard != null">
        idcard,
      </if>
      <if test="gender != null">
        gender,
      </if>
      <if test="userCode != null">
        user_code,
      </if>
      <if test="realname != null">
        realname,
      </if>
      <if test="age != null">
        age,
      </if>
      <if test="nation != null">
        nation,
      </if>
      <if test="politicalStatus != null">
        political_status,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="toTitle != null">
        to_title,
      </if>
      <if test="toUnit != null">
        to_unit,
      </if>
      <if test="fromUnit != null">
        from_unit,
      </if>
      <if test="fromAddress != null">
        from_address,
      </if>
      <if test="fromPhone != null">
        from_phone,
      </if>
      <if test="fromFax != null">
        from_fax,
      </if>
      <if test="fromPostCode != null">
        from_post_code,
      </if>
      <if test="payTime != null">
        pay_time,
      </if>
      <if test="validDays != null">
        valid_days,
      </if>
      <if test="handleTime != null">
        handle_time,
      </if>
      <if test="hasReceipt != null">
        has_receipt,
      </if>
      <if test="applyTime != null">
        apply_time,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="ip != null">
        ip,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="outId != null">
        #{outId,jdbcType=INTEGER},
      </if>
      <if test="applyUserId != null">
        #{applyUserId,jdbcType=INTEGER},
      </if>
      <if test="idcard != null">
        #{idcard,jdbcType=VARCHAR},
      </if>
      <if test="gender != null">
        #{gender,jdbcType=TINYINT},
      </if>
      <if test="userCode != null">
        #{userCode,jdbcType=VARCHAR},
      </if>
      <if test="realname != null">
        #{realname,jdbcType=VARCHAR},
      </if>
      <if test="age != null">
        #{age,jdbcType=INTEGER},
      </if>
      <if test="nation != null">
        #{nation,jdbcType=VARCHAR},
      </if>
      <if test="politicalStatus != null">
        #{politicalStatus,jdbcType=TINYINT},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="toTitle != null">
        #{toTitle,jdbcType=VARCHAR},
      </if>
      <if test="toUnit != null">
        #{toUnit,jdbcType=VARCHAR},
      </if>
      <if test="fromUnit != null">
        #{fromUnit,jdbcType=VARCHAR},
      </if>
      <if test="fromAddress != null">
        #{fromAddress,jdbcType=VARCHAR},
      </if>
      <if test="fromPhone != null">
        #{fromPhone,jdbcType=VARCHAR},
      </if>
      <if test="fromFax != null">
        #{fromFax,jdbcType=VARCHAR},
      </if>
      <if test="fromPostCode != null">
        #{fromPostCode,jdbcType=VARCHAR},
      </if>
      <if test="payTime != null">
        #{payTime,jdbcType=DATE},
      </if>
      <if test="validDays != null">
        #{validDays,jdbcType=INTEGER},
      </if>
      <if test="handleTime != null">
        #{handleTime,jdbcType=DATE},
      </if>
      <if test="hasReceipt != null">
        #{hasReceipt,jdbcType=BIT},
      </if>
      <if test="applyTime != null">
        #{applyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="ip != null">
        #{ip,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="domain.member.MemberOutModifyExample" resultType="java.lang.Long">
    select count(*) from ow_member_out_modify
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update ow_member_out_modify
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.outId != null">
        out_id = #{record.outId,jdbcType=INTEGER},
      </if>
      <if test="record.applyUserId != null">
        apply_user_id = #{record.applyUserId,jdbcType=INTEGER},
      </if>
      <if test="record.idcard != null">
        idcard = #{record.idcard,jdbcType=VARCHAR},
      </if>
      <if test="record.gender != null">
        gender = #{record.gender,jdbcType=TINYINT},
      </if>
      <if test="record.userCode != null">
        user_code = #{record.userCode,jdbcType=VARCHAR},
      </if>
      <if test="record.realname != null">
        realname = #{record.realname,jdbcType=VARCHAR},
      </if>
      <if test="record.age != null">
        age = #{record.age,jdbcType=INTEGER},
      </if>
      <if test="record.nation != null">
        nation = #{record.nation,jdbcType=VARCHAR},
      </if>
      <if test="record.politicalStatus != null">
        political_status = #{record.politicalStatus,jdbcType=TINYINT},
      </if>
      <if test="record.phone != null">
        phone = #{record.phone,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null">
        type = #{record.type,jdbcType=INTEGER},
      </if>
      <if test="record.toTitle != null">
        to_title = #{record.toTitle,jdbcType=VARCHAR},
      </if>
      <if test="record.toUnit != null">
        to_unit = #{record.toUnit,jdbcType=VARCHAR},
      </if>
      <if test="record.fromUnit != null">
        from_unit = #{record.fromUnit,jdbcType=VARCHAR},
      </if>
      <if test="record.fromAddress != null">
        from_address = #{record.fromAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.fromPhone != null">
        from_phone = #{record.fromPhone,jdbcType=VARCHAR},
      </if>
      <if test="record.fromFax != null">
        from_fax = #{record.fromFax,jdbcType=VARCHAR},
      </if>
      <if test="record.fromPostCode != null">
        from_post_code = #{record.fromPostCode,jdbcType=VARCHAR},
      </if>
      <if test="record.payTime != null">
        pay_time = #{record.payTime,jdbcType=DATE},
      </if>
      <if test="record.validDays != null">
        valid_days = #{record.validDays,jdbcType=INTEGER},
      </if>
      <if test="record.handleTime != null">
        handle_time = #{record.handleTime,jdbcType=DATE},
      </if>
      <if test="record.hasReceipt != null">
        has_receipt = #{record.hasReceipt,jdbcType=BIT},
      </if>
      <if test="record.applyTime != null">
        apply_time = #{record.applyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.userId != null">
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.ip != null">
        ip = #{record.ip,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update ow_member_out_modify
    set id = #{record.id,jdbcType=INTEGER},
      out_id = #{record.outId,jdbcType=INTEGER},
      apply_user_id = #{record.applyUserId,jdbcType=INTEGER},
      idcard = #{record.idcard,jdbcType=VARCHAR},
      gender = #{record.gender,jdbcType=TINYINT},
      user_code = #{record.userCode,jdbcType=VARCHAR},
      realname = #{record.realname,jdbcType=VARCHAR},
      age = #{record.age,jdbcType=INTEGER},
      nation = #{record.nation,jdbcType=VARCHAR},
      political_status = #{record.politicalStatus,jdbcType=TINYINT},
      phone = #{record.phone,jdbcType=VARCHAR},
      type = #{record.type,jdbcType=INTEGER},
      to_title = #{record.toTitle,jdbcType=VARCHAR},
      to_unit = #{record.toUnit,jdbcType=VARCHAR},
      from_unit = #{record.fromUnit,jdbcType=VARCHAR},
      from_address = #{record.fromAddress,jdbcType=VARCHAR},
      from_phone = #{record.fromPhone,jdbcType=VARCHAR},
      from_fax = #{record.fromFax,jdbcType=VARCHAR},
      from_post_code = #{record.fromPostCode,jdbcType=VARCHAR},
      pay_time = #{record.payTime,jdbcType=DATE},
      valid_days = #{record.validDays,jdbcType=INTEGER},
      handle_time = #{record.handleTime,jdbcType=DATE},
      has_receipt = #{record.hasReceipt,jdbcType=BIT},
      apply_time = #{record.applyTime,jdbcType=TIMESTAMP},
      user_id = #{record.userId,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      ip = #{record.ip,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="domain.member.MemberOutModify">
    update ow_member_out_modify
    <set>
      <if test="outId != null">
        out_id = #{outId,jdbcType=INTEGER},
      </if>
      <if test="applyUserId != null">
        apply_user_id = #{applyUserId,jdbcType=INTEGER},
      </if>
      <if test="idcard != null">
        idcard = #{idcard,jdbcType=VARCHAR},
      </if>
      <if test="gender != null">
        gender = #{gender,jdbcType=TINYINT},
      </if>
      <if test="userCode != null">
        user_code = #{userCode,jdbcType=VARCHAR},
      </if>
      <if test="realname != null">
        realname = #{realname,jdbcType=VARCHAR},
      </if>
      <if test="age != null">
        age = #{age,jdbcType=INTEGER},
      </if>
      <if test="nation != null">
        nation = #{nation,jdbcType=VARCHAR},
      </if>
      <if test="politicalStatus != null">
        political_status = #{politicalStatus,jdbcType=TINYINT},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="toTitle != null">
        to_title = #{toTitle,jdbcType=VARCHAR},
      </if>
      <if test="toUnit != null">
        to_unit = #{toUnit,jdbcType=VARCHAR},
      </if>
      <if test="fromUnit != null">
        from_unit = #{fromUnit,jdbcType=VARCHAR},
      </if>
      <if test="fromAddress != null">
        from_address = #{fromAddress,jdbcType=VARCHAR},
      </if>
      <if test="fromPhone != null">
        from_phone = #{fromPhone,jdbcType=VARCHAR},
      </if>
      <if test="fromFax != null">
        from_fax = #{fromFax,jdbcType=VARCHAR},
      </if>
      <if test="fromPostCode != null">
        from_post_code = #{fromPostCode,jdbcType=VARCHAR},
      </if>
      <if test="payTime != null">
        pay_time = #{payTime,jdbcType=DATE},
      </if>
      <if test="validDays != null">
        valid_days = #{validDays,jdbcType=INTEGER},
      </if>
      <if test="handleTime != null">
        handle_time = #{handleTime,jdbcType=DATE},
      </if>
      <if test="hasReceipt != null">
        has_receipt = #{hasReceipt,jdbcType=BIT},
      </if>
      <if test="applyTime != null">
        apply_time = #{applyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="ip != null">
        ip = #{ip,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="domain.member.MemberOutModify">
    update ow_member_out_modify
    set out_id = #{outId,jdbcType=INTEGER},
      apply_user_id = #{applyUserId,jdbcType=INTEGER},
      idcard = #{idcard,jdbcType=VARCHAR},
      gender = #{gender,jdbcType=TINYINT},
      user_code = #{userCode,jdbcType=VARCHAR},
      realname = #{realname,jdbcType=VARCHAR},
      age = #{age,jdbcType=INTEGER},
      nation = #{nation,jdbcType=VARCHAR},
      political_status = #{politicalStatus,jdbcType=TINYINT},
      phone = #{phone,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      to_title = #{toTitle,jdbcType=VARCHAR},
      to_unit = #{toUnit,jdbcType=VARCHAR},
      from_unit = #{fromUnit,jdbcType=VARCHAR},
      from_address = #{fromAddress,jdbcType=VARCHAR},
      from_phone = #{fromPhone,jdbcType=VARCHAR},
      from_fax = #{fromFax,jdbcType=VARCHAR},
      from_post_code = #{fromPostCode,jdbcType=VARCHAR},
      pay_time = #{payTime,jdbcType=DATE},
      valid_days = #{validDays,jdbcType=INTEGER},
      handle_time = #{handleTime,jdbcType=DATE},
      has_receipt = #{hasReceipt,jdbcType=BIT},
      apply_time = #{applyTime,jdbcType=TIMESTAMP},
      user_id = #{userId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      ip = #{ip,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByExampleWithRowbounds" parameterType="domain.member.MemberOutModifyExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ow_member_out_modify
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
</mapper>