<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="persistence.pcs.PcsAdminReportMapper">
  <resultMap id="BaseResultMap" type="domain.pcs.PcsAdminReport">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="party_id" jdbcType="INTEGER" property="partyId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="config_id" jdbcType="INTEGER" property="configId" />
    <result column="stage" jdbcType="TINYINT" property="stage" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="branch_count" jdbcType="INTEGER" property="branchCount" />
    <result column="member_count" jdbcType="INTEGER" property="memberCount" />
    <result column="positive_count" jdbcType="INTEGER" property="positiveCount" />
    <result column="student_member_count" jdbcType="INTEGER" property="studentMemberCount" />
    <result column="teacher_member_count" jdbcType="INTEGER" property="teacherMemberCount" />
    <result column="retire_member_count" jdbcType="INTEGER" property="retireMemberCount" />
    <result column="ip" jdbcType="VARCHAR" property="ip" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, party_id, user_id, config_id, stage, create_time, branch_count, member_count, 
    positive_count, student_member_count, teacher_member_count, retire_member_count, 
    ip
  </sql>
  <select id="selectByExample" parameterType="domain.pcs.PcsAdminReportExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from pcs_admin_report
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from pcs_admin_report
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from pcs_admin_report
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="domain.pcs.PcsAdminReportExample">
    delete from pcs_admin_report
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="domain.pcs.PcsAdminReport">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into pcs_admin_report (party_id, user_id, config_id, 
      stage, create_time, branch_count, 
      member_count, positive_count, student_member_count, 
      teacher_member_count, retire_member_count, 
      ip)
    values (#{partyId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{configId,jdbcType=INTEGER}, 
      #{stage,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP}, #{branchCount,jdbcType=INTEGER}, 
      #{memberCount,jdbcType=INTEGER}, #{positiveCount,jdbcType=INTEGER}, #{studentMemberCount,jdbcType=INTEGER}, 
      #{teacherMemberCount,jdbcType=INTEGER}, #{retireMemberCount,jdbcType=INTEGER}, 
      #{ip,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="domain.pcs.PcsAdminReport">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into pcs_admin_report
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="partyId != null">
        party_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="configId != null">
        config_id,
      </if>
      <if test="stage != null">
        stage,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="branchCount != null">
        branch_count,
      </if>
      <if test="memberCount != null">
        member_count,
      </if>
      <if test="positiveCount != null">
        positive_count,
      </if>
      <if test="studentMemberCount != null">
        student_member_count,
      </if>
      <if test="teacherMemberCount != null">
        teacher_member_count,
      </if>
      <if test="retireMemberCount != null">
        retire_member_count,
      </if>
      <if test="ip != null">
        ip,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="partyId != null">
        #{partyId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="configId != null">
        #{configId,jdbcType=INTEGER},
      </if>
      <if test="stage != null">
        #{stage,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="branchCount != null">
        #{branchCount,jdbcType=INTEGER},
      </if>
      <if test="memberCount != null">
        #{memberCount,jdbcType=INTEGER},
      </if>
      <if test="positiveCount != null">
        #{positiveCount,jdbcType=INTEGER},
      </if>
      <if test="studentMemberCount != null">
        #{studentMemberCount,jdbcType=INTEGER},
      </if>
      <if test="teacherMemberCount != null">
        #{teacherMemberCount,jdbcType=INTEGER},
      </if>
      <if test="retireMemberCount != null">
        #{retireMemberCount,jdbcType=INTEGER},
      </if>
      <if test="ip != null">
        #{ip,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="domain.pcs.PcsAdminReportExample" resultType="java.lang.Long">
    select count(*) from pcs_admin_report
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update pcs_admin_report
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.partyId != null">
        party_id = #{record.partyId,jdbcType=INTEGER},
      </if>
      <if test="record.userId != null">
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.configId != null">
        config_id = #{record.configId,jdbcType=INTEGER},
      </if>
      <if test="record.stage != null">
        stage = #{record.stage,jdbcType=TINYINT},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.branchCount != null">
        branch_count = #{record.branchCount,jdbcType=INTEGER},
      </if>
      <if test="record.memberCount != null">
        member_count = #{record.memberCount,jdbcType=INTEGER},
      </if>
      <if test="record.positiveCount != null">
        positive_count = #{record.positiveCount,jdbcType=INTEGER},
      </if>
      <if test="record.studentMemberCount != null">
        student_member_count = #{record.studentMemberCount,jdbcType=INTEGER},
      </if>
      <if test="record.teacherMemberCount != null">
        teacher_member_count = #{record.teacherMemberCount,jdbcType=INTEGER},
      </if>
      <if test="record.retireMemberCount != null">
        retire_member_count = #{record.retireMemberCount,jdbcType=INTEGER},
      </if>
      <if test="record.ip != null">
        ip = #{record.ip,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update pcs_admin_report
    set id = #{record.id,jdbcType=INTEGER},
      party_id = #{record.partyId,jdbcType=INTEGER},
      user_id = #{record.userId,jdbcType=INTEGER},
      config_id = #{record.configId,jdbcType=INTEGER},
      stage = #{record.stage,jdbcType=TINYINT},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      branch_count = #{record.branchCount,jdbcType=INTEGER},
      member_count = #{record.memberCount,jdbcType=INTEGER},
      positive_count = #{record.positiveCount,jdbcType=INTEGER},
      student_member_count = #{record.studentMemberCount,jdbcType=INTEGER},
      teacher_member_count = #{record.teacherMemberCount,jdbcType=INTEGER},
      retire_member_count = #{record.retireMemberCount,jdbcType=INTEGER},
      ip = #{record.ip,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="domain.pcs.PcsAdminReport">
    update pcs_admin_report
    <set>
      <if test="partyId != null">
        party_id = #{partyId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="configId != null">
        config_id = #{configId,jdbcType=INTEGER},
      </if>
      <if test="stage != null">
        stage = #{stage,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="branchCount != null">
        branch_count = #{branchCount,jdbcType=INTEGER},
      </if>
      <if test="memberCount != null">
        member_count = #{memberCount,jdbcType=INTEGER},
      </if>
      <if test="positiveCount != null">
        positive_count = #{positiveCount,jdbcType=INTEGER},
      </if>
      <if test="studentMemberCount != null">
        student_member_count = #{studentMemberCount,jdbcType=INTEGER},
      </if>
      <if test="teacherMemberCount != null">
        teacher_member_count = #{teacherMemberCount,jdbcType=INTEGER},
      </if>
      <if test="retireMemberCount != null">
        retire_member_count = #{retireMemberCount,jdbcType=INTEGER},
      </if>
      <if test="ip != null">
        ip = #{ip,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="domain.pcs.PcsAdminReport">
    update pcs_admin_report
    set party_id = #{partyId,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      config_id = #{configId,jdbcType=INTEGER},
      stage = #{stage,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      branch_count = #{branchCount,jdbcType=INTEGER},
      member_count = #{memberCount,jdbcType=INTEGER},
      positive_count = #{positiveCount,jdbcType=INTEGER},
      student_member_count = #{studentMemberCount,jdbcType=INTEGER},
      teacher_member_count = #{teacherMemberCount,jdbcType=INTEGER},
      retire_member_count = #{retireMemberCount,jdbcType=INTEGER},
      ip = #{ip,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByExampleWithRowbounds" parameterType="domain.pcs.PcsAdminReportExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from pcs_admin_report
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
</mapper>