<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="persistence.pcs.PcsBranchView2Mapper">
  <resultMap id="BaseResultMap" type="domain.pcs.PcsBranchView2">
    <result column="party_id" jdbcType="INTEGER" property="partyId" />
    <result column="branch_id" jdbcType="INTEGER" property="branchId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="member_count" jdbcType="BIGINT" property="memberCount" />
    <result column="party_sort_order" jdbcType="INTEGER" property="partySortOrder" />
    <result column="party_name" jdbcType="VARCHAR" property="partyName" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    party_id, branch_id, name, member_count, party_sort_order, party_name
  </sql>
  <select id="selectByExample" parameterType="domain.pcs.PcsBranchView2Example" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from pcs_branch_view2
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="domain.pcs.PcsBranchView2Example">
    delete from pcs_branch_view2
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="domain.pcs.PcsBranchView2">
    insert into pcs_branch_view2 (party_id, branch_id, name, 
      member_count, party_sort_order, party_name
      )
    values (#{partyId,jdbcType=INTEGER}, #{branchId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{memberCount,jdbcType=BIGINT}, #{partySortOrder,jdbcType=INTEGER}, #{partyName,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="domain.pcs.PcsBranchView2">
    insert into pcs_branch_view2
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="partyId != null">
        party_id,
      </if>
      <if test="branchId != null">
        branch_id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="memberCount != null">
        member_count,
      </if>
      <if test="partySortOrder != null">
        party_sort_order,
      </if>
      <if test="partyName != null">
        party_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="partyId != null">
        #{partyId,jdbcType=INTEGER},
      </if>
      <if test="branchId != null">
        #{branchId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="memberCount != null">
        #{memberCount,jdbcType=BIGINT},
      </if>
      <if test="partySortOrder != null">
        #{partySortOrder,jdbcType=INTEGER},
      </if>
      <if test="partyName != null">
        #{partyName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="domain.pcs.PcsBranchView2Example" resultType="java.lang.Long">
    select count(*) from pcs_branch_view2
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update pcs_branch_view2
    <set>
      <if test="record.partyId != null">
        party_id = #{record.partyId,jdbcType=INTEGER},
      </if>
      <if test="record.branchId != null">
        branch_id = #{record.branchId,jdbcType=INTEGER},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.memberCount != null">
        member_count = #{record.memberCount,jdbcType=BIGINT},
      </if>
      <if test="record.partySortOrder != null">
        party_sort_order = #{record.partySortOrder,jdbcType=INTEGER},
      </if>
      <if test="record.partyName != null">
        party_name = #{record.partyName,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update pcs_branch_view2
    set party_id = #{record.partyId,jdbcType=INTEGER},
      branch_id = #{record.branchId,jdbcType=INTEGER},
      name = #{record.name,jdbcType=VARCHAR},
      member_count = #{record.memberCount,jdbcType=BIGINT},
      party_sort_order = #{record.partySortOrder,jdbcType=INTEGER},
      party_name = #{record.partyName,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <select id="selectByExampleWithRowbounds" parameterType="domain.pcs.PcsBranchView2Example" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from pcs_branch_view2
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
</mapper>