<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="persistence.pcs.PcsPrRecommendMapper">
  <resultMap id="BaseResultMap" type="domain.pcs.PcsPrRecommend">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="config_id" jdbcType="INTEGER" property="configId" />
    <result column="stage" jdbcType="TINYINT" property="stage" />
    <result column="party_id" jdbcType="INTEGER" property="partyId" />
    <result column="expect_member_count" jdbcType="INTEGER" property="expectMemberCount" />
    <result column="actual_member_count" jdbcType="INTEGER" property="actualMemberCount" />
    <result column="expect_positive_member_count" jdbcType="INTEGER" property="expectPositiveMemberCount" />
    <result column="actual_positive_member_count" jdbcType="INTEGER" property="actualPositiveMemberCount" />
    <result column="vote_member_count" jdbcType="INTEGER" property="voteMemberCount" />
    <result column="meeting_type" jdbcType="TINYINT" property="meetingType" />
    <result column="meeting_time" jdbcType="TIMESTAMP" property="meetingTime" />
    <result column="meeting_address" jdbcType="VARCHAR" property="meetingAddress" />
    <result column="report_file_path" jdbcType="VARCHAR" property="reportFilePath" />
    <result column="has_report" jdbcType="BIT" property="hasReport" />
    <result column="report_user_id" jdbcType="INTEGER" property="reportUserId" />
    <result column="report_time" jdbcType="TIMESTAMP" property="reportTime" />
    <result column="branch_count" jdbcType="INTEGER" property="branchCount" />
    <result column="member_count" jdbcType="INTEGER" property="memberCount" />
    <result column="positive_count" jdbcType="INTEGER" property="positiveCount" />
    <result column="student_member_count" jdbcType="INTEGER" property="studentMemberCount" />
    <result column="teacher_member_count" jdbcType="INTEGER" property="teacherMemberCount" />
    <result column="retire_member_count" jdbcType="INTEGER" property="retireMemberCount" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="check_remark" jdbcType="VARCHAR" property="checkRemark" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, config_id, stage, party_id, expect_member_count, actual_member_count, expect_positive_member_count, 
    actual_positive_member_count, vote_member_count, meeting_type, meeting_time, meeting_address, 
    report_file_path, has_report, report_user_id, report_time, branch_count, member_count, 
    positive_count, student_member_count, teacher_member_count, retire_member_count, 
    status, check_remark
  </sql>
  <select id="selectByExample" parameterType="domain.pcs.PcsPrRecommendExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from pcs_pr_recommend
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from pcs_pr_recommend
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from pcs_pr_recommend
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="domain.pcs.PcsPrRecommendExample">
    delete from pcs_pr_recommend
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="domain.pcs.PcsPrRecommend">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into pcs_pr_recommend (config_id, stage, party_id, 
      expect_member_count, actual_member_count, expect_positive_member_count, 
      actual_positive_member_count, vote_member_count, 
      meeting_type, meeting_time, meeting_address, 
      report_file_path, has_report, report_user_id, 
      report_time, branch_count, member_count, 
      positive_count, student_member_count, teacher_member_count, 
      retire_member_count, status, check_remark
      )
    values (#{configId,jdbcType=INTEGER}, #{stage,jdbcType=TINYINT}, #{partyId,jdbcType=INTEGER}, 
      #{expectMemberCount,jdbcType=INTEGER}, #{actualMemberCount,jdbcType=INTEGER}, #{expectPositiveMemberCount,jdbcType=INTEGER}, 
      #{actualPositiveMemberCount,jdbcType=INTEGER}, #{voteMemberCount,jdbcType=INTEGER}, 
      #{meetingType,jdbcType=TINYINT}, #{meetingTime,jdbcType=TIMESTAMP}, #{meetingAddress,jdbcType=VARCHAR}, 
      #{reportFilePath,jdbcType=VARCHAR}, #{hasReport,jdbcType=BIT}, #{reportUserId,jdbcType=INTEGER}, 
      #{reportTime,jdbcType=TIMESTAMP}, #{branchCount,jdbcType=INTEGER}, #{memberCount,jdbcType=INTEGER}, 
      #{positiveCount,jdbcType=INTEGER}, #{studentMemberCount,jdbcType=INTEGER}, #{teacherMemberCount,jdbcType=INTEGER}, 
      #{retireMemberCount,jdbcType=INTEGER}, #{status,jdbcType=TINYINT}, #{checkRemark,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="domain.pcs.PcsPrRecommend">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into pcs_pr_recommend
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="configId != null">
        config_id,
      </if>
      <if test="stage != null">
        stage,
      </if>
      <if test="partyId != null">
        party_id,
      </if>
      <if test="expectMemberCount != null">
        expect_member_count,
      </if>
      <if test="actualMemberCount != null">
        actual_member_count,
      </if>
      <if test="expectPositiveMemberCount != null">
        expect_positive_member_count,
      </if>
      <if test="actualPositiveMemberCount != null">
        actual_positive_member_count,
      </if>
      <if test="voteMemberCount != null">
        vote_member_count,
      </if>
      <if test="meetingType != null">
        meeting_type,
      </if>
      <if test="meetingTime != null">
        meeting_time,
      </if>
      <if test="meetingAddress != null">
        meeting_address,
      </if>
      <if test="reportFilePath != null">
        report_file_path,
      </if>
      <if test="hasReport != null">
        has_report,
      </if>
      <if test="reportUserId != null">
        report_user_id,
      </if>
      <if test="reportTime != null">
        report_time,
      </if>
      <if test="branchCount != null">
        branch_count,
      </if>
      <if test="memberCount != null">
        member_count,
      </if>
      <if test="positiveCount != null">
        positive_count,
      </if>
      <if test="studentMemberCount != null">
        student_member_count,
      </if>
      <if test="teacherMemberCount != null">
        teacher_member_count,
      </if>
      <if test="retireMemberCount != null">
        retire_member_count,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="checkRemark != null">
        check_remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="configId != null">
        #{configId,jdbcType=INTEGER},
      </if>
      <if test="stage != null">
        #{stage,jdbcType=TINYINT},
      </if>
      <if test="partyId != null">
        #{partyId,jdbcType=INTEGER},
      </if>
      <if test="expectMemberCount != null">
        #{expectMemberCount,jdbcType=INTEGER},
      </if>
      <if test="actualMemberCount != null">
        #{actualMemberCount,jdbcType=INTEGER},
      </if>
      <if test="expectPositiveMemberCount != null">
        #{expectPositiveMemberCount,jdbcType=INTEGER},
      </if>
      <if test="actualPositiveMemberCount != null">
        #{actualPositiveMemberCount,jdbcType=INTEGER},
      </if>
      <if test="voteMemberCount != null">
        #{voteMemberCount,jdbcType=INTEGER},
      </if>
      <if test="meetingType != null">
        #{meetingType,jdbcType=TINYINT},
      </if>
      <if test="meetingTime != null">
        #{meetingTime,jdbcType=TIMESTAMP},
      </if>
      <if test="meetingAddress != null">
        #{meetingAddress,jdbcType=VARCHAR},
      </if>
      <if test="reportFilePath != null">
        #{reportFilePath,jdbcType=VARCHAR},
      </if>
      <if test="hasReport != null">
        #{hasReport,jdbcType=BIT},
      </if>
      <if test="reportUserId != null">
        #{reportUserId,jdbcType=INTEGER},
      </if>
      <if test="reportTime != null">
        #{reportTime,jdbcType=TIMESTAMP},
      </if>
      <if test="branchCount != null">
        #{branchCount,jdbcType=INTEGER},
      </if>
      <if test="memberCount != null">
        #{memberCount,jdbcType=INTEGER},
      </if>
      <if test="positiveCount != null">
        #{positiveCount,jdbcType=INTEGER},
      </if>
      <if test="studentMemberCount != null">
        #{studentMemberCount,jdbcType=INTEGER},
      </if>
      <if test="teacherMemberCount != null">
        #{teacherMemberCount,jdbcType=INTEGER},
      </if>
      <if test="retireMemberCount != null">
        #{retireMemberCount,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="checkRemark != null">
        #{checkRemark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="domain.pcs.PcsPrRecommendExample" resultType="java.lang.Long">
    select count(*) from pcs_pr_recommend
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update pcs_pr_recommend
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.configId != null">
        config_id = #{record.configId,jdbcType=INTEGER},
      </if>
      <if test="record.stage != null">
        stage = #{record.stage,jdbcType=TINYINT},
      </if>
      <if test="record.partyId != null">
        party_id = #{record.partyId,jdbcType=INTEGER},
      </if>
      <if test="record.expectMemberCount != null">
        expect_member_count = #{record.expectMemberCount,jdbcType=INTEGER},
      </if>
      <if test="record.actualMemberCount != null">
        actual_member_count = #{record.actualMemberCount,jdbcType=INTEGER},
      </if>
      <if test="record.expectPositiveMemberCount != null">
        expect_positive_member_count = #{record.expectPositiveMemberCount,jdbcType=INTEGER},
      </if>
      <if test="record.actualPositiveMemberCount != null">
        actual_positive_member_count = #{record.actualPositiveMemberCount,jdbcType=INTEGER},
      </if>
      <if test="record.voteMemberCount != null">
        vote_member_count = #{record.voteMemberCount,jdbcType=INTEGER},
      </if>
      <if test="record.meetingType != null">
        meeting_type = #{record.meetingType,jdbcType=TINYINT},
      </if>
      <if test="record.meetingTime != null">
        meeting_time = #{record.meetingTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.meetingAddress != null">
        meeting_address = #{record.meetingAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.reportFilePath != null">
        report_file_path = #{record.reportFilePath,jdbcType=VARCHAR},
      </if>
      <if test="record.hasReport != null">
        has_report = #{record.hasReport,jdbcType=BIT},
      </if>
      <if test="record.reportUserId != null">
        report_user_id = #{record.reportUserId,jdbcType=INTEGER},
      </if>
      <if test="record.reportTime != null">
        report_time = #{record.reportTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.branchCount != null">
        branch_count = #{record.branchCount,jdbcType=INTEGER},
      </if>
      <if test="record.memberCount != null">
        member_count = #{record.memberCount,jdbcType=INTEGER},
      </if>
      <if test="record.positiveCount != null">
        positive_count = #{record.positiveCount,jdbcType=INTEGER},
      </if>
      <if test="record.studentMemberCount != null">
        student_member_count = #{record.studentMemberCount,jdbcType=INTEGER},
      </if>
      <if test="record.teacherMemberCount != null">
        teacher_member_count = #{record.teacherMemberCount,jdbcType=INTEGER},
      </if>
      <if test="record.retireMemberCount != null">
        retire_member_count = #{record.retireMemberCount,jdbcType=INTEGER},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=TINYINT},
      </if>
      <if test="record.checkRemark != null">
        check_remark = #{record.checkRemark,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update pcs_pr_recommend
    set id = #{record.id,jdbcType=INTEGER},
      config_id = #{record.configId,jdbcType=INTEGER},
      stage = #{record.stage,jdbcType=TINYINT},
      party_id = #{record.partyId,jdbcType=INTEGER},
      expect_member_count = #{record.expectMemberCount,jdbcType=INTEGER},
      actual_member_count = #{record.actualMemberCount,jdbcType=INTEGER},
      expect_positive_member_count = #{record.expectPositiveMemberCount,jdbcType=INTEGER},
      actual_positive_member_count = #{record.actualPositiveMemberCount,jdbcType=INTEGER},
      vote_member_count = #{record.voteMemberCount,jdbcType=INTEGER},
      meeting_type = #{record.meetingType,jdbcType=TINYINT},
      meeting_time = #{record.meetingTime,jdbcType=TIMESTAMP},
      meeting_address = #{record.meetingAddress,jdbcType=VARCHAR},
      report_file_path = #{record.reportFilePath,jdbcType=VARCHAR},
      has_report = #{record.hasReport,jdbcType=BIT},
      report_user_id = #{record.reportUserId,jdbcType=INTEGER},
      report_time = #{record.reportTime,jdbcType=TIMESTAMP},
      branch_count = #{record.branchCount,jdbcType=INTEGER},
      member_count = #{record.memberCount,jdbcType=INTEGER},
      positive_count = #{record.positiveCount,jdbcType=INTEGER},
      student_member_count = #{record.studentMemberCount,jdbcType=INTEGER},
      teacher_member_count = #{record.teacherMemberCount,jdbcType=INTEGER},
      retire_member_count = #{record.retireMemberCount,jdbcType=INTEGER},
      status = #{record.status,jdbcType=TINYINT},
      check_remark = #{record.checkRemark,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="domain.pcs.PcsPrRecommend">
    update pcs_pr_recommend
    <set>
      <if test="configId != null">
        config_id = #{configId,jdbcType=INTEGER},
      </if>
      <if test="stage != null">
        stage = #{stage,jdbcType=TINYINT},
      </if>
      <if test="partyId != null">
        party_id = #{partyId,jdbcType=INTEGER},
      </if>
      <if test="expectMemberCount != null">
        expect_member_count = #{expectMemberCount,jdbcType=INTEGER},
      </if>
      <if test="actualMemberCount != null">
        actual_member_count = #{actualMemberCount,jdbcType=INTEGER},
      </if>
      <if test="expectPositiveMemberCount != null">
        expect_positive_member_count = #{expectPositiveMemberCount,jdbcType=INTEGER},
      </if>
      <if test="actualPositiveMemberCount != null">
        actual_positive_member_count = #{actualPositiveMemberCount,jdbcType=INTEGER},
      </if>
      <if test="voteMemberCount != null">
        vote_member_count = #{voteMemberCount,jdbcType=INTEGER},
      </if>
      <if test="meetingType != null">
        meeting_type = #{meetingType,jdbcType=TINYINT},
      </if>
      <if test="meetingTime != null">
        meeting_time = #{meetingTime,jdbcType=TIMESTAMP},
      </if>
      <if test="meetingAddress != null">
        meeting_address = #{meetingAddress,jdbcType=VARCHAR},
      </if>
      <if test="reportFilePath != null">
        report_file_path = #{reportFilePath,jdbcType=VARCHAR},
      </if>
      <if test="hasReport != null">
        has_report = #{hasReport,jdbcType=BIT},
      </if>
      <if test="reportUserId != null">
        report_user_id = #{reportUserId,jdbcType=INTEGER},
      </if>
      <if test="reportTime != null">
        report_time = #{reportTime,jdbcType=TIMESTAMP},
      </if>
      <if test="branchCount != null">
        branch_count = #{branchCount,jdbcType=INTEGER},
      </if>
      <if test="memberCount != null">
        member_count = #{memberCount,jdbcType=INTEGER},
      </if>
      <if test="positiveCount != null">
        positive_count = #{positiveCount,jdbcType=INTEGER},
      </if>
      <if test="studentMemberCount != null">
        student_member_count = #{studentMemberCount,jdbcType=INTEGER},
      </if>
      <if test="teacherMemberCount != null">
        teacher_member_count = #{teacherMemberCount,jdbcType=INTEGER},
      </if>
      <if test="retireMemberCount != null">
        retire_member_count = #{retireMemberCount,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="checkRemark != null">
        check_remark = #{checkRemark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="domain.pcs.PcsPrRecommend">
    update pcs_pr_recommend
    set config_id = #{configId,jdbcType=INTEGER},
      stage = #{stage,jdbcType=TINYINT},
      party_id = #{partyId,jdbcType=INTEGER},
      expect_member_count = #{expectMemberCount,jdbcType=INTEGER},
      actual_member_count = #{actualMemberCount,jdbcType=INTEGER},
      expect_positive_member_count = #{expectPositiveMemberCount,jdbcType=INTEGER},
      actual_positive_member_count = #{actualPositiveMemberCount,jdbcType=INTEGER},
      vote_member_count = #{voteMemberCount,jdbcType=INTEGER},
      meeting_type = #{meetingType,jdbcType=TINYINT},
      meeting_time = #{meetingTime,jdbcType=TIMESTAMP},
      meeting_address = #{meetingAddress,jdbcType=VARCHAR},
      report_file_path = #{reportFilePath,jdbcType=VARCHAR},
      has_report = #{hasReport,jdbcType=BIT},
      report_user_id = #{reportUserId,jdbcType=INTEGER},
      report_time = #{reportTime,jdbcType=TIMESTAMP},
      branch_count = #{branchCount,jdbcType=INTEGER},
      member_count = #{memberCount,jdbcType=INTEGER},
      positive_count = #{positiveCount,jdbcType=INTEGER},
      student_member_count = #{studentMemberCount,jdbcType=INTEGER},
      teacher_member_count = #{teacherMemberCount,jdbcType=INTEGER},
      retire_member_count = #{retireMemberCount,jdbcType=INTEGER},
      status = #{status,jdbcType=TINYINT},
      check_remark = #{checkRemark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByExampleWithRowbounds" parameterType="domain.pcs.PcsPrRecommendExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from pcs_pr_recommend
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
</mapper>