<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="persistence.pcs.PcsPollResultMapper">
  <resultMap id="BaseResultMap" type="domain.pcs.PcsPollResult">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="poll_id" jdbcType="INTEGER" property="pollId" />
    <result column="candidate_user_id" jdbcType="INTEGER" property="candidateUserId" />
    <result column="inspector_id" jdbcType="INTEGER" property="inspectorId" />
    <result column="is_second" jdbcType="BIT" property="isSecond" />
    <result column="party_id" jdbcType="INTEGER" property="partyId" />
    <result column="branch_id" jdbcType="INTEGER" property="branchId" />
    <result column="is_positive" jdbcType="BIT" property="isPositive" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="type" jdbcType="TINYINT" property="type" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, poll_id, candidate_user_id, inspector_id, is_second, party_id, branch_id, is_positive, 
    status, type, user_id, remark
  </sql>
  <select id="selectByExample" parameterType="domain.pcs.PcsPollResultExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from pcs_poll_result
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from pcs_poll_result
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from pcs_poll_result
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="domain.pcs.PcsPollResultExample">
    delete from pcs_poll_result
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="domain.pcs.PcsPollResult">
    insert into pcs_poll_result (id, poll_id, candidate_user_id, 
      inspector_id, is_second, party_id, 
      branch_id, is_positive, status, 
      type, user_id, remark
      )
    values (#{id,jdbcType=INTEGER}, #{pollId,jdbcType=INTEGER}, #{candidateUserId,jdbcType=INTEGER}, 
      #{inspectorId,jdbcType=INTEGER}, #{isSecond,jdbcType=BIT}, #{partyId,jdbcType=INTEGER}, 
      #{branchId,jdbcType=INTEGER}, #{isPositive,jdbcType=BIT}, #{status,jdbcType=TINYINT}, 
      #{type,jdbcType=TINYINT}, #{userId,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="domain.pcs.PcsPollResult">
    insert into pcs_poll_result
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="pollId != null">
        poll_id,
      </if>
      <if test="candidateUserId != null">
        candidate_user_id,
      </if>
      <if test="inspectorId != null">
        inspector_id,
      </if>
      <if test="isSecond != null">
        is_second,
      </if>
      <if test="partyId != null">
        party_id,
      </if>
      <if test="branchId != null">
        branch_id,
      </if>
      <if test="isPositive != null">
        is_positive,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="pollId != null">
        #{pollId,jdbcType=INTEGER},
      </if>
      <if test="candidateUserId != null">
        #{candidateUserId,jdbcType=INTEGER},
      </if>
      <if test="inspectorId != null">
        #{inspectorId,jdbcType=INTEGER},
      </if>
      <if test="isSecond != null">
        #{isSecond,jdbcType=BIT},
      </if>
      <if test="partyId != null">
        #{partyId,jdbcType=INTEGER},
      </if>
      <if test="branchId != null">
        #{branchId,jdbcType=INTEGER},
      </if>
      <if test="isPositive != null">
        #{isPositive,jdbcType=BIT},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="type != null">
        #{type,jdbcType=TINYINT},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="domain.pcs.PcsPollResultExample" resultType="java.lang.Long">
    select count(*) from pcs_poll_result
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update pcs_poll_result
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.pollId != null">
        poll_id = #{record.pollId,jdbcType=INTEGER},
      </if>
      <if test="record.candidateUserId != null">
        candidate_user_id = #{record.candidateUserId,jdbcType=INTEGER},
      </if>
      <if test="record.inspectorId != null">
        inspector_id = #{record.inspectorId,jdbcType=INTEGER},
      </if>
      <if test="record.isSecond != null">
        is_second = #{record.isSecond,jdbcType=BIT},
      </if>
      <if test="record.partyId != null">
        party_id = #{record.partyId,jdbcType=INTEGER},
      </if>
      <if test="record.branchId != null">
        branch_id = #{record.branchId,jdbcType=INTEGER},
      </if>
      <if test="record.isPositive != null">
        is_positive = #{record.isPositive,jdbcType=BIT},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=TINYINT},
      </if>
      <if test="record.type != null">
        type = #{record.type,jdbcType=TINYINT},
      </if>
      <if test="record.userId != null">
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.remark != null">
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update pcs_poll_result
    set id = #{record.id,jdbcType=INTEGER},
      poll_id = #{record.pollId,jdbcType=INTEGER},
      candidate_user_id = #{record.candidateUserId,jdbcType=INTEGER},
      inspector_id = #{record.inspectorId,jdbcType=INTEGER},
      is_second = #{record.isSecond,jdbcType=BIT},
      party_id = #{record.partyId,jdbcType=INTEGER},
      branch_id = #{record.branchId,jdbcType=INTEGER},
      is_positive = #{record.isPositive,jdbcType=BIT},
      status = #{record.status,jdbcType=TINYINT},
      type = #{record.type,jdbcType=TINYINT},
      user_id = #{record.userId,jdbcType=INTEGER},
      remark = #{record.remark,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="domain.pcs.PcsPollResult">
    update pcs_poll_result
    <set>
      <if test="pollId != null">
        poll_id = #{pollId,jdbcType=INTEGER},
      </if>
      <if test="candidateUserId != null">
        candidate_user_id = #{candidateUserId,jdbcType=INTEGER},
      </if>
      <if test="inspectorId != null">
        inspector_id = #{inspectorId,jdbcType=INTEGER},
      </if>
      <if test="isSecond != null">
        is_second = #{isSecond,jdbcType=BIT},
      </if>
      <if test="partyId != null">
        party_id = #{partyId,jdbcType=INTEGER},
      </if>
      <if test="branchId != null">
        branch_id = #{branchId,jdbcType=INTEGER},
      </if>
      <if test="isPositive != null">
        is_positive = #{isPositive,jdbcType=BIT},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=TINYINT},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="domain.pcs.PcsPollResult">
    update pcs_poll_result
    set poll_id = #{pollId,jdbcType=INTEGER},
      candidate_user_id = #{candidateUserId,jdbcType=INTEGER},
      inspector_id = #{inspectorId,jdbcType=INTEGER},
      is_second = #{isSecond,jdbcType=BIT},
      party_id = #{partyId,jdbcType=INTEGER},
      branch_id = #{branchId,jdbcType=INTEGER},
      is_positive = #{isPositive,jdbcType=BIT},
      status = #{status,jdbcType=TINYINT},
      type = #{type,jdbcType=TINYINT},
      user_id = #{userId,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByExampleWithRowbounds" parameterType="domain.pcs.PcsPollResultExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from pcs_poll_result
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
</mapper>