<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="persistence.pcs.PcsPrCandidateViewMapper">
  <resultMap id="BaseResultMap" type="domain.pcs.PcsPrCandidateView">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="recommend_id" jdbcType="INTEGER" property="recommendId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="type" jdbcType="TINYINT" property="type" />
    <result column="gender" jdbcType="TINYINT" property="gender" />
    <result column="birth" jdbcType="DATE" property="birth" />
    <result column="nation" jdbcType="VARCHAR" property="nation" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="vote" jdbcType="INTEGER" property="vote" />
    <result column="vote3" jdbcType="INTEGER" property="vote3" />
    <result column="is_from_stage" jdbcType="BIT" property="isFromStage" />
    <result column="sort_order" jdbcType="INTEGER" property="sortOrder" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="realname" jdbcType="VARCHAR" property="realname" />
    <result column="user_type" jdbcType="TINYINT" property="userType" />
    <result column="edu_id" jdbcType="INTEGER" property="eduId" />
    <result column="post" jdbcType="VARCHAR" property="post" />
    <result column="grow_time" jdbcType="DATE" property="growTime" />
    <result column="work_time" jdbcType="DATE" property="workTime" />
    <result column="pro_post" jdbcType="VARCHAR" property="proPost" />
    <result column="education" jdbcType="VARCHAR" property="education" />
    <result column="is_retire" jdbcType="BIT" property="isRetire" />
    <result column="edu_level" jdbcType="VARCHAR" property="eduLevel" />
    <result column="party_id" jdbcType="INTEGER" property="partyId" />
    <result column="config_id" jdbcType="INTEGER" property="configId" />
    <result column="stage" jdbcType="TINYINT" property="stage" />
    <result column="party_sort_order" jdbcType="INTEGER" property="partySortOrder" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, recommend_id, user_id, type, gender, birth, nation, mobile, email, vote, vote3, 
    is_from_stage, sort_order, add_time, code, realname, user_type, edu_id, post, grow_time, 
    work_time, pro_post, education, is_retire, edu_level, party_id, config_id, stage, 
    party_sort_order
  </sql>
  <select id="selectByExample" parameterType="domain.pcs.PcsPrCandidateViewExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from pcs_pr_candidate_view
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="countByExample" parameterType="domain.pcs.PcsPrCandidateViewExample" resultType="java.lang.Long">
    select count(*) from pcs_pr_candidate_view
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <select id="selectByExampleWithRowbounds" parameterType="domain.pcs.PcsPrCandidateViewExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from pcs_pr_candidate_view
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
</mapper>