<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="persistence.pcs.PcsRecommendMapper">
  <resultMap id="BaseResultMap" type="domain.pcs.PcsRecommend">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="party_id" jdbcType="INTEGER" property="partyId" />
    <result column="branch_id" jdbcType="INTEGER" property="branchId" />
    <result column="expect_member_count" jdbcType="INTEGER" property="expectMemberCount" />
    <result column="actual_member_count" jdbcType="INTEGER" property="actualMemberCount" />
    <result column="config_id" jdbcType="INTEGER" property="configId" />
    <result column="is_finished" jdbcType="BIT" property="isFinished" />
    <result column="has_report" jdbcType="BIT" property="hasReport" />
    <result column="stage" jdbcType="TINYINT" property="stage" />
    <result column="member_count" jdbcType="INTEGER" property="memberCount" />
    <result column="positive_count" jdbcType="INTEGER" property="positiveCount" />
    <result column="student_member_count" jdbcType="INTEGER" property="studentMemberCount" />
    <result column="teacher_member_count" jdbcType="INTEGER" property="teacherMemberCount" />
    <result column="retire_member_count" jdbcType="INTEGER" property="retireMemberCount" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, party_id, branch_id, expect_member_count, actual_member_count, config_id, is_finished, 
    has_report, stage, member_count, positive_count, student_member_count, teacher_member_count, 
    retire_member_count
  </sql>
  <select id="selectByExample" parameterType="domain.pcs.PcsRecommendExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from pcs_recommend
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from pcs_recommend
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from pcs_recommend
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="domain.pcs.PcsRecommendExample">
    delete from pcs_recommend
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="domain.pcs.PcsRecommend">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into pcs_recommend (party_id, branch_id, expect_member_count, 
      actual_member_count, config_id, is_finished, 
      has_report, stage, member_count, 
      positive_count, student_member_count, teacher_member_count, 
      retire_member_count)
    values (#{partyId,jdbcType=INTEGER}, #{branchId,jdbcType=INTEGER}, #{expectMemberCount,jdbcType=INTEGER}, 
      #{actualMemberCount,jdbcType=INTEGER}, #{configId,jdbcType=INTEGER}, #{isFinished,jdbcType=BIT}, 
      #{hasReport,jdbcType=BIT}, #{stage,jdbcType=TINYINT}, #{memberCount,jdbcType=INTEGER}, 
      #{positiveCount,jdbcType=INTEGER}, #{studentMemberCount,jdbcType=INTEGER}, #{teacherMemberCount,jdbcType=INTEGER}, 
      #{retireMemberCount,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="domain.pcs.PcsRecommend">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into pcs_recommend
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="partyId != null">
        party_id,
      </if>
      <if test="branchId != null">
        branch_id,
      </if>
      <if test="expectMemberCount != null">
        expect_member_count,
      </if>
      <if test="actualMemberCount != null">
        actual_member_count,
      </if>
      <if test="configId != null">
        config_id,
      </if>
      <if test="isFinished != null">
        is_finished,
      </if>
      <if test="hasReport != null">
        has_report,
      </if>
      <if test="stage != null">
        stage,
      </if>
      <if test="memberCount != null">
        member_count,
      </if>
      <if test="positiveCount != null">
        positive_count,
      </if>
      <if test="studentMemberCount != null">
        student_member_count,
      </if>
      <if test="teacherMemberCount != null">
        teacher_member_count,
      </if>
      <if test="retireMemberCount != null">
        retire_member_count,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="partyId != null">
        #{partyId,jdbcType=INTEGER},
      </if>
      <if test="branchId != null">
        #{branchId,jdbcType=INTEGER},
      </if>
      <if test="expectMemberCount != null">
        #{expectMemberCount,jdbcType=INTEGER},
      </if>
      <if test="actualMemberCount != null">
        #{actualMemberCount,jdbcType=INTEGER},
      </if>
      <if test="configId != null">
        #{configId,jdbcType=INTEGER},
      </if>
      <if test="isFinished != null">
        #{isFinished,jdbcType=BIT},
      </if>
      <if test="hasReport != null">
        #{hasReport,jdbcType=BIT},
      </if>
      <if test="stage != null">
        #{stage,jdbcType=TINYINT},
      </if>
      <if test="memberCount != null">
        #{memberCount,jdbcType=INTEGER},
      </if>
      <if test="positiveCount != null">
        #{positiveCount,jdbcType=INTEGER},
      </if>
      <if test="studentMemberCount != null">
        #{studentMemberCount,jdbcType=INTEGER},
      </if>
      <if test="teacherMemberCount != null">
        #{teacherMemberCount,jdbcType=INTEGER},
      </if>
      <if test="retireMemberCount != null">
        #{retireMemberCount,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="domain.pcs.PcsRecommendExample" resultType="java.lang.Long">
    select count(*) from pcs_recommend
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update pcs_recommend
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.partyId != null">
        party_id = #{record.partyId,jdbcType=INTEGER},
      </if>
      <if test="record.branchId != null">
        branch_id = #{record.branchId,jdbcType=INTEGER},
      </if>
      <if test="record.expectMemberCount != null">
        expect_member_count = #{record.expectMemberCount,jdbcType=INTEGER},
      </if>
      <if test="record.actualMemberCount != null">
        actual_member_count = #{record.actualMemberCount,jdbcType=INTEGER},
      </if>
      <if test="record.configId != null">
        config_id = #{record.configId,jdbcType=INTEGER},
      </if>
      <if test="record.isFinished != null">
        is_finished = #{record.isFinished,jdbcType=BIT},
      </if>
      <if test="record.hasReport != null">
        has_report = #{record.hasReport,jdbcType=BIT},
      </if>
      <if test="record.stage != null">
        stage = #{record.stage,jdbcType=TINYINT},
      </if>
      <if test="record.memberCount != null">
        member_count = #{record.memberCount,jdbcType=INTEGER},
      </if>
      <if test="record.positiveCount != null">
        positive_count = #{record.positiveCount,jdbcType=INTEGER},
      </if>
      <if test="record.studentMemberCount != null">
        student_member_count = #{record.studentMemberCount,jdbcType=INTEGER},
      </if>
      <if test="record.teacherMemberCount != null">
        teacher_member_count = #{record.teacherMemberCount,jdbcType=INTEGER},
      </if>
      <if test="record.retireMemberCount != null">
        retire_member_count = #{record.retireMemberCount,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update pcs_recommend
    set id = #{record.id,jdbcType=INTEGER},
      party_id = #{record.partyId,jdbcType=INTEGER},
      branch_id = #{record.branchId,jdbcType=INTEGER},
      expect_member_count = #{record.expectMemberCount,jdbcType=INTEGER},
      actual_member_count = #{record.actualMemberCount,jdbcType=INTEGER},
      config_id = #{record.configId,jdbcType=INTEGER},
      is_finished = #{record.isFinished,jdbcType=BIT},
      has_report = #{record.hasReport,jdbcType=BIT},
      stage = #{record.stage,jdbcType=TINYINT},
      member_count = #{record.memberCount,jdbcType=INTEGER},
      positive_count = #{record.positiveCount,jdbcType=INTEGER},
      student_member_count = #{record.studentMemberCount,jdbcType=INTEGER},
      teacher_member_count = #{record.teacherMemberCount,jdbcType=INTEGER},
      retire_member_count = #{record.retireMemberCount,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="domain.pcs.PcsRecommend">
    update pcs_recommend
    <set>
      <if test="partyId != null">
        party_id = #{partyId,jdbcType=INTEGER},
      </if>
      <if test="branchId != null">
        branch_id = #{branchId,jdbcType=INTEGER},
      </if>
      <if test="expectMemberCount != null">
        expect_member_count = #{expectMemberCount,jdbcType=INTEGER},
      </if>
      <if test="actualMemberCount != null">
        actual_member_count = #{actualMemberCount,jdbcType=INTEGER},
      </if>
      <if test="configId != null">
        config_id = #{configId,jdbcType=INTEGER},
      </if>
      <if test="isFinished != null">
        is_finished = #{isFinished,jdbcType=BIT},
      </if>
      <if test="hasReport != null">
        has_report = #{hasReport,jdbcType=BIT},
      </if>
      <if test="stage != null">
        stage = #{stage,jdbcType=TINYINT},
      </if>
      <if test="memberCount != null">
        member_count = #{memberCount,jdbcType=INTEGER},
      </if>
      <if test="positiveCount != null">
        positive_count = #{positiveCount,jdbcType=INTEGER},
      </if>
      <if test="studentMemberCount != null">
        student_member_count = #{studentMemberCount,jdbcType=INTEGER},
      </if>
      <if test="teacherMemberCount != null">
        teacher_member_count = #{teacherMemberCount,jdbcType=INTEGER},
      </if>
      <if test="retireMemberCount != null">
        retire_member_count = #{retireMemberCount,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="domain.pcs.PcsRecommend">
    update pcs_recommend
    set party_id = #{partyId,jdbcType=INTEGER},
      branch_id = #{branchId,jdbcType=INTEGER},
      expect_member_count = #{expectMemberCount,jdbcType=INTEGER},
      actual_member_count = #{actualMemberCount,jdbcType=INTEGER},
      config_id = #{configId,jdbcType=INTEGER},
      is_finished = #{isFinished,jdbcType=BIT},
      has_report = #{hasReport,jdbcType=BIT},
      stage = #{stage,jdbcType=TINYINT},
      member_count = #{memberCount,jdbcType=INTEGER},
      positive_count = #{positiveCount,jdbcType=INTEGER},
      student_member_count = #{studentMemberCount,jdbcType=INTEGER},
      teacher_member_count = #{teacherMemberCount,jdbcType=INTEGER},
      retire_member_count = #{retireMemberCount,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByExampleWithRowbounds" parameterType="domain.pcs.PcsRecommendExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from pcs_recommend
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
</mapper>