
.breadcrumb,
.nav-list > li > a,
body{
    font-size: 14px;
}
.nav-tabs.tab-color-blue > li > a,
.nav-tabs.tab-color-blue > li > a:focus {
    background-color: #337ab7;
}
.tags .tag{
    background-color: #1482C5;
}
.footer{
    padding-top: 50px;
}
.blue-login{
    background: #033975;
}

@media only screen and (max-width: 540px) {
    .login-layout .widget-box {
        padding: 6px !important;
    }
}
.login-layout .widget-box{
    background-color: #337ab7;
    box-shadow: inset 1px 1px 2px 0 rgba(0, 0, 0, 0.25);
}

/**************/
.navbar{
    width: 100%;
    background: #033975;
}
.no-skin .navbar .navbar-toggle {
    background-color: #337ab7;
}
.no-skin .navbar .navbar-toggle.display, .no-skin .navbar .navbar-toggle[data-toggle=collapse]:not(.collapsed) {
    background-color: #337ab7;
    box-shadow: inset 1px 1px 2px 0 rgba(0, 0, 0, 0.25);
    border-color: rgba(255, 255, 255, 0.35);
}
.ace-nav > li.light-blue > a {
    background-color: #337ab7;
}
/**modal**/
.modal .modal-footer{
    text-align: center!important;
}
.modal h3{
    margin: 0px!important;
}

.btn{
    border-radius: 8px;
}

.btn-xs, .btn-group-xs > .btn {
    padding-top: 0px;
    padding-bottom: 0px;
}

/*********/
@media only screen and (max-width: 479px) {
    .navbar:not(.navbar-collapse) .navbar-header {
        float:left!important;
    }
}
@media only screen and (max-width: 479px) {
    .navbar:not(.navbar-collapse) .navbar-header.navbar-buttons {
        float:right!important;
    }
}
.message-item .time{
    width: 65px;
}

@media only screen and (max-width: 550px){
    .message-item .sender {
        width: auto;
        max-width: 170px;
        font-size: 10px;
    }
}
.message-item  .sender {
    color: #6A9CBA;
    font-weight: bold;
    margin: 0px!important;
}

@media only screen and (max-width: 550px) {
    .message-item .summary .text {
        max-width: 180px;
    }
}
.message-item .summary .text{
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 12px;
}
.message-item .time{
    font-size: 10px;
}
/*.message-item {
    border: 1px solid #EAEDF1;
    border-top-width: 0;
    padding: 12px 12px 8px;
    line-height: 18px;
    position: relative;
    background-color: #FFF;
}*/
/*.message-item:last-child{
    border-bottom-width: 0;
}
.message-item:first-child{
    border-bottom-width: 1px;
}*/
.message-list{
    min-height: 365px
}
.message-list .none{
    line-height: 366px;
    text-align: center
}
.message-item{
    border-top-width: 0px;
    border-bottom-width: 1px;
    padding: 12px 5px 14px;
}
.message-item:nth-child(5){
    border-bottom-width: 0px;
}

.message-footer .pagination > li > span {
      padding: 0px;
  }

/***detail **/
.profile-info-name{
    width: 120px;
}
@media only screen and (max-width: 480px){
    .profile-user-info-striped .profile-info-name.td{
        float: left;
        width: 120px;
        text-align: left;
    }
}
@media only screen and (max-width: 480px){
    .profile-user-info-striped .profile-info-name{
        text-align: center!important;
    }
}
@media only screen and (max-width: 480px) {
    .profile-user-info-striped .profile-info-value.td {
        padding-left: 120px;
    }
}
#detail .tab-content{
    padding: 16px 0px!important;
}
#detail .profile-user-info{
    width: 98%;
}