.loading-indicator {
	height: 80px;
	width: 80px;
	background: url( '../img/loading.gif');
	background-repeat: no-repeat;
	background-position: center center;
}

.loading-indicator-overlay {
	background-color: #FFFFFF;
	opacity: 0.6;
	filter: alpha(opacity = 60);
}

.loading-indicator-overlay .close{
	padding: 30px;
}
.loading-indicator-overlay .close:hover, .loading-indicator-overlay .close:focus{
	opacity: 1;
}