<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="persistence.dp.DpPartyMemberViewMapper">
  <resultMap id="BaseResultMap" type="domain.dp.DpPartyMemberView">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="group_id" jdbcType="INTEGER" property="groupId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="type_ids" jdbcType="VARCHAR" property="typeIds" />
    <result column="post_id" jdbcType="INTEGER" property="postId" />
    <result column="assign_date" jdbcType="DATE" property="assignDate" />
    <result column="office_phone" jdbcType="VARCHAR" property="officePhone" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="is_admin" jdbcType="BIT" property="isAdmin" />
    <result column="sort_order" jdbcType="INTEGER" property="sortOrder" />
    <result column="present_member" jdbcType="BIT" property="presentMember" />
    <result column="group_party_id" jdbcType="INTEGER" property="groupPartyId" />
    <result column="is_present" jdbcType="BIT" property="isPresent" />
    <result column="is_deleted" jdbcType="BIT" property="isDeleted" />
    <result column="unit_id" jdbcType="INTEGER" property="unitId" />
    <result column="is_dp_party_deleted" jdbcType="BIT" property="isDpPartyDeleted" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, group_id, user_id, type_ids, post_id, assign_date, office_phone, mobile, is_admin, 
    sort_order, present_member, group_party_id, is_present, is_deleted, unit_id, is_dp_party_deleted
  </sql>
  <select id="selectByExample" parameterType="domain.dp.DpPartyMemberViewExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from dp_party_member_view
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="domain.dp.DpPartyMemberViewExample">
    delete from dp_party_member_view
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="domain.dp.DpPartyMemberView">
    insert into dp_party_member_view (id, group_id, user_id, 
      type_ids, post_id, assign_date, 
      office_phone, mobile, is_admin, 
      sort_order, present_member, group_party_id, 
      is_present, is_deleted, unit_id, 
      is_dp_party_deleted)
    values (#{id,jdbcType=INTEGER}, #{groupId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, 
      #{typeIds,jdbcType=VARCHAR}, #{postId,jdbcType=INTEGER}, #{assignDate,jdbcType=DATE}, 
      #{officePhone,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, #{isAdmin,jdbcType=BIT}, 
      #{sortOrder,jdbcType=INTEGER}, #{presentMember,jdbcType=BIT}, #{groupPartyId,jdbcType=INTEGER}, 
      #{isPresent,jdbcType=BIT}, #{isDeleted,jdbcType=BIT}, #{unitId,jdbcType=INTEGER}, 
      #{isDpPartyDeleted,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="domain.dp.DpPartyMemberView">
    insert into dp_party_member_view
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="groupId != null">
        group_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="typeIds != null">
        type_ids,
      </if>
      <if test="postId != null">
        post_id,
      </if>
      <if test="assignDate != null">
        assign_date,
      </if>
      <if test="officePhone != null">
        office_phone,
      </if>
      <if test="mobile != null">
        mobile,
      </if>
      <if test="isAdmin != null">
        is_admin,
      </if>
      <if test="sortOrder != null">
        sort_order,
      </if>
      <if test="presentMember != null">
        present_member,
      </if>
      <if test="groupPartyId != null">
        group_party_id,
      </if>
      <if test="isPresent != null">
        is_present,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
      <if test="unitId != null">
        unit_id,
      </if>
      <if test="isDpPartyDeleted != null">
        is_dp_party_deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="groupId != null">
        #{groupId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="typeIds != null">
        #{typeIds,jdbcType=VARCHAR},
      </if>
      <if test="postId != null">
        #{postId,jdbcType=INTEGER},
      </if>
      <if test="assignDate != null">
        #{assignDate,jdbcType=DATE},
      </if>
      <if test="officePhone != null">
        #{officePhone,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="isAdmin != null">
        #{isAdmin,jdbcType=BIT},
      </if>
      <if test="sortOrder != null">
        #{sortOrder,jdbcType=INTEGER},
      </if>
      <if test="presentMember != null">
        #{presentMember,jdbcType=BIT},
      </if>
      <if test="groupPartyId != null">
        #{groupPartyId,jdbcType=INTEGER},
      </if>
      <if test="isPresent != null">
        #{isPresent,jdbcType=BIT},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=BIT},
      </if>
      <if test="unitId != null">
        #{unitId,jdbcType=INTEGER},
      </if>
      <if test="isDpPartyDeleted != null">
        #{isDpPartyDeleted,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="domain.dp.DpPartyMemberViewExample" resultType="java.lang.Long">
    select count(*) from dp_party_member_view
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update dp_party_member_view
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.groupId != null">
        group_id = #{record.groupId,jdbcType=INTEGER},
      </if>
      <if test="record.userId != null">
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.typeIds != null">
        type_ids = #{record.typeIds,jdbcType=VARCHAR},
      </if>
      <if test="record.postId != null">
        post_id = #{record.postId,jdbcType=INTEGER},
      </if>
      <if test="record.assignDate != null">
        assign_date = #{record.assignDate,jdbcType=DATE},
      </if>
      <if test="record.officePhone != null">
        office_phone = #{record.officePhone,jdbcType=VARCHAR},
      </if>
      <if test="record.mobile != null">
        mobile = #{record.mobile,jdbcType=VARCHAR},
      </if>
      <if test="record.isAdmin != null">
        is_admin = #{record.isAdmin,jdbcType=BIT},
      </if>
      <if test="record.sortOrder != null">
        sort_order = #{record.sortOrder,jdbcType=INTEGER},
      </if>
      <if test="record.presentMember != null">
        present_member = #{record.presentMember,jdbcType=BIT},
      </if>
      <if test="record.groupPartyId != null">
        group_party_id = #{record.groupPartyId,jdbcType=INTEGER},
      </if>
      <if test="record.isPresent != null">
        is_present = #{record.isPresent,jdbcType=BIT},
      </if>
      <if test="record.isDeleted != null">
        is_deleted = #{record.isDeleted,jdbcType=BIT},
      </if>
      <if test="record.unitId != null">
        unit_id = #{record.unitId,jdbcType=INTEGER},
      </if>
      <if test="record.isDpPartyDeleted != null">
        is_dp_party_deleted = #{record.isDpPartyDeleted,jdbcType=BIT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update dp_party_member_view
    set id = #{record.id,jdbcType=INTEGER},
      group_id = #{record.groupId,jdbcType=INTEGER},
      user_id = #{record.userId,jdbcType=INTEGER},
      type_ids = #{record.typeIds,jdbcType=VARCHAR},
      post_id = #{record.postId,jdbcType=INTEGER},
      assign_date = #{record.assignDate,jdbcType=DATE},
      office_phone = #{record.officePhone,jdbcType=VARCHAR},
      mobile = #{record.mobile,jdbcType=VARCHAR},
      is_admin = #{record.isAdmin,jdbcType=BIT},
      sort_order = #{record.sortOrder,jdbcType=INTEGER},
      present_member = #{record.presentMember,jdbcType=BIT},
      group_party_id = #{record.groupPartyId,jdbcType=INTEGER},
      is_present = #{record.isPresent,jdbcType=BIT},
      is_deleted = #{record.isDeleted,jdbcType=BIT},
      unit_id = #{record.unitId,jdbcType=INTEGER},
      is_dp_party_deleted = #{record.isDpPartyDeleted,jdbcType=BIT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <select id="selectByExampleWithRowbounds" parameterType="domain.dp.DpPartyMemberViewExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from dp_party_member_view
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
</mapper>