<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="persistence.dp.DpPartyMemberGroupMapper">
  <resultMap id="BaseResultMap" type="domain.dp.DpPartyMemberGroup">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="fid" jdbcType="INTEGER" property="fid" />
    <result column="party_id" jdbcType="INTEGER" property="partyId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="tran_time" jdbcType="DATE" property="tranTime" />
    <result column="actual_tran_time" jdbcType="DATE" property="actualTranTime" />
    <result column="appoint_time" jdbcType="DATE" property="appointTime" />
    <result column="dispatch_unit_id" jdbcType="INTEGER" property="dispatchUnitId" />
    <result column="sort_order" jdbcType="INTEGER" property="sortOrder" />
    <result column="is_deleted" jdbcType="BIT" property="isDeleted" />
    <result column="group_session" jdbcType="VARCHAR" property="groupSession" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, fid, party_id, name, tran_time, actual_tran_time, appoint_time, dispatch_unit_id, 
    sort_order, is_deleted, group_session, remark
  </sql>
  <select id="selectByExample" parameterType="domain.dp.DpPartyMemberGroupExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from dp_party_member_group
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from dp_party_member_group
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from dp_party_member_group
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="domain.dp.DpPartyMemberGroupExample">
    delete from dp_party_member_group
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="domain.dp.DpPartyMemberGroup">
    insert into dp_party_member_group (id, fid, party_id, 
      name, tran_time, actual_tran_time, 
      appoint_time, dispatch_unit_id, sort_order, 
      is_deleted, group_session, remark
      )
    values (#{id,jdbcType=INTEGER}, #{fid,jdbcType=INTEGER}, #{partyId,jdbcType=INTEGER}, 
      #{name,jdbcType=VARCHAR}, #{tranTime,jdbcType=DATE}, #{actualTranTime,jdbcType=DATE}, 
      #{appointTime,jdbcType=DATE}, #{dispatchUnitId,jdbcType=INTEGER}, #{sortOrder,jdbcType=INTEGER}, 
      #{isDeleted,jdbcType=BIT}, #{groupSession,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="domain.dp.DpPartyMemberGroup">
    insert into dp_party_member_group
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="fid != null">
        fid,
      </if>
      <if test="partyId != null">
        party_id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="tranTime != null">
        tran_time,
      </if>
      <if test="actualTranTime != null">
        actual_tran_time,
      </if>
      <if test="appointTime != null">
        appoint_time,
      </if>
      <if test="dispatchUnitId != null">
        dispatch_unit_id,
      </if>
      <if test="sortOrder != null">
        sort_order,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
      <if test="groupSession != null">
        group_session,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="fid != null">
        #{fid,jdbcType=INTEGER},
      </if>
      <if test="partyId != null">
        #{partyId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="tranTime != null">
        #{tranTime,jdbcType=DATE},
      </if>
      <if test="actualTranTime != null">
        #{actualTranTime,jdbcType=DATE},
      </if>
      <if test="appointTime != null">
        #{appointTime,jdbcType=DATE},
      </if>
      <if test="dispatchUnitId != null">
        #{dispatchUnitId,jdbcType=INTEGER},
      </if>
      <if test="sortOrder != null">
        #{sortOrder,jdbcType=INTEGER},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=BIT},
      </if>
      <if test="groupSession != null">
        #{groupSession,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="domain.dp.DpPartyMemberGroupExample" resultType="java.lang.Long">
    select count(*) from dp_party_member_group
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update dp_party_member_group
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.fid != null">
        fid = #{record.fid,jdbcType=INTEGER},
      </if>
      <if test="record.partyId != null">
        party_id = #{record.partyId,jdbcType=INTEGER},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.tranTime != null">
        tran_time = #{record.tranTime,jdbcType=DATE},
      </if>
      <if test="record.actualTranTime != null">
        actual_tran_time = #{record.actualTranTime,jdbcType=DATE},
      </if>
      <if test="record.appointTime != null">
        appoint_time = #{record.appointTime,jdbcType=DATE},
      </if>
      <if test="record.dispatchUnitId != null">
        dispatch_unit_id = #{record.dispatchUnitId,jdbcType=INTEGER},
      </if>
      <if test="record.sortOrder != null">
        sort_order = #{record.sortOrder,jdbcType=INTEGER},
      </if>
      <if test="record.isDeleted != null">
        is_deleted = #{record.isDeleted,jdbcType=BIT},
      </if>
      <if test="record.groupSession != null">
        group_session = #{record.groupSession,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null">
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update dp_party_member_group
    set id = #{record.id,jdbcType=INTEGER},
      fid = #{record.fid,jdbcType=INTEGER},
      party_id = #{record.partyId,jdbcType=INTEGER},
      name = #{record.name,jdbcType=VARCHAR},
      tran_time = #{record.tranTime,jdbcType=DATE},
      actual_tran_time = #{record.actualTranTime,jdbcType=DATE},
      appoint_time = #{record.appointTime,jdbcType=DATE},
      dispatch_unit_id = #{record.dispatchUnitId,jdbcType=INTEGER},
      sort_order = #{record.sortOrder,jdbcType=INTEGER},
      is_deleted = #{record.isDeleted,jdbcType=BIT},
      group_session = #{record.groupSession,jdbcType=VARCHAR},
      remark = #{record.remark,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="domain.dp.DpPartyMemberGroup">
    update dp_party_member_group
    <set>
      <if test="fid != null">
        fid = #{fid,jdbcType=INTEGER},
      </if>
      <if test="partyId != null">
        party_id = #{partyId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="tranTime != null">
        tran_time = #{tranTime,jdbcType=DATE},
      </if>
      <if test="actualTranTime != null">
        actual_tran_time = #{actualTranTime,jdbcType=DATE},
      </if>
      <if test="appointTime != null">
        appoint_time = #{appointTime,jdbcType=DATE},
      </if>
      <if test="dispatchUnitId != null">
        dispatch_unit_id = #{dispatchUnitId,jdbcType=INTEGER},
      </if>
      <if test="sortOrder != null">
        sort_order = #{sortOrder,jdbcType=INTEGER},
      </if>
      <if test="isDeleted != null">
        is_deleted = #{isDeleted,jdbcType=BIT},
      </if>
      <if test="groupSession != null">
        group_session = #{groupSession,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="domain.dp.DpPartyMemberGroup">
    update dp_party_member_group
    set fid = #{fid,jdbcType=INTEGER},
      party_id = #{partyId,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      tran_time = #{tranTime,jdbcType=DATE},
      actual_tran_time = #{actualTranTime,jdbcType=DATE},
      appoint_time = #{appointTime,jdbcType=DATE},
      dispatch_unit_id = #{dispatchUnitId,jdbcType=INTEGER},
      sort_order = #{sortOrder,jdbcType=INTEGER},
      is_deleted = #{isDeleted,jdbcType=BIT},
      group_session = #{groupSession,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByExampleWithRowbounds" parameterType="domain.dp.DpPartyMemberGroupExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from dp_party_member_group
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
</mapper>