<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="persistence.cadreInspect.CadreInspectViewMapper" >
  <resultMap id="BaseResultMap" type="domain.cadreInspect.CadreInspectView" >
    <result column="inspect_id" property="inspectId" jdbcType="INTEGER" />
    <result column="inspect_type" property="inspectType" jdbcType="TINYINT" />
    <result column="inspect_status" property="inspectStatus" jdbcType="TINYINT" />
    <result column="inspect_remark" property="inspectRemark" jdbcType="VARCHAR" />
    <result column="inspect_sort_order" property="inspectSortOrder" jdbcType="INTEGER" />
    <result column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="type_id" property="typeId" jdbcType="INTEGER" />
    <result column="post_id" property="postId" jdbcType="INTEGER" />
    <result column="unit_id" property="unitId" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="dispatch_cadre_id" property="dispatchCadreId" jdbcType="INTEGER" />
    <result column="post" property="post" jdbcType="VARCHAR" />
    <result column="dp_type_id" property="dpTypeId" jdbcType="INTEGER" />
    <result column="dp_add_time" property="dpAddTime" jdbcType="DATE" />
    <result column="dp_post" property="dpPost" jdbcType="VARCHAR" />
    <result column="dp_remark" property="dpRemark" jdbcType="VARCHAR" />
    <result column="is_dp" property="isDp" jdbcType="BIT" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="sort_order" property="sortOrder" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="msg_title" property="msgTitle" jdbcType="VARCHAR" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="home_phone" property="homePhone" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="realname" property="realname" jdbcType="VARCHAR" />
    <result column="gender" property="gender" jdbcType="TINYINT" />
    <result column="nation" property="nation" jdbcType="VARCHAR" />
    <result column="native_place" property="nativePlace" jdbcType="VARCHAR" />
    <result column="idcard" property="idcard" jdbcType="VARCHAR" />
    <result column="birth" property="birth" jdbcType="DATE" />
    <result column="party_id" property="partyId" jdbcType="INTEGER" />
    <result column="branch_id" property="branchId" jdbcType="INTEGER" />
    <result column="grow_time" property="growTime" jdbcType="DATE" />
    <result column="member_status" property="memberStatus" jdbcType="TINYINT" />
    <result column="edu_id" property="eduId" jdbcType="INTEGER" />
    <result column="finish_time" property="finishTime" jdbcType="DATE" />
    <result column="learn_style" property="learnStyle" jdbcType="INTEGER" />
    <result column="school" property="school" jdbcType="VARCHAR" />
    <result column="dep" property="dep" jdbcType="VARCHAR" />
    <result column="school_type" property="schoolType" jdbcType="TINYINT" />
    <result column="major" property="major" jdbcType="VARCHAR" />
    <result column="degree" property="degree" jdbcType="VARCHAR" />
    <result column="post_class" property="postClass" jdbcType="VARCHAR" />
    <result column="sub_post_class" property="subPostClass" jdbcType="VARCHAR" />
    <result column="main_post_level" property="mainPostLevel" jdbcType="VARCHAR" />
    <result column="pro_post_time" property="proPostTime" jdbcType="DATE" />
    <result column="pro_post_level" property="proPostLevel" jdbcType="VARCHAR" />
    <result column="pro_post_level_time" property="proPostLevelTime" jdbcType="DATE" />
    <result column="pro_post" property="proPost" jdbcType="VARCHAR" />
    <result column="manage_level" property="manageLevel" jdbcType="VARCHAR" />
    <result column="manage_level_time" property="manageLevelTime" jdbcType="DATE" />
    <result column="arrive_time" property="arriveTime" jdbcType="DATE" />
    <result column="main_cadre_post_id" property="mainCadrePostId" jdbcType="INTEGER" />
    <result column="is_double" property="isDouble" jdbcType="BIT" />
    <result column="double_unit_id" property="doubleUnitId" jdbcType="INTEGER" />
    <result column="admin_level_code" property="adminLevelCode" jdbcType="VARCHAR" />
    <result column="admin_level_name" property="adminLevelName" jdbcType="VARCHAR" />
    <result column="max_ce_edu_attr" property="maxCeEduAttr" jdbcType="VARCHAR" />
    <result column="max_ce_edu_code" property="maxCeEduCode" jdbcType="VARCHAR" />
    <result column="max_ce_edu_name" property="maxCeEduName" jdbcType="VARCHAR" />
    <result column="unit_name" property="unitName" jdbcType="VARCHAR" />
    <result column="unit_type_id" property="unitTypeId" jdbcType="INTEGER" />
    <result column="unit_type_code" property="unitTypeCode" jdbcType="VARCHAR" />
    <result column="unit_type_name" property="unitTypeName" jdbcType="VARCHAR" />
    <result column="unit_type_attr" property="unitTypeAttr" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    inspect_id, inspect_type, inspect_status, inspect_remark, inspect_sort_order, id, 
    user_id, type_id, post_id, unit_id, title, dispatch_cadre_id, post, dp_type_id, dp_add_time, 
    dp_post, dp_remark, is_dp, remark, sort_order, status, msg_title, mobile, phone, 
    home_phone, email, realname, gender, nation, native_place, idcard, birth, party_id, 
    branch_id, grow_time, member_status, edu_id, finish_time, learn_style, school, dep, 
    school_type, major, degree, post_class, sub_post_class, main_post_level, pro_post_time, 
    pro_post_level, pro_post_level_time, pro_post, manage_level, manage_level_time, arrive_time, 
    main_cadre_post_id, is_double, double_unit_id, admin_level_code, admin_level_name, 
    max_ce_edu_attr, max_ce_edu_code, max_ce_edu_name, unit_name, unit_type_id, unit_type_code, 
    unit_type_name, unit_type_attr
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="domain.cadreInspect.CadreInspectViewExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from cadre_inspect_view
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="countByExample" parameterType="domain.cadreInspect.CadreInspectViewExample" resultType="java.lang.Integer" >
    select count(*) from cadre_inspect_view
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <select resultMap="BaseResultMap" parameterType="domain.cadreInspect.CadreInspectViewExample" id="selectByExampleWithRowbounds" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from cadre_inspect_view
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
</mapper>