<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ext.persistence.ExtJzgSalaryMapper">
  <resultMap id="BaseResultMap" type="ext.domain.ExtJzgSalary">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="zgh" jdbcType="VARCHAR" property="zgh" />
    <result column="rq" jdbcType="VARCHAR" property="rq" />
    <result column="xm" jdbcType="VARCHAR" property="xm" />
    <result column="xpgz" jdbcType="DECIMAL" property="xpgz" />
    <result column="xjgz" jdbcType="DECIMAL" property="xjgz" />
    <result column="gwgz" jdbcType="DECIMAL" property="gwgz" />
    <result column="gwjt" jdbcType="DECIMAL" property="gwjt" />
    <result column="zwbt" jdbcType="DECIMAL" property="zwbt" />
    <result column="zwbt1" jdbcType="DECIMAL" property="zwbt1" />
    <result column="shbt" jdbcType="DECIMAL" property="shbt" />
    <result column="sbf" jdbcType="DECIMAL" property="sbf" />
    <result column="xlf" jdbcType="DECIMAL" property="xlf" />
    <result column="gzcx" jdbcType="DECIMAL" property="gzcx" />
    <result column="sygr" jdbcType="DECIMAL" property="sygr" />
    <result column="yanglaogr" jdbcType="DECIMAL" property="yanglaogr" />
    <result column="yiliaogr" jdbcType="DECIMAL" property="yiliaogr" />
    <result column="njgr" jdbcType="DECIMAL" property="njgr" />
    <result column="zfgjj" jdbcType="DECIMAL" property="zfgjj" />
    <result column="zzryhj" jdbcType="DECIMAL" property="zzryhj" />
    <result column="xpryhj" jdbcType="DECIMAL" property="xpryhj" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, zgh, rq, xm, xpgz, xjgz, gwgz, gwjt, zwbt, zwbt1, shbt, sbf, xlf, gzcx, sygr, 
    yanglaogr, yiliaogr, njgr, zfgjj, zzryhj, xpryhj
  </sql>
  <select id="selectByExample" parameterType="ext.domain.ExtJzgSalaryExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ext_jzg_salary
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ext_jzg_salary
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ext_jzg_salary
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="ext.domain.ExtJzgSalaryExample">
    delete from ext_jzg_salary
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="ext.domain.ExtJzgSalary">
    insert into ext_jzg_salary (id, zgh, rq, 
      xm, xpgz, xjgz, gwgz, 
      gwjt, zwbt, zwbt1, 
      shbt, sbf, xlf, gzcx, 
      sygr, yanglaogr, yiliaogr, 
      njgr, zfgjj, zzryhj, 
      xpryhj)
    values (#{id,jdbcType=INTEGER}, #{zgh,jdbcType=VARCHAR}, #{rq,jdbcType=VARCHAR}, 
      #{xm,jdbcType=VARCHAR}, #{xpgz,jdbcType=DECIMAL}, #{xjgz,jdbcType=DECIMAL}, #{gwgz,jdbcType=DECIMAL}, 
      #{gwjt,jdbcType=DECIMAL}, #{zwbt,jdbcType=DECIMAL}, #{zwbt1,jdbcType=DECIMAL}, 
      #{shbt,jdbcType=DECIMAL}, #{sbf,jdbcType=DECIMAL}, #{xlf,jdbcType=DECIMAL}, #{gzcx,jdbcType=DECIMAL}, 
      #{sygr,jdbcType=DECIMAL}, #{yanglaogr,jdbcType=DECIMAL}, #{yiliaogr,jdbcType=DECIMAL}, 
      #{njgr,jdbcType=DECIMAL}, #{zfgjj,jdbcType=DECIMAL}, #{zzryhj,jdbcType=DECIMAL}, 
      #{xpryhj,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="ext.domain.ExtJzgSalary">
    insert into ext_jzg_salary
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="zgh != null">
        zgh,
      </if>
      <if test="rq != null">
        rq,
      </if>
      <if test="xm != null">
        xm,
      </if>
      <if test="xpgz != null">
        xpgz,
      </if>
      <if test="xjgz != null">
        xjgz,
      </if>
      <if test="gwgz != null">
        gwgz,
      </if>
      <if test="gwjt != null">
        gwjt,
      </if>
      <if test="zwbt != null">
        zwbt,
      </if>
      <if test="zwbt1 != null">
        zwbt1,
      </if>
      <if test="shbt != null">
        shbt,
      </if>
      <if test="sbf != null">
        sbf,
      </if>
      <if test="xlf != null">
        xlf,
      </if>
      <if test="gzcx != null">
        gzcx,
      </if>
      <if test="sygr != null">
        sygr,
      </if>
      <if test="yanglaogr != null">
        yanglaogr,
      </if>
      <if test="yiliaogr != null">
        yiliaogr,
      </if>
      <if test="njgr != null">
        njgr,
      </if>
      <if test="zfgjj != null">
        zfgjj,
      </if>
      <if test="zzryhj != null">
        zzryhj,
      </if>
      <if test="xpryhj != null">
        xpryhj,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="zgh != null">
        #{zgh,jdbcType=VARCHAR},
      </if>
      <if test="rq != null">
        #{rq,jdbcType=VARCHAR},
      </if>
      <if test="xm != null">
        #{xm,jdbcType=VARCHAR},
      </if>
      <if test="xpgz != null">
        #{xpgz,jdbcType=DECIMAL},
      </if>
      <if test="xjgz != null">
        #{xjgz,jdbcType=DECIMAL},
      </if>
      <if test="gwgz != null">
        #{gwgz,jdbcType=DECIMAL},
      </if>
      <if test="gwjt != null">
        #{gwjt,jdbcType=DECIMAL},
      </if>
      <if test="zwbt != null">
        #{zwbt,jdbcType=DECIMAL},
      </if>
      <if test="zwbt1 != null">
        #{zwbt1,jdbcType=DECIMAL},
      </if>
      <if test="shbt != null">
        #{shbt,jdbcType=DECIMAL},
      </if>
      <if test="sbf != null">
        #{sbf,jdbcType=DECIMAL},
      </if>
      <if test="xlf != null">
        #{xlf,jdbcType=DECIMAL},
      </if>
      <if test="gzcx != null">
        #{gzcx,jdbcType=DECIMAL},
      </if>
      <if test="sygr != null">
        #{sygr,jdbcType=DECIMAL},
      </if>
      <if test="yanglaogr != null">
        #{yanglaogr,jdbcType=DECIMAL},
      </if>
      <if test="yiliaogr != null">
        #{yiliaogr,jdbcType=DECIMAL},
      </if>
      <if test="njgr != null">
        #{njgr,jdbcType=DECIMAL},
      </if>
      <if test="zfgjj != null">
        #{zfgjj,jdbcType=DECIMAL},
      </if>
      <if test="zzryhj != null">
        #{zzryhj,jdbcType=DECIMAL},
      </if>
      <if test="xpryhj != null">
        #{xpryhj,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="ext.domain.ExtJzgSalaryExample" resultType="java.lang.Long">
    select count(*) from ext_jzg_salary
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update ext_jzg_salary
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.zgh != null">
        zgh = #{record.zgh,jdbcType=VARCHAR},
      </if>
      <if test="record.rq != null">
        rq = #{record.rq,jdbcType=VARCHAR},
      </if>
      <if test="record.xm != null">
        xm = #{record.xm,jdbcType=VARCHAR},
      </if>
      <if test="record.xpgz != null">
        xpgz = #{record.xpgz,jdbcType=DECIMAL},
      </if>
      <if test="record.xjgz != null">
        xjgz = #{record.xjgz,jdbcType=DECIMAL},
      </if>
      <if test="record.gwgz != null">
        gwgz = #{record.gwgz,jdbcType=DECIMAL},
      </if>
      <if test="record.gwjt != null">
        gwjt = #{record.gwjt,jdbcType=DECIMAL},
      </if>
      <if test="record.zwbt != null">
        zwbt = #{record.zwbt,jdbcType=DECIMAL},
      </if>
      <if test="record.zwbt1 != null">
        zwbt1 = #{record.zwbt1,jdbcType=DECIMAL},
      </if>
      <if test="record.shbt != null">
        shbt = #{record.shbt,jdbcType=DECIMAL},
      </if>
      <if test="record.sbf != null">
        sbf = #{record.sbf,jdbcType=DECIMAL},
      </if>
      <if test="record.xlf != null">
        xlf = #{record.xlf,jdbcType=DECIMAL},
      </if>
      <if test="record.gzcx != null">
        gzcx = #{record.gzcx,jdbcType=DECIMAL},
      </if>
      <if test="record.sygr != null">
        sygr = #{record.sygr,jdbcType=DECIMAL},
      </if>
      <if test="record.yanglaogr != null">
        yanglaogr = #{record.yanglaogr,jdbcType=DECIMAL},
      </if>
      <if test="record.yiliaogr != null">
        yiliaogr = #{record.yiliaogr,jdbcType=DECIMAL},
      </if>
      <if test="record.njgr != null">
        njgr = #{record.njgr,jdbcType=DECIMAL},
      </if>
      <if test="record.zfgjj != null">
        zfgjj = #{record.zfgjj,jdbcType=DECIMAL},
      </if>
      <if test="record.zzryhj != null">
        zzryhj = #{record.zzryhj,jdbcType=DECIMAL},
      </if>
      <if test="record.xpryhj != null">
        xpryhj = #{record.xpryhj,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update ext_jzg_salary
    set id = #{record.id,jdbcType=INTEGER},
      zgh = #{record.zgh,jdbcType=VARCHAR},
      rq = #{record.rq,jdbcType=VARCHAR},
      xm = #{record.xm,jdbcType=VARCHAR},
      xpgz = #{record.xpgz,jdbcType=DECIMAL},
      xjgz = #{record.xjgz,jdbcType=DECIMAL},
      gwgz = #{record.gwgz,jdbcType=DECIMAL},
      gwjt = #{record.gwjt,jdbcType=DECIMAL},
      zwbt = #{record.zwbt,jdbcType=DECIMAL},
      zwbt1 = #{record.zwbt1,jdbcType=DECIMAL},
      shbt = #{record.shbt,jdbcType=DECIMAL},
      sbf = #{record.sbf,jdbcType=DECIMAL},
      xlf = #{record.xlf,jdbcType=DECIMAL},
      gzcx = #{record.gzcx,jdbcType=DECIMAL},
      sygr = #{record.sygr,jdbcType=DECIMAL},
      yanglaogr = #{record.yanglaogr,jdbcType=DECIMAL},
      yiliaogr = #{record.yiliaogr,jdbcType=DECIMAL},
      njgr = #{record.njgr,jdbcType=DECIMAL},
      zfgjj = #{record.zfgjj,jdbcType=DECIMAL},
      zzryhj = #{record.zzryhj,jdbcType=DECIMAL},
      xpryhj = #{record.xpryhj,jdbcType=DECIMAL}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="ext.domain.ExtJzgSalary">
    update ext_jzg_salary
    <set>
      <if test="zgh != null">
        zgh = #{zgh,jdbcType=VARCHAR},
      </if>
      <if test="rq != null">
        rq = #{rq,jdbcType=VARCHAR},
      </if>
      <if test="xm != null">
        xm = #{xm,jdbcType=VARCHAR},
      </if>
      <if test="xpgz != null">
        xpgz = #{xpgz,jdbcType=DECIMAL},
      </if>
      <if test="xjgz != null">
        xjgz = #{xjgz,jdbcType=DECIMAL},
      </if>
      <if test="gwgz != null">
        gwgz = #{gwgz,jdbcType=DECIMAL},
      </if>
      <if test="gwjt != null">
        gwjt = #{gwjt,jdbcType=DECIMAL},
      </if>
      <if test="zwbt != null">
        zwbt = #{zwbt,jdbcType=DECIMAL},
      </if>
      <if test="zwbt1 != null">
        zwbt1 = #{zwbt1,jdbcType=DECIMAL},
      </if>
      <if test="shbt != null">
        shbt = #{shbt,jdbcType=DECIMAL},
      </if>
      <if test="sbf != null">
        sbf = #{sbf,jdbcType=DECIMAL},
      </if>
      <if test="xlf != null">
        xlf = #{xlf,jdbcType=DECIMAL},
      </if>
      <if test="gzcx != null">
        gzcx = #{gzcx,jdbcType=DECIMAL},
      </if>
      <if test="sygr != null">
        sygr = #{sygr,jdbcType=DECIMAL},
      </if>
      <if test="yanglaogr != null">
        yanglaogr = #{yanglaogr,jdbcType=DECIMAL},
      </if>
      <if test="yiliaogr != null">
        yiliaogr = #{yiliaogr,jdbcType=DECIMAL},
      </if>
      <if test="njgr != null">
        njgr = #{njgr,jdbcType=DECIMAL},
      </if>
      <if test="zfgjj != null">
        zfgjj = #{zfgjj,jdbcType=DECIMAL},
      </if>
      <if test="zzryhj != null">
        zzryhj = #{zzryhj,jdbcType=DECIMAL},
      </if>
      <if test="xpryhj != null">
        xpryhj = #{xpryhj,jdbcType=DECIMAL},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="ext.domain.ExtJzgSalary">
    update ext_jzg_salary
    set zgh = #{zgh,jdbcType=VARCHAR},
      rq = #{rq,jdbcType=VARCHAR},
      xm = #{xm,jdbcType=VARCHAR},
      xpgz = #{xpgz,jdbcType=DECIMAL},
      xjgz = #{xjgz,jdbcType=DECIMAL},
      gwgz = #{gwgz,jdbcType=DECIMAL},
      gwjt = #{gwjt,jdbcType=DECIMAL},
      zwbt = #{zwbt,jdbcType=DECIMAL},
      zwbt1 = #{zwbt1,jdbcType=DECIMAL},
      shbt = #{shbt,jdbcType=DECIMAL},
      sbf = #{sbf,jdbcType=DECIMAL},
      xlf = #{xlf,jdbcType=DECIMAL},
      gzcx = #{gzcx,jdbcType=DECIMAL},
      sygr = #{sygr,jdbcType=DECIMAL},
      yanglaogr = #{yanglaogr,jdbcType=DECIMAL},
      yiliaogr = #{yiliaogr,jdbcType=DECIMAL},
      njgr = #{njgr,jdbcType=DECIMAL},
      zfgjj = #{zfgjj,jdbcType=DECIMAL},
      zzryhj = #{zzryhj,jdbcType=DECIMAL},
      xpryhj = #{xpryhj,jdbcType=DECIMAL}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByExampleWithRowbounds" parameterType="ext.domain.ExtJzgSalaryExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ext_jzg_salary
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
</mapper>