<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="persistence.sc.scPublic.ScPublicMapper">
  <resultMap id="BaseResultMap" type="domain.sc.scPublic.ScPublic">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="committee_id" jdbcType="INTEGER" property="committeeId" />
    <result column="year" jdbcType="INTEGER" property="year" />
    <result column="num" jdbcType="INTEGER" property="num" />
    <result column="word_file_path" jdbcType="VARCHAR" property="wordFilePath" />
    <result column="pdf_file_path" jdbcType="VARCHAR" property="pdfFilePath" />
    <result column="public_start_date" jdbcType="DATE" property="publicStartDate" />
    <result column="public_end_date" jdbcType="DATE" property="publicEndDate" />
    <result column="publish_date" jdbcType="DATE" property="publishDate" />
    <result column="is_finished" jdbcType="BIT" property="isFinished" />
    <result column="is_confirmed" jdbcType="BIT" property="isConfirmed" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="is_deleted" jdbcType="BIT" property="isDeleted" />
    <result column="record_user_id" jdbcType="INTEGER" property="recordUserId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, committee_id, year, num, word_file_path, pdf_file_path, public_start_date, public_end_date, 
    publish_date, is_finished, is_confirmed, remark, is_deleted, record_user_id
  </sql>
  <select id="selectByExample" parameterType="domain.sc.scPublic.ScPublicExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sc_public
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sc_public
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sc_public
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="domain.sc.scPublic.ScPublicExample">
    delete from sc_public
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="domain.sc.scPublic.ScPublic">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into sc_public (committee_id, year, num, 
      word_file_path, pdf_file_path, public_start_date, 
      public_end_date, publish_date, is_finished, 
      is_confirmed, remark, is_deleted, 
      record_user_id)
    values (#{committeeId,jdbcType=INTEGER}, #{year,jdbcType=INTEGER}, #{num,jdbcType=INTEGER}, 
      #{wordFilePath,jdbcType=VARCHAR}, #{pdfFilePath,jdbcType=VARCHAR}, #{publicStartDate,jdbcType=DATE}, 
      #{publicEndDate,jdbcType=DATE}, #{publishDate,jdbcType=DATE}, #{isFinished,jdbcType=BIT}, 
      #{isConfirmed,jdbcType=BIT}, #{remark,jdbcType=VARCHAR}, #{isDeleted,jdbcType=BIT}, 
      #{recordUserId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="domain.sc.scPublic.ScPublic">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into sc_public
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="committeeId != null">
        committee_id,
      </if>
      <if test="year != null">
        year,
      </if>
      <if test="num != null">
        num,
      </if>
      <if test="wordFilePath != null">
        word_file_path,
      </if>
      <if test="pdfFilePath != null">
        pdf_file_path,
      </if>
      <if test="publicStartDate != null">
        public_start_date,
      </if>
      <if test="publicEndDate != null">
        public_end_date,
      </if>
      <if test="publishDate != null">
        publish_date,
      </if>
      <if test="isFinished != null">
        is_finished,
      </if>
      <if test="isConfirmed != null">
        is_confirmed,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
      <if test="recordUserId != null">
        record_user_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="committeeId != null">
        #{committeeId,jdbcType=INTEGER},
      </if>
      <if test="year != null">
        #{year,jdbcType=INTEGER},
      </if>
      <if test="num != null">
        #{num,jdbcType=INTEGER},
      </if>
      <if test="wordFilePath != null">
        #{wordFilePath,jdbcType=VARCHAR},
      </if>
      <if test="pdfFilePath != null">
        #{pdfFilePath,jdbcType=VARCHAR},
      </if>
      <if test="publicStartDate != null">
        #{publicStartDate,jdbcType=DATE},
      </if>
      <if test="publicEndDate != null">
        #{publicEndDate,jdbcType=DATE},
      </if>
      <if test="publishDate != null">
        #{publishDate,jdbcType=DATE},
      </if>
      <if test="isFinished != null">
        #{isFinished,jdbcType=BIT},
      </if>
      <if test="isConfirmed != null">
        #{isConfirmed,jdbcType=BIT},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=BIT},
      </if>
      <if test="recordUserId != null">
        #{recordUserId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="domain.sc.scPublic.ScPublicExample" resultType="java.lang.Long">
    select count(*) from sc_public
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update sc_public
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.committeeId != null">
        committee_id = #{record.committeeId,jdbcType=INTEGER},
      </if>
      <if test="record.year != null">
        year = #{record.year,jdbcType=INTEGER},
      </if>
      <if test="record.num != null">
        num = #{record.num,jdbcType=INTEGER},
      </if>
      <if test="record.wordFilePath != null">
        word_file_path = #{record.wordFilePath,jdbcType=VARCHAR},
      </if>
      <if test="record.pdfFilePath != null">
        pdf_file_path = #{record.pdfFilePath,jdbcType=VARCHAR},
      </if>
      <if test="record.publicStartDate != null">
        public_start_date = #{record.publicStartDate,jdbcType=DATE},
      </if>
      <if test="record.publicEndDate != null">
        public_end_date = #{record.publicEndDate,jdbcType=DATE},
      </if>
      <if test="record.publishDate != null">
        publish_date = #{record.publishDate,jdbcType=DATE},
      </if>
      <if test="record.isFinished != null">
        is_finished = #{record.isFinished,jdbcType=BIT},
      </if>
      <if test="record.isConfirmed != null">
        is_confirmed = #{record.isConfirmed,jdbcType=BIT},
      </if>
      <if test="record.remark != null">
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.isDeleted != null">
        is_deleted = #{record.isDeleted,jdbcType=BIT},
      </if>
      <if test="record.recordUserId != null">
        record_user_id = #{record.recordUserId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update sc_public
    set id = #{record.id,jdbcType=INTEGER},
      committee_id = #{record.committeeId,jdbcType=INTEGER},
      year = #{record.year,jdbcType=INTEGER},
      num = #{record.num,jdbcType=INTEGER},
      word_file_path = #{record.wordFilePath,jdbcType=VARCHAR},
      pdf_file_path = #{record.pdfFilePath,jdbcType=VARCHAR},
      public_start_date = #{record.publicStartDate,jdbcType=DATE},
      public_end_date = #{record.publicEndDate,jdbcType=DATE},
      publish_date = #{record.publishDate,jdbcType=DATE},
      is_finished = #{record.isFinished,jdbcType=BIT},
      is_confirmed = #{record.isConfirmed,jdbcType=BIT},
      remark = #{record.remark,jdbcType=VARCHAR},
      is_deleted = #{record.isDeleted,jdbcType=BIT},
      record_user_id = #{record.recordUserId,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="domain.sc.scPublic.ScPublic">
    update sc_public
    <set>
      <if test="committeeId != null">
        committee_id = #{committeeId,jdbcType=INTEGER},
      </if>
      <if test="year != null">
        year = #{year,jdbcType=INTEGER},
      </if>
      <if test="num != null">
        num = #{num,jdbcType=INTEGER},
      </if>
      <if test="wordFilePath != null">
        word_file_path = #{wordFilePath,jdbcType=VARCHAR},
      </if>
      <if test="pdfFilePath != null">
        pdf_file_path = #{pdfFilePath,jdbcType=VARCHAR},
      </if>
      <if test="publicStartDate != null">
        public_start_date = #{publicStartDate,jdbcType=DATE},
      </if>
      <if test="publicEndDate != null">
        public_end_date = #{publicEndDate,jdbcType=DATE},
      </if>
      <if test="publishDate != null">
        publish_date = #{publishDate,jdbcType=DATE},
      </if>
      <if test="isFinished != null">
        is_finished = #{isFinished,jdbcType=BIT},
      </if>
      <if test="isConfirmed != null">
        is_confirmed = #{isConfirmed,jdbcType=BIT},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null">
        is_deleted = #{isDeleted,jdbcType=BIT},
      </if>
      <if test="recordUserId != null">
        record_user_id = #{recordUserId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="domain.sc.scPublic.ScPublic">
    update sc_public
    set committee_id = #{committeeId,jdbcType=INTEGER},
      year = #{year,jdbcType=INTEGER},
      num = #{num,jdbcType=INTEGER},
      word_file_path = #{wordFilePath,jdbcType=VARCHAR},
      pdf_file_path = #{pdfFilePath,jdbcType=VARCHAR},
      public_start_date = #{publicStartDate,jdbcType=DATE},
      public_end_date = #{publicEndDate,jdbcType=DATE},
      publish_date = #{publishDate,jdbcType=DATE},
      is_finished = #{isFinished,jdbcType=BIT},
      is_confirmed = #{isConfirmed,jdbcType=BIT},
      remark = #{remark,jdbcType=VARCHAR},
      is_deleted = #{isDeleted,jdbcType=BIT},
      record_user_id = #{recordUserId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByExampleWithRowbounds" parameterType="domain.sc.scPublic.ScPublicExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sc_public
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
</mapper>